﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    ViewBag.Title = "Registrasi";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Registrasi Pasien", Value = Url.Action("Index","RegistrasiPasienRJ") },
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
    var contollerName = "Registrasi";
    var tableId = $"table_{contollerName}";

}



<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                @Html.HiddenFor(model => model.NRM)
                <dl class="dl-horizontal">
                    <dt>NoReg</dt>
                    <dd>@Model.NoReg</dd>

                    <dt>NRM</dt>
                    <dd>
                        [@Model.NRM] &nbsp;
                        @if (Model.JenisKelamin == "M")
                        {
                            <label class="text-primary fa fa-mars"></label>
                        }
                        else if (Model.JenisKelamin == "F")
                        {
                            <label class="text-danger fa fa-venus"></label>
                        }
                        else
                        {
                            <label class="text-warning genderless"></label>
                        }
                        <br>
                    </dd>

                    <dt>Nama</dt>
                    <dd>@Model.NamaPasien</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>Tipe Pasien</dt>
                    <dd>@Model.JenisKerjasama</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Umur</dt>
                    <dd>@($"{Model.UmurThn} Tahun {Model.UmurBln} Bulan {Model.UmurHr} Hari")</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Alamat</dt>
                    <dd>@Model.Alamat</dd>
                </dl>
            </div>
            <div class="col-md-4">

                @if (!string.IsNullOrEmpty(Model.Nama_Customer))
                {
                    <dl class="dl-horizontal">
                        <dt>Perusahaan</dt>
                        <dd>@Model.Nama_Customer</dd>
                    </dl>
                }
                @if (!string.IsNullOrEmpty(Model.NoKartu))
                {
                    <dl class="dl-horizontal">
                        <dt>No Kartu</dt>
                        <dd>@Model.NoKartu</dd>
                    </dl>
                }
                <dl class="dl-horizontal">
                    <dt>NIK</dt>
                    <dd>@Model.NoIdentitas</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="panel-footer text-right">
        <div>
            <div class="col-md-5 col-md-offset-7">
                <div class="col-md-6">
                    <a id="btnRegister" class='btn btn-xs btn-success hidden' @*onclick="user_register()*@>Register</a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-info btn-sm btn-block" onclick="bukamodalhistory()">
                        View History
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs" style="margin-bottom:0px">
    @*<li><a data-toggle="tab" href="#divPersetujuanUmum" id="pengkajianawal">Persetujuan Umum</a></li>*@
    <li><a data-toggle="tab" href="#divSuratPernyataan" id="PernyataanSurat" >Surat Pernyataan</a></li>
    <li><a data-toggle="tab" href="#divSuratPernyataanNaikKelas" id="KenaikanKelasSurat" >Surat Pernyataan Naik Kelas</a></li>
    <li><a data-toggle="tab" href="#divPersetujuanRawatInap" id="PersetujuanRanap">Persetujuan Rawat Inap</a></li>
    <li><a data-toggle="tab" href="#divPengantarRawatInap" id="PengantarRanap">Pengantar Rawat Inap</a></li>
    <li><a data-toggle="tab" href="#divGeneralRegistrasi" id="GeneralRegistrasi">General</a></li>
</ul>

<div class="tab-content panel panel-info" style="border-top:none">


    @if (Request.Cookies["TipePelayanan"].Value == "REGISTRASI")
    {
        <div id="divPersetujuanUmum" class="tab-pane fade in active" style="padding:15px;">
                @Html.Partial("~/Views/Registrasi/PersetujuanUmum.cshtml")
            </div>
    }


    <div id="divSuratPernyataan" class="tab-pane">
        @Html.Partial("~/Views/Registrasi/SuratPernyataan.cshtml")
    </div>

    <div id="divSuratPernyataanNaikKelas" class="tab-pane">
        @Html.Partial("~/Views/Registrasi/SuratPernyataanKenaikanKelas.cshtml")
    </div>

    <div id="divPersetujuanRawatInap" class="tab-pane">
        @Html.Partial("~/Views/Registrasi/PersetujuanRawatInap.cshtml")
    </div>

    <div id="divPengantarRawatInap" class="tab-pane">
        @Html.Partial("~/Views/Registrasi/PengantarRawatInap.cshtml")
    </div>

    <div id="divGeneralRegistrasi" class="tab-pane">
        @Html.Partial("~/Views/Registrasi/PersetujuanUmum.cshtml")
    </div>

    <div id="divHasilBacaLab" class="tab-pane">
        @*@Html.Partial("ListHasilBacaLaboratorium")*@
    </div>

    <div id="divObat" class="tab-pane">
        @*@Html.Partial("ListViewObat")*@
    </div>

    @*<div id="divResumeMedis" class="tab-pane">
            @Html.Partial("SetupResumeMedis")
        </div>*@

</div>

<!-- Modal -->
<div class="modal fade" id="modal_@contollerName" aria-labelledby="myModalLabel" ng-controller="form">
    <div class="modal-dialog modal-full">
        @Html.Partial("~/Views/Registrasi/HistoryPasien.cshtml")
    </div>
</div>



<script>
    $(document).ready(function () {
        getencodeurl();
    });
    function getencodeurl() {
        myajax({
            url: '@Url.Action("GetEncodeUrl","RegisterFinger")',
            method: 'GET',
            data: {
                id: $('#NRM').val()
            },
            success: function (data) {
                if (data.IsSuccess) {
                    $('#btnRegister').attr("href", "finspot:FingerspotReg;" + data.Data);
                }
            },
            beforeSend: function () {
                $('#_loading').css('display', 'none');
            }
        });
    }

    function user_register() {
        regStats = 0;
        regCt = -1;
        try {
            timer_register.stop();
        }
        catch (err) {
            console.log('Registration timer has been init');
        }

        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#userid').val();
        timer_register = $.timer(timeout, function () {
            user_checkregister(user_id);
            if (ct >= limit || regStats == 1) {
                timer_register.stop();
                if (ct >= limit && regStats == 0) {
                    alertpopup("registration fail!", "info");
                }
                if (regStats == 1) {
                    alertpopup("registration success!", "success");
                }
            }
            ct++;
        });
    }

    function user_checkregister(user_id) {
        myajax({
            url: '@Url.Action("CheckBerhasil")',
            method: 'GET',
            data: {
                id: user_id
            },
            success: function (data) {
                if (data.IsSuccess) {
                    regStats = 1;
                }
            },
            beforeSend: function () {
                $('#_loading').css('display', 'none');
            }
        });
    }

    function tutupmodalhistory() {
        $('#modal_@contollerName').modal('hide');
    }

    function bukamodalhistory() {
        $('#modal_@contollerName').modal();
        $('#refreshhsitorypasien').click();
    }

    function autorefresh(id) {
        if (angular.element('#' + id)[0] != undefined) angular.element('#' + id).scope().getdatas();
    }

    function openRMEtab(id) {
        if (id == '#menu1RME') {

        } else if (id == '#menu2RME') {
            id = '#menu1RME';
        }
        var tabcontent = $(id).closest('.tab-content');
        tabcontent.find('.tab-pane').removeClass('fade').removeClass('in').removeClass('active');
        tabcontent.find(id).addClass('fade').addClass('in').addClass('active');
    }

    document.getElementById("GeneralRegistrasi").click();
</script>

<script>

    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detailRencanaPemulanganICU_RI') {
            customdetailrencanapemulanganpasienICU(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailRisikoJatuhAnak') {
            customdetailpengkajianrisikojatuhanakRI(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailObservasiKeseimbanganCairan') {
            customdetailobservasikeseimbangancairan(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailMonitoringPartusRI') {
            customdetailmonitoringpartusRI(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailTindakanAsuhanKebidananRI') {
            customdetailtindakanasuhankebidananRI(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailGeneralIGD') {
            customdetailgeneralIGD_Detail(index_detail, _this, inputtarget, autofocus);
            obatmanualketikreadyIGD(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailPemeriksaan3IGD') {
            customdetailpemeriksaan3IGD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailtindakankebidanan') {
            customdetailtindakankebidanan(index_detail, _this, inputtarget, autofocus);
        }
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detailAwalKeperawatanRJ') {
            customdetailPengkajianAwalRJ_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailAssesmenAwal') {
            customdetailAssesmenAwal2_Detail(index_detail, _this, inputtarget, autofocus);
        }
        //else if ($(_this.target).closest('.detail').attr('id') == 'panel_riwayatobat') {
        //    customdetailRiwayatObat_Detail(index_detail, _this, inputtarget, autofocus);
        //}
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailRisikoJatuhAnak_2') {
            customdetailpengkajianrisikojatuhanak_2(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailRisikoJatuhDewasa') {
            customdetailpengkajianrisikojatuhdewasa(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailRisikoJatuhDewasa_2') {
            customdetailpengkajianrisikojatuhdewasa_2(index_detail, _this, inputtarget, autofocus);
        }
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiEWS_Dewasa') {
            customdetailewsdewasa(index_detail, _this, inputtarget, autofocus);
        }
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiEWS_Anak') {
            customdetailewsanak(index_detail, _this, inputtarget, autofocus);
        }
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detailhdperesepanRJ') {
            customdetailperesepanRJ(index_detail, _this, inputtarget, autofocus);
        }
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiRingkasanMedisRJ') {
            customdetailringkasanmedisRJ(index_detail, _this, inputtarget, autofocus);
        }
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detailRiwayatObat') {
            customdetailRiwayatObat_Detail(index_detail, _this, inputtarget, autofocus);
        }
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detail_ImplementasiAsuhanIGD') {
            customdetailImplementasiAsuhanIGD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detailPemberianObat_KeperawatanIGD') {
            customdetailPemberianObatKeperawatanIGD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detailTindakan_KeperawatanIGD') {
            customdetailTindakanKeperawatanIGD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detail_edukasipasien') {
            customdetail_EdukasiPasien_Detail(index_detail, _this, inputtarget, autofocus);
        }
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detailPKGawatDaruratObat') {
            customdetailPengkajianAwal_HD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detailTindakanKeperawatan') {
            customdetailTindakKeperawatan_HD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detailObsesKoprehensif') {
            customdetailObsesKoprehensif_HD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        if (_this == 'panel_detailTindakanKeperawatan') {
            customdetailTindakKeperawatan_HD_Detail(index_detail, _this, inputtarget, autofocus);
        }


    }

    function obatmanualketik(_this) {
        if ($(_this.closest('tr')).find('td:nth-child(5) input[type="checkbox"]').is(':checked')) {
            $(_this.closest('tr')).find('td:nth-child(6) input[type="text"]').removeClass('hidden');
            $(_this.closest('tr')).find('td:nth-child(6) span').addClass('hidden');
        } else {
            $(_this.closest('tr')).find('td:nth-child(6) input[type="text"]').addClass('hidden');
            $(_this.closest('tr')).find('td:nth-child(6) span').removeClass('hidden');
        }
    }

    function customdetail_EdukasiPasien_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobat = '#panel_detail_edukasipasien #Edukasi_List_' + index_detail + '__Model_Edukator';

        $(_strobat).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function obatmanualketikreadyIGD(index_detail, _this, inputtarget, autofocus) {
        if ($('#DetailGeneralIGD_List_' + index_detail + '__Model_ObatManual').is(':checked')) {
            $('#DetailGeneralIGD_List_' + index_detail + '__Model_ObatManual_Ket').removeClass('hidden');
            $('#DetailGeneralIGD_List_' + index_detail + '__Model_NamaObat').next(".select2-container").hide();
        } else {
            $('#DetailGeneralIGD_List_' + index_detail + '__Model_ObatManual_Ket').addClass('hidden');
            $('#DetailGeneralIGD_List_' + index_detail + '__Model_NamaObat').next(".select2-container").show();
        }
    }

    function customdetailTindakanKeperawatanIGD_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobat = '#panel_detailTindakan_KeperawatanIGD #Tindakan_List_' + index_detail + '__Model_NamaDokter';

        $(_strobat).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailPemberianObatKeperawatanIGD_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobat = '#panel_detailPemberianObat_KeperawatanIGD #PemberianObat_List_' + index_detail + '__Model_DiberikanOleh';

        $(_strobat).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailRiwayatObat_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobat = '#panel_detailRiwayatObat #RiwayatObat_List_' + index_detail + '__Model_Obat';

        $(_strobat).select2({
            ajax: {
                url: "@Url.Action("ListObat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama_Barang',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Barang, text: value.Nama_Barang } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailringkasanmedisRJ(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_spesialis = '#ProfilRingkasan_List_' + index_detail + '__Model_Dokter';

        $(_strdokter_spesialis).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailImplementasiAsuhanIGD_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_implementasiasuhan = '#Asuhan_List_' + index_detail + '__Model_Nama';

        $(_strdokter_implementasiasuhan).select2({
            ajax: {
                url: "@Url.Action("ListPerawat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaPerawat',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.PerawatID, text: value.NamaPerawat } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailtindakanasuhankebidananRI(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_tindakanasuhankebidananRI = '#TidanakanAsuhanKebidananRI_List_' + index_detail + '__Model_NamaDokter';

        $(_strdokter_tindakanasuhankebidananRI).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailobservasikeseimbangancairan(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_observasikeseimbangancairan = '#ObservasiKeseimbanganCairan_List_' + index_detail + '__Model_TTD_Nama';

        $(_strdokter_observasikeseimbangancairan).select2({
            ajax: {
                url: "@Url.Action("ListPerawat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaPerawat',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.PerawatID, text: value.NamaPerawat } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailrencanapemulanganpasienICU(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_rencanapemulanganICU = '#RencanaPemulangan_ICU_RI_List_' + index_detail + '__Model_Dokter';

        $(_strdokter_rencanapemulanganICU).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailpengkajianrisikojatuhanakRI(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_pengkajianrisikojatuhanakRI = '#Table1_List_' + index_detail + '__Model_Nama';

         $(_strdokter_pengkajianrisikojatuhanakRI).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailmonitoringpartusRI(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_monitoringpartusRI = '#Detail_List_' + index_detail + '__Model_NamaDokter';

        $(_strdokter_monitoringpartusRI).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });
    }

    function customdetailpengkajianrisikojatuhanak_2(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_pengkajianrisikojatuhanak_2 = '#Table2_List_' + index_detail + '__Model_Petugas';

        $(_strdokter_pengkajianrisikojatuhanak_2).select2({
            ajax: {
                url: "@Url.Action("ListPerawat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaPerawat',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.PerawatID, text: value.NamaPerawat } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailpengkajianrisikojatuhdewasa(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_pengkajianrisikojatuhdewasa = '#Table1_List_' + index_detail + '__Model_Nama';

         $(_strdokter_pengkajianrisikojatuhdewasa).select2({
            ajax: {
                url: "@Url.Action("ListPerawat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaPerawat',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.PerawatID, text: value.NamaPerawat } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailpengkajianrisikojatuhdewasa_2(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_pengkajianrisikojatuhdewasa_2 = '#Table2_List_' + index_detail + '__Model_Petugas';

        $(_strdokter_pengkajianrisikojatuhdewasa_2).select2({
            ajax: {
                url: "@Url.Action("ListPerawat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaPerawat',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.PerawatID, text: value.NamaPerawat } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailewsanak(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_spesialis = '#Anak_List_' + index_detail + '__Model_Petugas';

        $(_strdokter_spesialis).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailewsdewasa(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_spesialis = '#Dewasa_List_' + index_detail + '__Model_Petugas';

        $(_strdokter_spesialis).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailperesepanRJ(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_spesialis = '#hdperesepanRJ_List_' + index_detail + '__Model_Dokter';

        $(_strdokter_spesialis).select2({
            ajax: {
                url: "@Url.Action("ListSpesialis", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailPengkajianAwalRJ_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobat = '#panel_detailAwalKeperawatanRJ #Detail_List_' + index_detail + '__Model_Obat';

        $(_strobat).select2({
            ajax: {
                url: "@Url.Action("ListObat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama_Barang',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Barang, text: value.Nama_Barang } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailAssesmenAwal2_Detail(index_detail, _this, inputtarget, autofocus) {
            var _stdokter = '#panel_detailAssesmenAwal #Detail2_List_' + index_detail + '__Model_Nama';

            $(_stdokter).select2({
            ajax: {
                url: "@Url.Action("ListPerawatAwalKeperawatan", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }


</script>



