﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    /**/

    var controllerName = "Registrasi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};


}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("PersetujuanRawatInap", "Registrasi", null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatexpersetujuanri(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
    @*@using (Html.BeginForm("PersetujuanRawatInap", "Registrasi", FormMethod.Post, new { id = formName, autocomplete = "off" }))*@
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.PDirawatICU.NoReg)
        @Html.HiddenFor(Model => Model.PDirawatICU.SectionID)
        @Html.HiddenFor(Model => Model.PDirawatICU.NRM)
        @Html.HiddenFor(Model => Model.PDirawatICU.Nomor)
        @Html.HiddenFor(Model => Model.PDirawatICU.Jenis)
        @Html.HiddenFor(Model => Model.PDirawatICU.JenisKelamin)
        @Html.HiddenFor(Model => Model.PDirawatICU.Nama)
        @Html.HiddenFor(Model => Model.PDirawatICU.NamaPasien)
        @Html.HiddenFor(Model => Model.PDirawatICU.Alamat)
        @Html.HiddenFor(Model => Model.PDirawatICU.AlamatPasien)
        @Html.HiddenFor(Model => Model.PDirawatICU.Dokter)
        @Html.HiddenFor(Model => Model.PDirawatICU.MembuatPernyataan)
        @Html.HiddenFor(Model => Model.PDirawatICU.TujuanPasien)
        @Html.HiddenFor(Model => Model.PDirawatICU.Peringatan)
        @Html.HiddenFor(Model => Model.PDirawatICU.ResikoDanKomplikasi)
        @Html.HiddenFor(Model => Model.PDirawatICU.PerkiraanBiaya)
        @Html.HiddenFor(Model => Model.PDirawatICU.TTDPasien)
        @Html.HiddenFor(Model => Model.PDirawatICU.TTDpetugas)
        @Html.HiddenFor(Model => Model.PDirawatICU.TTDSaksi1)
        @Html.HiddenFor(Model => Model.PDirawatICU.TTDSaksi2)


        <div class="panel-body detail collapse in">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.NoReg)
                @Html.HiddenFor(model => model.SectionID)
                @Html.HiddenFor(model => model.NRM)
                @*KEINGINANAN PASIEN MEMILIH DPJP*@

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <label class="text-bold h4 ">
                            PERSETUJUAN RAWAT INAP
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Saya yang bertanda dibawah ini :</label>
                   
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Nama
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PDirawatICU.Nama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Umur, Jenis Kelamin
                    </label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.PDirawatICU.Umur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.Umur, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.PDirawatICU.Jenis, new List<SelectListItem>
                              {
                                  new SelectListItem() {Text = "", Value=""},
                                  new SelectListItem() {Text = "Laki-Laki", Value="Laki-Laki"},
                                  new SelectListItem() {Text = "Perempuan", Value="Perempuan"},
                              }, new { @class = "form-control", disabled = true, Value = Model.PDirawatICU.Jenis })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Alamat
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PDirawatICU.Alamat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = Model.PDirawatICU.Alamat } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <label class="col-md-12">
                        Telah mendapat penjelasan dokter tentang :
                    </label>
                </div>

                <div class="form-group">
                    <div class="col-lg-11 col-md-offset-1">
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PDirawatICU.TujuanPasien, new { htmlAttributes = new { disabled = true } })
                                Tujuan pasien dilakukan rawat inap.
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PDirawatICU.ResikoDanKomplikasi, new { htmlAttributes = new { disabled = true } })
                                Resiko komplikasi yang mungkin terjadi.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-11 col-md-offset-1">
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PDirawatICU.Peringatan, new { htmlAttributes = new { disabled = true } })
                                Peringatan bahaya yang mungkin terjadi.
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PDirawatICU.PerkiraanBiaya, new { htmlAttributes = new { disabled = true } })
                                Perkiraan lama Dirawat.
                            </label>
                        </div>
                    </div>
                </div>

                <p>
                    Saya sudah mendapatkan kesempatan untuk bertanya dan saya sudah mengerti dan pus dengan penjelasan yang diberikan sehubungan dengan pertanyaan-pertanyaan saya. Dengan ini saya menyatakan sesungguhnya bahwa saya MENOLAK dirawat inap seperti yang dijelaskan diatas, terhadap diri
                    @Html.DropDownListFor(model => model.PDirawatICU.Terhadap, new List<SelectListItem>
                               {
                                   new SelectListItem() {Text = "Saya", Value="Saya"},
                                   new SelectListItem() {Text = "Suami", Value="Suami"},
                                   new SelectListItem() {Text = "Istri", Value="Istri"},
                                   new SelectListItem() {Text = "Anak", Value="Anak"},
                                   new SelectListItem() {Text = "Ayah", Value="Ayah"},
                                   new SelectListItem() {Text = "Ibu", Value="Ibu"},
                               }, new { @class = "form-control", disabled = true })
                    saya
                </p>

                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Nama
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PDirawatICU.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.NamaPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Tgl Lahir, Jenis Kelamin
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PDirawatICU.TglLahir, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.PDirawatICU.TglLahir != null ? (Model.PDirawatICU.TglLahir.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.TglLahir, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.PDirawatICU.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.PDirawatICU.JenisKelamin == "F" ? "Perempuan" : Model.PDirawatICU.JenisKelamin == "M" ? "Laki- Laki" : "") } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.JenisKelamin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Alamat
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PDirawatICU.AlamatPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.AlamatPasien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <p>dengan cara pembayaran (lingkari pilih yang sesuai) :</p>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline control-label">
                            1.
                            @Html.EditorFor(model => model.PDirawatICU.Jaminan1, new { htmlAttributes = new { } })
                            Umum (Bayar Sendiri) <br />
                            Sanggup membayar penuh biaya perawatan sesuai dengan kelas dan tarif yang ditentukan Rumkit Bhayangkara Denpasar.
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox checkbox-inline control-label">
                            2.
                            @Html.EditorFor(model => model.PDirawatICU.Jaminan2, new { htmlAttributes = new { } })
                            Jaminan Kesehatan Nasional (JKN/BPJS) <br />
                        </label>
                        Biaya perawatan akan di tanggung oleh BPJS Kesehatan dan jika terjadi :
                        <ul>
                            <li>Kenaikan kelas perawatan atas permintaan, pasien siap membayar selisih/<i>sharing cost</i></li>
                            <li>Apabila saya tidak menyerahkan kelengkapan administrasi 3x24 jam atau tidak menyatakan diri menggunakan BPJS seja Masuk Rumah Sakit, maka bersedia untuk dialihkan debagai pasien umum (Bayar Sendiri)</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="checkbox checkbox-inline control-label">
                            3.
                            @Html.EditorFor(model => model.PDirawatICU.Jaminan3, new { htmlAttributes = new { onclick = "jaminan3()" } })
                            Jaminan Kesehatan Lainnya
                        </label>
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PDirawatICU.JaminanKesehatan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.JaminanKesehatan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline control-label">
                            @Html.EditorFor(model => model.PDirawatICU.Jaminan4, new { htmlAttributes = new { onclick = "jaminan4()" } })
                        </label>
                        4.
                    </div>
                    <div class="col-md-11">
                        @Html.TextAreaFor(model => model.PDirawatICU.JaminanKesehatan1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.JaminanKesehatan1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <p>Demikian persejuan ini saya buat dengan penuh kesadaran dan tanpa paksaan</p>
                <br />
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter :
                    </label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.PDirawatICU.Dokter, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.Dokter, "", new { @class = "text-danger" })
                    </div>
                    <div class=" col-md-1">
                        @if (Model.PDirawatICU.SudahRegPegawai == 0)
                        {
                            <a id="btn_pasiensrtpernyataandokter" class="btn btn-primary disabled" onclick="user_verif_pegawaiperstujuanranap()" href="finspot:FingerspotVer;@ViewBag.UrlFingerPersetujuanRanapDokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                        else { 
                            <a id="btn_pasiensrtpernyataandokter" class="btn btn-primary" onclick="user_verif_pegawaiperstujuanranap()" href="finspot:FingerspotVer;@ViewBag.UrlFingerPersetujuanRanapDokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                    </div>
                    <label class="col-md-2 control-label">
                        Yang Membuat Pernyataan
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PDirawatICU.MembuatPernyataan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.MembuatPernyataan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Saksi I :
                    </label>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.PDirawatICU.Saksi1, Model.PDirawatICU.Saksi1 == null ? new List<SelectListItem>() : new List<SelectListItem>()
                       { new SelectListItem() {
                           Value = Model.PDirawatICU.Saksi1.ToString(), Text = Model.PDirawatICU.Saksi1Nama }
                       }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.Saksi1, "", new { @class = "text-danger" })
                    </div>
                    <div class=" col-md-1">
                        @if (Model.PDirawatICU.SudahRegSaksi1 == 0)
                        {
                            <a id="btn_pasiensrtpernyataansaksi1" class="btn btn-primary disabled" onclick="user_verif_saksi1perstujuanranap()" href="finspot:FingerspotVer;@ViewBag.UrlFingerPersetujuanRanapSaksi1"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                        else { 
                            <a id="btn_pasiensrtpernyataansaksi1" class="btn btn-primary" onclick="user_verif_saksi1perstujuanranap()" href="finspot:FingerspotVer;@ViewBag.UrlFingerPersetujuanRanapSaksi1"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                    </div>
                    <label class="col-md-2 control-label">
                        Saksi II
                    </label>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.PDirawatICU.Saksi2, Model.PDirawatICU.Saksi2 == null ? new List<SelectListItem>() : new List<SelectListItem>()
                        { new SelectListItem() {
                            Value = Model.PDirawatICU.Saksi2.ToString(), Text = Model.PDirawatICU.Saksi2Nama }
                        }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.Saksi2, "", new { @class = "text-danger" })
                    </div>
                    <div class=" col-md-1">
                        @if (Model.PDirawatICU.SudahRegSaksi2 == 0)
                        {
                            <a id="btn_pasiensrtpernyataansaksi2" class="btn btn-primary disabled" onclick="user_verif_saksi2perstujuanranap()" href="finspot:FingerspotVer;@ViewBag.UrlFingerPersetujuanRanapSaksi2"><span class="icon-checkmark2 position-center "></span>Verif</a>
                        }
                        else { 
                            <a id="btn_pasiensrtpernyataansaksi2" class="btn btn-primary" onclick="user_verif_saksi2perstujuanranap()" href="finspot:FingerspotVer;@ViewBag.UrlFingerPersetujuanRanapSaksi2"><span class="icon-checkmark2 position-center "></span>Verif</a>
                        }
                    </div>
                </div>

                <br />
                <br />


                <div class="form-group">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                        <a href="@Url.Action("ExportPDFPersetujuanRanap", new { noreg = Model.NoReg})" target="_blank"
                           class="btn btn-success" @(Model.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                        <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



<script type="text/javascript">
    var saksi1 = $('#PDirawatICU_Saksi1');
    var saksi2 = $('#PDirawatICU_Saksi2');

    saksi1.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    saksi2.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>

<!--JS LAINNYA-->
<script>
    function jaminan3() {
        if ($('#PDirawatICU_Jaminan3').is(':checked')) {
            $('#PDirawatICU_JaminanKesehatan').prop('disabled', false);
        } else {
            $('#PDirawatICU_JaminanKesehatan').prop('disabled', true);
            $('#PDirawatICU_JaminanKesehatan').val('');
        }
    }

    function jaminan4() {
        if ($('#PDirawatICU_Jaminan4').is(':checked')) {
            $('#PDirawatICU_JaminanKesehatan1').prop('disabled', false);
        } else {
            $('#PDirawatICU_JaminanKesehatan1').prop('disabled', true);
            $('#PDirawatICU_JaminanKesehatan1').val('');
        }
    }

    $(document).ready(function () {
        jaminan3();
        jaminan4();
    });
</script>

<script>

    function oncompletecreatexpersetujuanri(xhr, formname, isajax, x_this) {
        try {
            //var result = JSON.parse(xhr.responseText);
            //if (result.IsSuccess) {
            location.reload();
            //$("#divPersetujuanRawatInap").html(x_this);
            alertpopup('Data berhasil disimpan', 'success');
            //} else {
            //alertpopup('Terjadi masalah saat proses menyimpan' || 'Server Error', 'danger');
            //}
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#Panel2').click();
    }

</script>

<script>
    function user_verif_pasienperstujuanranap() {
        var regStats = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#SPDirawatICU_NRM').val();
        var noreg = $('#SPDirawatICU_NoReg').val();
        var section = $('#SPDirawatICU_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifpersetujuanripasien(noreg, section, user_id);
            if (ct >= limit || regStats == 1) {
                timer_verif.stop();
                if (ct >= limit && regStats == 0) {
                    alertpopup("Sidik Jari TIdak Cocok!", "info");
                }
                if (regStats == 1) {
                    alertpopup("Verifikasi Berhasil!", "success");
                    location.reload();
                }
            }
            ct++;
        });
        function user_checkverifpersetujuanripasien(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilSrtPersetujuanRanap", "Registrasi")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Pasien == "1") {
                            regStats = 1;
                        }
                    }
                    else {
                        regStats = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_pegawaiperstujuanranap() {
        var regStats = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#SPDirawatICU_Dokter').val();
        var noreg = $('#SPDirawatICU_NoReg').val();
        var section = $('#SPDirawatICU_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifpersetujuanripetugas(noreg, section, user_id);
            if (ct >= limit || regStats == 1) {
                timer_verif.stop();
                if (ct >= limit && regStats == 0) {
                    alertpopup("Sidik Jari TIdak Cocok!", "info");
                }
                if (regStats == 1) {
                    alertpopup("Verifikasi Berhasil!", "success");
                    location.reload();
                }
            }
            ct++;
        });
        function user_checkverifpersetujuanripetugas(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilSrtPersetujuanRanap", "Registrasi")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Petugas == "1") {
                            regStats = 1;
                        }
                    }
                    else {
                        regStats = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_saksi1perstujuanranap() {
        var regStats = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#SPDirawatICU_Saksi1').val();
        var noreg = $('#SPDirawatICU_NoReg').val();
        var section = $('#SPDirawatICU_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifpersetujuanrisaksi1(noreg, section, user_id);
            if (ct >= limit || regStats == 1) {
                timer_verif.stop();
                if (ct >= limit && regStats == 0) {
                    alertpopup("Sidik Jari TIdak Cocok!", "info");
                }
                if (regStats == 1) {
                    alertpopup("Verifikasi Berhasil!", "success");
                    location.reload();
                }
            }
            ct++;
        });
        function user_checkverifpersetujuanrisaksi1(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilSrtPersetujuanRanap", "Registrasi")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Saksi1 == "1") {
                            regStats = 1;
                        }
                    }
                    else {
                        regStats = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_saksi2perstujuanranap() {
        var regStats = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#SPDirawatICU_Saksi2').val();
        var noreg = $('#SPDirawatICU_NoReg').val();
        var section = $('#SPDirawatICU_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifpesetujuanrisaksi2(noreg, section, user_id);
            if (ct >= limit || regStats == 1) {
                timer_verif.stop();
                if (ct >= limit && regStats == 0) {
                    alertpopup("Sidik Jari TIdak Cocok!", "info");
                }
                if (regStats == 1) {
                    alertpopup("Verifikasi Berhasil!", "success");
                    location.reload();
                }
            }
            ct++;
        });
        function user_checkverifpesetujuanrisaksi2(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilSrtPersetujuanRanap", "Registrasi")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Saksi2 == "1") {
                            regStats = 1;
                        }
                    }
                    else {
                        regStats = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }


</script>





