﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    /**/

    var controllerName = "Registrasi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};


}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("SuratPernyataan", "Registrasi", null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatexsrtpenyataan(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @*@using (Html.BeginForm("SuratPernyataan", "Registrasi", FormMethod.Post, new { id = formName, autocomplete = "off" }))*@
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.SuratPernyataan.NoReg)
        @Html.HiddenFor(Model => Model.SuratPernyataan.SectionID)
        @Html.HiddenFor(Model => Model.SuratPernyataan.NRM)
        @Html.HiddenFor(Model => Model.SuratPernyataan.Nomor)
        @Html.HiddenFor(Model => Model.SuratPernyataan.Report)
        @Html.HiddenFor(Model => Model.SuratPernyataan.TTDPasien)
        @Html.HiddenFor(Model => Model.SuratPernyataan.TTDpetugas)
        <div class="panel-body detail collapse in">
            <div class="form-horizontal">
                <div>
                    <p class="text-bold h4 text-center"> SURAT PERNYATAAN</p>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Saya yang bertanda dibawah ini :</label>
                    <div class="col-md-2 control-label">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.SuratPernyataan.Checkedpasien, new { htmlAttributes = new { onclick = "pernyataanpasien()" } })
                            Pasien
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Nama :
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SuratPernyataan.Nama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataan.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Umur :
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SuratPernyataan.Umur, new { htmlAttributes = new { @class = "form-control", @Value = 0 } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataan.Umur, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">
                        Jenis Kelamin :
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.SuratPernyataan.Jenis, new List<SelectListItem>
                               {
                                   new SelectListItem() {Text = "", Value=""},
                                   new SelectListItem() {Text = "Laki Laki", Value="Laki Laki"},
                                   new SelectListItem() {Text = "Perempuan", Value="Perempuan"},
                               }, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Alamat :
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SuratPernyataan.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataan.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        No. Telepon :
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SuratPernyataan.NoTelp, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataan.NoTelp, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Hubungan Dengan Pasien:
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SuratPernyataan.HubunganDenganPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataan.HubunganDenganPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">
                        Memang benar
                    </label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.SuratPernyataan.TidakMemiliki, StaticModel.ListMemiliki, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SuratPernyataan.TidakMemiliki, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-8">
                        jaminan kesehatan :BPJS (ASKES PNS/ Jamsostek/ Jamkesmas/ KIS). Dan bersedia menyelesaikan seluruh administrasi di RS Bhayangkara Denpasar dengan pembayaran TUNAI.
                    </label>
                </div>
                <div class="form-group">
                    <p class="text-justify"></p>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">No. Rekam Medis</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SuratPernyataan.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataan.NRM, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Nama </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SuratPernyataan.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataan.NamaPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Tanggal Lahir</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SuratPernyataan.TglLahir, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.SuratPernyataan.TglLahir != null ? (Model.SuratPernyataan.TglLahir.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataan.TglLahir, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">Jenis Kelamin</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SuratPernyataan.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.SuratPernyataan.JenisKelamin == "F" ? "Perempuan" : Model.SuratPernyataan.JenisKelamin == "M" ? "Laki- Laki" : "") } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataan.JenisKelamin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Alamat </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SuratPernyataan.AlamatPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataan.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Petugas
                    </label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.SuratPernyataan.Perawat, Model.SuratPernyataan.Perawat == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.SuratPernyataan.Perawat.ToString(), Text = Model.SuratPernyataan.PerawatNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SuratPernyataan.Perawat, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        @if (Model.SuratPernyataan.SudahRegPegawai == 1)
                        {
                            <a id="btn_pegawaisrtpernyataan" class="btn btn-primary" onclick="user_checkverifsrtpernyataanpegawai()" href="finspot:FingerspotVer;@ViewBag.UrlFingerSrtPernyataanDokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                        else { 
                            <a id="btn_pegawaisrtpernyataan" class="btn btn-primary disabled" onclick="user_checkverifsrtpernyataanpegawai()" href="finspot:FingerspotVer;@ViewBag.UrlFingerSrtPernyataanDokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pasien</label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.SuratPernyataan.NamaPasien, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataan.NamaPasien, "", new { @class = "text-danger" })
                    </div>
                    <div class=" col-md-1">
                        @if (Model.SuratPernyataan.SudahRegPasien == 1)
                        {
                            <a id="btn_pasiensrtpernyataan" class="btn btn-primary" onclick="user_verif_pasiensrtpenyataan()" href="finspot:FingerspotVer;@ViewBag.UrlFingerSrtPernyataan"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                        else { 
                            <a id="btn_pasiensrtpernyataan" class="btn btn-primary disabled" onclick="user_verif_pasiensrtpenyataan()" href="finspot:FingerspotVer;@ViewBag.UrlFingerSrtPernyataan"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Simpan</button>
                    @if (Model.SuratPernyataan.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFSuratPernyataan", new { noreg = Model.SuratPernyataan.NoReg })" target="_blank"
                           class="btn btn-success" @(Model.SuratPernyataan.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>

@*JS SELECT*@
<script type="text/javascript">
    var perawat = $('#@formName #SuratPernyataan_Perawat');


    perawat.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>

<script>
    function user_verif_pasiensrtpenyataan() {
        var regStats = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#SuratPernyataan_NRM').val();
        var noreg = $('#SuratPernyataan_NoReg').val();
        var section = $('#SuratPernyataan_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifsrtpernyataanpasien(noreg, section, user_id);
            if (ct >= limit || regStats == 1) {
                timer_verif.stop();
                if (ct >= limit && regStats == 0) {
                    alertpopup("Sidik Jari TIdak Cocok!", "info");
                }
                if (regStats == 1) {
                    alertpopup("Verifikasi Berhasil!", "success");
                    location.reload();
                }
            }
            ct++;
        });
        function user_checkverifsrtpernyataanpasien(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilSrtPernyataan","Registrasi")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Pasien == "1") {
                            regStats = 1;
                        }
                    }
                    else {
                        regStats = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_checkverifsrtpernyataanpegawai() {
        var regStats = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#SuratPernyataan_Perawat').val();
        var noreg = $('#SuratPernyataan_NoReg').val();
        var section = $('#SuratPernyataan_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifsrtpernyataanpegawai(noreg, section, user_id);
            if (ct >= limit || regStats == 1) {
                timer_verif.stop();
                if (ct >= limit && regStats == 0) {
                    alertpopup("Sidik Jari TIdak Cocok!", "info");
                }
                if (regStats == 1) {
                    alertpopup("Verifikasi Berhasil!", "success");
                    location.reload();
                }
            }
            ct++;
        });
        function user_checkverifsrtpernyataanpegawai(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilSrtPernyataan","Registrasi")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Petugas == "1") {
                            regStats = 1;
                        }
                    }
                    else {
                        regStats = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

</script>

<script>
    function pernyataanpasien() {
        if ($('#SuratPernyataan_Checkedpasien').is(':checked')) {
            $('#SuratPernyataan_Nama').val('@Model.SuratPernyataan.NamaPasien');
            $('#SuratPernyataan_Umur').val('@Model.SuratPernyataan.Umur');
            $('#SuratPernyataan_Jenis').val('@Model.SuratPernyataan.JenisKelamin' == 'F' ? 'Perempuan' : 'Laki Laki');
            $('#SuratPernyataan_Alamat').val('@Model.SuratPernyataan.AlamatPasien');
            $('#SuratPernyataan_NoTelp').val('@Model.SuratPernyataan.NoTelp');
        } else {
            $('#SuratPernyataan_Nama').val('');
            $('#SuratPernyataan_Umur').val('0');
            $('#SuratPernyataan_Jenis').val('');
            $('#SuratPernyataan_Alamat').val('');
            $('#SuratPernyataan_NoTelp').val('');
        }
    }

    function oncompletecreatexsrtpenyataan(xhr, formname, isajax, x_this) {
        try {
            //var result = JSON.parse(xhr.responseText);
            //if (result.IsSuccess) {
            location.reload();
            alertpopup('Data berhasil disimpan', 'success');
            //$('#PernyataanSurat').click();
            //} else {
            //alertpopup('Terjadi masalah saat proses menyimpan' || 'Server Error', 'danger');
            //}
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
    }

    $(document).ready(function () {
        pernyataanpasien();
    });

</script>





