﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "FormulirRekonsiliasiObat";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Detail
    var d_tbl_Alergi = $"frm_table_detailRekonsiliasiAlergi";
    int d_idx_Alergi = 0;
    var d_trg_Alergi = $"input_target_detailRekonsiliasiAlergi";
    if (Model != null)
    {
        if (Model.FRekonsiliasiObat != null)
        {
            if (Model.FRekonsiliasiObat.Alergi_List != null)
            {
                d_idx_Alergi = Model.FRekonsiliasiObat.Alergi_List.Count();
            }
        }
    }
    #endregion

    #region ==== Detail
    var d_tbl_Obat = $"frm_table_detailRekonObat";
    int d_idx_Obat = 0;
    var d_trg_Obat = $"input_target_detailRekonObat";
    if (Model != null)
    {
        if (Model.FRekonsiliasiObat != null)
        {
            if (Model.FRekonsiliasiObat.Obat_List != null)
            {
                d_idx_Alergi = Model.FRekonsiliasiObat.Obat_List.Count();
            }
        }
    }
    #endregion
}

<!--   CSS Table -->
<style>
    #d_tbl_Alergi thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_Alergi thead th:nth-child(1),
    #d_tbl_Alergi tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_Alergi thead th:nth-child(2),
    #d_tbl_Alergi tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #d_tbl_Alergi thead th:nth-child(3),
    #d_tbl_Alergi tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_Alergi thead th:nth-child(4),
    #d_tbl_Alergi tbody td:nth-child(4) {
        width: 80px;
    }

    #d_tbl_Alergi thead th:nth-child(5),
    #d_tbl_Alergi tbody td:nth-child(5) {
        width: 150px;
    }

    #d_tbl_Alergi thead th:nth-child(6),
    #d_tbl_Alergi tbody td:nth-child(6) {
        width: 100px;
    }

    #d_tbl_Alergi thead th:nth-child(7),
    #d_tbl_Alergi tbody td:nth-child(7) {
        width: 180px;
    }

    #d_tbl_Alergi thead th:nth-child(8),
    #d_tbl_Alergi tbody td:nth-child(8) {
        width: 180px;
    }

    #d_tbl_Alergi thead th:nth-child(9),
    #d_tbl_Alergi tbody td:nth-child(9) {
        width: 180px;
    }

    #d_tbl_Alergi thead th:nth-child(10),
    #d_tbl_Alergi tbody td:nth-child(10) {
        width: 80px;
        text-align: center;
    }

    #d_tbl_Alergi thead th:nth-child(11),
    #d_tbl_Alergi tbody td:nth-child(11) {
        width: 80px;
        text-align: center;
    }

    #d_tbl_Alergi thead th:nth-child(12),
    #d_tbl_Alergi tbody td:nth-child(12) {
        width: 80px;
        text-align: center;
    }

    #d_tbl_Alergi thead th:nth-child(13),
    #d_tbl_Alergi tbody td:nth-child(13) {
        width: 80px;
        text-align: center;
    }

    #d_tbl_Alergi thead th:nth-child(14),
    #d_tbl_Alergi tbody td:nth-child(14) {
        width: 80px;
        text-align: center;
    }

    #d_tbl_Alergi thead th:nth-child(15),
    #d_tbl_Alergi tbody td:nth-child(15) {
        width: 180px;
    }

    #d_tbl_Alergi thead th:nth-child(16),
    #d_tbl_Alergi tbody td:nth-child(16) {
        width: 180px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<style>
    #d_tbl_Obat thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_Obat thead th:nth-child(1),
    #d_tbl_Obat tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_Obat thead th:nth-child(2),
    #d_tbl_Obat tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #d_tbl_Obat thead th:nth-child(3),
    #d_tbl_Obat tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_Obat thead th:nth-child(4),
    #d_tbl_Obat tbody td:nth-child(4) {
        width: 80px;
    }

    #d_tbl_Obat thead th:nth-child(5),
    #d_tbl_Obat tbody td:nth-child(5) {
        width: 150px;
    }

    #d_tbl_Obat thead th:nth-child(6),
    #d_tbl_Obat tbody td:nth-child(6) {
        width: 100px;
    }

    #d_tbl_Obat thead th:nth-child(7),
    #d_tbl_Obat tbody td:nth-child(7) {
        width: 180px;
    }

    #d_tbl_Obat thead th:nth-child(8),
    #d_tbl_Obat tbody td:nth-child(8) {
        width: 180px;
    }

    #d_tbl_Obat thead th:nth-child(9),
    #d_tbl_Obat tbody td:nth-child(9) {
        width: 180px;
    }

    #d_tbl_Obat thead th:nth-child(10),
    #d_tbl_Obat tbody td:nth-child(10) {
        width: 180px;
        text-align: center;
    }

    #d_tbl_Obat thead th:nth-child(11),
    #d_tbl_Obat tbody td:nth-child(11) {
        width: 180px;
        text-align: center;
    }

    #d_tbl_Obat thead th:nth-child(12),
    #d_tbl_Obat tbody td:nth-child(12) {
        width: 180px;
        text-align: center;
    }

    #d_tbl_Obat thead th:nth-child(13),
    #d_tbl_Obat tbody td:nth-child(13) {
        width: 80px;
        text-align: center;
    }

    #d_tbl_Obat thead th:nth-child(14),
    #d_tbl_Obat tbody td:nth-child(14) {
        width: 80px;
        text-align: center;
    }

    #d_tbl_Obat thead th:nth-child(15),
    #d_tbl_Obat tbody td:nth-child(15) {
        width: 180px;
    }

    #d_tbl_Obat thead th:nth-child(16),
    #d_tbl_Obat tbody td:nth-child(16) {
        width: 180px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.FRekonsiliasiObat.NoReg)
        @Html.HiddenFor(Model => Model.FRekonsiliasiObat.SectionID)
        @*@Html.HiddenFor(Model => Model.FRekonsiliasiObat.Nomor)*@
        @Html.HiddenFor(Model => Model.FRekonsiliasiObat.NRM)

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">FORMULIR REKONSILIASI OBAT</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.FRekonsiliasiObat.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.FRekonsiliasiObat.Tanggal != null ? (Model.FRekonsiliasiObat.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.FRekonsiliasiObat.Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Memiliki Alergi :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FRekonsiliasiObat.MemilikiAlergi_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FRekonsiliasiObat.MemilikiAlergi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Lembar Ke :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FRekonsiliasiObat.KodePengisiForm, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FRekonsiliasiObat.KodePengisiForm, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center">Alegi Obat</label>
                    </div>
                    <div class="form-group">
                        <div id="panel_detailFRekonsiliasiObatAlergi" class="detail collapse in"
                             data-index-detail="@d_idx_Alergi">
                            <div class="table-responsive">
                                <table id="d_tbl_Alergi" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" onclick="checkall(this)" />
                                            </th>
                                            <th class="text-center" rowspan="2">
                                                <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Alergi')">
                                                    <i class="icon-plus2"></i>
                                                </a>
                                            </th>
                                            <th></th>
                                            <th>No</th>
                                            <th>Tanggal</th>
                                            <th>Jam</th>
                                            <th>Nama Obat</th>
                                            <th>Keparahan Alergi</th>
                                            <th>Reaksi Alergi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.FRekonsiliasiObat.Alergi_List != null)
                                            {
                                                for (var i = 0; i < Model.FRekonsiliasiObat.Alergi_List.Count(); i++)
                                                {
                                                    <tr>
                                                        <!-- Check -->
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>

                                                        <!-- Delete button -->
                                                        <td>
                                                            <a class="text-danger-600"
                                                               onclick="removetr(this)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>

                                                        <!-- Remove Status -->
                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Alergi_List[i].Remove,
                                                       new { htmlAttributes = new { @class = "disable-reset" } })
                                                        </td>

                                                        <!-- No -->
                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Alergi_List[i].Model.No, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly"
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Alergi_List[i].Model.Tanggal, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               Value = (Model != null ? (Model.FRekonsiliasiObat.Alergi_List[i].Model.Tanggal != null ? Model.FRekonsiliasiObat.Alergi_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Alergi_List[i].Model.Jam, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               Value = (Model != null ? (Model.FRekonsiliasiObat.Alergi_List[i].Model.Jam != null ? Model.FRekonsiliasiObat.Alergi_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                           }
                                                       })
                                                        </td>

                                                        @{
                                                            var _lstobat = new List<SelectListItem>();
                                                            if (Model.FRekonsiliasiObat.Alergi_List[i].Model != null)
                                                            {
                                                                if (Model.FRekonsiliasiObat.Alergi_List[i].Model.KodeObat != null)
                                                                {
                                                                    _lstobat.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.FRekonsiliasiObat.Alergi_List[i].Model.KodeObat,
                                                                        Text = Model.FRekonsiliasiObat.Alergi_List[i].Model.KodeObatNama
                                                                    });
                                                                }
                                                            }
                                                        }
                                                        <td>
                                                            @Html.DropDownListFor(model => model.FRekonsiliasiObat.Alergi_List[i].Model.KodeObat, _lstobat, new { @class = "form-control input-sm" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Alergi_List[i].Model.KeparahanAlergi, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FRekonsiliasiObat.Alergi_List[i].Model.KeparahanAlergi, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Alergi_List[i].Model.ReaksiAlergi, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FRekonsiliasiObat.Alergi_List[i].Model.ReaksiAlergi, "", new { @class = "text-danger" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center">Pemberian Obat</label>
                    </div>
                    <div class="form-group">
                        <div id="panel_detailFRekonsiliasiObatObat" class="detail collapse in"
                             data-index-detail="@d_idx_Obat">
                            <div class="table-responsive">
                                <table id="d_tbl_Obat" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" onclick="checkall(this)" />
                                            </th>
                                            <th class="text-center" rowspan="2">
                                                <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Obat')">
                                                    <i class="icon-plus2"></i>
                                                </a>
                                            </th>
                                            <th></th>
                                            <th>No</th>
                                            <th>Tanggal</th>
                                            <th>Jam</th>
                                            <th>Nama Obat</th>
                                            <th>Dosis</th>
                                            <th>Waktu Pemberian</th>
                                            <th>Indikasi</th>
                                            <th>Dilanjutkan Saat RI</th>
                                            <th>Dilanjutkan Saat Pulang</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.FRekonsiliasiObat.Obat_List != null)
                                            {
                                                for (var i = 0; i < Model.FRekonsiliasiObat.Obat_List.Count(); i++)
                                                {
                                                    <tr>
                                                        <!-- Check -->
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>

                                                        <!-- Delete button -->
                                                        <td>
                                                            <a class="text-danger-600"
                                                               onclick="removetr(this)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>

                                                        <!-- Remove Status -->
                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[i].Remove,
                                                       new { htmlAttributes = new { @class = "disable-reset" } })
                                                        </td>

                                                        <!-- No -->
                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[i].Model.No, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly"
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[i].Model.Tanggal, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               Value = (Model != null ? (Model.FRekonsiliasiObat.Obat_List[i].Model.Tanggal != null ? Model.FRekonsiliasiObat.Obat_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[i].Model.Jam, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               Value = (Model != null ? (Model.FRekonsiliasiObat.Obat_List[i].Model.Jam != null ? Model.FRekonsiliasiObat.Obat_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                           }
                                                       })
                                                        </td>

                                                        @{
                                                            var _lstobat = new List<SelectListItem>();
                                                            if (Model.FRekonsiliasiObat.Obat_List[i].Model != null)
                                                            {
                                                                if (Model.FRekonsiliasiObat.Obat_List[i].Model.KodeObat != null)
                                                                {
                                                                    _lstobat.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.FRekonsiliasiObat.Obat_List[i].Model.KodeObat,
                                                                        Text = Model.FRekonsiliasiObat.Obat_List[i].Model.KodeObatNama
                                                                    });
                                                                }
                                                            }
                                                        }
                                                        <td>
                                                            @Html.DropDownListFor(model => model.FRekonsiliasiObat.Obat_List[i].Model.KodeObat, _lstobat, new { @class = "form-control input-sm" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[i].Model.Dosis, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FRekonsiliasiObat.Obat_List[i].Model.Dosis, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[i].Model.WaktuPemberian, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FRekonsiliasiObat.Obat_List[i].Model.WaktuPemberian, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[i].Model.Indikasi, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FRekonsiliasiObat.Obat_List[i].Model.Indikasi, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[i].Model.DilanjutkanSaatRI, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FRekonsiliasiObat.Obat_List[i].Model.DilanjutkanSaatRI, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[i].Model.DilanjutkanSaatPulang, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FRekonsiliasiObat.Obat_List[i].Model.DilanjutkanSaatPulang, "", new { @class = "text-danger" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.FRekonsiliasiObat.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFCatatanPemberianObat", new { noreg = Model.FRekonsiliasiObat.NoReg })" target="_blank"
                           class="btn btn-success" @(Model.FRekonsiliasiObat.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--Select obat-->
<script type="text/javascript">

    @if (Model != null)
    {
        if (Model.FRekonsiliasiObat.Alergi_List != null)
        {
            for (var i = 0; i < Model.FRekonsiliasiObat.Alergi_List.Count; i++)
            {

                    @:customdetailRekonsiliasiAlergi_Detail(@i, { target: $('#d_tbl_Alergi thead a i')[0] }, '@d_trg_Alergi', false);
            }
        }
        if (Model.FRekonsiliasiObat.Obat_List != null)
        {
            for (var i = 0; i < Model.FRekonsiliasiObat.Obat_List.Count; i++)
            {

                    @:customdetailRekonsiliasiObat_Detail(@i, { target: $('#d_tbl_Obat thead a i')[0] }, '@d_trg_Obat', false);
            }
        }
    }

    function customdetailRekonsiliasiAlergi_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobatalergi = '#panel_detailFRekonsiliasiObatAlergi #FRekonsiliasiObat_Alergi_List_' + index_detail + '__Model_KodeObat';

        $(_strobatalergi).select2({
            ajax: {
                url: "@Url.Action("ListObat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama_Barang',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Barang, text: value.Nama_Barang } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailRekonsiliasiObat_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobatobat = '#panel_detailFRekonsiliasiObatObat #FRekonsiliasiObat_Obat_List_' + index_detail + '__Model_KodeObat';

        $(_strobatobat).select2({
            ajax: {
                url: "@Url.Action("ListObat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama_Barang',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Barang, text: value.Nama_Barang } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

</script>

<!--INPUT DETAIL TABLE-->
@{
    if (Model != null)
    {
        Model.FRekonsiliasiObat.Alergi_List = null;
        Model.FRekonsiliasiObat.Obat_List = null;
    }
}

<div id="@d_trg_Alergi" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Alergi_List[-1].Remove,
        new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Alergi_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detailsaraf(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Alergi_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Alergi_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("HH':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.FRekonsiliasiObat.Alergi_List[-1].Model.KodeObat,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Alergi_List[-1].Model.KeparahanAlergi, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Alergi_List[-1].Model.ReaksiAlergi, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>
</div>

<div id="@d_trg_Obat" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[-1].Remove,
        new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detailsaraf(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("HH':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.FRekonsiliasiObat.Obat_List[-1].Model.KodeObat,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[-1].Model.Dosis, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[-1].Model.WaktuPemberian, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[-1].Model.Indikasi, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[-1].Model.DilanjutkanSaatRI, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FRekonsiliasiObat.Obat_List[-1].Model.DilanjutkanSaatPulang, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>
</div>

<!--Auto Detail-->
<script type="text/javascript">

    function autoid_detailsaraf(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }
</script>
