﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "LaporanPersalinan";
    ViewBag.Title = controllerName;
    var formName = $"frm_LaporanPersalinan_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatelaporanbersalin (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.LprnPersln.NoReg)
        @Html.HiddenFor(Model => Model.LprnPersln.SectionID)
        @Html.HiddenFor(Model => Model.LprnPersln.NRM)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">LAPORAN PERSALINAN</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Keadaan Ibu Pasca Persalinan :</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LprnPersln.KeadaanIbu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.KeadaanIbu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Keadaan Umum :</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LprnPersln.KeadaanUmum, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.KeadaanUmum, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">Nadi </label>
                                @Html.EditorFor(model => model.LprnPersln.KeadaanUmum, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.KeadaanUmum, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">Tekanan Darah </label>
                                @Html.EditorFor(model => model.LprnPersln.TekananDarah, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.TekananDarah, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">Suhu Badan </label>
                                @Html.EditorFor(model => model.LprnPersln.Suhu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.Suhu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">Hb </label>
                                @Html.EditorFor(model => model.LprnPersln.HB_Ibu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.HB_Ibu, "", new { @class = "text-danger" })
                                <label class="input-group-addon">g% </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Uterus :</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LprnPersln.Uterus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.Uterus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Pendarahan :</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <label class="input-group-addon">Kala III</label>
                                @Html.EditorFor(model => model.LprnPersln.PendarahanKalaIII, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.PendarahanKalaIII, "", new { @class = "text-danger" })
                                <label class="input-group-addon">cc</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">Kala IV</label>
                                @Html.EditorFor(model => model.LprnPersln.PendarahanKalaIV, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.PendarahanKalaIV, "", new { @class = "text-danger" })
                                <label class="input-group-addon">cc</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            PLACENTA :
                        </label>
                        <label class="control-label col-md-2">
                            Bentuk/Ukuran :
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LprnPersln.BetukUkuran, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.BetukUkuran, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-offset-1 col-md-2">
                            Tali Pusat :
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LprnPersln.TaliPusat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.TaliPusat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-offset-1 col-md-2">
                            Kulit Ketuban :
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LprnPersln.KuliKetuban, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.KuliKetuban, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            Anak :
                        </label>
                        <label class="control-label col-md-2">
                            Jenis Kelamin :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.LprnPersln.Anak_JenisKelamin, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.Anak_JenisKelamin, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">
                            Lahir hidup/mati :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.LprnPersln.Anak_Lahir, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.Anak_Lahir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-md-offset-1">
                            Berat Badan :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.LprnPersln.Anak_BeratBadan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.Anak_BeratBadan, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">
                            Panjang Badan :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.LprnPersln.Anak_PanjangBadan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.Anak_PanjangBadan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-md-offset-1">
                            Lingkar Dada :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.LprnPersln.Anak_LingkarDada, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.Anak_LingkarDada, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">
                            Lingkar Kepala :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.LprnPersln.Anak_LingkarKepala, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.Anak_LingkarKepala, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-md-offset-1">
                            Kelainan Kongential :
                        </label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.LprnPersln.KelaiananKongential, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.KelaiananKongential, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Untuk bayi yang keadaan jelek : Lahir hidup kemudian meninggal:
                        </label>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.EditorFor(model => model.LprnPersln.BayiKeadaanJelek, new { htmlAttributes = new { @class = "form-control", Value = (Model.LprnPersln.BayiKeadaanJelek != null ? (Model.LprnPersln.BayiKeadaanJelek.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.BayiKeadaanJelek, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Mnt/Jam Post Partum
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Bayi lahir mati : Sebab kelahiran mati :
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LprnPersln.SebabKelahiranMati, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.SebabKelahiranMati, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <tr>
                                    <th class="text-center">0</th>
                                    <th class="text-center">1</th>
                                    <th class="text-center">2</th>
                                    <th class="text-center">APGAR - SCORE</th>
                                    <th class="text-center">1 mnt</th>
                                    <th class="text-center">5 mnt</th>
                                    <th class="text-center">10 mnt</th>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Tak ada</p>
                                    </td>
                                    <td>
                                        <p> < 100</p>
                                    </td>
                                    <td>
                                        <p> > 100</p>
                                    </td>
                                    <td>
                                        <p>Denyut Jantung</p>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Denyut_1mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Denyut_1mnt, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Denyut_5mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Denyut_5mnt, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Denyut_10mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Denyut_10mnt, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Tak ada</p>
                                    </td>
                                    <td>
                                        <p>Tak teratur</p>
                                    </td>
                                    <td>
                                        <p>Baik</p>
                                    </td>
                                    <td>
                                        <p>Pernafasan</p>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Pernafasan_1mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Pernafasan_1mnt, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Pernafasan_5mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Pernafasan_5mnt, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Pernafasan_10mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Pernafasan_10mnt, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Lemah</p>
                                    </td>
                                    <td>
                                        <p>Sedang</p>
                                    </td>
                                    <td>
                                        <p>Baik</p>
                                    </td>
                                    <td>
                                        <p>Tonus Otot</p>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Tonus_1mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Tonus_1mnt, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Tonus_5mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Tonus_5mnt, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Tonus_10mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Tonus_10mnt, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Tak ada</p>
                                    </td>
                                    <td>
                                        <p>Meringis</p>
                                    </td>
                                    <td>
                                        <p>Menangis</p>
                                    </td>
                                    <td>
                                        <p>Peka Rangsang</p>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Peka_1mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Peka_1mnt, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Peka_5mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Peka_5mnt, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Peka_10mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Peka_10mnt, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Biru/Putih</p>
                                    </td>
                                    <td>
                                        <p>Merah jambu ujung-ujung biru</p>
                                    </td>
                                    <td>
                                        <p>Merah jambu</p>
                                    </td>
                                    <td>
                                        <p>Warna</p>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Warana_1mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Warana_1mnt, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Warana_5mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Warana_5mnt, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Warana_10mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Warana_10mnt, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-center text-bold">
                                        <p>Total</p>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Total_1mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Total_1mnt, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Total_5mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Total_5mnt, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LprnPersln.Total_10mnt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LprnPersln.Total_10mnt, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-8">
                            Catatan bila bayi telah lahir
                        </label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Hb
                                </label>
                                @Html.EditorFor(model => model.LprnPersln.Hb, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.Hb, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    g%
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Leko
                                </label>
                                @Html.EditorFor(model => model.LprnPersln.Leko, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.Leko, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    /mm3
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Bayi Lahir tanggal
                                </label>
                                @Html.EditorFor(model => model.LprnPersln.BayiLahirTgl, new { htmlAttributes = new { @class = "form-control", Value = (Model.LprnPersln.BayiLahirTgl != null ? (Model.LprnPersln.BayiLahirTgl.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.BayiLahirTgl, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Jam
                                </label>
                                @Html.EditorFor(model => model.LprnPersln.BayiLahirJam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.LprnPersln.BayiLahirJam != null ? Model.LprnPersln.BayiLahirJam.Value.ToString("HH':'mm") : "") : "") } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.BayiLahirJam, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Golongan
                                </label>
                                @Html.EditorFor(model => model.LprnPersln.Golongan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.Golongan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Ditolong oleh:</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.LprnPersln.DitolongOleh, Model.LprnPersln.DitolongOleh == null ? new List<SelectListItem>() :
                        new List<SelectListItem>() { new SelectListItem() { Value = Model.LprnPersln.DitolongOleh.ToString(), Text = Model.LprnPersln.DitolongOlehNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnPersln.DitolongOleh, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">Ureum</label>
                                @Html.EditorFor(model => model.LprnPersln.Ureum, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.Ureum, "", new { @class = "text-danger" })
                                <label class="input-group-addon">mg%</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Komplikasi:</label>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.LprnPersln.Komplikasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnPersln.Komplikasi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">Gula Darah</label>
                                @Html.EditorFor(model => model.LprnPersln.GulaDarah, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.GulaDarah, "", new { @class = "text-danger" })
                                <label class="input-group-addon">mg%</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Bayi Lahir</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.LprnPersln.BayiLahir, StaticModel.ListBayiLahir, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnPersln.BayiLahir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="input-group">
                                <label class="input-group-addon">Berat</label>
                                @Html.EditorFor(model => model.LprnPersln.BeratBayi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.BeratBayi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">gram</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label class="input-group-addon">Panjang</label>
                                @Html.EditorFor(model => model.LprnPersln.PanjangBayi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.PanjangBayi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">cm</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">Dirawat di</label>
                                @Html.EditorFor(model => model.LprnPersln.DirawatDi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.DirawatDi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">Urin</label>
                                @Html.EditorFor(model => model.LprnPersln.Urin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.Urin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Keluhan Sekarang :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.LprnPersln.KeluhanSekarang, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnPersln.KeluhanSekarang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="col-md-2 control-label">Status Prasens :</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LprnPersln., new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnPersln.GulaDarah, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.LprnPersln.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFLaporanPersalinan", new { noreg = Model.LprnPersln.NoReg, Model.LprnPersln.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.LprnPersln.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var ditolong = $('#@formName #LprnPersln_DitolongOleh');

    ditolong.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
</script>

<script>
    function oncompletecreatelaporanbersalin(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#laporanpersalianan').click();
    }
</script>







