﻿@{
    var sett = Request.Cookies["PelayananRegistrasiPasienList"];
    var controllerName = "RegistrasiPasienRJ";
    ViewBag.Title = "Registrasi Pasien";
    var tableId = $"table_{controllerName}";
    string settval;
    if (sett == null)
    {
        settval = "List";
    }
    else
    {
        settval = Request.Cookies["PelayananRegistrasiPasienList"].Value;
    }
}

@if (settval == "Card")
{

    if (Request.Cookies["SectionIDPelayanan"].Value == "SEC000")
    {
        @Html.Partial("RegistrasiPasienRJListRegistrasiPegawai")
    }
    else
    {
        @Html.Partial("RegistrasiPasienRJCard")
    }
}
else
{
    if (Request.Cookies["SectionIDPelayanan"].Value == "SEC000")
    {
        @Html.Partial("RegistrasiPasienRJListRegistrasiPegawai")
    }
    else
    {
        @Html.Partial("RegistrasiPasienRJList")
    }
}

<script>

    function openmedicalrecord(t) {
    @if (Request.Cookies["TipePelayanan"].Value == "PENUNJANG2")
    {
            <text>
                var url = '@Html.Raw(Url.Action("Index", "MedicalRecord", new
                      {
                          noreg = "@noreg",
                          nomor = "@nomor"
                      }))';

                var jtr = $(t).closest('.trdata');
        url = url.replace("%40noreg", jtr.data('infonoreg')).replace("%40nomor", jtr.data('infonomor'));
        window.location = url;
            </text>
    }

    else
    {
            <text>
                var url = '@Html.Raw(Url.Action("Index", "MedicalRecord", new
                      {
                          noreg = "@noreg",
                          nomor = "@nomor"
                      }))';

                var jtr = $(t).closest('.trdata');
        url = url.replace("%40noreg", jtr.data('infonoreg')).replace("%40nomor", jtr.data('infonomor'));
        window.location = url;
            </text>
    }

        @*var url = '@Html.Raw(Url.Action("Index", "MedicalRecord", new { noreg = "@noreg", nomor = "@nomor" }))';*@
        //var jtr = $(t).closest('.trdata');
        //url = url.replace("%40noreg", jtr.data('infonoreg')).replace("%40nomor", jtr.data('infonomor'));
        //window.location = url;
    }

    function openodontogram(t) {
        var url = '@Html.Raw(Url.Action("Index", "Odontogram", new
                      {
                          noreg = "@noreg",
                          nomor = "@nomor"
                      }))';

        var jtr = $(t).closest('.trdata');
        url = url.replace("%40noreg", jtr.data('infonoreg')).replace("%40nomor", jtr.data('infonomor'));
        window.location = url;
    }



    function openmedicalrecordregistrasi(t) {
    var url = '@Html.Raw(Url.Action("Index", "Registrasi", new
            {
                noreg = "@noreg"
            }))';

    var jtr = $(t).closest('.trdata');
    url = url.replace("%40noreg", jtr.data('infonoreg')).replace("%40nomor", jtr.data('infonomor'));
    window.location = url;
    }

    angular.element(document).ready(function () {
        var date = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
        sc.filter[22] = date;
        sc.filter[23] = date;
        sc.getdatas();
    });

    var noreg;
    var nomor;
    var idMfinger;
    function askbatalonclick(t) {
        var jtr = $(t).closest('.trdata');
        $('#modalBatal').modal();
        $('#textalasanbatal').val('');
        noreg = jtr.data('infonoreg');
        nomor = jtr.data('infonomor');
    }

    function submitbatalonclick() {
        if ($('#textalasanbatal').val() == '') {
            alertpopup('alasan batal harus diisi', 'danger');
        } else {
            myajax({
                url: '@Url.Action("Batal", "RegistrasiPasien")',
                data: { noreg: noreg, nomor: nomor, alasan: $('#textalasanbatal').val() },
                success: function (data) {
                    if (data.IsSuccess) {
                        $('#modalBatal').modal('hide');
                        alertpopup('Registrasi telah dibatalkan', 'success');
                        angular.element('#@tableId').scope().getdatas();
                    } else
                        alertpopup(data.Message, 'danger');
                }
            });
        }
    }

    function openmodal(t) {
        var jtr = $(t).closest('.trdata');
        $('#infonoantri').html(jtr.data('infonoantri'));
        $('#infokamar').html(jtr.data('infokamar') || '-');
        $('#infonobed').html(jtr.data('infonobed') || '-');
        $('#infonoreg').html(jtr.data('infonoreg') || '-');
        $('#infotanggal').html(jtr.data('infotanggal') || '-');
        $('#infojam').html(jtr.data('infojam') || '-');
        $('#infonrm').html(jtr.data('infonrm') || '-');
        $('#infonamapasien').html(jtr.data('infonamapasien') || '-');
        $('#infojeniskelamin').html(jtr.data('infojeniskelamin') == "M" ? "Laki-Laki" : jtr.data('infojeniskelamin') == "F" ? "Perempuan" : "Lain");
        $('#infonamadokter').html(jtr.data('infonamadokter') || '-');
        $('#infojeniskerjasama').html(jtr.data('infojeniskerjasama') || '-');
        $('#infonama_customer').html(jtr.data('infonama_customer') || '-');
        $('#infonokartu').html(jtr.data('infonokartu') || '-');
        $('#infosectionname').html(jtr.data('infosectionname') || '-');
        $('#infosectionasalname').html(jtr.data('infosectionasalname') || '-');
        $('#infosudahperiksa').html(jtr.data('infosudahperiksa') ? '<label class="label label-danger">Sudah</label>' : '<label class="label label-default">Belum</label>');
        $('#infonobill').html(jtr.data('infonobill') || '-');
        $('#infonomor').html(jtr.data('infonomor') || '-');
        $('#infostatusbayar').html(jtr.data('infostatusbayar') || '-');
        $('#infobatal').html(jtr.data('infobatal') ? '<label class="label label-danger">Batal</label>' : '<label class="label label-default">Tidak</label>');
        $('#infoalasanbatal').html(jtr.data('infoalasanbatal') || '-');
        if (jtr.data('infobatal') == true)
            $('#infoalasanbatal').closest('.dl-horizontal').css('display', '');
        else
            $('#infoalasanbatal').closest('.dl-horizontal').css('display', 'none');
        $('#modalInfo').modal();
    }

    function deletemfinger(t) {
        var jtr = $(t).closest('.trdata');
        idMfinger = jtr.data('id');
        $('#modalDeletePegawaiMfinger').modal();
        $('#iduserpegawai').val(idMfinger);
        $('#Namafingerpegawai').html(jtr.data('infonamapasien'));
    }

    function submitdeleteonclick() {
        if ($('#iduserpegawai').val() == '') {
            alertpopup('NRM Tidak Ditemukan');
        } else {
            myajax({
                url: '@Url.Action("DeleteFingerPasien", "RegistrasiPasien")',
                data: { id: idMfinger},
                success: function (data) {
                    if (data.IsSuccess) {
                        $('#modalDeletePegawaiMfinger').modal('hide');
                        alertpopup('Data telah dihapus', 'success');
                        angular.element('#@tableId').scope().getdatas();
                    } else
                        alertpopup(data.Message, 'danger');
                }
            });
        }
    }
</script>

<div id="modalInfo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Info Registrasi</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>No Reg</dt>
                            <dd id="infonoreg"></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>No Antri</dt>
                            <dd id="infonoantri"></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Tanggal</dt>
                            <dd>
                                <text id="infotanggal"></text>
                                &nbsp;&nbsp;&nbsp;<b>Jam</b>&nbsp;
                                <text id="infojam"></text>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>NRM</dt>
                            <dd id="infonrm"></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Nama Pasien</dt>
                            <dd id="infonamapasien"></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Jenis Kelamin</dt>
                            <dd id="infojeniskelamin"></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Section</dt>
                            <dd id="infosectionname"></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Section Asal</dt>
                            <dd id="infosectionasalname"></dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>Dokter</dt>
                            <dd id="infonamadokter"></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Jenis Kerjasama</dt>
                            <dd id="infojeniskerjasama"></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Nama Customer</dt>
                            <dd id="infonama_customer"></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>No Kartu</dt>
                            <dd id="infonokartu"></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Sudah Periksa</dt>
                            <dd id="infosudahperiksa"></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Batal</dt>
                            <dd id="infobatal"></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Alasan Batal</dt>
                            <dd id="infoalasanbatal"></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modalBatal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Batal</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Alasan Batal</label>
                    <textarea id="textalasanbatal" class="form-control" style="max-width:100%;min-width:100%"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="submitbatalonclick()">Submit &nbsp;<i class="icon-trash"></i></button>
            </div>
        </div>
    </div>
</div>

<div id="modalDeletePegawaiMfinger" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Hapus Finger</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">NAMA</label>
                    <div class="col-md-10">
                        <input id="iduserpegawai" type="hidden" readonly />
                        <text id="Namafingerpegawai" class="text-bold"></text>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="submitdeleteonclick()">Submit &nbsp;<i class="icon-trash"></i></button>
            </div>
        </div>
    </div>
</div>
<script>

    function registrasifingerpegawai(t) {
        var jtr = $(t).closest('.trdata');
        var data = jtr.data('id');
        var url = '@Html.Raw(Url.Action("CreatePetugas", "RegisterFinger", new { id = "@id"}))';
        url = url.replace('%40id', data);
                angular.element('#modal_@controllerName').scope().ajaxmodal({
                    url: url,
                    header: 'Register',
                    target_auto_refresh: '@tableId'
                });
    }
</script>

<div class="modal fade" id="modal_@controllerName" aria-labelledby="myModalLabel" ng-controller="form">

</div>
