﻿@using EMRRSBK.Models
@model OrderPenunjangViewModel
@{
    var controllerName = "MemoPenunjang";
    ViewBag.Title = "Order Penunjang";
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    <form id="@formName" onsubmit="submitformbilling(this)">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.SectionAsalID, new { Value = ViewBag.Section })
        @Html.HiddenFor(x => x.NoReg, new { Value = ViewBag.NoReg })

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-semibold">Section Penunjang</label>
                            @Html.DropDownListFor(model => model.SectionID, StaticModel.ListSectionPenunjang, new { @class = "form-control", @onchange = "get_JenisKelompokJasa();" })
                            @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-semibold">Dokter</label>
                            @Html.DropDownListFor(model => model.DokterID, new List<SelectListItem>() {
                                new SelectListItem(){ Text = ViewBag.NamaDokter, Value = ViewBag.DokterID, Selected = true }
                            }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="control-label text-semibold">Tanggal Sampling</label>
                    @Html.EditorFor(model => model.JamSampling_Tgl, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Today.ToString("yyyy-MM-dd") } })
                    @Html.ValidationMessageFor(model => model.JamSampling_Tgl, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <label class="control-label text-semibold">Jam Sampling</label>
                    @Html.EditorFor(model => model.JamSampling_Jam, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.ToString("HH:mm") } })
                    @Html.ValidationMessageFor(model => model.JamSampling_Jam, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-semibold">Diagnosa</label>
                            @Html.TextAreaFor(model => model.DiagnosaIndikasi, new { @class = "form-control", Value = ViewBag.DiagnosaIndikasi, @required = "required" })
                            @Html.ValidationMessageFor(model => model.DiagnosaIndikasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <label class="control-label text-semibold">Manual Order</label>
                    <label class="pull-right">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Hasil_Cito)
                            CITO
                        </label>
                    </label>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tablebillingjasa">
                            <thead>
                                <tr class="bg-black">
                                    <th class="text-center" style="width: 60px;">
                                        <a class="text-white" onclick="modalopenjasa()">
                                            <i class="icon-plus3"></i>
                                        </a>
                                    </th>
                                    <th class="text-center" style="width: 100px;">ID</th>
                                    <th class="text-center">Deskripsi</th>
                                    <th class="text-center" style="width: 100px;">Qty</th>
                                    <th class="text-center" style="width: 150px;">Tarif</th>
                                    <th class="text-center" style="width: 100px;">Disc</th>
                                    <th class="text-center">Nama Petugas</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div class="row hidden">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tablebillingjasadetail">
                            <thead>
                                <tr>
                                    <th class="text-center">Komponen</th>
                                    <th class="text-center" style="width: 150px;">Harga</th>
                                    <th class="text-center" style="width: 100px;">Disc %</th>
                                    <th class="text-center" style="width: 150px;">Disc</th>
                                    <th class="text-center" style="width: 150px;">Jumlah</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-semibold">Catatan Pemeriksaan</label>
                            @Html.TextAreaFor(model => model.PemeriksaanTambahan, new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanTambahan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div id="target_JenisKelompokJasa"></div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("LookUpBillingJasa")
<style>
    .bg-black {
        background: #37474f;
        color: #fff;
    }
</style>
<script>
    $('#@formName #SectionID').select2();

    function submitformbilling(t) {
        var omJasa = [];
        $("#target_JenisKelompokJasa").find(".checkbox").each(function () {
            if ($(this).find("input[class='checkJasa']").is(':checked') == true) {
                omJasa.push({
                    UrutJenis: $(this).find("input[class='UrutJenis']").val(),
                    NamaJenis: $(this).find("input[class='NamaJenis']").val(),
                    UrutKelompok: $(this).find("input[class='UrutKelompok']").val(),
                    ID_Kelompok: $(this).find("input[class='ID_Kelompok']").val(),
                    NamaKelompok: $(this).find("input[class='NamaKelompok']").val(),
                    UrutJasa: $(this).find("input[class='UrutJasa']").val(),
                    NamaTindakan: $(this).find("input[class='NamaTindakan']").val(),
                    chckJasa: $(this).find("input[class='checkJasa']").is(':checked'),
                    JasaID: $(this).find("input[class='JasaID']").val(),
                });
            }
        });
        console.log(omJasa);
        console.log('@ViewBag.NoReg');
        console.log($('#@formName #SectionID').val());
        console.log($('#@formName #SectionAsalID').val());
        console.log($('#@formName #DokterID').val());
        console.log($('#@formName #DiagnosaIndikasi').val());
        console.log($('#@formName #PemeriksaanTambahan').val());

        myajax({
            url: "@Url.Action("Create", controllerName)",
            type : "POST",
            data: {
                NoReg: '@ViewBag.NoReg',
                SectionID: $('#@formName #SectionID').val(),
                SectionAsalID: $('#@formName #SectionAsalID').val() ,
                DokterID: $('#@formName #DokterID').val(),
                DiagnosaIndikasi: $('#@formName #DiagnosaIndikasi').val(),
                Hasil_Cito: $('#@formName #Hasil_Cito').is(':checked'),
                PemeriksaanTambahan: $('#@formName #PemeriksaanTambahan').val(),
                JamSampling_Tgl: $('#@formName #@nameof(Model.JamSampling_Tgl)').val(),
                JamSampling_Jam: $('#@formName #@nameof(Model.JamSampling_Jam)').val(),
                OrderManual: headerdetail,
                Jasa: omJasa
            },
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    console.log(dt);
                    alertpopup('Berhasil disimpan', 'success');
                } else {
                    alertpopup(dt.Message, 'danger');
                }
                $(".modal").modal('hide');
                $("#reload_getDatas").click();
            }
        });
    }

    $('#@formName #DokterID').select2({
        ajax: {
            url: "@Url.Action("List", "Dokter")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    get_JenisKelompokJasa();

    function get_JenisKelompokJasa() {
        var getSection = $("#@formName #SectionID").val();
        myajax({
            url: '@Url.Action("get_JenisKelompokJasa", "MemoPenunjang")',
            data: {
                section: getSection,//section,
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    var html = "";
                    var counter = 0;
                    dt.Jenis.forEach(x => {

                        html += `<div class="row">`;

                        html += `<div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-heading bg-black" style="padding: 9px 20px;">
                                            <h6 class="panel-title">
                                                `+ x.Nama + `
                                            </h6>
                                        </div>

                                        <div class="panel-body no-padding no-margin">
                                            <div class="col-lg-12">
                                                `;

                        var rowCount = 0;
                        dt.Kelompok.filter(xx => xx.JenisID == x.ID).forEach(y => {

                            html += `<div class="row SECOND-` + rowCount + `">`;

                            rowCount++;
                            html += `
                                                                                        <div class="col-md-12 no-padding no-margin">
                                                                                            <table class="table">
                                                                                                <tr style="background:#eee;">
                                                                                                    <th>`+ y.Nama + `</th>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td>`;
                            dt.Jasa.filter(xxx => xxx.Kelompok_ID == y.ID).forEach(z => {
                                html += `<div class="col-md-3"><label class="checkbox checkbox-inline">
                                                                                            <input type="hidden" class="UrutJenis" name="UrutJenis[]" value="`+ x.Nomor + `" />
                                                                                            <input type="hidden" class="NamaJenis" name="NamaJenis[]" value="`+ x.Nama + `" />
                                                                                            <input type="hidden" class="UrutKelompok" name="UrutKelompok[]" value="`+ y.Nomor + `" />
                                                                                            <input type="hidden" class="ID_Kelompok" name="ID_Kelompok[]" value="`+ y.ID + `" />
                                                                                            <input type="hidden" class="NamaKelompok" name="NamaKelompok[]" value="`+ y.Nama + `" />
                                                                                            <input type="hidden" class="UrutJasa" name="UrutJasa[]" value="`+ z.Nomor + `" />
                                                                                            <input type="hidden" class="NamaTindakan" name="NamaTindakan[]" value="`+ z.NamaJasa + `" />
                                                                                            <input type="checkbox" class="checkJasa" name="checkJasa[]" value="" />
                                                                                            <input type="hidden" class="JasaID" name="JasaID[]" value="`+ z.JasaID + `" />
                                                                                            `+ z.NamaAlias + `
                                                                                        </label><br /></div>`;
                            });
                            html += `           </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </div>`;

                                html += `</div>`;
                        });


                        html += `            </div>
                                        </div>
                                    </div>
                                </div>`;

                            html += `</div>`;

                    });

                    $("#target_JenisKelompokJasa").html(html);

                }
            }
        });
    }

    $(document).ready(function () {
        var nilaidiagnosa = $('#DiagnosaIndikasi').val();
        if (nilaidiagnosa == '') {
        $('#DiagnosaIndikasi').val('@ViewBag.DiagnosaIndikasi');
        }
    });
</script>
