﻿@using EMRRSBK.Models
@using EMRRSBK.Entities
@using iHos.MVC.Converter
@using Newtonsoft.Json
@{
    var tableId = $"divtablelookup_m_jasa";
    var item = new Pelayanan_LookupTarif_Result();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.JasaID);
    column[1] = nameof(item.JasaName);
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 100px;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){

    }

    #tablebillingjasa thead th:nth-child(6),
    #tablebillingjasa tbody td:nth-child(6),
    #tablebillingjasadetail thead th:nth-child(3),
    #tablebillingjasadetail tbody td:nth-child(3),
    #tablebillingjasadetail thead th:nth-child(4),
    #tablebillingjasadetail tbody td:nth-child(4),
    #tablebillingjasadetail thead th:nth-child(5),
    #tablebillingjasadetail tbody td:nth-child(5){
        display:none;
    }
</style>
<div class="modal fade" tabindex="-1" role="dialog" id="modalbillingjasa">
    <div class="wall" ng-controller="table"
         ng-init="filterlength = @columnCount;
     url = '@Url.Action("ListJasa", "MemoPenunjang")';
     init();">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closemodaljasa()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Jasa</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <div class="checkbox" style="margin:0;">
                                <label>
                                    <input type="checkbox" ng-model="filter[10]" ng-change="getdatas()" />
                                    Semua Jasa
                                </label>
                            </div>
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li><a onclick="togglecheckbox('.filter_list_lookup_m_jasa')"><i class="icon-filter3"></i></a></li>
                                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="datatable-header">
                            <div class="dataTables_length filter_list_lookup_m_jasa" style="display:none">
                                <label>
                                    <span>Show:</span>
                                    <select class="form-control input-xs" style="width: auto;"
                                            ng-change="getdatas()"
                                            ng-model="pagesize"
                                            ng-options="opt as opt for opt in pagesizes"></select>
                                </label>
                            </div>
                        </div>
                        <div class="dataTables_scrollHead table-responsive">
                            <table class="table table-bordered dataTable" id="@tableId">
                                <thead>
                                    <tr ng-init="sort = '@column[0]'; sorttype = 'desc';">

                                        <!-- Column Sort -->
                                        <th ng-click="ordering($event,'@column[0]')" class="sorting">ID</th>
                                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Nama</th>

                                    </tr>
                                    <tr class="filter_list_lookup_m_jasa">

                                        <!-- Filter -->
                                        <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                                        <td><input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>

                                    </tr>
                                    <tr class="loading {{ loading ? '' : 'hide' }}">
                                        <td colspan="50">
                                            <div class="bubblingG center">
                                                <span id="bubblingG_1"></span>
                                                <span id="bubblingG_2"></span>
                                                <span id="bubblingG_3"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody class="{{ loading ? 'hide' : '' }}">
                                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                                        data-value='{ "id" : "{{data.@(column[0])}}", "nama" : "{{data.@(column[1])}}" }'
                                        data-detail-index="{{ $index }}" ng-click="modaljasatrclick($event)">

                                        <!-- Table Result -->
                                        <td>{{data.@(column[0])}}</td>
                                        <td>{{data.@(column[1])}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info">
                            {{ datainfo }}
                        </div>
                        <div class="dataTables_paginate paging_simple_numbers">
                            <ul class="pagination md-full-right" compile="pagination"></ul>
                            <button type="button" class="btn btn-success btn-multipleselected" onclick="modaljasapilih()">
                                Pilih <i class="icon-checkmark2"></i>
                            </button>
                        </div>
                    </div>
                    <div ng-init="pagesize = 5; getdatas();"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var tbody = $('#tablebillingjasa').find('tbody');
    tbody.find('.ready-to-select2').select2(jsondokter());
    tbody.find('.ready-to-select2').on("select2:select", jsondokteronchange);
    tbody.find('.ready-to-select2').removeClass('ready-to-select2');

    function modalopenjasa() {
        if (($('#frm_MemoPenunjang_create #DokterID').val() || '') == '') {
            alertpopup('Dokter harus diisi', 'warning');
        } else {
            $('#modalbillingjasa').modal();
        }
    }

    function closemodaljasa() {
        $('#modalbillingjasa').modal('hide');
    }

    var lastid = 0;
    var headerdetail = [];

    function modaljasapilih() {
        var tr = '';
        $.each($('#modalbillingjasa tbody tr.active-info'), function (i, v) {
            lastid++;
            var j = $(v).removeClass('active-info').data('value');
            var m = {
                id: lastid,
                jasaid: j.id,
                jasanama: j.nama,
                section: $('#frm_MemoPenunjang_create #SectionID option:selected').val(),
                noreg: $('#frm_MemoPenunjang_create #NoReg').val(),
                qty: 1,
                tarif: 0,
                diskon: 0,
                dokter: $('#frm_MemoPenunjang_create #DokterID option:selected').val(),
                namadokter: $('#frm_MemoPenunjang_create #DokterID option:selected').text(),
                kategorioperasi: $('#frm_MemoPenunjang_create #KategoriOperasi option:selected').val() || null,
                cito: $('#frm_MemoPenunjang_create #Cito')[0] === undefined ? 0 : ($('#frm_MemoPenunjang_create #Cito')[0].checked ? 1 : 0),
                detail: []
            };
            getdetailtarifjasa(m);
        });
        closemodaljasa();
    }

    function getdetailtarifjasa(m) {
        $.ajax({
            url: '@Url.Action("GetTarif", "MemoPenunjang")',
            method: 'POST',
            data: {
                jasa: m.jasaid,
                dokter: m.dokter,
                section: m.section,
                noreg: m.noreg,
                cito: m.cito,
                kategorioperasi: m.kategorioperasi
            },
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    m.tarif = dt.Tarif;
                    var tr = '';
                    tr += '<tr data-id="' + m.id + '">';
                    tr += '<td class="text-center"><a class="text-danger-600" onclick="removedetailjasa(this)"><i class="icon-trash"></i></a></td>';
                    tr += '<td><input type="text" value="' + m.jasaid + '" class="form-control" readonly></td>';
                    tr += '<td><input type="text" value="' + m.jasanama + '" class="form-control" readonly></td>';
                    tr += '<td><input type="number" required onchange="updateqtyjasa(this, ' + m.id + ')" value="' + m.qty + '" class="form-control text-right"></td>';
                    tr += '<td><input type="text" value="' + getcurrencyfromfloat(m.tarif) + '" class="form-control text-right" readonly></td>';
                    tr += '<td><input type="text" value="' + getcurrencyfromfloat(m.diskon) + '" class="diskon form-control text-right" readonly></td>';
                    //tr += '<td><input type="text" value="' + m.namadokter + '" class="form-control" readonly></td>';
                    tr += '<td><select class="ready-to-select2"><option value="' + m.dokter + '">' + m.namadokter + '</option></select></td>';
                    tr += '</tr>';
                    $('#tablebillingjasa tbody').append(tr);
                    headerdetail.push({
                        JasaID: m.jasaid,
                        Qty: m.qty,
                        Tarif: m.tarif,
                        DokterID: m.dokter,
                        Keterangan: m.namadokter
                    });
                    hitungjumlahtotal();
                    var tbody = $('#tablebillingjasa').find('tbody');
                    tbody.find('.ready-to-select2').select2(jsondokter());
                    tbody.find('.ready-to-select2').on("select2:select", jsondokteronchange);
                    tbody.find('.ready-to-select2').removeClass('ready-to-select2');
                } else {
                    alertpopup(dt.Message, 'danger');
                }
            },
            error: function (xhr) {
               Modelalertpopup(xhr.responseText || 'Server Error', 'danger');
            },
        });
    }

    function jsondokteronchange(e) {
        var id = $(e.target).closest('tr').data('id');
        var v = $(e.target).find('option:selected');
        headerdetail.filter(x => x.id == id)[0].dokter = v.val();
        headerdetail.filter(x => x.id == id)[0].namadokter = v.text();
    }

    function jsondokter() {
        return {
            ajax: {
                url: "@Url.Action("SelectDokter", "Service")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;

                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            },
            select: function () {
                alert('X');
            }
        }
    }

    function updateqtyjasa(t, id) {
        var h = headerdetail.map(function (x, i) { if (x.id == id) return x; }).filter(x => x != undefined)[0];
        h.qty = parseFloat(t.value);
        hitungjumlahtotal();
    }

    function viewdetailjasa(id, t) {
        $('#tablebillingjasa tbody .active-info').removeClass('active-info');
        $(t).closest('tr').addClass('active-info');
        var h = headerdetail.map(function (x, i) { if (x.id == id) return x; }).filter(x => x != undefined)[0];
        var r = '';
        $.each(h.detail, function (i, v) {
            r += '<tr>';
            r += '<td><input type="text" value="' + v.komponennama + '" class="form-control" readonly></td>';
            r += '<td><input type="text" value="' + getcurrencyfromfloat(v.harga) + '" class="form-control text-right" readonly></td>';
            r += '<td><input type="number" required onchange="updatediskondetail(this, ' + id + ',\'' + v.komponenid + '\')" value="' + v.diskon + '" class="form-control text-right" max="100" min="0"></td>';
            r += '<td><input type="text" max value="' + getcurrencyfromfloat(v.diskonnilai) + '" class="form-control text-right diskonnilai" readonly></td>';
            r += '<td><input type="text" value="' + getcurrencyfromfloat(v.jumlah) + '" class="form-control text-right jumlah" readonly></td>';
            r += '</tr>';
        });
        $('#tablebillingjasadetail tbody').html(r);
    }

    function updatediskondetail(t, id, detailid) {
        var h = headerdetail.map(function (x, i) { if (x.id == id) return x; }).filter(x => x != undefined)[0];
        var d = h.detail.map(function (x, i) { if (x.komponenid == detailid) return x; }).filter(x => x != undefined)[0];
        d.diskon = parseFloat(t.value);
        d.diskonnilai = ((d.harga / 100) * d.diskon);
        d.jumlah = d.harga - d.diskonnilai;
        var tr = $(t).closest('tr');
        tr.find(".diskonnilai").val(getcurrencyfromfloat(d.diskonnilai));
        tr.find(".jumlah").val(getcurrencyfromfloat(d.jumlah));
        hitungjumlahdiskon(id);
    }

    function hitungjumlahdiskon(id) {
        var h = headerdetail.map(function (x, i) { if (x.id == id) return x; }).filter(x => x != undefined)[0];
        h.diskon = 0;
        $.each(h.detail, function (i, v) {
            h.diskon += v.diskonnilai;
        });
        h.diskon = h.diskon;
        $('#tablebillingjasa tbody tr[data-id="' + id + '"] .diskon').val(getcurrencyfromfloat(h.diskon));
        hitungjumlahtotal();
    }

    function hitungjumlahtotal(){
        r = 0;
        $.each(headerdetail, function (i, v) {
            r += (v.tarif - v.diskon) * v.qty;
        });
        $('#frm_MemoPenunjang_create #Jumlah').val(getcurrencyfromfloat(r));
    }

    function removedetailjasa(t) {
        var tr = $(t).closest('tr');
        var index = headerdetail.map(function (x, i) { if (x.id == tr.data('id')) return i; }).filter(x => x != undefined);
        if (index >= 0) {
            headerdetail.splice(index, 1);
            tr.remove();
            hitungjumlahtotal();
            $('#tablebillingjasadetail tbody').html('');
        }
    }

    $('#modalbillingjasa').on('hidden.bs.modal', function () {
        if ($('.modal.in').length > 0) $('body').addClass('modal-open');
    })

    angular.element('#modalbillingjasa').ready(function () {
        var sc = angular.element('#modalbillingjasa').scope();
        sc.modaljasatrclick = function (e) {
            $(e.target).closest('tr').toggleClass('active-info');
        }
    });
</script>
