﻿@using EMRRSBK.Models
@model SettingViewModel
@{
    var controllerName = "Home";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_setting";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Setting", Value = "active" }
};
}

<div class="wall panel" ng-controller="form">
    <div class="panel-body">
        @using (Ajax.BeginForm("Setting", controllerName, null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "_loading",
            OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
        }, new { id = formName }))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2">Daftar Pasien</label>
                <div class="col-md-10">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.ListPasien, "Card")
                        Card
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.ListPasien, "List")
                        List
                    </label>
                    @Html.ValidationMessageFor(model => model.ListPasien, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Serial Number</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "form-control", } })
                    @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit" class="btn btn-success">Save <i class="icon-floppy-disk"></i></button>
                </div>
            </div>
        </div>
        }
    </div>
</div>