﻿@using EMRRSBK.Models
@model ResepViewModel
@{
    var controllerName = "Resep";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}_AlergiObat";
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };
    #region ==== MODAL Paket
    var target_Paket = new
    {
        t0 = $"#{nameof(Model.KodePaket)}",
        t1 = $"#{nameof(Model.NamaPaket)}",
    };
    var modalid_Paket = $"modal_{formName}_{nameof(Model.KodePaket)}";
    var modalName_Paket = "Paket";
    #endregion

    #region Detail
    var detail_barang = new ResepDetailViewModel();
    var table_detail_barang = $"frm_{controllerName}_table_detail_barang";
    var target_inputDetail_barang = $"inputDetail{controllerName}_barang";
    #endregion

    #region ==== MODAL Barang
    var targetForm = formName;
    var target_barang = new
    {
        t0 = $"#Detail_List_-1__Model_{nameof(detail_barang.Barang_ID)}",
        t1 = $"#Detail_List_-1__Model_{nameof(detail_barang.Kode_Barang)}",
        t2 = $"#Detail_List_-1__Model_{nameof(detail_barang.Nama_Barang)}",
        t3 = $"#Detail_List_-1__Model_{nameof(detail_barang.Satuan)}",
        t4 = $"#Detail_List_-1__Model_{nameof(detail_barang.Stok)}",
        t5 = $"#Detail_List_-1__Model_{nameof(detail_barang.Harga_View)}",
        t6 = $"#Detail_List_-1__Model_{nameof(detail_barang.Jumlah_View)}",
    };
    var modalName_barang = "Barang";
    var modalid_m_barang = $"modal_{formName}_{nameof(detail_barang.Kode_Barang)}";
    #endregion

    #region ==== MODAL Aturan Pakai
    //var targetFormAturan = formName;
    //var target_aturan = new
    //{
    //    t0 = $"#Detail_List_-1__Model_{nameof(detail_barang.AturanPakai)}",
    //};
    //var modalName_aturanPakai = "Aturan Pakai";
    //var modalid_aturanpakai = $"modal_{formName}_{nameof(detail_barang.Kode_Barang)}";
    #endregion

    int detail_barang_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_barang_index = Model.Detail_List.Count();
        }
    }
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }

    #@table_detail_barang thead th:nth-child(1),
    #@table_detail_barang tbody td:nth-child(1){
        display:none;
    }

    #@table_detail_barang thead th:nth-child(2),
    #@table_detail_barang tbody td:nth-child(2){
        width : 40px;
        text-align: center;
    }

    #@table_detail_barang thead th:nth-child(3),
    #@table_detail_barang tbody td:nth-child(3){
        display:none;
    }

    #@table_detail_barang thead th:nth-child(4),
    #@table_detail_barang tbody td:nth-child(4){
        display:none;
    }

    #@table_detail_barang thead th:nth-child(5),
    #@table_detail_barang tbody td:nth-child(5){
        width: 90px;
    }

    #@table_detail_barang thead th:nth-child(6),
    #@table_detail_barang tbody td:nth-child(6){
        width: 140px;
    }

    #@table_detail_barang thead th:nth-child(7),
    #@table_detail_barang tbody td:nth-child(7){
        width: 90px;
    }

    #@table_detail_barang thead th:nth-child(8),
    #@table_detail_barang tbody td:nth-child(8){
        width: 90px;
    }

    #@table_detail_barang thead th:nth-child(9),
    #@table_detail_barang tbody td:nth-child(9){
        width: 100px;
    }

    #@table_detail_barang thead th:nth-child(10),
    #@table_detail_barang tbody td:nth-child(10){
        width: 130px;
    }

    #@table_detail_barang thead th:nth-child(11),
    #@table_detail_barang tbody td:nth-child(11){
        width: 60px;
    }

    #@table_detail_barang thead th:nth-child(12),
    #@table_detail_barang tbody td:nth-child(12){
        width: 120px;
    }

    #@table_detail_barang thead th:nth-child(13),
    #@table_detail_barang tbody td:nth-child(13){
        width: 80px;
    }

    #@table_detail_barang thead th:nth-child(14),
    #@table_detail_barang tbody td:nth-child(14){
        width: 80px;
        text-align:center;
    }
</style>

<div class="wall panelshow" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatekujunganpoli(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SectionID, new { Value = ViewBag.Section })
        @Html.HiddenFor(model => model.NoRegistrasi, new { Value = ViewBag.Noreg })
        @Html.HiddenFor(model => model.Nomor, new { Value = ViewBag.Nomor })
        @Html.HiddenFor(model => model.NRM, new { Value = ViewBag.NRM })
        @Html.HiddenFor(model => model.KodePaket)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="panelresep" class="panel panel-info ">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1">
                        <div class="form-group text-center">
                            <label for="Cyto">Cyto</label>
                            <div>
                                @Html.CheckBoxFor(model => model.Cyto)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Farmasi</label>
                            @{
                                var lsfarmasi = StaticModel.ListSectionFarmasi;
                                if (lsfarmasi.FirstOrDefault(x => x.Value == "SECT0002") != null)
                                {
                                    lsfarmasi.FirstOrDefault(x => x.Value == "SECT0002").Selected = true;
                                }
                            }
                            @Html.DropDownListFor(model => model.Farmasi_SectionID, lsfarmasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Farmasi_SectionID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Dokter</label>
                            @Html.DropDownListFor(model => model.DokterID, new List<SelectListItem>() {
                                new SelectListItem(){ Text = ViewBag.NamaDokter, Value = ViewBag.DokterID, Selected = true }
                            }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Paket</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button data-toggle="modal" data-target="#@modalid_Paket" onclick="btnmodalpaketonclick(event)"
                                            class="btn btn-success input-lookup" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                                @Html.EditorFor(model => model.NamaPaket, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", onkeypress = "paketonkeypress(event, this)" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.NamaPaket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="col-md-2">
                            <div class="form-group">
                                <label>Jumlah</label>
                                @Html.EditorFor(model => model.Jumlah_View, new { htmlAttributes = new { @class = "form-control text-right", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Jumlah_View, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Berat Badan</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.BeratBadan, new { @class = "form-control text-right", type = "number" })
                                <span class="input-group-addon">Kg</span>
                            </div>
                            @Html.ValidationMessageFor(model => model.BeratBadan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group text-center">
                            <label>&nbsp;</label>
                            <div>
                                <button type="button" ng-click="$parent.ajaxmodal({
                                                    url: '@Url.Action("Index", "RiwayatAlergi", new { nrm = ViewBag.NRM })',
                                                    header: 'Alergi Obat',
                                                    target_auto_refresh : 'table_RiwayatAlergi',
                                                    size: 'lg'
                                                })"
                                        class="btn @(ViewBag.Alergi == "1" ? "btn-flash" : "") btn-success btn-sm">
                                    Alergi Obat
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="panel_detil_barang_@formName" class="detail" data-index-detail="@detail_barang_index">
            <div class="table-responsive">
                <table id="@table_detail_barang" class="table table-hover table-bordered">
                    <thead>
                        <tr>

                            <!-- Thead -->
                            <th>
                                <input type="checkbox" onclick="checkall(this)" />
                            </th>
                            <th class="text-center">
                                <a class="text-success-600" title="Semua Barang"
                                   data-toggle="modal" data-target="#@modalid_m_barang">
                                    <i class="icon-search4"></i>
                                </a>
                            </th>
                            <th></th>
                            <th>Id Barang</th>
                            <th>Kode Barang</th>
                            <th>Nama</th>
                            <th>Satuan</th>
                            <th>Aturan Pakai</th>
                            <th>Dosis</th>
                            <th>Ket Racik</th>
                            <th>Qty</th>
                            <th>Status Racikan</th>
                            <th>Jml Racikan</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.Detail_List != null)
                            {
                                for (var i = 0; i < Model.Detail_List.Count(); i++)
                                {
                                    <tr class="ng-scope">
                                        <!-- Check -->
                                        <td>
                                            <input type="checkbox" />
                                        </td>

                                        <!-- Delete button -->
                                        <td>
                                            <a class="text-danger-600"
                                               onclick="customremovetr(this)">
                                                <i class="icon-trash"></i>
                                            </a>
                                        </td>

                                        <!-- Remove Status -->
                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Remove,
                                          new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
                                        </td>

                                        <!-- Barang_Id -->
                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.Barang_ID, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm",
                                               onblur = "checkdetailprimarykey_barang(this)",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.Kode_Barang, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.Nama_Barang, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.Satuan, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.AturanPakai, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.TextBoxFor(model => model.Detail_List[i].Model.Dosis, new
                                       {
                                           @class = "form-control input-sm",
                                           @type = "number",
                                           onchange = "hitungjumlah(this)"
                                       })
                                        </td>

                                        <td>
                                            @Html.TextBoxFor(model => model.Detail_List[i].Model.Qty, new
                                       {
                                           @class = "form-control input-sm text-right",
                                           type = "number",
                                           Min = 1,
                                           Value = 1,
                                           onchange = "hitungjumlah(this)"
                                       })
                                        </td>

                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.Harga_View, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm text-right",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.Jumlah_View, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm text-right",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.EditorFor(model => model.Detail_List[i].Model.Stok, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control input-sm text-center",
                                               @readonly = "readonly"
                                           }
                                       })
                                        </td>

                                        <td>
                                            @Html.CheckBoxFor(model => model.Detail_List[i].Model.Racik, new
                                           {
                                               onchange = "hitungjumlah(this)"
                                           })
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />

        <div class="text-right">
            <button onclick="bukamodalhistory()" class="btn bg-purple-400" type="button"><i class="icon-pushpin"></i> <span>History</span></button>
            <button type="button" onclick="loadLastResep(event, this);" class="btn btn-warning">Resep Terakhir <i class="icon-copy2 position-right"></i></button>
            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
        </div>
    }
</div>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-xs modal-dialog" role="document">
        <div id="modalaturan" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aturan Pakai</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="detail_tablekunjunganpoli" />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Aturan</th>
                        </tr>
                    </thead>
                    <tbody id="aturan_table"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Pilih</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_historyresep" style="z-index:2000" aria-labelledby="myModalLabel" ng-controller="form">
    <div class="modal-dialog modal-full">
        @Html.Partial("~/Views/History/ListHistoryBanyak.cshtml")
    </div>
</div>

<script>

    $('#@formName #Farmasi_SectionID').select2().on('select2:select', function (e) {
        angular.element('#modal_frm_Resep_create_Kode_Barang').scope().filter[8] = $('#@formName #Farmasi_SectionID').val();
    });;

    angular.element('#modal_frm_Resep_create_Kode_Barang').ready(function () {
        angular.element('#modal_frm_Resep_create_Kode_Barang').scope().filter[8] = $('#@formName #Farmasi_SectionID').val();
    });

    function bukamodalhistory() {
        $('#modal_historyresep').modal();
        $('#refreshhsitorypasien').click();
    }

    function loadLastResep(e, t) {
        e.preventDefault();
            myajax({
                url: '@Url.Action("LastResep")',
                data: {
                    kode: $('#KodePaket').val(),
                    section: $('#@formName #Farmasi_SectionID').val(),
                    noreg: '@ViewBag.Noreg',
                    nomor : @ViewBag.Nomor,
                    nrm : '@ViewBag.NRM'
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        $('#@formName #Jumlah_View').val(getcurrencyfromfloat(data.Header.Expr1));
                        $('#@formName #BeratBadan').val(data.Header.BeratBadan);
                        $('#@formName #QtyRacik').val(data.Header.QtyPuyer);
                        $('#@formName #SatuanPuyer').val(data.Header.SatuanPuyer);
                        $('#@formName #Keterangan').val(data.Header.Keterangan);

                        $('#@formName #@table_detail_barang [onclick="customremovetr(this)"]').click();
                        $.each(data.Data, function (i, v) {
                            angular.element('#@formName').scope().addrowdetail({ target: '#@table_detail_barang' }, '#@target_inputDetail_barang');
                            var td = $('#@formName #@table_detail_barang tbody tr:last td');
                            $(td[3]).find('input').val(v.Barang_ID);
                            $(td[4]).find('input').val(v.Kode_Barang);
                            $(td[5]).find('input').val(v.Nama_Barang);
                            $(td[6]).find('input').val(v.Satuan_Stok);
                            $(td[7]).find('input').val(v.AturanPakai);
                            $(td[8]).find('input').val(v.Dosis);
                            $(td[9]).find('select').val(v.KetRacik);
                            $(td[10]).find('input').val(v.Qty);
                            $(td[11]).find('select').val(v.StatusRacikan);
                            $(td[12]).find('input').val(v.JmlRacikan);
                            //if (data.Header.QtyPuyer)
                            //{
                            //    $(td[13]).find('input')[0].checked = true;
                            //}
                            //$(td[13]).find('input').addClass('hidden');
                        });
                        hitunghargatotal();
                    } else {
                        alertpopup(data.Message, 'danger');
                    }
                }
            });
    }

    function obatracikonchange(t) {
        if ($('#ObatRacik')[0].checked) {
            $.each($('#frm_Resep_table_detail_barang tbody td:nth-child(14) input:checkbox'), function (index, value) {
                $('#frm_Resep_table_detail_barang tbody td:nth-child(14) input:checkbox')[index].checked = true;
            });
        } else {
            $.each($('#frm_Resep_table_detail_barang tbody td:nth-child(14) input:checkbox'), function (index, value) {
                $('#frm_Resep_table_detail_barang tbody td:nth-child(14) input:checkbox')[index].checked = false;
            });
        }
         //var tr = $($(t).closest('tr'));
        @*var racik = tr.find('td:nth-child(14) input')[0].checked;
        if (racik) {
            _qty = ($('#@formName #QtyRacik').val() || 0);
            tr.find('td:nth-child(10) input').val(_qty);
        }*@
        //var qty = tr.find('td:nth-child(10) input').val() || 0;
        //var harga = getfloatfromcurrency(tr.find('td:nth-child(11) input').val()) || 0;
        //var inputjumlah = tr.find('td:nth-child(12) input');
        ////qty * harga
        //var t = qty * harga;
        //var jumlah = t;
        //inputjumlah.val(getcurrencyfromfloat(jumlah));
        //hitunghargatotal();
    }

    function btnmodalpaketonclick(e) {
        var sec = $('#@formName #Farmasi_SectionID').val();
        var doc = $('#@formName #DokterID').val();
        var scope = angular.element('#modal_frm_Resep_create_KodePaket').scope();
        scope.filter[2] = sec;
        scope.filter[3] = doc;
        scope.getdatas();
    }

    function btnalergiobat(e) {
        var sec = $('#@formName #Farmasi_SectionID').val();
        var doc = $('#@formName #DokterID').val();
        var scope = angular.element('#modal_frm_Resep_create_KodePaket').scope();
        scope.filter[2] = sec;
        scope.filter[3] = doc;
        scope.getdatas();
    }

    function paketonkeypress(e, t) {
        if (e.keyCode == 13) {
            e.preventDefault();
            myajax({
                url: '@Url.Action("DetailPaket")',
                data: {
                    kode: $('#KodePaket').val(),
                    section: $('#@formName #Farmasi_SectionID').val(),
                    noreg: '@ViewBag.Noreg',
                    nomor : @ViewBag.Nomor
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        $('#@formName #Jumlah_View').val(getcurrencyfromfloat(data.Header.Expr1));
                        $('#@formName #BeratBadan').val(data.Header.BeratBadan);
                        $('#@formName #QtyRacik').val(data.Header.QtyPuyer);
                        $('#@formName #SatuanPuyer').val(data.Header.SatuanPuyer);
                        $('#@formName #Keterangan').val(data.Header.Keterangan);

                        $('#@formName #@table_detail_barang [onclick="customremovetr(this)"]').click();
                        $.each(data.Data, function (i, v) {
                            angular.element('#@formName').scope().addrowdetail({ target: '#@table_detail_barang' }, '#@target_inputDetail_barang');
                            var td = $('#@formName #@table_detail_barang tbody tr:last td');
                            $(td[3]).find('input').val(v.Barang_ID);
                            $(td[4]).find('input').val(v.Kode_Barang);
                            $(td[5]).find('input').val(v.Nama_Barang);
                            $(td[6]).find('input').val(v.Satuan_Stok);
                            $(td[7]).find('input').val(v.AturanPakai);
                            $(td[8]).find('input').val(v.Dosis);
                            $(td[9]).find('input').val(v.Qty);
                            $(td[10]).find('input').val(v.Harga_Jual_View);
                            $(td[11]).find('input').val(v.Jumlah_View);
                            $(td[12]).find('input').val(v.Qty_Stok);
                            //if (data.Header.QtyPuyer)
                            //{
                            //    $(td[13]).find('input')[0].checked = true;
                            //}
                            //$(td[13]).find('input').addClass('hidden');
                        });
                        hitunghargatotal();
                    } else {
                        alertpopup(data.Message, 'danger');
                    }
                }
            });
        }
    }

    function checkdetailprimarykey_barang(_this) {
        var j_detail_input = $('#@table_detail_barang tbody td:nth-child(4) input');
        var found = 0;
        var _val = _this.value;
        for (var i = 0; i < j_detail_input.length; i++) {
            var value = j_detail_input[i];
            if (value != undefined) {
                if (value.value == _val) found++;
            }
        }
        if (found > 1) {
            alertpopup('sudah digunakan', 'warning');
            $(_this.closest('tr')).find('td:nth-child(2) a').click();
        }
        hitunghargatotal();
    }

    function customremovetr(t) {
        removetr(t);
        hitunghargatotal();
    }

    function hitungjumlah(t) {
        var tr = $($(t).closest('tr'));
        var racik = tr.find('td:nth-child(14) input')[0].checked;
        var qty = tr.find('td:nth-child(10) input').val() || 0;
        //var _qty = ($('#@formName #QtyRacik').val() || 0);
        if (racik) {
            //_qty = ($('#@formName #QtyRacik').val() || 0);
            //tr.find('td:nth-child(10) input').val(_qty);
            tr.find('td:nth-child(10) input').val(0);
            tr.find('td:nth-child(8) input').attr('disabled', true);
            tr.find('td:nth-child(9) input').attr('disabled', false);
            tr.find('td:nth-child(9) input').val('');
            tr.find('td:nth-child(8) input').val('');
            $('#ObatRacik')[0].checked = true;
        } else {
            tr.find('td:nth-child(10) input').val(_qty);
            tr.find('td:nth-child(8) input').attr('disabled', false);
            tr.find('td:nth-child(9) input').attr('disabled', true);
            tr.find('td:nth-child(9) input').val('');
            tr.find('td:nth-child(8) input').val('');
            $('#ObatRacik')[0].checked = false;
        }
        var harga = getfloatfromcurrency(tr.find('td:nth-child(11) input').val()) || 0;
        var inputjumlah = tr.find('td:nth-child(12) input');
        //qty * harga
        var t = qty * harga;
        var jumlah = t;
        inputjumlah.val(getcurrencyfromfloat(jumlah));
        hitunghargatotal();
    }

    function hitunghargatotal() {
        var subtotal = 0;
        $.each($('#@table_detail_barang tbody tr td:nth-child(12) input'), function (index, value) {
            subtotal += getfloatfromcurrency(value.value) || 0;
        });
        var jumlah = subtotal;
        $('#@formName #Jumlah_View').val(getcurrencyfromfloat(jumlah));
    }

    $('#@formName #DokterID').select2({
        ajax: {
            url: "@Url.Action("List", "Dokter")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    function pilihaturan() {
        $.ajax({
            dataType: 'JSON',
            method: "GET",
            url: '@Url.Action("getAturan", "Resep")',
            success: function (data) {
                var html = "";
                $.each(data.Data, function (key, value) {
                    html += `
                        <tr>
                            <td>`+ value.AturanPakai +`</td>
                        </tr>
                    `;
                });
                $('#modalaturan #aturan_table').html(html)
                //$('#aturan_table').html();
                $('#modalaturan').modal();
            }
        });
    }

    function pilihstatusracik(_this) {
        var valselect = $(_this).val();
        var tr = $($(_this).closest('tr'));

        if (valselect == "") {
            tr.find('td:nth-child(13) input[type=number]').attr('readonly', 'readonly');
            tr.find('td:nth-child(11) input[type=number]').removeAttr('readonly', 'readonly');
            tr.find('td:nth-child(11) input[type=number]').val(10);
        } else {
            tr.find('td:nth-child(11) input[type=number]').attr('readonly', 'readonly');
            tr.find('td:nth-child(11) input[type=number]').val(0);
            tr.find('td:nth-child(13) input[type=number]').removeAttr('readonly', 'readonly');
        }
    }

    function oncompletecreatekujunganpoli(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            var sectionid = '@Request.Cookies["SectionIDPelayanan"].Value';
            if (result.IsSuccess) {

                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                    $('.modal').modal('hide');
                //dataresep_eresep = result.Data.id;
                //sectionfarmasi_eresep = result.Data.farmasi;
                alertpopup(result.Message, 'success');
                if ('@ViewBag.Poliklinik' == '1') {
                    $('#CetakUlangEResep').removeClass('hidden');
                    $('#modalprint_eresepAKunjunganPoliklinik #noresep').val(result.Data.id);
                    $('#modalprint_eresepAKunjunganPoliklinik #sectionfarmasi').val(result.Data.farmasi);
                    var obatdetail = "";
                    result.Data.thisdetail.forEach(function (index, value) {
                        if (index.Model.StatusRacikan != null) {
                            obatdetail += index.Model.Nama_Barang + " ( " + index.Model.AturanPakai + " ) " + index.Model.StatusRacikan + " \n";
                        } else {
                            obatdetail += index.Model.Nama_Barang + " ( " + index.Model.Qty + " / " + index.Model.AturanPakai + " ) \n";
                        }
                    });

                    var valintruksi = $('#Intruksi').val();
                    $('#Intruksi').val(valintruksi + "\n" + obatdetail);

                    $('#modalprint_eresepAKunjunganPoliklinik').modal();
                }
                else
                {
                    $('#modalprint_eresep #noresep').val(result.Data.id);
                    $('#modalprint_eresep #sectionfarmasi').val(result.Data.farmasi);
                    $('#modalprint_eresep').modal();
                }

                if ('@Request.Cookies["SectionNamaPelayanan"].Value' == "POLIKLINIK SYARAF") {
                        reloadObat("#AssSrf_Terapi");
                    } else if ('@Request.Cookies["SectionIDPelayanan"].Value' == "SEC007") {
                        reloadObat("#AssBdhTraum_Terapi");
                        reloadObat("#AssBdhNonTraum_Terapi");
                    } else if ('@Request.Cookies["SectionNamaPelayanan"].Value' == "POLIKLINIK PARU") {
                        reloadObat("#AssDalam_Terapi");
                    } else if ('@Request.Cookies["SectionNamaPelayanan"].Value' == "POLIKLINIK PENYAKIT DALAM") {
                        reloadObat("#AssDalam_Terapi");
                    } else if ('@Request.Cookies["SectionNamaPelayanan"].Value' == "POLIKLINIK ANAK") {
                        reloadObat("#AssAnk_Terapi");
                    }

            } else
            {
                alertpopup(result.Message || 'Server Error', 'danger');
            }
        } catch (ex) {
            alertpopup(result.Message || 'Server Error', 'danger');
        }
    }
</script>

@{
    if (Model != null)
    {
        Model.Detail_List = null;
    }
}

<div id="@target_inputDetail_barang" class="hidden">

    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="customremovetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Remove,
      new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
    </div>

    <!-- Barang_Id -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Barang_ID, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           onblur = "checkdetailprimarykey_barang(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Kode_Barang, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Nama_Barang, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Satuan, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @*<a class="btn" onclick="pilihaturan()">aturan</a>*@
        @Html.EditorFor(model => model.Detail_List[-1].Model.AturanPakai, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>


    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.Dosis, new
   {
       @class = "form-control input-sm",
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.KetRacik,
              StaticModel.ListKetPakai, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.Qty, new
   {
       @class = "form-control input-sm text-right",
       type = "number",
       //Min = 1,
       @Value = 10,
       onchange = "hitungjumlah(this)"
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.StatusRacikan,
              StaticModel.ListStatusRacik, new { @class = "form-control input-sm", onchange = "pilihstatusracik(this)" })
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.JmlRacikan, new
   {
       @class = "form-control input-sm text-right",
       type = "number",
       @Value = 0,
       @readonly = "readonly"
       //onchange = "hitungjumlah(this)"
   })
    </div>

    @*<div class="input-detail">
             @Html.EditorFor(model => model.Detail_List[-1].Model.Harga_View, new
        {
            htmlAttributes = new
            {
                @class = "form-control input-sm text-right",
                @readonly = "readonly"
            }
        })
         </div>

         <div class="input-detail">
             @Html.EditorFor(model => model.Detail_List[-1].Model.Jumlah_View, new
        {
            htmlAttributes = new
            {
                @class = "form-control input-sm text-right",
                @readonly = "readonly"
            }
        })
         </div>*@

    @*<div class="input-detail">
             @Html.EditorFor(model => model.Detail_List[-1].Model.Stok, new
        {
            htmlAttributes = new
            {
                @class = "form-control input-sm text-center",
                @readonly = "readonly"
            }
        })
         </div>*@

    @*<div class="input-detail">
             @Html.CheckBoxFor(model => model.Detail_List[-1].Model.Racik, new
        {
            //onchange = "hitungjumlah(this)"
        })
         </div>*@

</div>

<!-- Modal Look Up barang -->
@Html.Partial("_LookUp_M_Barang", Model, new ViewDataDictionary {
    { "target", target_barang },
    { "modalid", modalid_m_barang },
    { "targetForm", targetForm },
    { "noreg", ViewBag.Noreg },
    { "modalName", modalName_barang },
    { "headerisajax", true },
    { "targetTable", table_detail_barang },
    { "targetInputTable", target_inputDetail_barang },
    { "showdefaultlokasi", true },
})

<!-- Modal Look Pakate Resep -->
@Html.Partial("_LookUp_PaketResep", Model, new ViewDataDictionary {
    { "target", target_Paket },
    { "modalid", modalid_Paket },
    { "targetForm", targetForm },
    { "modalName", modalName_Paket },
    { "targetInputTable", target_inputDetail_barang },
    { "headerisajax", true }
})

<!-- Modal Look Up Aturan Pakai -->
@*@Html.Partial("_LookUp_AturanPakai", Model, new ViewDataDictionary {
        { "target", target_aturan },
        { "modalid", modalid_aturanpakai },
        { "targetForm", targetForm },
        { "noreg", ViewBag.Noreg },
        { "modalName", modalName_aturanPakai },
        { "headerisajax", true },
        { "targetTable", table_detail_barang },
        { "targetInputTable", target_inputDetail_barang },
        { "showdefaultlokasi", true },
    })*@