﻿
@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "AsuhanKeperawatanPeriOperatif";
    ViewBag.Title = controllerName;
    var formName = $"frm_AsuhanKeperawatanPeriOperatif_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};

}

<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        vertical-align: top;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-left: 0;
        padding-right: 0;
    }

    body {
        font-size: 11px;
    }

    .input-group-addon {
        font-size: 11px;
    }

    .form-control {
        font-size: 11px;
    }

        #praoperatif thead th:nth-child(2) {
            width: 130px;
        }

        #praoperatif thead th:nth-child(5) {
            width: 130px;
        }

        #praoperatif thead th:nth-child(7) {
            width: 130px;
        }
</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateasuhanperioperatif (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.AshnPreOpera.NoReg)
        @Html.HiddenFor(Model => Model.AshnPreOpera.SectionID)
        @Html.HiddenFor(Model => Model.AshnPreOpera.Nomor)
        @Html.HiddenFor(Model => Model.AshnPreOpera.NRM)



        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">ASUHAN KEPERAWATAN PERI-OPERATIF</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            Tanggal :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AshnPreOpera.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AshnPreOpera.Tanggal != null ? (Model.AshnPreOpera.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.AshnPreOpera.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1 col-md-offset-1">
                            Mulai Anestesi :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AshnPreOpera.MulaiAnastesi, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AshnPreOpera.MulaiAnastesi != null ? Model.AshnPreOpera.MulaiAnastesi.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AshnPreOpera.MulaiAnastesi, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1 col-md-offset-1">
                            Selesai Anestesi :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AshnPreOpera.SelesaiAnastesi, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AshnPreOpera.SelesaiAnastesi != null ? Model.AshnPreOpera.SelesaiAnastesi.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AshnPreOpera.SelesaiAnastesi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Teknik Anestesi :
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.AshnPreOpera.TeknikAnastesi, StaticModel.ListTeknikAnestesi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AshnPreOpera.TeknikAnastesi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Nama Pasien :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AshnPreOpera.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.AshnPreOpera.NamaPasien != null ? (Model.AshnPreOpera.NamaPasien) : "") } })
                            @Html.ValidationMessageFor(model => model.AshnPreOpera.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            NRM :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AshnPreOpera.NRM, new { htmlAttributes = new { @class = "form-control", Value = (Model.AshnPreOpera.NRM != null ? (Model.AshnPreOpera.NRM) : ""), @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.AshnPreOpera.NRM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Umur / Jenis Kelamin :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AshnPreOpera.Umur, new { htmlAttributes = new { @class = "form-control", Value = (Model.AshnPreOpera.Umur != 0 ? (Model.AshnPreOpera.Umur) : 0), @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.AshnPreOpera.Umur, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AshnPreOpera.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.AshnPreOpera.JenisKelamin == "F" ? "Perempuan" : Model.AshnPreOpera.JenisKelamin == "M" ? "Laki- Laki" : "") } })
                            @Html.ValidationMessageFor(model => model.AshnPreOpera.JenisKelamin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Diagnosa Pre OP :
                        </label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.AshnPreOpera.DiagnosaPreOp, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AshnPreOpera.DiagnosaPreOp, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <table id="praoperatif" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Data Subyektif</th>
                                <th>Jam</th>
                                <th>Diagnosa Keperawatan</th>
                                <th>Tujuan Keperawatan</th>
                                <th>Jam</th>
                                <th>Perencanaan/ Implementasi</th>
                                <th>Jam</th>
                                <th>Evalusi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="3">
                                    <div class="col-md-12">
                                        Data Subyektif :
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.DSubyektif_PasienBelumTahu, new { htmlAttributes = new { } })
                                            Pasien belum tahu tentang prosedur pemblusan dan pembedahan
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.DSubyektif_MulutTerasaPahit, new { htmlAttributes = new { } })
                                            Mulut terasa pahit
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.DSubyektif_Haus, new { htmlAttributes = new { } })
                                            Haus
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.DSubyektif_PuasaLama, new { htmlAttributes = new { } })
                                            Puasa lama/ lebih dari 10 jam
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.DSubyektif_PasienMenyatakanNyeri, new { htmlAttributes = new { } })
                                            Pasien menyatakan nyeri pada bagian tubuhnya
                                        </label>
                                    </div>
                                    <div class="col-md-12"></div>
                                    <div class="col-md-12">
                                        Data Obyektif :
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.DObyektif_PasienTampakGelisah, new { htmlAttributes = new { } })
                                            Pasien tampak gelisah
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.DObyektif_BerkeringatDingin, new { htmlAttributes = new { } })
                                            Berkeringat dingin
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="input-group-addon">
                                                TD
                                            </label>
                                            @Html.EditorFor(model => model.AshnPreOpera.DObyektif_TD, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AshnPreOpera.DObyektif_TD, "", new { @class = "text-danger" })
                                            <label class="input-group-addon">mmHg</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="input-group-addon">
                                                N
                                            </label>
                                            @Html.EditorFor(model => model.AshnPreOpera.DObyektif_N, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AshnPreOpera.DObyektif_N, "", new { @class = "text-danger" })
                                            <label class="input-group-addon">x/mnt</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="input-group-addon">
                                                R
                                            </label>
                                            @Html.EditorFor(model => model.AshnPreOpera.DObyektif_R, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AshnPreOpera.DObyektif_R, "", new { @class = "text-danger" })
                                            <label class="input-group-addon">x/mnt</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.DObyektif_ProduksiUrine, new { htmlAttributes = new { } })
                                            Produksi Urine
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.AshnPreOpera.DObyektif_KetProduksiUrine, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AshnPreOpera.DObyektif_KetProduksiUrine, "", new { @class = "text-danger" })
                                            <label class="input-group-addon">ml</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.DObyektif_BibirKering, new { htmlAttributes = new { } })
                                            Bibir Kering
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.DObyektif_Menangis, new { htmlAttributes = new { } })
                                            Menangis
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.AshnPreOpera.JAM_DiagnosaKeperawatan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AshnPreOpera.JAM_DiagnosaKeperawatan != null ? Model.AshnPreOpera.JAM_DiagnosaKeperawatan.Value.ToString("HH':'mm") : "") : "") } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.JAM_DiagnosaKeperawatan, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.DiagnosaKeperawatan_CemasKurangPengetahuan, new { htmlAttributes = new { } })
                                            Cemas b/d kurang pengetahuan masalah anestesi dan pembedahan
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        DS: Pasien menyatakan belum tahu tentang prosedur anestesi dan pembedahan
                                    </div>
                                    <div class="col-md-12">
                                        DO: Gelisah, Keringat dingin
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.TujuanKeperawatan_SetelahAskepCemas, new { htmlAttributes = new { } })
                                            Setelah dilakukan askep cemas berkurang/ hilang
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <ul>
                                            <li>Pasien menyatakan tahu tentang prosedur anestesi dan pembedahan</li>
                                            <li>Pasien menyatakan siap dilakukan pembiusan</li>
                                            <li>Pasien tampak tenang dan kooperatif</li>
                                            <li>Tanda - Tanda cital normal</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.AshnPreOpera.JAM_PerencanaanImplementasi, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AshnPreOpera.JAM_PerencanaanImplementasi != null ? Model.AshnPreOpera.JAM_PerencanaanImplementasi.Value.ToString("HH':'mm") : "") : "") } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.JAM_PerencanaanImplementasi, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_KajiTingkatKecemasan, new { htmlAttributes = new { } })
                                            Kaji tingkat kecemasan
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_OrientasikanDenganTim, new { htmlAttributes = new { } })
                                            Orientasikan dengan tum kesehatan/ kamar operasi
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_JelaskanJenisProsedur, new { htmlAttributes = new { } })
                                            Jelaskan jenis prosedur tindakan anestesi yang akan dilakukan
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_BeriDoronganPasien, new { htmlAttributes = new { } })
                                            Beri dorongan pasien untuk mengungkapkan perasaan
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_DampingPasienUntuk, new { htmlAttributes = new { } })
                                            Damping pasien untuk mengurangi cemas
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_AjarkanTeknikRelaksasi, new { htmlAttributes = new { } })
                                            Ajarkan teknik relaksasi
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_KolaborasiPemberianObat, new { htmlAttributes = new { } })
                                            Kolaborasi untuk pemberian obat penenang
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.AshnPreOpera.JAM_Evaluasi, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AshnPreOpera.JAM_Evaluasi != null ? Model.AshnPreOpera.JAM_Evaluasi.Value.ToString("HH':'mm") : "") : "") } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.JAM_Evaluasi, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <label class="col-md-3">
                                        S:
                                    </label>
                                    <label class="col-md-9">
                                        Pasien mengatakan paham akan tindakan anestesi dan pembedahan pasien mengatakan siap dilakukan prosedur anestesi & pembedahan
                                    </label>
                                    <label class="col-md-3">
                                        O:
                                    </label>
                                    <label class="col-md-9">
                                        Pasien tampak lebih tenang , expresi wajah cerah, Pasien Kooperatif :
                                    </label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="input-group-addon">
                                                TD
                                            </label>
                                            @Html.EditorFor(model => model.AshnPreOpera.Evaluasi_PasienTampakTenang_TD, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AshnPreOpera.Evaluasi_PasienTampakTenang_TD, "", new { @class = "text-danger" })
                                            <label class="input-group-addon">mmHg</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="input-group-addon">
                                                N
                                            </label>
                                            @Html.EditorFor(model => model.AshnPreOpera.Evaluasi_PasienTampakTenang_N, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AshnPreOpera.Evaluasi_PasienTampakTenang_N, "", new { @class = "text-danger" })
                                            <label class="input-group-addon">x/mnt</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="input-group-addon">
                                                R
                                            </label>
                                            @Html.EditorFor(model => model.AshnPreOpera.Evaluasi_PasienTampakTenang_R, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AshnPreOpera.Evaluasi_PasienTampakTenang_R, "", new { @class = "text-danger" })
                                            <label class="input-group-addon">x/mnt</label>
                                        </div>
                                    </div>
                                    <label class="col-md-3">
                                        A:
                                    </label>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.AshnPreOpera.Evaluasi_PasienTampakTenang_A, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.Evaluasi_PasienTampakTenang_A, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="col-md-3">
                                        P:
                                    </label>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.AshnPreOpera.Evaluasi_PasienTampakTenang_P, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.Evaluasi_PasienTampakTenang_P, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.AshnPreOpera.JAM_DiagnosaKeperawatanResiko, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AshnPreOpera.JAM_DiagnosaKeperawatanResiko != null ? Model.AshnPreOpera.JAM_DiagnosaKeperawatanResiko.Value.ToString("HH':'mm") : "") : "") } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.JAM_DiagnosaKeperawatanResiko, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.DiagnosaKeperawatan_RisikoDefisitvolumeCairan, new { htmlAttributes = new { } })
                                            Resiko defisit volume cairan b/d puasa lama/loss cairan tubuh
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        DS: Pasien menyatakan puasa sejak 10 jam yang lalu, pasien menyatakan haus
                                    </div>
                                    <div class="col-md-12">
                                        DO: Tensi rendah, nadi cepat dan kecil, respirasi cepat, akral dingin, bibir tampak kering
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.TujuanKeperawatan_SetelahAskepKeseimbangan, new { htmlAttributes = new { } })
                                            Seletah dilakukan askep keseimbangan cairan dalam ruang intrasel dan ekstrasel tubuh tercukupi:
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <ul>
                                            <li>Pasien menyatakan tidak haus/ tidak lemas</li>
                                            <li>Akral Kulit hangat</li>
                                            <li>Haemodinamik normal</li>
                                            <li>Masukan dan keluaran cairan seimbang</li>
                                            <li>Urine output 1-2cc/kgBB/jam</li>
                                            <li>Hasil lab elektrolit darah normal</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.AshnPreOpera.JAM_PerencanaanImplementasiKajitingkat, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AshnPreOpera.JAM_PerencanaanImplementasiKajitingkat != null ? Model.AshnPreOpera.JAM_PerencanaanImplementasiKajitingkat.Value.ToString("HH':'mm") : "") : "") } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.JAM_PerencanaanImplementasiKajitingkat, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_KajiTingkatKekurangan, new { htmlAttributes = new { } })
                                            Kaji tingkat kekurangan volume cairan
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_KolaborasiPemberianCairan, new { htmlAttributes = new { } })
                                            Kolaborasi untuk pemberian cairan dan elektrolit
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_MonitorMasukanKeluaran, new { htmlAttributes = new { } })
                                            Monitor masuk dan keluaran cairan dan elektrolit
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_MonitorHaemodinamik, new { htmlAttributes = new { } })
                                            Monitor haemodinamik
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_MonitorPendarahan, new { htmlAttributes = new { } })
                                            Monitor Pendarahan
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.AshnPreOpera.JAM_EvaluasiPasienMengatakan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AshnPreOpera.JAM_EvaluasiPasienMengatakan != null ? Model.AshnPreOpera.JAM_EvaluasiPasienMengatakan.Value.ToString("HH':'mm") : "") : "") } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.JAM_EvaluasiPasienMengatakan, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <label class="col-md-3">
                                        S:
                                    </label>
                                    <label class="col-md-9">
                                        Pasien mengatakan tidak haus
                                    </label>
                                    <label class="col-md-3">
                                        O:
                                    </label>
                                    <label class="col-md-9">
                                        Kebutuhan volume cairan seimbang lokasi tusukan infus tidak bengkak, infus lancar
                                    </label>
                                    <div class="col-md-12">
                                        Cairan masuk
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.AshnPreOpera.Evaluasi_CairanMasuk, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AshnPreOpera.Evaluasi_CairanMasuk, "", new { @class = "text-danger" })
                                            <label class="input-group-addon">cc</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        Cairan keluar
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.AshnPreOpera.Evaluasi_CairanKeluar, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AshnPreOpera.Evaluasi_CairanKeluar, "", new { @class = "text-danger" })
                                            <label class="input-group-addon">cc</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="input-group-addon">
                                                TD
                                            </label>
                                            @Html.EditorFor(model => model.AshnPreOpera.Evaluasi_KebutuhanCairanSeimbang_TD, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AshnPreOpera.Evaluasi_KebutuhanCairanSeimbang_TD, "", new { @class = "text-danger" })
                                            <label class="input-group-addon">mmHg</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="input-group-addon">
                                                N
                                            </label>
                                            @Html.EditorFor(model => model.AshnPreOpera.Evaluasi_KebutuhanCairanSeimbang_N, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AshnPreOpera.Evaluasi_PasienTampakTenang_N, "", new { @class = "text-danger" })
                                            <label class="input-group-addon">x/mnt</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="input-group-addon">
                                                R
                                            </label>
                                            @Html.EditorFor(model => model.AshnPreOpera.Evaluasi_KebutuhanCairanSeimbang_R, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AshnPreOpera.Evaluasi_PasienTampakTenang_R, "", new { @class = "text-danger" })
                                            <label class="input-group-addon">x/mnt</label>
                                        </div>
                                    </div>
                                    <label class="col-md-3">
                                        A:
                                    </label>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.AshnPreOpera.Evaluasi_KebutuhanCairanSeimbang_A, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.Evaluasi_KebutuhanCairanSeimbang_A, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="col-md-3">
                                        P:
                                    </label>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.AshnPreOpera.Evaluasi_KebutuhanCairanSeimbang_P, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.Evaluasi_KebutuhanCairanSeimbang_P, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.AshnPreOpera.JAM_DiagnosaKeperawatanNyeri, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AshnPreOpera.JAM_DiagnosaKeperawatanNyeri != null ? Model.AshnPreOpera.JAM_DiagnosaKeperawatanNyeri.Value.ToString("HH':'mm") : "") : "") } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.JAM_DiagnosaKeperawatanNyeri, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.DiagnosaKeperawatan_NyeriProsesPenyakitnya, new { htmlAttributes = new { } })
                                            Nyeri b/d proses penyakit
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        DS: Pasien melaporkan rasa nyeri
                                    </div>
                                    <div class="col-md-12">
                                        DO: Gelisah, Menangis, Mengeluh, Merintih, Perubahan Hemodinamik
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.TujuanKeperawatan_SetelahPerawatan, new { htmlAttributes = new { } })
                                            Setelah dilakukan perawatan 1 x 24 jam nyeri berkurang atau hilang
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <ul>
                                            <li>Pasien menyatakan nyeri berkurang / hilang</li>
                                            <li>Pasien mampu Istirahat/ tidur</li>
                                            <li>Ekspresi wajah nyaman atau tenang</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.AshnPreOpera.JAM_PerencanaanImplementasiKajiderajat, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AshnPreOpera.JAM_PerencanaanImplementasiKajiderajat != null ? Model.AshnPreOpera.JAM_PerencanaanImplementasiKajiderajat.Value.ToString("HH':'mm") : "") : "") } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.JAM_PerencanaanImplementasiKajiderajat, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_KajiDerajatLokasi, new { htmlAttributes = new { } })
                                            Kaji derajat, lokasi, durasi, frekuensi dan karakteristik nyeri
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_GunakanTeknikKomunikasi, new { htmlAttributes = new { } })
                                            Gunakan teknik komunikasi terapeutik, ajarkan teknik relaksasi
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox checkbox-inline">
                                            @Html.EditorFor(model => model.AshnPreOpera.PerencanaanImplementasi_KolaborasiDenganDokter, new { htmlAttributes = new { } })
                                            Kolaborasi dengan dokter
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.AshnPreOpera.JAM_EvaluasiPasienMelaporkan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AshnPreOpera.JAM_EvaluasiPasienMelaporkan != null ? Model.AshnPreOpera.JAM_EvaluasiPasienMelaporkan.Value.ToString("HH':'mm") : "") : "") } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.JAM_EvaluasiPasienMelaporkan, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <label class="col-md-3">
                                        S:
                                    </label>
                                    <label class="col-md-9">
                                        Pasien melaporkan nyeri berkurang atau hilang
                                    </label>
                                    <label class="col-md-3">
                                        O:
                                    </label>
                                    <label class="col-md-9">
                                        Haemodinamik normal, Pasien bisa istirahat/ tidur, Ekpresi wajah cerah, tenang atau nyaman
                                    </label>
                                    <label class="col-md-3">
                                        A:
                                    </label>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.AshnPreOpera.Evaluasi_PasienMelaporkanNyeri_A, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.Evaluasi_PasienMelaporkanNyeri_A, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="col-md-3">
                                        P:
                                    </label>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.AshnPreOpera.Evaluasi_PasienMelaporkanNyeri_P, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AshnPreOpera.Evaluasi_PasienMelaporkanNyeri_P, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.AshnPreOpera.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFAsuhanKeperawatanPeriOperatif", new { noreg = Model.AshnPreOpera.NoReg, Model.AshnPreOpera.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.AshnPreOpera.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var putugasok = $('#@formName #AshnPreOpera_DokterAnestesi');
    var dokterbedah = $('#@formName #AshnPreOpera_PerawatAnestesi');

    putugasok.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    dokterbedah.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>


<script>
    function oncompletecreateasuhanperioperatif(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#asuhanperioperatif').click();
    }
</script>









