﻿@using EMRRSBK.Models
@model RujukanPenderitaViewModel

@{
    var controllerName = "RujukanPenderita";
    ViewBag.Title = controllerName;
    var formid = "RujukanPenderita";
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    ol {
        margin-top: 10px;
        margin-left: 20px;
    }

        ol li {
            margin-top: 10px;
        }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.SectionID)
        @Html.HiddenFor(model => model.NRM)

        <div class="panel-body detail collapse in">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <label class="text-bold ">
                            RUJUKAN PENDRITA
                        </label>
                    </div>
                </div>

                <br />
                <div class="form-group">
                    <label class="col-md-1 col-md-offset-7">
                        Kepada
                    </label>
                    <label class="col-md-1 col-md-offset-7">
                        Yth :
                    </label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.Yth, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Yth, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <label class="col-md-12">
                        Mohon pemeriksaan/perawatan/pengobatan lebih lanjut penderita :
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Nama
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Umur
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Umur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Umur, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Jenis Kelamin
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Alamat
                    </label>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.Alamat, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Pekerjaan
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Pekerjaan, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
                        @Html.ValidationMessageFor(model => model.Pekerjaan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Diagnosa Kerja
                    </label>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.Diagnosa_Kerja, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>
                            perawatan/pengobatan yang telah diberikan
                        </label>
                        @Html.TextAreaFor(model => model.Perawatan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-7 text-center">
                        <label class="control-label">
                            Nama Pengirim
                        </label>

                        <br />
                        <br />

                        @Html.DropDownListFor(model => model.NamaPengirim, Model.NamaPengirim == null ? new List<SelectListItem>() : new List<SelectListItem>()
                        { new SelectListItem() {
                            Value = Model.NamaPengirim.ToString(), Text = Model.NamaPengirim }
                        }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NamaPengirim, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />
                <br />

                <div class="form-group">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" id="btn_simpan">Submit <i class="icon-arrow-right14 position-right"></i></button>

                        <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }

</div>

<script type="text/javascript">
    var inputdokter1 = $('#NamaPengirim');


    inputdokter1.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
</script>

