﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_AssesmentPraAnestesiDanSedasi_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Detail
    var d_tbl_Saran = $"frm_table_detailSaran";
    int d_idx_Saran = 0;
    var d_trg_Saran = $"input_target_detailSaran";
    if (Model != null)
    {
        if (Model.AssPraAnesDanSedasi != null)
        {
            if (Model.AssPraAnesDanSedasi.Saran_List != null)
            {
                d_idx_Saran = Model.AssPraAnesDanSedasi.Saran_List.Count();
            }
        }
    }
    #endregion
}


<!--   CSS Table -->
<style>
    #d_tbl_Saran thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_Saran thead th:nth-child(1),
    #d_tbl_Saran tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_Saran thead th:nth-child(2),
    #d_tbl_Saran tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #d_tbl_Saran thead th:nth-child(3),
    #d_tbl_Saran tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_Saran thead th:nth-child(4),
    #d_tbl_Saran tbody td:nth-child(4) {
        width: 80px;
    }

    #d_tbl_Saran thead th:nth-child(5),
    #d_tbl_Saran tbody td:nth-child(5) {
        width: 300px;
        text-align: center;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Html.BeginForm("AssesmentPraAnestesiDanSedasi", controllerName, FormMethod.Post, new { id = formName, onsubmit = "loadingform(this)" }))
    {
        @Html.HiddenFor(Model => Model.AssPraAnesDanSedasi.NoReg)
        @Html.HiddenFor(Model => Model.AssPraAnesDanSedasi.NRM)
        @Html.HiddenFor(Model => Model.AssPraAnesDanSedasi.SectionID)
        @Html.HiddenFor(Model => Model.AssPraAnesDanSedasi.Nomor)
        @Html.HiddenFor(Model => Model.AssPraAnesDanSedasi.TandaTanganDokter)

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">ASSESMENT PRA ANESTESI DAN SEDASI</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssPraAnesDanSedasi.Tanggal != null ? (Model.AssPraAnesDanSedasi.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssPraAnesDanSedasi.Jam != null ? Model.AssPraAnesDanSedasi.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Nama :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.NamaPasien, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AssPraAnesDanSedasi.NamaPasien != null ? (Model.AssPraAnesDanSedasi.NamaPasien) : "") } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 col-md-offset-1 control-label">
                            Jenis Kelamin :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.AssPraAnesDanSedasi.JenisKelamin == "F" ? "Perempuan" : Model.AssPraAnesDanSedasi.JenisKelamin == "M" ? "Laki- Laki" : "") } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.JenisKelamin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1">NRM :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.NRM, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AssPraAnesDanSedasi.NRM != null ? (Model.AssPraAnesDanSedasi.NRM) : "") } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.NRM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2">
                            Anamnesis :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.Anamnesis, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.Anamnesis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Diagnosa :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.Diagnosa, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.Diagnosa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class=form-group>
                        <label class="col-md-12">
                            Riwayat Penyakit :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RP_DM, new { htmlAttributes = new { } })
                                DM
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RP_Hipertensi, new { htmlAttributes = new { } })
                                Hipertensi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RP_PenyakitJantung, new { htmlAttributes = new { } })
                                Penyakit Jantung
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RP_PenyakitHati, new { htmlAttributes = new { } })
                                Penyakit Hati
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RP_PenyakitGinjal, new { htmlAttributes = new { } })
                                Penyakit Ginjal
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RP_Asma, new { htmlAttributes = new { } })
                                Asma
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RP_PenyakitSSP, new { htmlAttributes = new { } })
                                Penyakit SPP
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RP_PenyakitGangguanPerdarahan, new { htmlAttributes = new { } })
                                Penyakit Gangguan Perdarahan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RP_Lain, new { htmlAttributes = new { } })
                                Lain-Lain
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Riwayat Pemakaian Obat-Obatan
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.Pernah, new { htmlAttributes = new { onclick = "rpopernahok()" } })
                                Pernah
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.SedangDiKonsumsi, new { htmlAttributes = new { onclick = "rpoperrposedangdikonsumeoknahok()" } })
                                Sedang Di Konsumsi
                            </label>
                        </div>
                        <label class="col-md-1 control-label">Alergi :</label>
                        <div class="col-md-1">
                            @Html.DropDownListFor(model => model.AssPraAnesDanSedasi.Alergi, StaticModel.ListYaTidak, new { @class = "form-control", onclick = "alergiok()" })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.Alergi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.TextAreaFor(model => model.AssPraAnesDanSedasi.Ket_Alergi, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.Ket_Alergi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssPraAnesDanSedasi.P_Antibiotika, new { htmlAttributes = new { onclick = "pantibiotikok()", disabled = true } })
                                    Antibiotik
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.P_KetAntibiotika, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.P_KetAntibiotika, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssPraAnesDanSedasi.SDK_Antibiotika, new { htmlAttributes = new { onclick = "sdkantibiotikok()", disabled = true } })
                                    Antibiotik
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.SDK_KetAntibiotika, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.SDK_KetAntibiotika, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssPraAnesDanSedasi.P_AntiHipertens, new { htmlAttributes = new { onclick = "pantihipertensiok()", disabled = true } })
                                    Anti Hipertensi
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.P_KetAntiHipertens, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.P_KetAntiHipertens, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssPraAnesDanSedasi.SDK_AntiHipertensi, new { htmlAttributes = new { onclick = "sdkantihipertensiok()", disabled = true } })
                                    Anti Hipertensi
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.SDK_KetAntiHipertensi, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.SDK_KetAntiHipertensi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssPraAnesDanSedasi.P_AntiDiabetik, new { htmlAttributes = new { onclick = "pantidiabetikok()", disabled = true } })
                                    Anti Diabetik
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.P_KetAntiDiabetik, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.P_KetAntiDiabetik, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssPraAnesDanSedasi.SDK_AntlDiabetik, new { htmlAttributes = new { onclick = "sdkantidiabetikok()", disabled = true } })
                                    Anti Diabetik
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.SDK_KetAntlDiabetik, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.SDK_KetAntlDiabetik, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssPraAnesDanSedasi.P_Lain, new { htmlAttributes = new { onclick = "plainnyaok()", disabled = true } })
                                    Lain-lain
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.P_KetLain, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.P_KetLain, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssPraAnesDanSedasi.SDK_Lain, new { htmlAttributes = new { onclick = "sdklainnyaok()", disabled = true } })
                                    Lain-lain
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.SDK_KetLain, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.SDK_KetLain, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-4">
                            Riwayat Pembedahan
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Jenis Operasi :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.RB_JenisOperasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.RB_JenisOperasi, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">
                            Jenis Anestesi :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.RB_JenisAnestesi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.RB_JenisAnestesi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Waktu :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.RB_Waktu, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssPraAnesDanSedasi.RB_Waktu != null ? Model.AssPraAnesDanSedasi.RB_Waktu.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.RB_Waktu, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2 col-md-offset-2">
                            Komplikasi :
                        </label>
                        <div class="col-md-4 ">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.RB_AnestesiKomplikasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.RB_AnestesiKomplikasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Komplikasi :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.RB_OperasiKomplikasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.RB_OperasiKomplikasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class=form-group>
                        <label class="col-md-12">
                            Riwayat Kebiasaan :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RK_Perokok, new { htmlAttributes = new { } })
                                Perokok
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RK_Alkoholic, new { htmlAttributes = new { } })
                                Alkoholic
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RK_PecanduNarkotic, new { htmlAttributes = new { } })
                                Pecandu Narkotic
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RK_GigiPalsu, new { htmlAttributes = new { } })
                                Gigi Palsu
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RK_Lain, new { htmlAttributes = new { } })
                                Lain-Lain
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">
                            Riwayat Penyakit Keluarga
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RPK_DM, new { htmlAttributes = new { } })
                                DM
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RPK_Hipertensi, new { htmlAttributes = new { } })
                                Hipertensi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RPK_PenyakitJantung, new { htmlAttributes = new { } })
                                Penyakit Jantung
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RPK_PenyakitHati, new { htmlAttributes = new { } })
                                Penyakit Hati
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RPK_PenyakitGinjal, new { htmlAttributes = new { } })
                                Penyakit Ginjal
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RPK_Asma, new { htmlAttributes = new { } })
                                Asma
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RPK_PenyakitSSP, new { htmlAttributes = new { } })
                                Penyakit SPP
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RPK_PenyakitGangguanPerdarahan, new { htmlAttributes = new { } })
                                Penyakit Gangguan Perdarahan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.RPK_Lain, new { htmlAttributes = new { } })
                                Lain-Lain
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">
                            Pemeriksaan Fisik dan Penunjang
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Keadaan Umum :
                        </label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    BB
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.PFDP_BB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.PFDP_BB, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Kg
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    TB
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.PFDP_TB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.PFDP_TB, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Cm
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Golongan Darah
                                </label>
                                @Html.DropDownListFor(model => model.AssPraAnesDanSedasi.PFDP_GolDarah, StaticModel.ListGolonganDarah, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.PFDP_GolDarah, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Rh
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.PFDP_Rh, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.PFDP_Rh, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-2">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    TD
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.PFDP_TD, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.PFDP_TD, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Nadi
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.PFDP_Nadi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.PFDP_Nadi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    RR
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.PFDP_RR, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.PFDP_RR, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Suhu
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.PFDP_Suhu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.PFDP_Suhu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Hb
                                </label>
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.PFDP_Hb, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.PFDP_Hb, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-1 control-label">B1(Breath):</label>
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.B1_Breath, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.B1_Breath, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">B2(Blood):</label>
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.B2_Blood, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.B2_Blood, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">B3(Brain):</label>
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.B3_Brain, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.B3_Brain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">B4(Blader):</label>
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.B4_Blader, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.B4_Blader, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">B5(Bowel):</label>
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.B5_Bowel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.B5_Bowel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">B6(Bone):</label>
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.B6_bone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.B6_bone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">Lain-Lain:</label>
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.Ket_Lainlain, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.Ket_Lainlain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Kesimpulan:
                        </label>
                        <div class="col-md-11">
                            @Html.TextAreaFor(model => model.AssPraAnesDanSedasi.Kesimpulan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.Kesimpulan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Status Fisik Asa</label>
                        <div class="col-md-1">
                            @Html.DropDownListFor(model => model.AssPraAnesDanSedasi.StatusFisikAsa, StaticModel.ListStatusFisik, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.StatusFisikAsa, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-3 col-md-offset-3 control-label">Penyulitan Pra Operasi :</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.PenyulitPraAnestesi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.PenyulitPraAnestesi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Tindakan Anestesi</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssPraAnesDanSedasi.TindakanAnestesi, StaticModel.ListSetujuTidakSetuju, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.TindakanAnestesi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Perencanaan Anestesi :</label>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.PA_GA, new { htmlAttributes = new { } })
                                GA
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.PA_BSA, new { htmlAttributes = new { } })
                                BSA
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.PA_Epidural, new { htmlAttributes = new { } })
                                Epidural
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.PA_CSE, new { htmlAttributes = new { } })
                                CSE
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPraAnesDanSedasi.PA_Lokal, new { htmlAttributes = new { } })
                                Lokal
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-center">
                            Saran
                        </label>
                    </div>
                    <div class="form-group">
                        <div id="panel_detailAssPraAnesDanSedasiObat" class="panel-body detail collapse in"
                             data-index-detail="@d_idx_Saran">
                            <div class="table-responsive">
                                <table id="d_tbl_Saran" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" onclick="checkall(this)" />
                                            </th>
                                            <th class="text-center" rowspan="2">
                                                <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Saran')">
                                                    <i class="icon-plus2"></i>
                                                </a>
                                            </th>
                                            <th></th>
                                            <th>No</th>
                                            <th>Saran</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.AssPraAnesDanSedasi.Saran_List != null)
                                            {
                                                for (var i = 0; i < Model.AssPraAnesDanSedasi.Saran_List.Count(); i++)
                                                {
                                                    <tr>
                                                        <!-- Check -->
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>

                                                        <!-- Delete button -->
                                                        <td>
                                                            <a class="text-danger-600"
                                                               onclick="removetr(this)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>

                                                        <!-- Remove Status -->
                                                        <td>
                                                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.Saran_List[i].Remove,
                                                       new { htmlAttributes = new { @class = "disable-reset" } })
                                                        </td>

                                                        <!-- No -->
                                                        <td>
                                                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.Saran_List[i].Model.No, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly"
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.TextAreaFor(model => model.AssPraAnesDanSedasi.Saran_List[i].Model.Saran, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.Saran_List[i].Model.Saran, "", new { @class = "text-danger" })
                                                        </td>

                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Jam Berakhir Assesmen</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssPraAnesDanSedasi.JamBerakhirAssesmen, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssPraAnesDanSedasi.JamBerakhirAssesmen != null ? Model.AssPraAnesDanSedasi.JamBerakhirAssesmen.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.JamBerakhirAssesmen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            dr. Anestesi
                        </label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.AssPraAnesDanSedasi.NamaDokter, Model.AssPraAnesDanSedasi.NamaDokter == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.AssPraAnesDanSedasi.NamaDokter.ToString(), Text = Model.AssPraAnesDanSedasi.NamaDokterNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraAnesDanSedasi.NamaDokter, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.AssPraAnesDanSedasi.SudahRegDokter == 0)
                            {
                                <a id="btn_asskulit" class="btn btn-primary disabled" onclick="user_verif_asspraanessedasi()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssPraAnesDanSedasiDokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_asskulit" class="btn btn-primary" onclick="user_verif_asspraanessedasi()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssPraAnesDanSedasiDokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.AssPraAnesDanSedasi.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFAssPraAnesDanSedasi", new { noreg = Model.AssPraAnesDanSedasi.NoReg })" target="_blank"
                           class="btn btn-success" @(Model.AssPraAnesDanSedasi.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokter = $('#@formName #AssPraAnesDanSedasi_NamaDokter');

    dokter.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });


</script>

<script src="~/scripts/jquery.timer.js"></script>
<!--JS LAINNYA-->
<script>
    function user_verif_asspraanessedasi() {
        var reStatsAssPraAnesDanSedasi = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#AssPraAnesDanSedasi_NamaDokter').val();
        var noreg = $('#AssPraAnesDanSedasi_NoReg').val();
        var section = $('#AssPraAnesDanSedasi_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifassanestesisedasi(noreg, section, user_id);
            if (ct >= limit || reStatsAssPraAnesDanSedasi == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsAssPraAnesDanSedasi == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsAssPraAnesDanSedasi == 1) {
                    alertpopup("Verification success!", "success");
                    location.reload();
                }
            }
            ct++;
        });

        function user_checkverifassanestesisedasi(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilAssPraAnesSedasi", "VerifOK")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsAssPraAnesDanSedasi = 1;
                        }
                    }
                    else {
                        reStatsAssPraAnesDanSedasi = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function alergiok() {
        if ($("#AssPraAnesDanSedasi_Alergi option:selected").val() == 'Ya') {
            $('#AssPraAnesDanSedasi_Ket_Alergi').prop('disabled', false);
        } else {
            $('#AssPraAnesDanSedasi_Ket_Alergi').val('');
            $('#AssPraAnesDanSedasi_Ket_Alergi').prop('disabled', true);
        }
    }

    function rpopernahok() {
        if ($('#AssPraAnesDanSedasi_Pernah').is(':checked')) {
            $('#AssPraAnesDanSedasi_P_Antibiotika').prop('disabled', false);
            $('#AssPraAnesDanSedasi_P_AntiHipertens').prop('disabled', false);
            $('#AssPraAnesDanSedasi_P_AntiDiabetik').prop('disabled', false);
            $('#AssPraAnesDanSedasi_P_Lain').prop('disabled', false);
        } else {
            $('#AssPraAnesDanSedasi_P_Antibiotika').prop('checked', false);
            $('#AssPraAnesDanSedasi_P_Antibiotika').prop('disabled', true);
            $('#AssPraAnesDanSedasi_P_KetAntibiotika').prop('disabled', true);
            $('#AssPraAnesDanSedasi_P_KetAntibiotika').val('');

            $('#AssPraAnesDanSedasi_P_AntiHipertens').prop('checked', false);
            $('#AssPraAnesDanSedasi_P_AntiHipertens').prop('disabled', true);
            $('#AssPraAnesDanSedasi_P_KetAntiHipertens').prop('disabled', true);
            $('#AssPraAnesDanSedasi_P_KetAntiHipertens').val('');

            $('#AssPraAnesDanSedasi_P_AntiDiabetik').prop('checked', false);
            $('#AssPraAnesDanSedasi_P_AntiDiabetik').prop('disabled', true);
            $('#AssPraAnesDanSedasi_P_KetAntiDiabetik').prop('disabled', true);
            $('#AssPraAnesDanSedasi_P_KetAntiDiabetik').val('');

            $('#AssPraAnesDanSedasi_P_Lain').prop('checked', false);
            $('#AssPraAnesDanSedasi_P_Lain').prop('disabled', true);
            $('#AssPraAnesDanSedasi_P_KetLain').prop('disabled', true);
            $('#AssPraAnesDanSedasi_P_KetLain').val('');
        }
    }

    function rpoperrposedangdikonsumeoknahok() {
        if ($('#AssPraAnesDanSedasi_SedangDiKonsumsi').is(':checked')) {
            $('#AssPraAnesDanSedasi_SDK_Antibiotika').prop('disabled', false);
            $('#AssPraAnesDanSedasi_SDK_AntiHipertensi').prop('disabled', false);
            $('#AssPraAnesDanSedasi_SDK_AntlDiabetik').prop('disabled', false);
            $('#AssPraAnesDanSedasi_SDK_Lain').prop('disabled', false);
        } else {
            $('#AssPraAnesDanSedasi_SDK_Antibiotika').prop('checked', false);
            $('#AssPraAnesDanSedasi_SDK_Antibiotika').prop('disabled', true);
            $('#AssPraAnesDanSedasi_SDK_KetAntibiotika').prop('disabled', true);
            $('#AssPraAnesDanSedasi_SDK_KetAntibiotika').val('');

            $('#AssPraAnesDanSedasi_SDK_AntiHipertensi').prop('checked', false);
            $('#AssPraAnesDanSedasi_SDK_AntiHipertensi').prop('disabled', true);
            $('#AssPraAnesDanSedasi_SDK_KetAntiHipertensi').prop('disabled', true);
            $('#AssPraAnesDanSedasi_SDK_KetAntiHipertensi').val('');

            $('#AssPraAnesDanSedasi_SDK_AntlDiabetik').prop('checked', false);
            $('#AssPraAnesDanSedasi_SDK_AntlDiabetik').prop('disabled', true);
            $('#AssPraAnesDanSedasi_SDK_KetAntlDiabetik').prop('disabled', true);
            $('#AssPraAnesDanSedasi_SDK_KetAntlDiabetik').val('');

            $('#AssPraAnesDanSedasi_SDK_Lain').prop('checked', false);
            $('#AssPraAnesDanSedasi_SDK_Lain').prop('disabled', true);
            $('#AssPraAnesDanSedasi_SDK_KetLain').prop('disabled', true);
            $('#AssPraAnesDanSedasi_SDK_KetLain').val('');
        }
    }

    function pantibiotikok() {
        if ($('#AssPraAnesDanSedasi_P_Antibiotika').is(':checked')) {
            $('#AssPraAnesDanSedasi_P_KetAntibiotika').prop('disabled', false);
        } else {
            $('#AssPraAnesDanSedasi_P_KetAntibiotika').prop('disabled', true);
            $('#AssPraAnesDanSedasi_P_KetAntibiotika').val('');
        }
    }

    function sdkantibiotikok() {
        if ($('#AssPraAnesDanSedasi_SDK_Antibiotika').is(':checked')) {
            $('#AssPraAnesDanSedasi_SDK_KetAntibiotika').prop('disabled', false);
        } else {
            $('#AssPraAnesDanSedasi_SDK_KetAntibiotika').prop('disabled', true);
            $('#AssPraAnesDanSedasi_SDK_KetAntibiotika').val('');
        }
    }

    function pantihipertensiok() {
        if ($('#AssPraAnesDanSedasi_P_AntiHipertens').is(':checked')) {
            $('#AssPraAnesDanSedasi_P_KetAntiHipertens').prop('disabled', false);
        } else {
            $('#AssPraAnesDanSedasi_P_KetAntiHipertens').prop('disabled', true);
            $('#AssPraAnesDanSedasi_P_KetAntiHipertens').val('');
        }
    }

    function sdkantihipertensiok() {
        if ($('#AssPraAnesDanSedasi_SDK_AntiHipertensi').is(':checked')) {
            $('#AssPraAnesDanSedasi_SDK_KetAntiHipertensi').prop('disabled', false);
        } else {
            $('#AssPraAnesDanSedasi_SDK_KetAntiHipertensi').prop('disabled', true);
            $('#AssPraAnesDanSedasi_SDK_KetAntiHipertensi').val('');
        }
    }

    function pantidiabetikok() {
        if ($('#AssPraAnesDanSedasi_P_AntiDiabetik').is(':checked')) {
            $('#AssPraAnesDanSedasi_P_KetAntiDiabetik').prop('disabled', false);
        } else {
            $('#AssPraAnesDanSedasi_P_KetAntiDiabetik').prop('disabled', true);
            $('#AssPraAnesDanSedasi_P_KetAntiDiabetik').val('');
        }
    }

    function sdkantidiabetikok() {
        if ($('#AssPraAnesDanSedasi_SDK_AntlDiabetik').is(':checked')) {
            $('#AssPraAnesDanSedasi_SDK_KetAntlDiabetik').prop('disabled', false);
        } else {
            $('#AssPraAnesDanSedasi_SDK_KetAntlDiabetik').prop('disabled', true);
            $('#AssPraAnesDanSedasi_SDK_KetAntlDiabetik').val('');
        }
    }

    function plainnyaok() {
        if ($('#AssPraAnesDanSedasi_P_Lain').is(':checked')) {
            $('#AssPraAnesDanSedasi_P_KetLain').prop('disabled', false);
        } else {
            $('#AssPraAnesDanSedasi_P_KetLain').prop('disabled', true);
            $('#AssPraAnesDanSedasi_P_KetLain').val('');
        }
    }

    function sdklainnyaok() {
        if ($('#AssPraAnesDanSedasi_SDK_Lain').is(':checked')) {
            $('#AssPraAnesDanSedasi_SDK_KetLain').prop('disabled', false);
        } else {
            $('#AssPraAnesDanSedasi_SDK_KetLain').prop('disabled', true);
            $('#AssPraAnesDanSedasi_SDK_KetLain').val('');
        }
    }


    $(document).ready(function () {
        alergiok();
        rpopernahok();
        rpoperrposedangdikonsumeoknahok();
        pantibiotikok();
        sdkantibiotikok();
        pantihipertensiok();
        sdkantihipertensiok();
        pantidiabetikok();
        sdkantidiabetikok();
        plainnyaok();
        sdklainnyaok();

    });
</script>


<!--INPUT DETAIL TABLE-->
@{
if (Model != null)
{
        Model.AssPraAnesDanSedasi.Saran_List = null;
}
}

<div id="@d_trg_Saran" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.AssPraAnesDanSedasi.Saran_List[-1].Remove,
        new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.AssPraAnesDanSedasi.Saran_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detailsaraf(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.AssPraAnesDanSedasi.Saran_List[-1].Model.Saran, new
   {
           @class = "form-control input-sm"
   })
    </div>

</div>

<!--Auto Detail-->
<script type="text/javascript">

    function autoid_detailsaraf(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }


</script>

