﻿

@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_AssesmentPraOperasiLakiLaki_{controllerName}_create";
    var tableId = $"table_PraOperasiLaki";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("AssesmentPraOperasiLakiLaki", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateapraoperasilaki(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, onsubmit = "SubmitForm_AssesmentPraOperasiLakiLaki(event)" }))
    {
        @*@using (Html.BeginForm("AssesmentPraOperasiLakiLaki", controllerName, FormMethod.Post, new { id = formName, onsubmit = "SubmitForm_AssesmentPraOperasiLakiLaki(event)" }))
            {*@
        @Html.HiddenFor(Model => Model.AssPraOprsLaki.NoReg)
        @Html.HiddenFor(Model => Model.AssPraOprsLaki.SectionID)
        @Html.HiddenFor(Model => Model.AssPraOprsLaki.Nomor)
        @Html.HiddenFor(Model => Model.AssPraOprsLaki.NRM)
        @Html.HiddenFor(Model => Model.AssPraOprsLaki.Gambar1Badan)
        @Html.HiddenFor(Model => Model.AssPraOprsLaki.Gambar2KepalaKiriKana)
        @Html.HiddenFor(Model => Model.AssPraOprsLaki.Gambar3KepalaDepanBelakang)
        @Html.HiddenFor(Model => Model.AssPraOprsLaki.Gambar4TanganPalmar)
        @Html.HiddenFor(Model => Model.AssPraOprsLaki.Gmabar5TanganDorsal)
        @Html.HiddenFor(Model => Model.AssPraOprsLaki.Gambar6Kaki)
        @Html.HiddenFor(Model => Model.AssPraOprsLaki.TandaTangan)
        @Html.HiddenFor(Model => Model.AssPraOprsLaki.TandaTanganDPJPAnestesi)
        @Html.HiddenFor(Model => Model.AssPraOprsLaki.TandaTanganDPJPOperator)

        <img id="Gambar11" src="@Url.Content("~/Images/BadanCewek.jpg")" class="hidden" />
        <img id="Gambar22" src="@Url.Content("~/Images/KepalaSamping.jpg")" class="hidden" />
        <img id="Gambar33" src="@Url.Content("~/Images/KepalaDepanBelakang.jpg")" class="hidden" />
        <img id="Gambar44" src="@Url.Content("~/Images/TanganPalmar.jpg")" class="hidden" />
        <img id="Gambar55" src="@Url.Content("~/Images/TanganDorsal.jpg")" class="hidden" />
        <img id="Gambar66" src="@Url.Content("~/Images/Kaki.jpg")" class="hidden" />


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">ASSESMENT PRA OPERASI LAKI LAKI</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssPraOprsLaki.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssPraOprsLaki.Tanggal != null ? (Model.AssPraOprsLaki.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssPraOprsLaki.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssPraOprsLaki.Jam != null ? Model.AssPraOprsLaki.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">
                            Data Subyektif(Anamnesa)
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.Anamnesa_Batuk, new { htmlAttributes = new { } })
                                Batuk
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.Anamnesa_Pusing, new { htmlAttributes = new { } })
                                Pusing
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.Anamnesa_SesakNafas, new { htmlAttributes = new { } })
                                Sesak Nafas
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.Anamnesa_Pilek, new { htmlAttributes = new { } })
                                Pilek
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.Anamnesa_Mual, new { htmlAttributes = new { } })
                                Mual
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.Anamnesa_Gigi, new { htmlAttributes = new { } })
                                Gigi Palsu
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.AssPraOprsLaki.Anamnesa_Puasa, new { htmlAttributes = new { onclick = "puasapraoprlaki()" } })
                                    Puasa
                                </label>
                                @Html.EditorFor(model => model.AssPraOprsLaki.Anamnesa_Puasa_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Anamnesa_Puasa_Ket, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Jam</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.AssPraOprsLaki.Anamnesa_Lainnya, new { htmlAttributes = new { onclick = "lainyasubjekpraoprlaki()" } })
                                    Lainnya
                                </label>
                                @Html.EditorFor(model => model.AssPraOprsLaki.Anamnesa_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Anamnesa_Lainnya_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.RiwayatPenyakit_DM, new { htmlAttributes = new { } })
                                DM
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.RiwayatPenyakit_TBParu, new { htmlAttributes = new { } })
                                TR Paru
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.RiwayatPenyakit_Hepatitis, new { htmlAttributes = new { } })
                                Hepatitis B/C
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.RiwayatPenyakit_Hipertensi, new { htmlAttributes = new { } })
                                Hipertensi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.RiwayatPenyakit_AMI, new { htmlAttributes = new { } })
                                AMI
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.RiwayatPenyakit_HIV, new { htmlAttributes = new { } })
                                HIV
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.RiwayatPenyakit_Ashtma, new { htmlAttributes = new { } })
                                Ashtma
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.RiwayatPenyakit_CHF, new { htmlAttributes = new { } })
                                CHF
                            </label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.AssPraOprsLaki.RiwayatPenyakit_Lainnya, new { htmlAttributes = new { onclick = "rplainnyapraoprlaki()" } })
                                    Lainnya
                                </label>
                                @Html.EditorFor(model => model.AssPraOprsLaki.RiwayatPenyakit_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssPraOprsLaki.RiwayatPenyakit_Lainnya_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Pemeriksaan</label>
                        <label class="col-md-1 control-label">Jam :</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssPraOprsLaki.Pemeriksaan_Jam1, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssPraOprsLaki.Pemeriksaan_Jam1 != null ? Model.AssPraOprsLaki.Pemeriksaan_Jam1.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Pemeriksaan_Jam1, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Jam :</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssPraOprsLaki.Pemeriksaan_Jam2, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssPraOprsLaki.Pemeriksaan_Jam2 != null ? Model.AssPraOprsLaki.Pemeriksaan_Jam2.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Pemeriksaan_Jam2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Tekanan Darah :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPraOprsLaki.TekananDarah, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.TekananDarah, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Frekunsi Nafas :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPraOprsLaki.FrekuensiNafas, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.FrekuensiNafas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Nadi :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPraOprsLaki.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Nadi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Suhu Axilaris :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPraOprsLaki.SuhuAxilaris, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.SuhuAxilaris, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Inspeksi :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPraOprsLaki.Inspeksi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Inspeksi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Auskultasi :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPraOprsLaki.Auskultasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Auskultasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Palpasi :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPraOprsLaki.Palpasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Palpasi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Perkusi :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPraOprsLaki.Perkusi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Perkusi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Catatan :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssPraOprsLaki.Catatan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Catatan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Diagnosa Pra Oprasi :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssPraOprsLaki.Diagnosa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Diagnosa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Level Asa :</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.AssPraOprsLaki.LevelAsa, StaticModel.ListLevelAsa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.LevelAsa, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Mallampati :</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.AssPraOprsLaki.Mallampati, StaticModel.ListMallampati, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Mallampati, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">Posisi Pasien Dalam Operasi:</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssPraOprsLaki.PosisiDalamOperasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.PosisiDalamOperasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Profilaksis:</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssPraOprsLaki.Profilaksis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Profilaksis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">Hasil pemeriksaan penunjang yang telah terindentifikasi secara benar :</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.Hasil_FotoRontgen, new { htmlAttributes = new { } })
                                Foto Rontgen
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.Hasil_CTScan, new { htmlAttributes = new { } })
                                CT Scan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.Hasil_MRI, new { htmlAttributes = new { } })
                                MRI
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.Hasil_USG, new { htmlAttributes = new { } })
                                USG
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.Hasil_Laboratorium, new { htmlAttributes = new { } })
                                Laboratorium
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.AssPraOprsLaki.Hasil_Lainnya, new { htmlAttributes = new { onclick = "hasillainnyapraoprlaki()" } })
                                    Lainnya
                                </label>
                                @Html.EditorFor(model => model.AssPraOprsLaki.Hasil_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Hasil_Lainnya_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Riwayat Penyakit Sebelumnya :</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssPraOprsLaki.RiwayatPenyakitSebelumnnya, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.RiwayatPenyakitSebelumnnya, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Dokumen Rekam Medik terkait :</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.Dokumen_InformasiTindakanBedah, new { htmlAttributes = new { } })
                                Infromed concent tindakan bedah
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.Dokumen_InformasiTindakanAnestesi, new { htmlAttributes = new { } })
                                Infromed concent tindakan anestesi
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssPraOprsLaki.Dokumen_InformasiSedasi, new { htmlAttributes = new { } })
                                Infromed concent sedasi
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.AssPraOprsLaki.Dokumen_Lainnya, new { htmlAttributes = new { onclick = "dokumenlainnyapraoprlaki()" } })
                                    Lainnya
                                </label>
                                @Html.EditorFor(model => model.AssPraOprsLaki.Dokumen_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Dokumen_Lainnya_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Rencana Operasi :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssPraOprsLaki.RencanaOperasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.RencanaOperasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Rencana Anastesi :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssPraOprsLaki.RencanaAnastesi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.RencanaAnastesi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Alat Khusus/Darah :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssPraOprsLaki.AlatKhusus, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.AlatKhusus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Perkiraan Lama Operasi :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssPraOprsLaki.PerkiraanLamaOperasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.PerkiraanLamaOperasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            DPJP Operator
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssPraOprsLaki.DPJPOperator, Model.AssPraOprsLaki.DPJPOperator == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.AssPraOprsLaki.DPJPOperator.ToString(), Text = Model.AssPraOprsLaki.DPJPOperatorNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.DPJPOperator, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.AssPraOprsLaki.SudahRegDPJPOperator == 0)
                            {
                                <a id="btn_asspraoprdpjpoperatorlaki" class="btn btn-primary disabled" onclick="user_verif_asspraoprdpjplakioperator()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssPraOprLakiDPJPOperator"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_asspraoprdpjpoperatorlaki" class="btn btn-primary" onclick="user_verif_asspraoprdpjplakioperator()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssPraOprLakiDPJPOperator"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                        <label class="control-label col-md-2">
                            DPJP Anestesi
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssPraOprsLaki.DPJPAnastesi, Model.AssPraOprsLaki.DPJPAnastesi == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.AssPraOprsLaki.DPJPAnastesi.ToString(), Text = Model.AssPraOprsLaki.DPJPAnastesiNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.DPJPAnastesi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.AssPraOprsLaki.SudahRegDPJPAnestesi == 0)
                            {
                                <a id="btn_asspraoprdpjpanestesilaki" class="btn btn-primary disabled" onclick="user_verif_asspraoprdpjplakianestesi()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssPraOprLakiDPJPAnestesi"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_asspraoprdpjpanestesilaki" class="btn btn-primary" onclick="user_verif_asspraoprdpjplakianestesi()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssPraOprLakiDPJPAnestesi"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Dengan ini saya menyatakan bahwa saya telah menerima informasi tentang tujuan dan pentingnya dilakukan assesmen pra operasi dan penandaan pada area operasi dan saya mengerti serta memahami hal tersebut</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Nama Pasien :</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.AssPraOprsLaki.NamaPasien, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AssPraOprsLaki.NamaPasien != null ? (Model.AssPraOprsLaki.NamaPasien) : "") } })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.AssPraOprsLaki.SudahRegPasien == 0)
                            {
                                <a id="btn_asspraoprpasienlaki" class="btn btn-primary disabled" onclick="user_verif_asspraoprlakipasien()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssPraOprLaki"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_asspraoprpasienlaki" class="btn btn-primary" onclick="user_verif_asspraoprlakipasien()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssPraOprLaki"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-center text-bold">S I T E   M A R K I N G</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Prosedur :</label>
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.AssPraOprsLaki.Prosedur, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.Prosedur, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Tanggal Prosedur :</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssPraOprsLaki.TanggalProsedur, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssPraOprsLaki.TanggalProsedur != null ? (Model.AssPraOprsLaki.TanggalProsedur.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.AssPraOprsLaki.TanggalProsedur, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" style="position:inherit">
                        <div class="col-md-6" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12" style="position:inherit">
                                    <div class="panel panel-default" style="position:inherit">
                                        <div class="panel-body" style="position:inherit">
                                            <div class="form-group text-center" style="position:inherit">
                                                <canvas id="Canvas_Gambar11" class="border-1 center-block"></canvas>
                                                <hr />
                                                <div class="row">
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <select class="form-group input-xs" id="size_Gambar11" onchange="idGambar11.text('text_Gambar11', this.value, this)">
                                                                <option value="normal 10px sans-serif" data-line="1">extra small</option>
                                                                <option value="normal 20px sans-serif" data-line="3" selected>small</option>
                                                                <option value="normal 40px sans-serif" data-line="10">normal</option>
                                                                <option value="normal 70px sans-serif" data-line="20">large</option>
                                                                <option value="normal 100px sans-serif" data-line="30">extra large</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control input-xs text-right" id="text_Gambar11" placeholder="Text" onblur="idGambar11.text('text_Gambar11', document.getElementById('size_Gambar11').value)" />
                                                                <div class="input-group-addon"> <a class="fa fa-font" onclick="document.getElementById('text_Gambar11').value = ''"></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <button type="button" onclick="idGambar11.changecolor('red')" class="btn btn-xs"><i class="fa fa-tint" style="color:red"></i></button>
                                                            <button type="button" onclick="idGambar11.changecolor('black')" class="btn btn-xs"><i class="fa fa-tint" style="color:black"></i></button>
                                                            <button type="button" onclick="idGambar11.changecolor('yellow')" class="btn btn-xs"><i class="fa fa-tint" style="color:yellow"></i></button>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" onclick="idGambar11.clear()" class="btn btn-xs"><i class="fa fa-trash"></i></button>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" onclick="Undo11()" class="btn btn-xs"><i class="icon icon-undo"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<input type="file" name="Image[0]" />*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="position:inherit">
                            <div class="row">
                                <div class="form-group" style="position:inherit">
                                    <div class="col-md-12" style="position:inherit">
                                        <div class="panel panel-default" style="position:inherit">
                                            <div class="panel-body" style="position:inherit">
                                                <div class="form-group text-center" style="position:inherit">
                                                    <canvas id="Canvas_Gambar22" class="border-1 center-block"></canvas>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="form-inline">
                                                            <div class="form-group">
                                                                <select class="form-group input-xs" id="size_Gambar22" onchange="idGambar22.text('text_Gambar22', this.value, this)">
                                                                    <option value="normal 10px sans-serif" data-line="1">extra small</option>
                                                                    <option value="normal 20px sans-serif" data-line="3" selected>small</option>
                                                                    <option value="normal 40px sans-serif" data-line="10">normal</option>
                                                                    <option value="normal 70px sans-serif" data-line="20">large</option>
                                                                    <option value="normal 100px sans-serif" data-line="30">extra large</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control input-xs text-right" id="text_Gambar22" placeholder="Text" onblur="idGambar22.text('text_Gambar22', document.getElementById('size_Gambar22').value)" />
                                                                    <div class="input-group-addon"> <a class="fa fa-font" onclick="document.getElementById('text_Gambar22').value = ''"></a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="form-inline">
                                                            <div class="form-group">
                                                                <button type="button" onclick="idGambar22.changecolor('red')" class="btn btn-xs"><i class="fa fa-tint" style="color:red"></i></button>
                                                                <button type="button" onclick="idGambar22.changecolor('black')" class="btn btn-xs"><i class="fa fa-tint" style="color:black"></i></button>
                                                                <button type="button" onclick="idGambar22.changecolor('yellow')" class="btn btn-xs"><i class="fa fa-tint" style="color:yellow"></i></button>
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="button" onclick="idGambar22.clear()" class="btn btn-xs"><i class="fa fa-trash"></i></button>
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="button" onclick="Undo()" class="btn btn-xs"><i class="icon icon-undo"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<input type="file" name="Image[0]" />*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="position:inherit">
                                    <div class="col-md-12" style="position:inherit">
                                        <div class="panel panel-default" style="position:inherit">
                                            <div class="panel-body" style="position:inherit">
                                                <div class="form-group text-center" style="position:inherit">
                                                    <canvas id="Canvas_Gambar33" class="border-1 center-block"></canvas>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="form-inline">
                                                            <div class="form-group">
                                                                <select class="form-group input-xs" id="size_Gambar33" onchange="idGambar33.text('text_Gambar33', this.value, this)">
                                                                    <option value="normal 10px sans-serif" data-line="1">extra small</option>
                                                                    <option value="normal 20px sans-serif" data-line="3" selected>small</option>
                                                                    <option value="normal 40px sans-serif" data-line="10">normal</option>
                                                                    <option value="normal 70px sans-serif" data-line="20">large</option>
                                                                    <option value="normal 100px sans-serif" data-line="30">extra large</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control input-xs text-right" id="text_Gambar33" placeholder="Text" onblur="idGambar33.text('text_Gambar33', document.getElementById('size_Gambar33').value)" />
                                                                    <div class="input-group-addon"> <a class="fa fa-font" onclick="document.getElementById('text_Gambar33').value = ''"></a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="form-inline">
                                                            <div class="form-group">
                                                                <button type="button" onclick="idGambar33.changecolor('red')" class="btn btn-xs"><i class="fa fa-tint" style="color:red"></i></button>
                                                                <button type="button" onclick="idGambar33.changecolor('black')" class="btn btn-xs"><i class="fa fa-tint" style="color:black"></i></button>
                                                                <button type="button" onclick="idGambar33.changecolor('yellow')" class="btn btn-xs"><i class="fa fa-tint" style="color:yellow"></i></button>
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="button" onclick="idGambar33.clear()" class="btn btn-xs"><i class="fa fa-trash"></i></button>
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="button" onclick="Undo()" class="btn btn-xs"><i class="icon icon-undo"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<input type="file" name="Image[0]" />*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="position:inherit">
                        <div class="col-md-6" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12" style="position:inherit">
                                    <div class="panel panel-default" style="position:inherit">
                                        <div class="panel-body" style="position:inherit">
                                            <div class="form-group text-center" style="position:inherit">
                                                <canvas id="Canvas_Gambar44" class="border-1 center-block"></canvas>
                                                <hr />
                                                <div class="row">
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <select class="form-group input-xs" id="size_Gambar44" onchange="idGambar44.text('text_Gambar44', this.value, this)">
                                                                <option value="normal 10px sans-serif" data-line="1">extra small</option>
                                                                <option value="normal 20px sans-serif" data-line="3" selected>small</option>
                                                                <option value="normal 40px sans-serif" data-line="10">normal</option>
                                                                <option value="normal 70px sans-serif" data-line="20">large</option>
                                                                <option value="normal 100px sans-serif" data-line="30">extra large</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control input-xs text-right" id="text_Gambar44" placeholder="Text" onblur="idGambar44.text('text_Gambar44', document.getElementById('size_Gambar44').value)" />
                                                                <div class="input-group-addon"> <a class="fa fa-font" onclick="document.getElementById('text_Gambar44').value = ''"></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <button type="button" onclick="idGambar44.changecolor('red')" class="btn btn-xs"><i class="fa fa-tint" style="color:red"></i></button>
                                                            <button type="button" onclick="idGambar44.changecolor('black')" class="btn btn-xs"><i class="fa fa-tint" style="color:black"></i></button>
                                                            <button type="button" onclick="idGambar44.changecolor('yellow')" class="btn btn-xs"><i class="fa fa-tint" style="color:yellow"></i></button>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" onclick="idGambar44.clear()" class="btn btn-xs"><i class="fa fa-trash"></i></button>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" onclick="Undo()" class="btn btn-xs"><i class="icon icon-undo"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<input type="file" name="Image[0]" />*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12" style="position:inherit">
                                    <div class="panel panel-default" style="position:inherit">
                                        <div class="panel-body" style="position:inherit">
                                            <div class="form-group text-center" style="position:inherit">
                                                <canvas id="Canvas_Gambar55" class="border-1 center-block"></canvas>
                                                <hr />
                                                <div class="row">
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <select class="form-group input-xs" id="size_Gambar55" onchange="idGambar55.text('text_Gambar55', this.value, this)">
                                                                <option value="normal 10px sans-serif" data-line="1">extra small</option>
                                                                <option value="normal 20px sans-serif" data-line="3" selected>small</option>
                                                                <option value="normal 40px sans-serif" data-line="10">normal</option>
                                                                <option value="normal 70px sans-serif" data-line="20">large</option>
                                                                <option value="normal 100px sans-serif" data-line="30">extra large</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control input-xs text-right" id="text_Gambar55" placeholder="Text" onblur="idGambar55.text('text_Gambar55', document.getElementById('size_Gambar55').value)" />
                                                                <div class="input-group-addon"> <a class="fa fa-font" onclick="document.getElementById('text_Gambar55').value = ''"></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <button type="button" onclick="idGambar55.changecolor('red')" class="btn btn-xs"><i class="fa fa-tint" style="color:red"></i></button>
                                                            <button type="button" onclick="idGambar55.changecolor('black')" class="btn btn-xs"><i class="fa fa-tint" style="color:black"></i></button>
                                                            <button type="button" onclick="idGambar55.changecolor('yellow')" class="btn btn-xs"><i class="fa fa-tint" style="color:yellow"></i></button>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" onclick="idGambar55.clear()" class="btn btn-xs"><i class="fa fa-trash"></i></button>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" onclick="Undo()" class="btn btn-xs"><i class="icon icon-undo"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<input type="file" name="Image[0]" />*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="position:inherit">
                        <div class="col-md-6" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12" style="position:inherit">
                                    <div class="panel panel-default" style="position:inherit">
                                        <div class="panel-body" style="position:inherit">
                                            <div class="form-group text-center" style="position:inherit">
                                                <canvas id="Canvas_Gambar66" class="border-1 center-block"></canvas>
                                                <hr />
                                                <div class="row">
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <select class="form-group input-xs" id="size_Gambar66" onchange="idGambar66.text('text_Gambar66', this.value, this)">
                                                                <option value="normal 10px sans-serif" data-line="1">extra small</option>
                                                                <option value="normal 20px sans-serif" data-line="3" selected>small</option>
                                                                <option value="normal 40px sans-serif" data-line="10">normal</option>
                                                                <option value="normal 70px sans-serif" data-line="20">large</option>
                                                                <option value="normal 100px sans-serif" data-line="30">extra large</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control input-xs text-right" id="text_Gambar66" placeholder="Text" onblur="idGambar66.text('text_Gambar66', document.getElementById('size_Gambar66').value)" />
                                                                <div class="input-group-addon"> <a class="fa fa-font" onclick="document.getElementById('text_Gambar66').value = ''"></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <button type="button" onclick="idGambar66.changecolor('red')" class="btn btn-xs"><i class="fa fa-tint" style="color:red"></i></button>
                                                            <button type="button" onclick="idGambar66.changecolor('black')" class="btn btn-xs"><i class="fa fa-tint" style="color:black"></i></button>
                                                            <button type="button" onclick="idGambar66.changecolor('yellow')" class="btn btn-xs"><i class="fa fa-tint" style="color:yellow"></i></button>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" onclick="idGambar66.clear()" class="btn btn-xs"><i class="fa fa-trash"></i></button>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" onclick="Undo()" class="btn btn-xs"><i class="icon icon-undo"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<input type="file" name="Image[0]" />*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />

                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.AssPraOprsLaki.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFAssPraOprsLaki", new { noreg = Model.AssPraOprsLaki.NoReg, sectionid = Model.AssPraOprsLaki.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.AssPraOprsLaki.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dpjpoperator = $('#@formName #AssPraOprsLaki_DPJPOperator');
    var dpjpanastesi = $('#@formName #AssPraOprsLaki_DPJPAnastesi');

    dpjpoperator.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    dpjpanastesi.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>


<!-- JS GAMBAR -->
<script type="text/javascript">
    var xGambar11;
    var xGambar22;
    var xGambar33;
    var xGambar44;
    var xGambar55;
    var xGambar66;
    @if (Model != null)
    {
        if (Model.AssPraOprsLaki.Gambar1Badan != null)
        {
            @:xGambar11= new Image();
            @:xGambar11.src = 'data:image/png;base64,@(Model.AssPraOprsLaki.Gambar1Badan)';
        }

        if (Model.AssPraOprsLaki.Gambar2KepalaKiriKana != null)
        {
            @:xGambar22= new Image();
            @:xGambar22.src = 'data:image/png;base64,@(Model.AssPraOprsLaki.Gambar2KepalaKiriKana)';
        }

        if (Model.AssPraOprsLaki.Gambar3KepalaDepanBelakang != null)
        {
            @:xGambar33= new Image();
            @:xGambar33.src = 'data:image/png;base64,@(Model.AssPraOprsLaki.Gambar3KepalaDepanBelakang)';
        }
        if (Model.AssPraOprsLaki.Gambar4TanganPalmar != null)
        {
            @:xGambar44= new Image();
            @:xGambar44.src = 'data:image/png;base64,@(Model.AssPraOprsLaki.Gambar4TanganPalmar)';
        }
        if (Model.AssPraOprsLaki.Gmabar5TanganDorsal != null)
        {
            @:xGambar55= new Image();
            @:xGambar55.src = 'data:image/png;base64,@(Model.AssPraOprsLaki.Gmabar5TanganDorsal)';
        }
        if (Model.AssPraOprsLaki.Gambar6Kaki != null)
        {
            @:xGambar66= new Image();
            @:xGambar66.src = 'data:image/png;base64,@(Model.AssPraOprsLaki.Gambar6Kaki)';
        }
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        //loading();
        idGambar11 = new iPainter('Canvas_Gambar11', 'Gambar11', xGambar11, null, null, 420, 520);
        idGambar22 = new iPainter('Canvas_Gambar22', 'Gambar22', xGambar22, null, null, 400, 150);
        idGambar33 = new iPainter('Canvas_Gambar33', 'Gambar33', xGambar33, null, null, 400, 150);
        idGambar44 = new iPainter('Canvas_Gambar44', 'Gambar44', xGambar44, null, null, 400, 200);
        idGambar55 = new iPainter('Canvas_Gambar55', 'Gambar55', xGambar55, null, null, 400, 200);
        idGambar66 = new iPainter('Canvas_Gambar66', 'Gambar66', xGambar66, null, null, 400, 200);


        @if (!string.IsNullOrEmpty(ViewBag.Status))
        {
           @:alertpopup('@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.Message))','@ViewBag.Status');
        }
    });


    function SubmitForm_AssesmentPraOperasiLakiLaki(e) {
        try {
            idGambar11.convert('AssPraOprsLaki_Gambar1Badan');
            idGambar22.convert('AssPraOprsLaki_Gambar2KepalaKiriKana');
            idGambar33.convert('AssPraOprsLaki_Gambar3KepalaDepanBelakang');
            idGambar44.convert('AssPraOprsLaki_Gambar4TanganPalmar');
            idGambar55.convert('AssPraOprsLaki_Gmabar5TanganDorsal');
            idGambar66.convert('AssPraOprsLaki_Gambar6Kaki');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }

    }

    function gridBox_valueChanged(e) {
        var $dataGrid;
        if (e.element.hasClass('dx-texteditor'))
            $dataGrid = $(e.element.parent()).find('#embedded-datagrid');

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
    }

    function gridBox_displayExpr(item) {
        return item && "[" + item.DokterID + "] " + item.NamaDOkter;
    }

    function stopRKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
    }

    document.onkeypress = stopRKey;

    const canvas11 = document.getElementById('Canvas_Gambar11');
    const canvas22 = document.getElementById('Canvas_Gambar22');
    const canvas33 = document.getElementById('Canvas_Gambar33');
    const canvas44 = document.getElementById('Canvas_Gambar44');
    const canvas55 = document.getElementById('Canvas_Gambar55');
    const canvas66 = document.getElementById('Canvas_Gambar66');

    const ctx11 = canvas11.getContext('2d');
    const ctx22 = canvas22.getContext('2d');
    const ctx33 = canvas33.getContext('2d');
    const ctx44 = canvas44.getContext('2d');
    const ctx55 = canvas55.getContext('2d');
    const ctx66 = canvas66.getContext('2d');

    canvas11.width = 420;
    canvas22.width = 400;
    canvas33.width = 400;
    canvas44.width = 400;
    canvas55.width = 400;
    canvas66.width = 400;

    canvas11.height = 520;
    canvas22.height = 150;
    canvas33.height = 150;
    canvas44.height = 200;
    canvas55.height = 200;
    canvas66.height = 200;

    ctx11.lineJoin = 'round';
    ctx22.lineJoin = 'round';
    ctx33.lineJoin = 'round';
    ctx44.lineJoin = 'round';
    ctx55.lineJoin = 'round';
    ctx66.lineJoin = 'round';

    ctx11.lineCap = 'round';
    ctx22.lineCap = 'round';
    ctx33.lineCap = 'round';
    ctx44.lineCap = 'round';
    ctx55.lineCap = 'round';
    ctx66.lineCap = 'round';

    ctx11.lineWidth = 3;
    ctx22.lineWidth = 3;
    ctx33.lineWidth = 3;
    ctx44.lineWidth = 3;
    ctx55.lineWidth = 3;
    ctx66.lineWidth = 3;

    ctx11.color = 'df4b26';
    ctx22.color = 'df4b26';
    ctx33.color = 'df4b26';
    ctx44.color = 'df4b26';
    ctx55.color = 'df4b26';
    ctx66.color = 'df4b26';

    var color11 = 'df4b26';
    var color22 = 'df4b26';
    var color33 = 'df4b26';
    var color44 = 'df4b26';
    var color55 = 'df4b26';
    var color66 = 'df4b26';

    var line11 = 3;
    var line22 = 3;
    var line33 = 3;
    var line44 = 3;
    var line55 = 3;
    var line66 = 3;


    let drawing11 = false;
    let drawing22 = false;
    let drawing33 = false;
    let drawing44 = false;
    let drawing55 = false;
    let drawing66 = false;

    let pathsry11 = [];
    let pathsry22 = [];
    let pathsry33 = [];
    let pathsry44 = [];
    let pathsry55 = [];
    let pathsry66 = [];

    let points11 = [];
    let points22 = [];
    let points33 = [];
    let points44 = [];
    let points55 = [];
    let points66 = [];

    var mouse11 = { x: 0, y: 0 };
    var mouse22 = { x: 0, y: 0 };
    var mouse33 = { x: 0, y: 0 };
    var mouse44 = { x: 0, y: 0 };
    var mouse55 = { x: 0, y: 0 };
    var mouse66 = { x: 0, y: 0 };


    var previous11 = { x: 0, y: 0 };
    var previous22 = { x: 0, y: 0 };
    var previous33 = { x: 0, y: 0 };
    var previous44 = { x: 0, y: 0 };
    var previous55 = { x: 0, y: 0 };
    var previous66 = { x: 0, y: 0 };


    canvas11.addEventListener('mousedown', function (e) {
        drawing11 = true;
        previous11 = { x: mouse11.x, y: mouse11.y };
        points11 = [];
        mouse11 = oMousePos11(canvas11, e);
        points11.push({ x: mouse11.x, y: mouse11.y, color: canvas11.getContext('2d').strokeStyle, line: $('#size_Gambar11 option:selected').data('line'), text: $('#text_Gambar11').val() });

    });

    canvas11.addEventListener('mousedown', function (e) {
        drawing22 = true;
        previous22 = { x: mouse22.x, y: mouse22.y };
        points22 = [];
        mouse22 = oMousePos22(canvas22, e);
        points22.push({ x: mouse22.x, y: mouse22.y, color: canvas22.getContext('2d').strokeStyle, line: $('#size_Gambar22 option:selected').data('line'), text: $('#text_Gambar22').val() });
    });

    canvas33.addEventListener('mousedown', function (e) {
        drawing33 = true;
        previous33 = { x: mouse33.x, y: mouse33.y };
        points33 = [];
        mouse33 = oMousePos33(canvas33, e);
        points33.push({ x: mouse33.x, y: mouse33.y, color: canvas33.getContext('2d').strokeStyle, line: $('#size_Gambar33 option:selected').data('line'), text: $('#text_Gambar33').val() });
    });

    canvas44.addEventListener('mousedown', function (e) {
        drawing44 = true;
        previous44 = { x: mouse44.x, y: mouse44.y };
        points44 = [];
        mouse44 = oMousePos44(canvas44, e);
        points44.push({ x: mouse44.x, y: mouse44.y, color: canvas44.getContext('2d').strokeStyle, line: $('#size_Gambar44 option:selected').data('line'), text: $('#text_Gambar44').val() });
    });

    canvas55.addEventListener('mousedown', function (e) {
        drawing55 = true;
        previous55 = { x: mouse55.x, y: mouse55.y };
        points55 = [];
        mouse55 = oMousePos55(canvas55, e);
        points55.push({ x: mouse55.x, y: mouse55.y, color: canvas55.getContext('2d').strokeStyle, line: $('#size_Gambar55 option:selected').data('line'), text: $('#text_Gambar55').val() });
    });

    canvas66.addEventListener('mousedown', function (e) {
        drawing66 = true;
        previous66 = { x: mouse66.x, y: mouse66.y };
        points66 = [];
        mouse66 = oMousePos66(canvas66, e);
        points66.push({ x: mouse66.x, y: mouse66.y, color: canvas66.getContext('2d').strokeStyle, line: $('#size_Gambar66 option:selected').data('line'), text: $('#text_Gambar66').val() });
    });


    canvas11.addEventListener('mousemove', function (e) {
        if (drawing11) {
            previous11 = { x: mouse11.x, y: mouse11.y };
            mouse11 = oMousePos11(canvas11, e);
            points11.push({ x: mouse11.x, y: mouse11.y, color: canvas11.getContext('2d').strokeStyle, line: $('#size_Gambar11 option:selected').data('line'), text: $('#text_Gambar11').val() });
            ctx11.beginPath();
            ctx11.moveTo(previous11.x, previous11.y);
            ctx11.lineTo(mouse11.x, mouse11.y);
            ctx11.strokeStyle = canvas11.getContext('2d').strokeStyle;
            ctx11.lineWidth = $('#size_Gambar11 option:selected').data('line');
            ctx11.stroke();
        }
    }, false);

    canvas22.addEventListener('mousemove', function (e) {
        if (drawing22) {
            previous22 = { x: mouse22.x, y: mouse22.y };
            mouse22 = oMousePos22(canvas22, e);
            points22.push({ x: mouse22.x, y: mouse22.y, color: canvas22.getContext('2d').strokeStyle, line: $('#size_Gambar22 option:selected').data('line'), text: $('#text_Gambar22').val() });
            ctx22.beginPath();
            ctx22.moveTo(previous22.x, previous22.y);
            ctx22.lineTo(mouse22.x, mouse22.y);
            ctx22.strokeStyle = canvas22.getContext('2d').strokeStyle;
            ctx22.lineWidth = $('#size_Gambar22 option:selected').data('line');
            ctx22.stroke();
        }
    }, false);

    canvas33.addEventListener('mousemove', function (e) {
        if (drawing33) {
            previous33 = { x: mouse33.x, y: mouse33.y };
            mouse33 = oMousePos33(canvas33, e);
            points33.push({ x: mouse33.x, y: mouse33.y, color: canvas33.getContext('2d').strokeStyle, line: $('#size_Gambar33 option:selected').data('line'), text: $('#text_Gambar33').val() });
            ctx33.beginPath();
            ctx33.moveTo(previous33.x, previous33.y);
            ctx33.lineTo(mouse33.x, mouse33.y);
            ctx33.strokeStyle = canvas33.getContext('2d').strokeStyle;
            ctx33.lineWidth = $('#size_Gambar33 option:selected').data('line');
            ctx33.stroke();
        }
    }, false);

    canvas44.addEventListener('mousemove', function (e) {
        if (drawing44) {
            previous44 = { x: mouse44.x, y: mouse44.y };
            mouse44 = oMousePos44(canvas44, e);
            points44.push({ x: mouse44.x, y: mouse44.y, color: canvas44.getContext('2d').strokeStyle, line: $('#size_Gambar44 option:selected').data('line'), text: $('#text_Gambar44').val() });
            ctx44.beginPath();
            ctx44.moveTo(previous44.x, previous44.y);
            ctx44.lineTo(mouse44.x, mouse44.y);
            ctx44.strokeStyle = canvas44.getContext('2d').strokeStyle;
            ctx44.lineWidth = $('#size_Gambar44 option:selected').data('line');
            ctx44.stroke();
        }
    }, false);

    canvas55.addEventListener('mousemove', function (e) {
        if (drawing55) {
            previous55 = { x: mouse55.x, y: mouse55.y };
            mouse55 = oMousePos55(canvas55, e);
            points55.push({ x: mouse55.x, y: mouse55.y, color: canvas55.getContext('2d').strokeStyle, line: $('#size_Gambar55 option:selected').data('line'), text: $('#text_Gambar55').val() });
            ctx55.beginPath();
            ctx55.moveTo(previous55.x, previous55.y);
            ctx55.lineTo(mouse55.x, mouse55.y);
            ctx55.strokeStyle = canvas55.getContext('2d').strokeStyle;
            ctx55.lineWidth = $('#size_Gambar55 option:selected').data('line');
            ctx55.stroke();
        }
    }, false);

    canvas66.addEventListener('mousemove', function (e) {
        if (drawing66) {
            previous66 = { x: mouse66.x, y: mouse66.y };
            mouse66 = oMousePos66(canvas66, e);
            points66.push({ x: mouse66.x, y: mouse66.y, color: canvas66.getContext('2d').strokeStyle, line: $('#size_Gambar66 option:selected').data('line'), text: $('#text_Gambar66').val() });
            ctx66.beginPath();
            ctx66.moveTo(previous66.x, previous66.y);
            ctx66.lineTo(mouse66.x, mouse66.y);
            ctx66.strokeStyle = canvas66.getContext('2d').strokeStyle;
            ctx66.lineWidth = $('#size_Gambar66 option:selected').data('line');
            ctx66.stroke();
        }
    }, false);


    canvas11.addEventListener('mouseup', function () {
        drawing11 = false;
        pathsry11.push(points11);
    }, false);

    canvas22.addEventListener('mouseup', function () {
        drawing22 = false;
        pathsry22.push(points22);
    }, false);

    canvas33.addEventListener('mouseup', function () {
        drawing33 = false;
        pathsry33.push(points33);
    }, false);

    canvas44.addEventListener('mouseup', function () {
        drawing44 = false;
        pathsry44.push(points44);
    }, false);

    canvas55.addEventListener('mouseup', function () {
        drawing55 = false;
        pathsry55.push(points55);
    }, false);

    canvas66.addEventListener('mouseup', function () {
        drawing66 = false;
        pathsry66.push(points66);
    }, false);


    function drawPaths11() {
        // delete everything
        ctx11.clearRect(0, 0, canvas11.width, canvas11.height);
        // draw all the paths in the paths array
        idGambar11 = new iPainter('Canvas_Gambar11', 'Gambar11', xGambar11, canvas11.getContext('2d').strokeStyle, $('#size_Gambar11 option:selected').data('line'), 420, 520);

        pathsry11.forEach(path => {
            ctx11.beginPath();
            ctx11.moveTo(path[0].x, path[0].y);
            for (let i = 1; i < path.length; i++) {
                ctx11.lineTo(path[i].x, path[i].y);
                ctx11.strokeStyle = path[i].color11;
                ctx11.lineWidth = path[i].line11;
                ctx11.lineJoin = "round";
                ctx11.stroke();
            }
        })
    }

    function drawPaths22() {
        // delete everything
        ctx22.clearRect(0, 0, canvas22.width, canvas22.height);
        // draw all the paths in the paths array
        idGambar22 = new iPainter('Canvas_Gambar22', 'Gambar22', xGambar22, canvas.getContext('2d').strokeStyle, $('#size_Gambar22 option:selected').data('line'), 400, 150);

        pathsry22.forEach(path => {
            ctx22.beginPath();
            ctx22.moveTo(path[0].x, path[0].y);
            for (let i = 1; i < path.length; i++) {
                ctx22.lineTo(path[i].x, path[i].y);
                ctx22.strokeStyle = path[i].color22;
                ctx22.lineWidth = path[i].line22;
                ctx22.lineJoin = "round";
                ctx22.stroke();
            }
        })
    }

    function drawPaths33() {
        // delete everything
        ctx33.clearRect(0, 0, canvas33.width, canvas33.height);
        // draw all the paths in the paths array
        idGambar33 = new iPainter('Canvas_Gambar33', 'Gambar33', xGambar33, canvas.getContext('2d').strokeStyle, $('#size_Gambar33 option:selected').data('line'), 400, 150);

        pathsry33.forEach(path => {
            ctx33.beginPath();
            ctx33.moveTo(path[0].x, path[0].y);
            for (let i = 1; i < path.length; i++) {
                ctx33.lineTo(path[i].x, path[i].y);
                ctx33.strokeStyle = path[i].color33;
                ctx33.lineWidth = path[i].line33;
                ctx33.lineJoin = "round";
                ctx33.stroke();
            }
        })
    }

    function drawPaths44() {
        // delete everything
        ctx44.clearRect(0, 0, canvas44.width, canvas44.height);
        // draw all the paths in the paths array
        idGambar44 = new iPainter('Canvas_Gambar44', 'Gambar44', xGambar44, canvas.getContext('2d').strokeStyle, $('#size_Gambar44 option:selected').data('line'), 400, 200);

        pathsry44.forEach(path => {
            ctx44.beginPath();
            ctx44.moveTo(path[0].x, path[0].y);
            for (let i = 1; i < path.length; i++) {
                ctx44.lineTo(path[i].x, path[i].y);
                ctx44.strokeStyle = path[i].color44;
                ctx44.lineWidth = path[i].line44;
                ctx44.lineJoin = "round";
                ctx44.stroke();
            }
        })
    }

    function drawPaths55() {
        // delete everything
        ctx55.clearRect(0, 0, canvas55.width, canvas55.height);
        // draw all the paths in the paths array
        idGambar55 = new iPainter('Canvas_Gambar55', 'Gambar55', xGambar55, canvas.getContext('2d').strokeStyle, $('#size_Gambar55 option:selected').data('line'), 400, 200);

        pathsry55.forEach(path => {
            ctx55.beginPath();
            ctx55.moveTo(path[0].x, path[0].y);
            for (let i = 1; i < path.length; i++) {
                ctx55.lineTo(path[i].x, path[i].y);
                ctx55.strokeStyle = path[i].color55;
                ctx55.lineWidth = path[i].line55;
                ctx55.lineJoin = "round";
                ctx55.stroke();
            }
        })
    }

    function drawPaths66() {
        // delete everything
        ctx66.clearRect(0, 0, canvas66.width, canvas66.height);
        // draw all the paths in the paths array
        idGambar66 = new iPainter('Canvas_Gambar66', 'Gambar66', xGambar66, canvas.getContext('2d').strokeStyle, $('#size_Gambar66 option:selected').data('line'), 300, 250);

        pathsry66.forEach(path => {
            ctx66.beginPath();
            ctx66.moveTo(path[0].x, path[0].y);
            for (let i = 1; i < path.length; i++) {
                ctx66.lineTo(path[i].x, path[i].y);
                ctx66.strokeStyle = path[i].color66;
                ctx66.lineWidth = path[i].line66;
                ctx66.lineJoin = "round";
                ctx66.stroke();
            }
        })
    }

    function Undo11() {
        // remove the last path from the paths array
        pathsry11.splice(-1, 1);
        // draw all the paths in the paths array
        drawPaths11();
    }

    function Undo22() {
        // remove the last path from the paths array
        pathsry22.splice(-1, 1);
        // draw all the paths in the paths array
        drawPaths22();
    }

    function Undo33() {
        // remove the last path from the paths array
        pathsry33.splice(-1, 1);
        // draw all the paths in the paths array
        drawPaths33();
    }

    function Undo44() {
        // remove the last path from the paths array
        pathsry44.splice(-1, 1);
        // draw all the paths in the paths array
        drawPaths44();
    }

    function Undo55() {
        // remove the last path from the paths array
        pathsry55.splice(-1, 1);
        // draw all the paths in the paths array
        drawPaths55();
    }

    function Undo66() {
        // remove the last path from the paths array
        pathsry66.splice(-1, 1);
        // draw all the paths in the paths array
        drawPaths66();
    }




    // a function to detect the mouse position
    function oMousePos11(canvas11, evt1) {
        var ClientRect = canvas11.getBoundingClientRect();
        return { //objeto
            x: Math.round(evt1.clientX - ClientRect.left),
            y: Math.round(evt1.clientY - ClientRect.top)
        }
    }

    function oMousePos22(canvas22, evt2) {
        var ClientRect = canvas22.getBoundingClientRect();
        return { //objeto
            x: Math.round(evt2.clientX - ClientRect.left),
            y: Math.round(evt2.clientY - ClientRect.top)
        }
    }

    function oMousePos33(canvas33, evt3) {
        var ClientRect = canvas33.getBoundingClientRect();
        return { //objeto
            x: Math.round(evt3.clientX - ClientRect.left),
            y: Math.round(evt3.clientY - ClientRect.top)
        }
    }

    function oMousePos44(canvas44, evt4) {
        var ClientRect = canvas44.getBoundingClientRect();
        return { //objeto
            x: Math.round(evt4.clientX - ClientRect.left),
            y: Math.round(evt4.clientY - ClientRect.top)
        }
    }

    function oMousePos55(canvas55, evt5) {
        var ClientRect = canvas55.getBoundingClientRect();
        return { //objeto
            x: Math.round(evt5.clientX - ClientRect.left),
            y: Math.round(evt5.clientY - ClientRect.top)
        }
    }

    function oMousePos66(canvas66, evt6) {
        var ClientRect = canvas66.getBoundingClientRect();
        return { //objeto
            x: Math.round(evt6.clientX - ClientRect.left),
            y: Math.round(evt6.clientY - ClientRect.top)
        }
    }

</script>

<script src="~/scripts/jquery.timer.js"></script>

<!--JS LAINNYA-->
<script>
        function user_verif_asspraoprdpjplakianestesi() {
            var reStatsAssPraOprDpjpAnestesiLaki = 0;
            regCt = -1;
            try {
                timer_verif.stop();
            }
            catch (err) {
                console.log('Verification timer has been init');
            }
            var limit = 5;
            var ct = 1;
            var timeout = 5000;
            var user_id = $('#AssPraOprsPrmpn_DPJPAnastesi').val();
            var noreg = $('#AssPraOprsPrmpn_NoReg').val();
            var section = $('#AssPraOprsPrmpn_SectionID').val();
            timer_verif = $.timer(timeout, function () {
                user_checkverifassoprdpjpanestesilaki(noreg, section, user_id);
                if (ct >= limit || reStatsAssPraOprDpjpAnestesiLaki == 1) {
                    timer_verif.stop();
                    if (ct >= limit && reStatsAssPraOprDpjpAnestesiLaki == 0) {
                        alertpopup("Verification fail!", "info");
                    }
                    if (reStatsAssPraOprDpjpAnestesiLaki == 1) {
                        alertpopup("Verification success!", "success");
                        $('#btn_asspraoprdpjpanestesilaki').addClass('disabled', true);

                    }
                }
                ct++;
            });

            function user_checkverifassoprdpjpanestesilaki(noreg, section, user_id) {
                myajax({
                    url: '@Url.Action("CheckBerhasilAssPraOprLaki", "VerifOK")',
                    method: 'GET',
                    data: {
                        noreg: noreg,
                        section: section,
                        id: user_id
                    },
                    success: function (data) {
                        if (data.IsSuccess) {
                            if (data.Data.Dokter == "1") {
                                reStatsAssPraOprDpjpAnestesiLaki = 1;
                            }
                        }
                        else {
                            reStatsAssPraOprDpjpAnestesiLaki = 0;
                        }
                    },
                    beforeSend: function () {
                        $('#_loading').css('display', 'none');
                    }
                });
            }
        }

        function user_verif_asspraoprdpjplakioperator() {
            var reStatsAssPraOprDpjpOperatorLaki = 0;
            regCt = -1;
            try {
                timer_verif.stop();
            }
            catch (err) {
                console.log('Verification timer has been init');
            }
            var limit = 5;
            var ct = 1;
            var timeout = 5000;
            var user_id = $('#AssPraOprsPrmpn_DPJPOperator').val();
            var noreg = $('#AssPraOprsPrmpn_NoReg').val();
            var section = $('#AssPraOprsPrmpn_SectionID').val();
            timer_verif = $.timer(timeout, function () {
                user_checkverifassoprdpjpoperatorlaki(noreg, section, user_id);
                if (ct >= limit || reStatsAssPraOprDpjpOperatorLaki == 1) {
                    timer_verif.stop();
                    if (ct >= limit && reStatsAssPraOprDpjpOperatorLaki == 0) {
                        alertpopup("Verification fail!", "info");
                    }
                    if (reStatsAssPraOprDpjpOperatorLaki == 1) {
                        alertpopup("Verification success!", "success");
                        $('#btn_asspraoprdpjpoperatorlaki').addClass('disabled', true);
                    }
                }
                ct++;
            });

            function user_checkverifassoprdpjpoperatorlaki(noreg, section, user_id) {
                myajax({
                    url: '@Url.Action("CheckBerhasilAssPraOprLaki", "VerifOK")',
                    method: 'GET',
                    data: {
                        noreg: noreg,
                        section: section,
                        id: user_id
                    },
                    success: function (data) {
                        if (data.IsSuccess) {
                            if (data.Data.DokterPengkaji == "1") {
                                reStatsAssPraOprDpjpOperatorLaki = 1;
                            }
                        }
                        else {
                            reStatsAssPraOprDpjpOperatorLaki = 0;
                        }
                    },
                    beforeSend: function () {
                        $('#_loading').css('display', 'none');
                    }
                });
            }
        }

        function user_verif_asspraoprlakipasien() {
            var reStatsAssPraOprPasienLaki = 0;
            regCt = -1;
            try {
                timer_verif.stop();
            }
            catch (err) {
                console.log('Verification timer has been init');
            }
            var limit = 5;
            var ct = 1;
            var timeout = 5000;
            var user_id = $('#AssPraOprsPrmpn_NRM').val();
            var noreg = $('#AssPraOprsPrmpn_NoReg').val();
            var section = $('#AssPraOprsPrmpn_SectionID').val();
            timer_verif = $.timer(timeout, function () {
                user_checkverifassoprpasienlaki(noreg, section, user_id);
                if (ct >= limit || reStatsAssPraOprPasienLaki == 1) {
                    timer_verif.stop();
                    if (ct >= limit && reStatsAssPraOprPasienLaki == 0) {
                        alertpopup("Verification fail!", "info");
                    }
                    if (reStatsAssPraOprPasienLaki == 1) {
                        alertpopup("Verification success!", "success");
                        $('#btn_asspraoprpasienlaki').addClass('disabled', true);
                    }
                }
                ct++;
            });

            function user_checkverifassoprpasienlaki(noreg, section, user_id) {
                myajax({
                    url: '@Url.Action("CheckBerhasilAssPraOprLaki", "VerifOK")',
                    method: 'GET',
                    data: {
                        noreg: noreg,
                        section: section,
                        id: user_id
                    },
                    success: function (data) {
                        if (data.IsSuccess) {
                            if (data.Data.Pasien == "1") {
                                reStatsAssPraOprPasienLaki = 1;
                            }
                        }
                        else {
                            reStatsAssPraOprPasienLaki = 0;
                        }
                    },
                    beforeSend: function () {
                        $('#_loading').css('display', 'none');
                    }
                });
            }
        }

        function puasapraoprlaki() {
            if ($('#AssPraOprsLaki_Anamnesa_Puasa').is(':checked')) {
                $('#AssPraOprsLaki_Anamnesa_Puasa_Ket').prop('disabled', false);
            } else {
                $('#AssPraOprsLaki_Anamnesa_Puasa_Ket').prop('disabled', true);
                $('#AssPraOprsLaki_Anamnesa_Puasa_Ket').val('');
            }
        }

        function lainyasubjekpraoprlaki() {
            if ($('#AssPraOprsLaki_Anamnesa_Lainnya').is(':checked')) {
                $('#AssPraOprsLaki_Anamnesa_Lainnya_Ket').prop('disabled', false);
            } else {
                $('#AssPraOprsLaki_Anamnesa_Lainnya_Ket').prop('disabled', true);
                $('#AssPraOprsLaki_Anamnesa_Lainnya_Ket').val('');
            }
        }

        function rplainnyapraoprlaki() {
            if ($('#AssPraOprsLaki_RiwayatPenyakit_Lainnya').is(':checked')) {
                $('#AssPraOprsLaki_RiwayatPenyakit_Lainnya_Ket').prop('disabled', false);
            } else {
                $('#AssPraOprsLaki_RiwayatPenyakit_Lainnya_Ket').prop('disabled', true);
                $('#AssPraOprsLaki_RiwayatPenyakit_Lainnya_Ket').val('');
            }
        }

        function hasillainnyapraoprlaki() {
            if ($('#AssPraOprsLaki_Hasil_Lainnya').is(':checked')) {
                $('#AssPraOprsLaki_Hasil_Lainnya_Ket').prop('disabled', false);
            } else {
                $('#AssPraOprsLaki_Hasil_Lainnya_Ket').prop('disabled', true);
                $('#AssPraOprsLaki_Hasil_Lainnya_Ket').val('');
            }
        }

        function dokumenlainnyapraoprlaki() {
            if ($('#AssPraOprsLaki_Dokumen_Lainnya').is(':checked')) {
                $('#AssPraOprsLaki_Dokumen_Lainnya_Ket').prop('disabled', false);
            } else {
                $('#AssPraOprsLaki_Dokumen_Lainnya_Ket').prop('disabled', true);
                $('#AssPraOprsLaki_Dokumen_Lainnya_Ket').val('');
            }
        }

        $(document).ready(function () {
            puasapraoprlaki();
            lainyasubjekpraoprlaki();
            rplainnyapraoprlaki();
            hasillainnyapraoprlaki();
            dokumenlainnyapraoprlaki();
        });
</script>

<script>
    function oncompletecreateapraoperasilaki(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                alertpopup(result.Message, 'success');
                angular.element('#table_PraOperasiLaki').scope().getdatas();
                $('#Panel3').click();
            } else {
                alertpopup(result.Message || 'Server Error', 'danger');
            }
        } catch (ex) {
            alertpopup('Berhasil Disimpan aaaa', 'success');
        }
        $('#Panel3').click();
    }
</script>
