﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel

@{
    var controllerName = "AsuhanGiziAnak";
    ViewBag.Title = controllerName;
    var formName = $"frm_AsuhanGiziAnak_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateasuhangizianak (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.AshnGiziAnak.NoReg)
        @Html.HiddenFor(Model => Model.AshnGiziAnak.SectionID)
        @Html.HiddenFor(Model => Model.AshnGiziAnak.NRM)

        <div class="form-group">
            <label class="col-md-12 text-bold text-center">
                ASUHAN GIZI DEWASA
            </label>
        </div>

        <div class="panel panel-body">
            <div class="form-group">
                <label class="col-md-2 control-label">
                    Tanggal
                </label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.AshnGiziAnak.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AshnGiziAnak.Tanggal != null ? (Model.AshnGiziAnak.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.AshnGiziAnak.Tanggal, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            1.Antropedi
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Berat badan saat masuk rumak sakit (kg) :
                        </label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AshnGiziAnak.Antropometri_BeratBadan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AshnGiziAnak.Antropometri_BeratBadan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Tinggi Badan (cm) :
                        </label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AshnGiziAnak.Antropometri_TinggiBadan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AshnGiziAnak.Antropometri_TinggiBadan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Estimasi Tinggi Badan (rentang lengan) (cm) :
                        </label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AshnGiziAnak.Antropometri_EstimasiTinggiBadan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AshnGiziAnak.Antropometri_EstimasiTinggiBadan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Berat Badan Ideal (kg) :
                        </label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AshnGiziAnak.Antropometri_BeratBadanIdeal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AshnGiziAnak.Antropometri_BeratBadanIdeal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            BMI (kg/m2) :
                        </label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AshnGiziAnak.Antropometri_BMI, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AshnGiziAnak.Antropometri_BMI, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Lingkar Lengan Atas (bila berat badan tidak ditimbang (cm)) :
                        </label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AshnGiziAnak.Antropometri_LingkarLenganAtas, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AshnGiziAnak.Antropometri_LingkarLenganAtas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            2. Biokimia
                        </label>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.Biokimia_Albumin, new { htmlAttributes = new { } })
                                Albumin <span>&le;</span> <spanS>3 mg/dl</spanS>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.Biokimia_AsamUrat, new { htmlAttributes = new { } })
                                Asam Urat <span>&ge;</span><span>7 mg/dl</span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.Biokimia_Hb, new { htmlAttributes = new { } })
                                Hb <span>&le;</span><span>10 mg/dl</span>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.Biokimia_Kreatinin, new { htmlAttributes = new { } })
                                Kreatinin <span>&gt;</span><span> 1,2 mg/dl</span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.Biokimia_Kolesterol, new { htmlAttributes = new { } })
                                Kolesterol <span>&ge;</span><span> 200 mg%</span>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.Biokimia_Bun, new { htmlAttributes = new { } })
                                BUN <span>&gt;</span><span> 23 mg/dl</span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.Biokimia_GlukosaDarah, new { htmlAttributes = new { } })
                                Glukosa Darah <span>&ge;</span><span> 200 mg/dl</span>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.Biokimia_Sgot, new { htmlAttributes = new { } })
                                SGOT <span>&gt;</span><span> 27 u/l</span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.Biokimia_RiwayatDm, new { htmlAttributes = new { } })
                                Riwayat DM

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.Biokimia_Sgpt, new { htmlAttributes = new { } })
                                SGPT <span>&gt;</span><span> 34 u/l</span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.Biokimia_Cbx_LainLainTerkaitGizi, new { htmlAttributes = new { } })
                                Lain-lain yang terkait dengan gizi

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.Biokimia_Kalium, new { htmlAttributes = new { } })
                                Kalium : tinggi <span>&gt;</span> 5,1 mmol/L; Rendah <span>&lt;</span> 3.5 mmol/L

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">

                            @Html.EditorFor(model => model.AshnGiziAnak.Biokimia_LainLainTerkaitGizi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AshnGiziAnak.Biokimia_LainLainTerkaitGizi, "", new { @class = "text-danger" })


                        </div>
                        <div class="col-md-6">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.Biokimia_Natrium, new { htmlAttributes = new { } })
                                Natrium : tinggi <span>&gt;</span> 145 mmol/L; Rendah <span>&lt;</span> 136 mmol/L

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            3. Klinis/fisik
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.KlinisFisik_Mual, new { htmlAttributes = new { } })
                                Mual

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.KlinisFisik_Muntah, new { htmlAttributes = new { } })
                                Muntah

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.KlinisFisik_Konstipasi, new { htmlAttributes = new { } })
                                Konstipasi

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.KlinisFisik_KesulitanMenean, new { htmlAttributes = new { } })
                                Kesulitan Menelan

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.KlinisFisik_Anoreksia, new { htmlAttributes = new { } })
                                Anoreksia

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.KlinisFisik_HamilMenyusui, new { htmlAttributes = new { } })
                                Hamil/menyusui

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AshnGiziAnak.KlinisFisik_Cbx_LainLain, new { htmlAttributes = new { } })
                                    Lain-Lain
                                </label>
                                @Html.EditorFor(model => model.AshnGiziAnak.KlinisFisik_LainLain, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AshnGiziAnak.KlinisFisik_LainLain, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AshnGiziAnak.KlinisFisik_Diare, new { htmlAttributes = new { } })
                                Diare
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AshnGiziAnak.KlinisFisik_KesulitanMengunyah, new { htmlAttributes = new { } })
                                Kesulitan Mengunyah
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.KlinisFisik_Sesak, new { htmlAttributes = new { } })
                                Sesak

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.KlinisFisik_EdemaAsitesHipertensi, new { htmlAttributes = new { } })
                                Edema / Asites / Hipertensi

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            4. Dietary/riwayat gizi
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-12">
                                a. Pola makan
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.AshnGiziAnak.PolaMakan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AshnGiziAnak.PolaMakan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">
                                b. Asupan makanan:
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">


                                @Html.EditorFor(model => model.AshnGiziAnak.AsupanMakan_AsupanMakanOralDiRumah, new { htmlAttributes = new { } })
                                Asupan Makanan Oral dari rumah

                            </div>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.AshnGiziAnak.AsupanMakan_DiRumah_KurangAtauBaik, StaticModel.AsupanMakananDirumah, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AshnGiziAnak.AsupanMakan_DiRumah_KurangAtauBaik, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">


                                @Html.EditorFor(model => model.AshnGiziAnak.AsupanMakan_AsupanMakanAwalDiRumahSakit, new { htmlAttributes = new { } })
                                Asupan makan awal di rumah sakit

                            </div>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.AshnGiziAnak.AsupanMakan_DiRumahSakit_KurangAtauBaik, StaticModel.AsupanMakananDirumah, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AshnGiziAnak.AsupanMakan_DiRumahSakit_KurangAtauBaik, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-inline">

                                @Html.EditorFor(model => model.AshnGiziAnak.AsupanMakan_AdaPerubahanJenisBentukMakanan, new { htmlAttributes = new { } })
                                Ada perubahan jenis/bentuk makanan ke jenis/bentuk diet khusus : bubur, saring, cair/susu

                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">
                                Pantangan Makanan:
                            </label>
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AshnGiziAnak.PantanganMakanan_TidakAtauAda, StaticModel.PantanganMakan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AshnGiziAnak.PantanganMakanan_TidakAtauAda, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">

                                    Ada, Jelaskan.........
                                </label>
                                @Html.EditorFor(model => model.AshnGiziAnak.PantanganMakanan_AdaJelaskan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AshnGiziAnak.PantanganMakanan_AdaJelaskan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">
                                d. Alregi makanan :
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AshnGiziAnak.AlergyMakanan_TidakAda, new { htmlAttributes = new { } })
                                Tidak ada.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AshnGiziAnak.AlergyMakanan_Telur, new { htmlAttributes = new { } })
                                Telur.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AshnGiziAnak.AlergyMakanan_SusuSapiProduk, new { htmlAttributes = new { } })
                                Susu sapi dan produk olahannya.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AshnGiziAnak.AlergyMakanan_KacangKedelaiTanah, new { htmlAttributes = new { } })
                                Kacang kedelai/tanah.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AshnGiziAnak.AlergyMakanan_GlutenGandum, new { htmlAttributes = new { } })
                                Glunen/Gandum
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AshnGiziAnak.AlergyMakanan_Udang, new { htmlAttributes = new { } })
                                Udang
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AshnGiziAnak.AlergyMakanan_HazelnutAlmond, new { htmlAttributes = new { } })
                                Hazelnut/almond.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="input-group">

                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AshnGiziAnak.AlergyMakanan_Cbx_LainLain, new { htmlAttributes = new { } })
                                    Lain-Lain
                                </label>
                                @Html.EditorFor(model => model.AshnGiziAnak.AlergyMakanan_LainLain, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AshnGiziAnak.AlergyMakanan_LainLain, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AshnGiziAnak.AlergyMakanan_Ikan, new { htmlAttributes = new { } })
                                Ikan
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">
                                e. Suplemen Gizi :
                            </label>
                        </div>
                        <div class="col-md-3">

                            @Html.DropDownListFor(model => model.AshnGiziAnak.SuplemenGizi_TanpaAtauDenganSuplemenGizi, StaticModel.SuplementGizi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AshnGiziAnak.SuplemenGizi_TanpaAtauDenganSuplemenGizi, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-bold">
                                Riwayat Personal (riwayat penyakit, pekerjaan, aktivitas, kebiasaan hidup)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.AsuhanGiziDewasa.RiwayatPersonal, new { style = "max-width:100% !important;" })
                        @Html.ValidationMessageFor(model => model.AsuhanGiziDewasa.RiwayatPersonal, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center">
                            DIAGNOSE GIZI
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label">
                                Diagnose Medis :
                            </label>
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AsuhanGiziDewasa.DiagnoseMedis, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AsuhanGiziDewasa.DiagnoseMedis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">
                                Diagnose Gizi (PES = Problem, Etiology, dan Sign/symptons (Tanda dan gejala) :
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AsuhanGiziDewasa.DiagnoseGizi, new { style = "max-width:100% !important;" })
                            @Html.ValidationMessageFor(model => model.AsuhanGiziDewasa.DiagnoseGizi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center">
                            RENCANA TERAPI DIET
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label">
                                Janis Diet :
                            </label>
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AsuhanGiziDewasa.JenisDiet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AsuhanGiziDewasa.JenisDiet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">
                                Tujuan pembelajaran diet :
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AsuhanGiziDewasa.TujuanPemberianDiet, new { style = "max-width:100% !important;" })
                            @Html.ValidationMessageFor(model => model.AsuhanGiziDewasa.TujuanPemberianDiet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label">
                                Kebutuhan Nutrisi :
                            </label>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">

                                <label class="checkbox checkbox-inline input-group-addon">

                                    Energi
                                </label>
                                @Html.EditorFor(model => model.AsuhanGiziDewasa.KebutuhanNutrisi_Energi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AsuhanGiziDewasa.KebutuhanNutrisi_Energi, "", new { @class = "text-danger" })

                                <label class="checkbox checkbox-inline input-group-addon">

                                    Kilokalori
                                </label>
                            </div>

                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    Protein
                                </label>
                                @Html.EditorFor(model => model.AsuhanGiziDewasa.KebutuhanNutrisi_Protein, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AsuhanGiziDewasa.KebutuhanNutrisi_Protein, "", new { @class = "text-danger" })
                                <label class="checkbox checkbox-inline input-group-addon">
                                    gr
                                </label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    Zat gizi lain
                                </label>
                                @Html.EditorFor(model => model.AsuhanGiziDewasa.KebutuhanNutrisi_ZatGiziLain, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AsuhanGiziDewasa.KebutuhanNutrisi_ZatGiziLain, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="checkbox  checkbox-inline input-group-addon">
                                    Lemak
                                </label>

                                @Html.EditorFor(model => model.AsuhanGiziDewasa.KebutuhanNutrisi_Lemak, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AsuhanGiziDewasa.KebutuhanNutrisi_Lemak, "", new { @class = "text-danger" })
                                <label class="checkbox  checkbox-inline input-group-addon">
                                    gr
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="checkbox  checkbox-inline input-group-addon">
                                    KH
                                </label>

                                @Html.EditorFor(model => model.AsuhanGiziDewasa.KebutuhanNutrisi_Kh, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AsuhanGiziDewasa.KebutuhanNutrisi_Kh, "", new { @class = "text-danger" })
                                <label class="checkbox  checkbox-inline input-group-addon">
                                    gr
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label">
                                Implementasi:
                            </label>
                        </div>
                        <div class="col-md-8">
                            <div class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AsuhanGiziDewasa.Implementasi_PemberianNutrisiSesuaiKebutuhan, new { htmlAttributes = new { } })
                                Pemberian Nutrisi Sesuai dengan kebutuhan
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AsuhanGiziDewasa.Implementasi_Cbx_PemberianNutrisiBertahap, new { htmlAttributes = new { } })
                                    Pemberian Nutrisi Bertahap
                                </label>
                                @Html.EditorFor(model => model.AsuhanGiziDewasa.Implementasi_PemberianNutrisiBertahap, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AsuhanGiziDewasa.Implementasi_PemberianNutrisiBertahap, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            Bentuk Makanan :
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AsuhanGiziDewasa.BentukMakanan_Nasi, new { htmlAttributes = new { } })
                                Nasi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AsuhanGiziDewasa.BentukMakanan_BuburTimCincang, new { htmlAttributes = new { } })
                                Bubur/tim/cincang
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AsuhanGiziDewasa.BentukMakanan_BuburSaring, new { htmlAttributes = new { } })
                                Bubur saring
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AsuhanGiziDewasa.BentukMakanan_Cbx_CairSondeFormula, new { htmlAttributes = new { } })
                                Cair/Sonde/Formula
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            Cara Pemberian :
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AsuhanGiziDewasa.CaraPemberian_Oral, new { htmlAttributes = new { } })
                                Oral
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AsuhanGiziDewasa.CaraPemberian_Enteral, new { htmlAttributes = new { } })
                                Eternal (NGT/OGT/Gastrotomy/Jejunotomy, dll)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">
                                Edukasi/Konsultasi Gizi :
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.AsuhanGiziDewasa.EdukasiKonsultasiGizi, new { style = "max-width:100% !important;" })
                                @Html.ValidationMessageFor(model => model.AsuhanGiziDewasa.EdukasiKonsultasiGizi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">

                        <label class=" col-md-12  text-bold text-center">
                            Rencana Monitoring dan Evalusi
                        </label>

                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AsuhanGiziDewasa.RencanaMonitoringDanEvaluasi, new { style = "max-width:100% !important;" })
                            @Html.ValidationMessageFor(model => model.AsuhanGiziDewasa.RencanaMonitoringDanEvaluasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body collapse in">
            <div class="row ">
                <div class="form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Keterangan
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Status gizi berdasarkan Index Massa Tubuh (WHO, PGS, 1994)
                            </label>

                        </div>
                        <div class="form-group">
                            <div class="">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Kategori</th>
                                            <th scope="col">Batas Ambang</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Kurus</th>
                                            <td>Kekurangan Berat badan tingkat berat (KEP)</td>
                                            <td>&lt; 17, 0</td>

                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td>Kekurangan Berat badan tingkat ringan</td>
                                            <td>17,0 - 18,5</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Normal</th>
                                            <td>Baik</td>
                                            <td>&gt; 18,5 - 25,5 </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Gemuk</th>
                                            <td>Kelebihan berat badan</td>
                                            <td>&gt; 25,0 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Kriteria Asupan Makanan (Gibson, 2006) (ADA)
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Baik : &ge; 80%
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Kurang : &lt; 80%
                            </label>
                        </div>
                        <div class="form-group">

                            <label class="control-label">
                                Ahli Gizi
                            </label>


                        </div>
                        <div class="form-group">

                            @Html.EditorFor(model => model.AsuhanGiziDewasa.AhliGizi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AsuhanGiziDewasa.AhliGizi, "", new { @class = "text-danger" })


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.AshnGiziAnak.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFSuratKeteranganDokter", new { noreg = Model.AshnGiziAnak.NoReg, Model.AshnGiziAnak.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.AshnGiziAnak.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }
</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokter = $('#@formName #SKDokter_Dokter');

    dokter.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
</script>

<script src="~/scripts/jquery.timer.js"></script>
<script>


    function oncompletecreateasuhangizianak(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#asuhangizianak').click();
    }
</script>