﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_CatatanFisiotherapi_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Detail
    var d_tbl_Kunjunganfisio = $"frm_table_detailKunjunganfisio";
    int d_idx_Kunjunganfisio = 0;
    var d_trg_Kunjunganfisio = $"input_target_detailKunjunganfisio";
    if (Model != null)
    {
        if (Model.CttFisio != null)
        {
            if (Model.CttFisio.Kunjungan_List != null)
            {
                d_idx_Kunjunganfisio = Model.CttFisio.Kunjungan_List.Count();
            }
        }
    }
    #endregion
}
<!--   CSS Table -->
<style>
    #d_tbl_Kunjunganfisio thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_Kunjunganfisio thead th:nth-child(1),
    #d_tbl_Kunjunganfisio tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_Kunjunganfisio thead th:nth-child(2),
    #d_tbl_Kunjunganfisio tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #d_tbl_Kunjunganfisio thead th:nth-child(3),
    #d_tbl_Kunjunganfisio tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_Kunjunganfisio thead th:nth-child(4),
    #d_tbl_Kunjunganfisio tbody td:nth-child(4) {
        width: 80px;
    }

    #d_tbl_Kunjunganfisio thead th:nth-child(5),
    #d_tbl_Kunjunganfisio tbody td:nth-child(5) {
        width: 100px;
    }

    #d_tbl_Kunjunganfisio thead th:nth-child(6),
    #d_tbl_Kunjunganfisio tbody td:nth-child(6) {
        width: 350px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Html.BeginForm("CatatanFisiotherapi", controllerName, FormMethod.Post, new { id = formName, onsubmit = "loadingform(this)" }))
    {
        @Html.HiddenFor(Model => Model.CttFisio.NoReg)
        @Html.HiddenFor(Model => Model.CttFisio.SectionID)
        @Html.HiddenFor(Model => Model.CttFisio.Nomor)
        @Html.HiddenFor(Model => Model.CttFisio.NRM)
        @Html.HiddenFor(Model => Model.CttFisio.DokumenID)



        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">CATATAN REHABILITASI MEDIK</label>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-1">
                            Template
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.CttFisio.Template, new List<SelectListItem>() {
                                new SelectListItem(){ Text = ViewBag.Template, Value = ViewBag.Template, Selected = true }
                            }, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                            <button type="button" onclick="loadTemplatepolidalam()" class="btn btn-block btn-info"> LOAD</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Diisi Oleh Pasien :</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Nama :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.CttFisio.NamaPasien, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.CttFisio.NamaPasien != null ? (Model.CttFisio.NamaPasien) : "") } })
                            @Html.ValidationMessageFor(model => model.CttFisio.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">
                            Umur :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.CttFisio.Umur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.CttFisio.Umur, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1">NRM :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.CttFisio.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.CttFisio.NRM, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Alamat :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.CttFisio.Alamat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.CttFisio.Alamat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.CttFisio.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.CttFisio.Tanggal != null ? (Model.CttFisio.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.CttFisio.Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Keluhan Utama :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.CttFisio.Keluhan_utama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CttFisio.Keluhan_utama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Riwayat Penyakit :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.CttFisio.Riwayat_Penyakit, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CttFisio.Riwayat_Penyakit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Pemeriksaan Fisik & Uji Fungsi :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.CttFisio.Periksa_fisik, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CttFisio.Periksa_fisik, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Pemeriksaan Khusus :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.CttFisio.Periksa_khusus, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CttFisio.Periksa_khusus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Diagnosa :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.CttFisio.Diag_fisiotherapi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CttFisio.Diag_fisiotherapi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Tindakan :
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Dokter DPJP :
                        </label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.CttFisio.Nama_DPJP, Model.CttFisio.Nama_DPJP == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.CttFisio.Nama_DPJP.ToString(), Text = Model.CttFisio.Nama_DPJPNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CttFisio.Nama_DPJP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.CttFisio.Tindak_fisiotherapi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CttFisio.Tindak_fisiotherapi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-center">KUNJUNGAN</label>
                    </div>
                    <div class="form-group">
                        <div id="panel_detailCttFisioObat" class="detail collapse in"
                             data-index-detail="@d_idx_Kunjunganfisio">
                            <div class="table-responsive">
                                <table id="d_tbl_Kunjunganfisio" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" onclick="checkall(this)" />
                                            </th>
                                            <th class="text-center" rowspan="2">
                                                <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Kunjunganfisio')">
                                                    <i class="icon-plus2"></i>
                                                </a>
                                            </th>
                                            <th></th>
                                            <th>No</th>
                                            <th>Tanggal</th>
                                            <th>Tindakan</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.CttFisio.Kunjungan_List != null)
                                            {
                                                for (var i = 0; i < Model.CttFisio.Kunjungan_List.Count(); i++)
                                                {
                                                    <tr>
                                                        <!-- Check -->
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>

                                                        <!-- Delete button -->
                                                        <td>
                                                            <a class="text-danger-600"
                                                               onclick="removetr(this)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>

                                                        <!-- Remove Status -->
                                                        <td>
                                                            @Html.EditorFor(model => model.CttFisio.Kunjungan_List[i].Remove,
                                                       new { htmlAttributes = new { @class = "disable-reset" } })
                                                        </td>

                                                        <!-- No -->
                                                        <td>
                                                            @Html.EditorFor(model => model.CttFisio.Kunjungan_List[i].Model.No, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly"
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.CttFisio.Kunjungan_List[i].Model.Tgl_tindakan, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               Value = (Model != null ? (Model.CttFisio.Kunjungan_List[i].Model.Tgl_tindakan != null ? Model.CttFisio.Kunjungan_List[i].Model.Tgl_tindakan.Value.ToString("yyyy-MM-dd") : "") : "")
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.TextAreaFor(model => model.CttFisio.Kunjungan_List[i].Model.Tindakan, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.CttFisio.Kunjungan_List[i].Model.Tindakan, "", new { @class = "text-danger" })
                                                        </td>


                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.CttFisio.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                @Html.EditorFor(model => model.CttFisio.nama_template, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CttFisio.nama_template, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    @*<div class="form-group">
            <label class="control-label col-md-2">
                Diperiksa Oleh :
            </label>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.CttFisio.Nama_Dokter, Model.CttFisio.Nama_Dokter == null ? new List<SelectListItem>() :
        new List<SelectListItem>() { new SelectListItem() { Value = Model.CttFisio.Nama_Dokter.ToString(), Text = Model.CttFisio.Nama_DokterNama } }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CttFisio.Nama_Dokter, "", new { @class = "text-danger" })
            </div>
        </div>*@
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.CttFisio.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFCatatanFisiotherapi", new { noreg = Model.CttFisio.NoReg })" target="_blank"
                           class="btn btn-success" @(Model.CttFisio.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!-- JS SELECT -->
<script type="text/javascript">
    var dokter = $('#@formName #CttFisio_Nama_Dokter');
    var dpjp = $('#@formName #CttFisio_Nama_DPJP');

    dokter.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    dpjp.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    $('#CttFisio_Template').select2({
        ajax: {
            url: "@Url.Action("ListTamplet", "TemplatePoliDalam")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaTemplate',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', ''],
                    dokumenid: $('#CttFisio_DokumenID').val(),
                    dokter: $('#CttFisio_DPJP').val()
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.NamaTemplate, text: value.NamaTemplate } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    function loadTemplatepolidalam() {
        var id = $('#CttFisio_DokumenID').val();
        var nama = $('#CttFisio_Template').val();
        $.ajax({
            dataType: 'JSON',
            method: "GET",
            url: '@Url.Action("GetTemplatCatatanFisio", "TemplatePoliDalam")',
            data: {
                id: id,
                nama: nama
            },
            success: function (data) {
                $('#CttFisio_Keluhan_utama').val(data.Data.Keluhan_utama);
                $('#CttFisio_Riwayat_Penyakit').val(data.Data.Riwayat_Penyakit);
                $('#CttFisio_Periksa_fisik').val(data.Data.Periksa_fisik);
                $('#CttFisio_Periksa_khusus').val(data.Data.Periksa_khusus);
                $('#CttFisio_Diag_fisiotherapi').val(data.Data.Diag_fisiotherapi);
                $('#CttFisio_Tindak_fisiotherapi').val(data.Data.Tindak_fisiotherapi);
                $('#CttFisio_Nama_DPJP').val(data.Data.Nama_DPJP);
            }
        });
    }
</script>


<!--INPUT DETAIL TABLE-->
@{
    if (Model != null)
    {
        Model.CttFisio.Kunjungan_List = null;
    }
}

<div id="@d_trg_Kunjunganfisio" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.CttFisio.Kunjungan_List[-1].Remove,
        new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.CttFisio.Kunjungan_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detailsaraf(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CttFisio.Kunjungan_List[-1].Model.Tgl_tindakan, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.CttFisio.Kunjungan_List[-1].Model.Tindakan, new
   {
       
           @class = "form-control input-sm"
       
   })
    </div>

</div>

<!--Auto Detail-->
<script type="text/javascript">

    function autoid_detailsaraf(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }


</script>

