﻿
@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_LembarPersetujuan_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}


<div class="wall" ng-controller="form">

    @using (Html.BeginForm("LembarPersetujuan", controllerName, FormMethod.Post, new { id = formName, onsubmit = "loadingform(this)" }))
    {
        @Html.HiddenFor(Model => Model.LmbrPrstjuan.NoReg)
        @Html.HiddenFor(Model => Model.LmbrPrstjuan.SectionID)
        @Html.HiddenFor(Model => Model.LmbrPrstjuan.Nomor)
        @Html.HiddenFor(Model => Model.LmbrPrstjuan.NRM)
        @Html.HiddenFor(Model => Model.LmbrPrstjuan.TandaTanganDokter)



        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">LEMBAR PERSETUJUAN</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.LmbrPrstjuan.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.LmbrPrstjuan.Tanggal != null ? (Model.LmbrPrstjuan.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.LmbrPrstjuan.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.LmbrPrstjuan.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.LmbrPrstjuan.Jam != null ? Model.LmbrPrstjuan.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.LmbrPrstjuan.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">Berkaitan dengan layanan psikologis yang diberikan oleh psikolog klinis:</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Nama :</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.LmbrPrstjuan.NamaDokterPasien, Model.LmbrPrstjuan.NamaDokterPasien == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.LmbrPrstjuan.NamaDokterPasien.ToString(), Text = Model.LmbrPrstjuan.NamaDokterPasienNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrPrstjuan.NamaDokterPasien, "", new { @class = "text-danger" })
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">STR :</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LmbrPrstjuan.STR, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LmbrPrstjuan.STR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">SIPPK :</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LmbrPrstjuan.SIPPK, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LmbrPrstjuan.SIPPK, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">Kepada:</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Nama :</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LmbrPrstjuan.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = Model.LmbrPrstjuan.NamaPasien } })
                            @Html.ValidationMessageFor(model => model.LmbrPrstjuan.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Tanggal Lahir :</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LmbrPrstjuan.TglLahir, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.LmbrPrstjuan.TglLahir != null ? (Model.LmbrPrstjuan.TglLahir.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.LmbrPrstjuan.TglLahir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">KTP :</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LmbrPrstjuan.Ktp, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = Model.LmbrPrstjuan.Ktp } })
                            @Html.ValidationMessageFor(model => model.LmbrPrstjuan.Ktp, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Alamat :</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LmbrPrstjuan.Alamat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = Model.LmbrPrstjuan.Alamat } })
                            @Html.ValidationMessageFor(model => model.LmbrPrstjuan.Alamat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-justify">Pasien akan mendapatkan layanan psikologis berupa:</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-justify">
                            <ol>
                                <li>
                                    Pemeriksaan psikologi klinis, berupa pengambilan data melalui wawancara,
                                    observasi, maupun tes psikologi yang diperlukan kepada pasien dan/atau keluarga
                                    pasien
                                </li>
                                <li>
                                    Penanganan/intervensi psikologi klinis, berupa psikoedukasi, konseling, psikoterapi
                                    yang diperlukan
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-justify">
                            Melalui proses di atas, akan diperoleh informasi mengenai kondisi psikologis dan tindak
                            lanjut penanganan yang perlu diperoleh pasien. Selama proses layanan psikologi klinis
                            berlangsung, maka terdapat beberapa hal yang perlu diperhatikan, yaitu::
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-justify">
                            <ol type="a">
                                <li>
                                    Segala data akan dijaga kerahasiannya, baik identitas maupun informasi-informasi
                                    yang disampaikan
                                </li>
                                <li>
                                    Jika selama proses berlangsung terdapat pemasalahan, maka hal tersebut akan
                                    diselesaikan oleh kedua belah pihak (psikolog klinis dan pasien) dengan cara
                                    kekeluargaan
                                </li>
                                <li>
                                    Jika salah satu pihak, baik psikolog klinis maupun pasien merasa perlu mengakhiri
                                    proses layanan psikologis yang berlangsung, maka proses dapat dihentikan dengan
                                    pemberitahuan dan kesepakatan bersama
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-justify">
                            Dengan menandatangani lembar persetujuan ini, kedua belah pihak menyetujui penjelasan
                            di atas dan sepakat menjalani proses tersebut. Persetujuan ini dibuat dengan penuh
                            kesadaran dan tanpa paksaan dari pihak manapun untuk digunakan sebagaimana mestinya.
                        </label>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Pasien/ Wali Pasien :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LmbrPrstjuan.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = Model.LmbrPrstjuan.NamaPasien } })
                            @Html.ValidationMessageFor(model => model.LmbrPrstjuan.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-justify">
                            Perihal kerahasiaan, psikolog klinis diharuskan mengungkapkan informasi yang bersifat
                            rahasia jika salah satu dari kondisi kondisi berikut terjadi
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-justify">
                            <ol>
                                <li>
                                    Pasien membahayakan diri sendiri dan/atau orang lain
                                </li>
                                <li>
                                    Pasien mencari layanan psikologi klinis untuk menghindari deteksi atau situasi yang memungkinkan siapapun untuk melakukan tindak criminal
                                </li>
                                <li>
                                    Psikolog klinis ditunjuk oleh pengendalian untuk memeriksa kondisi pasien
                                </li>
                                <li>
                                    Kontak pasien dan psikolog klinis dilakukan dengan tujuan menentukan tingkat kesehatan mental pasien dalam proses pengadilan
                                </li>
                                <li>
                                    Kontak pasien dan psikolog klinis dilakukan untuk tujuan pengembangan kompetensi diri pasien
                                </li>
                                <li>
                                    Kontak pasien dan psikolog klinis terjadi dimana psikolog klinis harus mengajukan laporan/catatan terbuka ke instansi publik
                                </li>
                                <li>
                                    Pasien berusia di bawah 18 tahun dan menjadi korban tindakan kriminal
                                </li>
                                <li>
                                    Pasien berusia di bawah 18 tahun dan psikolog klinis memiliki alasan kuat atas dugaan kekerasan terhadap anak
                                </li>
                                <li>
                                    Pasien berusia 65 tahun ke atas dan psikolog klinis memiliki alasan kuat atas dugaan pasien menjadi korban kekerasan fisik, Psikolog klinis dapat mengungkapkan informasi jika pasien menjadi korban kekerasan emosional
                                </li>
                                <li>
                                    Pasien meninggal dunia dan komunikasi penting dilakukan untuk membuat keputusan terkait akta atau surat-surat lain yang mempengaruhi properti pasien
                                </li>
                                <li>
                                    Pasien mengajukan gugatan pada psikolog klinis terkait pelnggaran tuags dan psikolog klinis mengajukan gugatan pada pasien
                                </li>
                                <li>
                                    Pasien mengajukan gugatan pada siapa pun dan mengaku mendapatkan kerugian mental maupun emosional sebagai bagian dari gugatan
                                </li>
                                <li>
                                    Pasien memberikan hak istimewa atau memberikan persetujuan kepada psikolog klinis untuk mengungkap sebagaian informasi
                                </li>
                                <li>
                                    Perusahaan asuransi yang membayar layanan psikologi klinis memiliki hak untuk meninjau catatan-catatan pendampingan psikologi klinis pada pasien
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-justify">
                            Jika pasien memiliki pertanyaan mengenai keterbatasan-keterbatasan ini, mohon diskuskan dengan pakolog klinis yang menangani.
                        </label>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="text-bold col-md-12"> RILIS INFORMASI</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Saya :</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LmbrPrstjuan.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = Model.LmbrPrstjuan.NamaPasien } })
                            @Html.ValidationMessageFor(model => model.LmbrPrstjuan.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="col-md-2">Dokter Saya:</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.LmbrPrstjuan.Dokter_Pasien, Model.LmbrPrstjuan.Dokter_Pasien == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.LmbrPrstjuan.Dokter_Pasien.ToString(), Text = Model.LmbrPrstjuan.Dokter_PasienNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrPrstjuan.Dokter_Pasien, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Psikolog Klinis :
                    </label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.LmbrPrstjuan.NamaDokterPsikolog, Model.LmbrPrstjuan.NamaDokterPsikolog == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.LmbrPrstjuan.NamaDokterPsikolog.ToString(), Text = Model.LmbrPrstjuan.NamaDokterPsikologNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LmbrPrstjuan.NamaDokterPsikolog, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        @if (Model.LmbrPrstjuan.SudahRegDokter == 0)
                        {
                            <a id="btn_asspsikologlembarpersetujuan" class="btn btn-primary disabled" onclick="user_verif_asspsikologlembarpersetujuan()" href="finspot:FingerspotVer;@ViewBag.UrlFingerLmbrPrstjuanDokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                        else
                        {
                            <a id="btn_asspsikologlembarpersetujuan" class="btn btn-primary" onclick="user_verif_asspsikologlembarpersetujuan()" href="finspot:FingerspotVer;@ViewBag.UrlFingerLmbrPrstjuanDokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                    </div>
                </div>

                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.LmbrPrstjuan.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFLembarPersetujuan", new { noreg = Model.LmbrPrstjuan.NoReg })" target="_blank"
                           class="btn btn-success" @(Model.LmbrPrstjuan.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokterpasien = $('#@formName #LmbrPrstjuan_Dokter_Pasien');
    var dokterpsikolog = $('#@formName #LmbrPrstjuan_Dokter_Psikolog');

    dokterpasien.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
    dokterpsikolog.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>
<script>
    function user_verif_asspsikologlembarpersetujuan() {
        var reStatsAssPsiklogLmrPersetujuan = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#LmbrPrstjuan_NamaDokterPsikolog').val();
        var noreg = $('#LmbrPrstjuan_NoReg').val();
        var section = $('#LmbrPrstjuan_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifasspsikologlembarpersetujuan(noreg, section, user_id);
            if (ct >= limit || reStatsAssPsiklogLmrPersetujuan == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsAssPsiklogLmrPersetujuan == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsAssPsiklogLmrPersetujuan == 1) {
                    alertpopup("Verification success!", "success");
                    location.reload();
                }
            }
            ct++;
        });

        function user_checkverifasspsikologlembarpersetujuan(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilAssPsikologiLembarPersetujuan", "VerifAssPsikologi")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Petugas == "1") {
                            reStatsAssPsiklogLmrPersetujuan = 1;
                        }
                    }
                    else {
                        reStatsAssPsiklogLmrPersetujuan = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }
</script>