﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_IlmuPenyakitGynecology_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">

    @using (Html.BeginForm("IlmuPenyakitGynecology", controllerName, FormMethod.Post, new { id = formName, onsubmit = "loadingform(this)" }))
    {
        @Html.HiddenFor(Model => Model.Assgynclogy.NoReg)
        @Html.HiddenFor(Model => Model.Assgynclogy.SectionID)
        @Html.HiddenFor(Model => Model.Assgynclogy.Nomor)
        @Html.HiddenFor(Model => Model.Assgynclogy.NRM)
        @Html.HiddenFor(Model => Model.Assgynclogy.TandaTanganDPJP)



        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">ILMU PENYAKIT GYNECOLOGY</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Assgynclogy.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Assgynclogy.Tanggal != null ? (Model.Assgynclogy.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Assgynclogy.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Assgynclogy.Jam != null ? Model.Assgynclogy.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Rujukan :
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.Assgynclogy.Rujukan_Ya, new { htmlAttributes = new { onclick = "rujukangynclogy()" } })
                                Ya, Dari
                            </label>
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Assgynclogy.Rujukan_Ya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Rujukan_Ya_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Dx Rujukan :
                        </label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Assgynclogy.Rujukan_Ya_Dx, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Rujukan_Ya_Dx, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.Assgynclogy.Rujukan_Tidak, new { htmlAttributes = new { } })
                                Tidak
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Nama Keluarga :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Assgynclogy.NamaKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.Assgynclogy.NamaKeluarga != null ? (Model.Assgynclogy.NamaKeluarga) : "") } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.NamaKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Alamat :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Assgynclogy.AlamatKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.Assgynclogy.NamaKeluarga != null ? (Model.Assgynclogy.NamaKeluarga) : "") } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.AlamatKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Telepon :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Assgynclogy.TeleponKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.Assgynclogy.NamaKeluarga != null ? (Model.Assgynclogy.NamaKeluarga) : "") } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.TeleponKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Transportasi Datang :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Assgynclogy.Transportasi, StaticModel.ListTransportasi, new { @class = "form-control", onchange = "transportasigynclogy()" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Transportasi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Assgynclogy.Transportasi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Transportasi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            RIWAYAT ALEGRI :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Assgynclogy.Riwayat_Alergi, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "riwayatalergigynclogy()" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Riwayat_Alergi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Assgynclogy.Riwayat_Alergi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Riwayat_Alergi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            PENILAIAN NYERI
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Nyeri :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Assgynclogy.Nyeri, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "nyerigynclogy()" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Nyeri, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Lokasi :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Assgynclogy.Lokasi, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Lokasi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Intensitas:
                        </label>
                        <div class="col-md-1">
                            @Html.DropDownListFor(model => model.Assgynclogy.Intensitas, StaticModel.ListIntensitas, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Intensitas, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/Sekor.JPG" style="display:block; width:100%;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Jenis :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Assgynclogy.Jenis, StaticModel.List_Jenis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Jenis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            Keluhan Utama :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Assgynclogy.KeluhanUtama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.KeluhanUtama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            Riwayat Penyakit Sekarang :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Assgynclogy.RiwayatPenyakitSekarang, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatPenyakitSekarang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            Riwayat Menstruasi
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Menarche, new { htmlAttributes = new { onclick = "menarchegynclogy()" } })
                                    Manarche Umur :
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Menarche_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatMenstruasi_Menarche_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Menstruasi, new { htmlAttributes = new { onclick = "menstruasigynclogy()" } })
                                    Menstruasi Terakhir :
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Menstruasi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatMenstruasi_Menstruasi_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Siklus, new { htmlAttributes = new { onclick = "siklusgynclogy()" } })
                                    Siklus :
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Siklus_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatMenstruasi_Siklus_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Teratur, new { htmlAttributes = new { onclick = "teraturgynclogy()" } })
                                    Teratur/Tidak :
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Teratur_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatMenstruasi_Teratur_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Lamanya, new { htmlAttributes = new { onclick = "lamanyagynclogy()" } })
                                    Lamanya :
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Lamanya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatMenstruasi_Lamanya_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Banyaknya, new { htmlAttributes = new { onclick = "banyaknyagynclogy()" } })
                                    Banyaknya :
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Banyaknya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatMenstruasi_Banyaknya_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Keluhan, new { htmlAttributes = new { onclick = "keluhangynclogy()" } })
                                    Keluhan Saat Haid :
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Keluhan_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatMenstruasi_Keluhan_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class=" input-group-addon">
                                    HCG Positif tgl :
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_HCG_Ket, new { htmlAttributes = new { @class = "form-control", Value = (Model.Assgynclogy.RiwayatMenstruasi_HCG_Ket != null ? (Model.Assgynclogy.RiwayatMenstruasi_HCG_Ket.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatMenstruasi_HCG_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Kontrasepsi, new { htmlAttributes = new { onclick = "kontrasepsigynclogy()" } })
                                    Kontrasepsi :
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatMenstruasi_Kontrasepsi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatMenstruasi_Kontrasepsi_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-bold col-md-12">
                            Riwayat Perkawinan
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Status :
                                </label>
                                @Html.DropDownListFor(model => model.Assgynclogy.RiwayatPerkawinan_Status, StaticModel.ListStatus, new { @class = "form-control", onchange = "statuskawingynclogy()" })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatPerkawinan_Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPerkawinan_Kawin, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatPerkawinan_Kawin, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Kali
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Umur waktu pertama kawin:
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPerkawinan_UmurKawin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatPerkawinan_UmurKawin, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    tahun
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    kawin dgn suami 1:
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPerkawinan_YangKe, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatPerkawinan_YangKe, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    tahun
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    ke 2,3:
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPerkawinan_YangKe_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatPerkawinan_YangKe_Ket, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    tahun
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            Riwayat Kehamilan
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Assgynclogy.RiwayatKehamilan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatKehamilan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 text-bold">
                            Riwayat Penyakit yang pernah diderita :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Hepertensi, new { htmlAttributes = new { } })
                                Hipertensi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_KencingManis, new { htmlAttributes = new { } })
                                Diabetes
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Jantung, new { htmlAttributes = new { } })
                                Jantung
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Asthma, new { htmlAttributes = new { } })
                                Asthma
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Jiwa, new { htmlAttributes = new { } })
                                Jiwa
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Varises, new { htmlAttributes = new { } })
                                Varises
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Tumor, new { htmlAttributes = new { onclick = "tumorriwayatpernahgynclogy()" } })
                                Tumor
                            </label>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Tumor_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Tumor_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Operasi, new { htmlAttributes = new { onclick = "riwayatpenyakitdahulupernahgynclogy()" } })
                                Oprasi:
                            </label>
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Operasi_Ket, StaticModel.ListPernahTidakPernah, new { @class = "form-control", dsiabled = true, onchange = "operasiketgynclogy()" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Operasi_Ket, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1">Jenis Operasi :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Pernah_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Pernah_Ket, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Tgl/Bln/Thn:</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Pernah_Tgl, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.Assgynclogy.RiwayatPenyakitDahulu_Pernah_Tgl != null ? (Model.Assgynclogy.RiwayatPenyakitDahulu_Pernah_Tgl.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Pernah_Tgl, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Lainnya, new { htmlAttributes = new { onclick = "lainnyapenyakitdahuluoperasiketgynclogy()" } })
                                Lainnya
                            </label>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatPenyakitDahulu_Lainnya_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            Riwayat Penyakit Keluarga :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitKeluarga_Hepertensi, new { htmlAttributes = new { } })
                                Hipertensi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitKeluarga_KencingManis, new { htmlAttributes = new { } })
                                Diabetes
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitKeluarga_Jantung, new { htmlAttributes = new { } })
                                Jantung
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitKeluarga_Asthma, new { htmlAttributes = new { } })
                                Asthma
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitKeluarga_Tumor, new { htmlAttributes = new { onclick = "riwayatpenyakitkeluargatumorgynclogy()" } })
                                Tumor
                            </label>
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitKeluarga_Tumor_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatPenyakitKeluarga_Tumor_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitKeluarga_Lainnya, new { htmlAttributes = new { onclick = "riwayatpenyakitkeluargagyno()" } })
                                Lainnya
                            </label>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Assgynclogy.RiwayatPenyakitKeluarga_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatPenyakitKeluarga_Lainnya_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            Riwayat Sosial
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Assgynclogy.RiwayatSosial, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.RiwayatSosial, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            TANDA - TANDA VITAL
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Kesadaran Umum:
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Assgynclogy.KeadaanUmum, StaticModel.ListKeadaanUmum, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.KeadaanUmum, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Gizi :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Assgynclogy.Gizi, StaticModel.ListGizi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Gizi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    GCS : E
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.GCS_E, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.GCS_E, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    V
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.GCS_V, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.GCS_V, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    M
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.GCS_M, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.GCS_M, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <label class="col-md-2 control-label">
                            Tindakan Resusitasi:
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Assgynclogy.Resusitas, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Resusitas, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    BB:
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.BB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.BB, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    kg
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    TB:
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.TB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.TB, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    cm
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">Tensi :</label>
                                @Html.EditorFor(model => model.Assgynclogy.Tensi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.Tensi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    mmHg
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Suhu Axila
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.SuhuAxila, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.SuhuAxila, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    &#8451;
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Suhu Rectal
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.SuhuRectal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.SuhuRectal, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    &#8451;
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Nadi :
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.Nadi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    x/mnt
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Respirasi:
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.Respirasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.Respirasi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    x/mnt
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Saturasu O2:
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.Saturasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.Saturasi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    %
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Pada :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Assgynclogy.TandaVitalPada, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.TandaVitalPada, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            PEMERIKSAAN FISIK UMUM
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Kepala :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Kepala, StaticModel.ListNormalAbnormal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Kepala, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Vulva :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Vulva, StaticModel.ListVulva, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Vulva, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Mata :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Mata, StaticModel.ListNormalAbnormal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Mata, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Vagina :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Vaginal, StaticModel.ListVagina, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Vaginal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Gigi :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Gigi, StaticModel.ListNormalAbnormal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Gigi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Cervix :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Cervix, StaticModel.ListCervix, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Cervix, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Tiroid :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Tiroid, StaticModel.ListNormalAbnormal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Tiroid, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Uterus :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Uterus, StaticModel.ListUterus, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Uterus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Payudara :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Payudara, StaticModel.ListNormalAbnormal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Payudara, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Adnexa :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Adnexa, StaticModel.ListAdnexa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Adnexa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Jantung :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Jantung, StaticModel.ListNormalAbnormal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Jantung, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Rectum :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Rectum, StaticModel.ListNormalAbnormal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Rectum, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Paru :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Paru, StaticModel.ListNormalAbnormal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Paru, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Lainnya :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Assgynclogy.Pemeriksaan_Lainnya, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Lainnya, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Perut :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Perut, StaticModel.ListNormalAbnormal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Perut, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Pelvic :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_Pelvic, StaticModel.ListNormalAbnormal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_Pelvic, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Tungkai Atas:
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_TungkaiAtas, StaticModel.ListNormalAbnormal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_TungkaiAtas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Tungkai Bawah:
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_TungkaiBawah, StaticModel.ListNormalAbnormal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_TungkaiBawah, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Limfe:
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Assgynclogy.Pemeriksaan_KelenjarLimfe, StaticModel.ListNormalAbnormal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Pemeriksaan_KelenjarLimfe, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />

                    <div class="form-group">
                        <label class="col-md-2">
                            Komentar :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Assgynclogy.Komentar, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Komentar, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Laboratorium :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Assgynclogy.Laboratorium, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Laboratorium, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Hispatologi :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Assgynclogy.Hispatologi, new { htmlAttributes = new { @class = "form-control", Value = (Model.Assgynclogy.Hispatologi != null ? (Model.Assgynclogy.Hispatologi.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Hispatologi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            No.Pa :
                        </label>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Assgynclogy.NoPa, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.NoPa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Diagnosa :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Assgynclogy.Diagnosa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Diagnosa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Terapi/Tindakan :
                        </label>
                        <div class="col-md-10 text-right">
                            <a class="btn btn-xs btn-success" style="margin-right:2px; padding: 1px 3px;" ng-click="$parent.ajaxmodal({
                                                                                    url: '@Url.Action("Create", "Resep", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor })',
                                                                                    header: 'Resep Obat'
                                                                                })">
                                <i class="icon-plus3"></i>
                            </a>
                            <a class="btn btn-xs btn-primary" style="padding: 1px 3px;" onclick="reloadObat('#Assgynclogy_Terapi');"><i class="icon-sync"></i></a>
                        </div>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Assgynclogy.Terapi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Terapi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            DISPOSISI :
                        </label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.Assgynclogy.Disposisi_BolehPulang, new { htmlAttributes = new { onclick = "bolehpulanggyno()" } })
                                    Boleh Pulang Jam Keluar
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.BolehPulangJam, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model != null ? (Model.Assgynclogy.BolehPulangJam != null ? Model.Assgynclogy.BolehPulangJam.Value.ToString("HH':'mm") : "") : "") } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.BolehPulangJam, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Wita
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Tanggal
                                </label>
                                @Html.EditorFor(model => model.Assgynclogy.BolehPulangTgl, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.Assgynclogy.BolehPulangTgl != null ? (Model.Assgynclogy.BolehPulangTgl.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.Assgynclogy.BolehPulangTgl, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Kontrol :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Assgynclogy.KontrolPoliklinik, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "kontrolgyno()" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.KontrolPoliklinik, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Assgynclogy.KontrolPoliklinik_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.KontrolPoliklinik_Ket, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Assgynclogy.KontrolPoliklinik_Tanggal, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.Assgynclogy.KontrolPoliklinik_Tanggal != null ? (Model.Assgynclogy.KontrolPoliklinik_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.KontrolPoliklinik_Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assgynclogy.Disposisi_Dirawat, new { htmlAttributes = new { onclick = "dirawatgyno()" } })
                                Dirawat di Ruang
                            </label>
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Assgynclogy.Disposisi_Dirawat_Ket, StaticModel.ListDirawat, new { @class = "form-control", onchange = "dirawatketgyno()" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Disposisi_Dirawat_Ket, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Assgynclogy.RuanganLain, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.RuanganLain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            CATATAN :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Assgynclogy.Catatan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.Catatan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            DPJP
                        </label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.Assgynclogy.DokterBPJP, Model.Assgynclogy.DokterBPJP == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.Assgynclogy.DokterBPJP.ToString(), Text = Model.Assgynclogy.DokterBPJPNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assgynclogy.DokterBPJP, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.Assgynclogy.SudahRegDokter == 0)
                            {
                                <a id="btn_assgynoco" class="btn btn-primary disabled" onclick="user_verif_assgyneco()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssgynclogyDPJP"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_assgynoco" class="btn btn-primary" onclick="user_verif_assgyneco()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssgynclogyDPJP"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.Assgynclogy.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFIlmuPenyakitGynecology", new { noreg = Model.Assgynclogy.NoReg, sectionid = Model.Assgynclogy.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.Assgynclogy.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokterpengajian = $('#@formName #Assgynclogy_DokterBPJP');

    dokterpengajian.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>

<script src="~/scripts/jquery.timer.js"></script>
<!--JS LAINNYA-->
<script>
    function user_verif_assgyneco() {
        var reStatsIlmuGynecologi = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#Assgynclogy_DokterBPJP').val();
        var noreg = $('#Assgynclogy_NoReg').val();
        var section = $('#Assgynclogy_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifgyneco(noreg, section, user_id);
            if (ct >= limit || reStatsIlmuGynecologi == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsIlmuGynecologi == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsIlmuGynecologi == 1) {
                    alertpopup("Verification success!", "success");
                    location.reload();
                }
            }
            ct++;
        });

        function user_checkverifgyneco(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilAssgynclogy", "VerifAssPAKebidanan")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.DokterPengkaji == "1") {
                            reStatsIlmuGynecologi = 1;
                        }
                    }
                    else {
                        reStatsIlmuGynecologi = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function rujukangynclogy() {
        if ($('#Assgynclogy_Rujukan_Ya').is(':checked')) {
            $('#Assgynclogy_Rujukan_Ya_Ket').prop('disabled', false);
            $('#Assgynclogy_Rujukan_Ya_Dx').prop('disabled', false);
        } else {
            $('#Assgynclogy_Rujukan_Ya_Ket').prop('disabled', true);
            $('#Assgynclogy_Rujukan_Ya_Ket').val('');
            $('#Assgynclogy_Rujukan_Ya_Dx').prop('disabled', true);
            $('#Assgynclogy_Rujukan_Ya_Dx').val('');
        }
    }

    function transportasigynclogy() {
        if ($("#Assgynclogy_Transportasi option:selected").val() == 'Lainnya') {
            $('#Assgynclogy_Transportasi_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_Transportasi_Ket').prop('disabled', true);
            $('#Assgynclogy_Transportasi_Ket').val('');
        }
    }

    function riwayatalergigynclogy() {
        if ($("#Assgynclogy_Riwayat_Alergi option:selected").val() == 'Ya') {
            $('#Assgynclogy_Riwayat_Alergi_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_Riwayat_Alergi_Ket').prop('disabled', true);
            $('#Assgynclogy_Riwayat_Alergi_Ket').val('');
        }
    }

    function nyerigynclogy() {
        if ($("#Assgynclogy_Nyeri option:selected").val() == 'Ya') {
            $('#Assgynclogy_Lokasi').prop('disabled', false);
            $('#Assgynclogy_Intensitas').prop('disabled', false);
        } else {
            $('#Assgynclogy_Lokasi').prop('disabled', true);
            $('#Assgynclogy_Lokasi').val('');
            $('#Assgynclogy_Intensitas').prop('disabled', true);
            $('#Assgynclogy_Intensitas').val('');
        }
    }

    function menarchegynclogy() {
        if ($('#Assgynclogy_RiwayatMenstruasi_Menarche').is(':checked')) {
            $('#Assgynclogy_RiwayatMenstruasi_Menarche_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatMenstruasi_Menarche_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatMenstruasi_Menarche_Ket').val('');
        }
    }

    function menstruasigynclogy() {
        if ($('#Assgynclogy_RiwayatMenstruasi_Menstruasi').is(':checked')) {
            $('#Assgynclogy_RiwayatMenstruasi_Menstruasi_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatMenstruasi_Menstruasi_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatMenstruasi_Menstruasi_Ket').val('');
        }
    }

    function siklusgynclogy() {
        if ($('#Assgynclogy_RiwayatMenstruasi_Siklus').is(':checked')) {
            $('#Assgynclogy_RiwayatMenstruasi_Siklus_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatMenstruasi_Siklus_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatMenstruasi_Siklus_Ket').val('');
        }
    }

    function teraturgynclogy() {
        if ($('#Assgynclogy_RiwayatMenstruasi_Teratur').is(':checked')) {
            $('#Assgynclogy_RiwayatMenstruasi_Teratur_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatMenstruasi_Teratur_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatMenstruasi_Teratur_Ket').val('');
        }
    }

    function lamanyagynclogy() {
        if ($('#Assgynclogy_RiwayatMenstruasi_Lamanya').is(':checked')) {
            $('#Assgynclogy_RiwayatMenstruasi_Lamanya_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatMenstruasi_Lamanya_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatMenstruasi_Lamanya_Ket').val('');
        }
    }

    function banyaknyagynclogy() {
        if ($('#Assgynclogy_RiwayatMenstruasi_Banyaknya').is(':checked')) {
            $('#Assgynclogy_RiwayatMenstruasi_Banyaknya_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatMenstruasi_Banyaknya_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatMenstruasi_Banyaknya_Ket').val('');
        }
    }

    function keluhangynclogy() {
        if ($('#Assgynclogy_RiwayatMenstruasi_Keluhan').is(':checked')) {
            $('#Assgynclogy_RiwayatMenstruasi_Keluhan_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatMenstruasi_Keluhan_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatMenstruasi_Keluhan_Ket').val('');
        }
    }



    function kontrasepsigynclogy() {
        if ($('#Assgynclogy_RiwayatMenstruasi_Kontrasepsi').is(':checked')) {
            $('#Assgynclogy_RiwayatMenstruasi_Kontrasepsi_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatMenstruasi_Kontrasepsi_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatMenstruasi_Kontrasepsi_Ket').val('');
        }
    }

    function statuskawingynclogy() {
        if ($("#Assgynclogy_RiwayatPerkawinan_Status option:selected").val() == 'Kawin') {
            $('#Assgynclogy_RiwayatPerkawinan_Kawin').prop('disabled', false);
            $('#Assgynclogy_RiwayatPerkawinan_UmurKawin').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatPerkawinan_Kawin').prop('disabled', true);
            $('#Assgynclogy_RiwayatPerkawinan_Kawin').val('');
            $('#Assgynclogy_RiwayatPerkawinan_UmurKawin').prop('disabled', true);
            $('#Assgynclogy_RiwayatPerkawinan_UmurKawin').val('');
        }
    }

    function tumorriwayatpernahgynclogy() {
        if ($('#Assgynclogy_RiwayatPenyakitDahulu_Tumor').is(':checked')) {
            $('#Assgynclogy_RiwayatPenyakitDahulu_Tumor_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatPenyakitDahulu_Tumor_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatPenyakitDahulu_Tumor_Ket').val('');
        }
    }

    function riwayatpenyakitdahulupernahgynclogy() {
        if ($('#Assgynclogy_RiwayatPenyakitDahulu_Operasi').is(':checked')) {
            $('#Assgynclogy_RiwayatPenyakitDahulu_Operasi_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatPenyakitDahulu_Operasi_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatPenyakitDahulu_Operasi_Ket').val('');
            $('#Assgynclogy_RiwayatPenyakitDahulu_Pernah_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatPenyakitDahulu_Pernah_Ket').val('');
            $('#Assgynclogy_RiwayatPenyakitDahulu_Pernah_Tgl').prop('disabled', true);
        }
    }

    function operasiketgynclogy() {
        if ($("#Assgynclogy_RiwayatPenyakitDahulu_Operasi_Ket option:selected").val() == 'Pernah') {
            $('#Assgynclogy_RiwayatPenyakitDahulu_Pernah_Ket').prop('disabled', false);
            $('#Assgynclogy_RiwayatPenyakitDahulu_Pernah_Tgl').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatPenyakitDahulu_Pernah_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatPenyakitDahulu_Pernah_Ket').val('');
            $('#Assgynclogy_RiwayatPenyakitDahulu_Pernah_Tgl').prop('disabled', true);
        }
    }

    function lainnyapenyakitdahuluoperasiketgynclogy() {
        if ($('#Assgynclogy_RiwayatPenyakitDahulu_Lainnya').is(':checked')) {
            $('#Assgynclogy_RiwayatPenyakitDahulu_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatPenyakitDahulu_Lainnya_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatPenyakitDahulu_Lainnya_Ket').val('');
        }
    }

    function riwayatpenyakitkeluargatumorgynclogy() {
        if ($('#Assgynclogy_RiwayatPenyakitKeluarga_Tumor').is(':checked')) {
            $('#Assgynclogy_RiwayatPenyakitKeluarga_Tumor_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatPenyakitKeluarga_Tumor_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatPenyakitKeluarga_Tumor_Ket').val('');
        }
    }

    function riwayatpenyakitkeluargagyno() {
        if ($('#Assgynclogy_RiwayatPenyakitKeluarga_Lainnya').is(':checked')) {
            $('#Assgynclogy_RiwayatPenyakitKeluarga_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_RiwayatPenyakitKeluarga_Lainnya_Ket').prop('disabled', true);
            $('#Assgynclogy_RiwayatPenyakitKeluarga_Lainnya_Ket').val('');
        }
    }

    function bolehpulanggyno() {
        if ($('#Assgynclogy_Disposisi_BolehPulang').is(':checked')) {
            $('#Assgynclogy_BolehPulangJam').prop('disabled', false);
            $('#Assgynclogy_BolehPulangTgl').prop('disabled', false);
        } else {
            $('#Assgynclogy_BolehPulangJam').prop('disabled', true);
            $('#Assgynclogy_BolehPulangTgl').prop('disabled', true);
        }
    }

    function kontrolgyno() {
        if ($("#Assgynclogy_KontrolPoliklinik option:selected").val() == 'Ya') {
            $('#Assgynclogy_KontrolPoliklinik_Ket').prop('disabled', false);
            $('#Assgynclogy_KontrolPoliklinik_Tanggal').prop('disabled', false);
        } else {
            $('#Assgynclogy_KontrolPoliklinik_Ket').prop('disabled', true);
            $('#Assgynclogy_KontrolPoliklinik_Ket').val('');
            $('#Assgynclogy_KontrolPoliklinik_Tanggal').prop('disabled', true);
        }
    }

    function dirawatgyno() {
        if ($('#Assgynclogy_Disposisi_Dirawat').is(':checked')) {
            $('#Assgynclogy_Disposisi_Dirawat_Ket').prop('disabled', false);
        } else {
            $('#Assgynclogy_Disposisi_Dirawat_Ket').prop('disabled', true);
            $('#Assgynclogy_Disposisi_Dirawat_Ket').val('');
        }
    }

    function dirawatketgyno() {
        if ($("#Assgynclogy_Disposisi_Dirawat_Ket option:selected").val() == 'Ruangan Lain') {
            $('#Assgynclogy_RuanganLain').prop('disabled', false);
        } else {
            $('#Assgynclogy_RuanganLain').prop('disabled', true);
            $('#Assgynclogy_RuanganLain').val('');
        }
    }

    function reloadObat(target) {
        myajax({
            url: '@Url.Action("getListObat", "Resep")',
            data: {
                noreg: '@Model.NoReg',
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    $(target).val(dt.Data);
                }
            }
        });
    }


    $(document).ready(function () {
        rujukangynclogy();
        transportasigynclogy();
        riwayatalergigynclogy();
        nyerigynclogy();
        menarchegynclogy();
        menstruasigynclogy();
        siklusgynclogy();
        teraturgynclogy();
        lamanyagynclogy();
        banyaknyagynclogy();
        keluhangynclogy();
        kontrasepsigynclogy();
        statuskawingynclogy();
        tumorriwayatpernahgynclogy();
        riwayatpenyakitdahulupernahgynclogy();
        operasiketgynclogy();
        lainnyapenyakitdahuluoperasiketgynclogy();
        riwayatpenyakitkeluargatumorgynclogy();
        riwayatpenyakitkeluargagyno();
        bolehpulanggyno();
        kontrolgyno();
        dirawatgyno();
        dirawatketgyno();
    });
</script>
