﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "RencanaKeperawatanNyeriRI";
    ViewBag.Title = controllerName;
    var formName = $"frm_RencanaKeperawatanNyeriRI_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}


<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.RncanaKprwtNyri.NoReg)
        @Html.HiddenFor(Model => Model.RncanaKprwtNyri.SectionID)
        @Html.HiddenFor(Model => Model.RncanaKprwtNyri.NRM)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">RENCANA KEPERAWATAN NYERI(Akut / Kronis)</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            Tanggal :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RncanaKprwtNyri.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.RncanaKprwtNyri.Tanggal != null ? (Model.RncanaKprwtNyri.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.RncanaKprwtNyri.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1 col-md-offset-1">
                            Jam :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RncanaKprwtNyri.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.RncanaKprwtNyri.Jam != null ? Model.RncanaKprwtNyri.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.RncanaKprwtNyri.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tgl</th>
                                    <th>Diagnosa Keperawatan</th>
                                    <th>Tujuan</th>
                                    <th>Rencana TIndakan</th>
                                    <th>Paraf/ Nama Terang</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.RncanaKprwtNyri.Tgl_DiagnosaKeperawatan, new { htmlAttributes = new { @class = "form-control", Value = (Model.RncanaKprwtNyri.Tgl_DiagnosaKeperawatan != null ? (Model.RncanaKprwtNyri.Tgl_DiagnosaKeperawatan.Value.ToString("yyyy-MM-dd")) : "") } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtNyri.Tgl_DiagnosaKeperawatan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                <b>Nyeri (akut/kronis)</b> berhubungan dengan agen injuri
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.DiagnosaKeperawatan_FisikLukaDiKulit, new { htmlAttributes = new { } })
                                                    Fisik luka di  kulit, insisi luka operasi, tindakan invasive, pemasangan ventilasi mekanik/ letak selang endotrakheal
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.DiagnosaKeperawatan_Psikologis, new { htmlAttributes = new { } })
                                                    Psikologis: Pusing, sakit kepala.
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.DiagnosaKeperawatan_Biologis, new { htmlAttributes = new { } })
                                                    Biologis: nyeri pada luka kanker, nyeri pada tulang dan sendi, infeksi, inflamasi
                                                </label>
                                            </div>
                                            <label class="col-md-12">
                                                DS :
                                            </label>
                                            <label class="col-md-12">
                                                Pasien mengeluh
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.Ds_NyeriPadaLukaDiKulit, new { htmlAttributes = new { } })
                                                    Nyeri pada luka di kulit
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.Ds_NyeriPadaLukaOperasi, new { htmlAttributes = new { } })
                                                    Nyeri pada luka operasi
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.Ds_PusingSakitKepala, new { htmlAttributes = new { } })
                                                    Pusing/ Sakit Kepala
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.Ds_NyeriPadaLukaKanker, new { htmlAttributes = new { } })
                                                    Nyeri pada luka kanker
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.Ds_NyeriPadaTulangDanSendi, new { htmlAttributes = new { } })
                                                    Nyeri pada tulang dan sendi
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.Ds_NyeriPadaSkala, new { htmlAttributes = new { } })
                                                    Nyeri pada skala
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.Ds_KetSkala, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtNyri.Ds_KetSkala, "", new { @class = "text-danger" })
                                                </label>
                                            </div>
                                            <label class="col-md-12">
                                                (4-10 pada Numberic Pain Rating Scale)
                                            </label>
                                            <label class="col-md-12">
                                                DO:
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.Do_WajahMeringisMenyeringai, new { htmlAttributes = new { } })
                                                    Wajah meringis, menyeringai, gelisah, berkeringat
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.Do_NyeriPadaSkala, new { htmlAttributes = new { } })
                                                    Nyeri pada skala
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.Do_KetSkala, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtNyri.Do_KetSkala, "", new { @class = "text-danger" })
                                                </label>
                                            </div>
                                            <label class="col-md-12">
                                                (4-10 pada Wong Baker Pain Scale)
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.Do_PucatAkibatMenahanNyeri, new { htmlAttributes = new { } })
                                                    Pucat akibat menahan nyeri
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.Do_TingkahLakuBerhati, new { htmlAttributes = new { } })
                                                    Tingkah laku berhati- hati dan menghindar terhadap nyeri
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtNyri.Do_PerubahanPadaTandaVital, new { htmlAttributes = new { } })
                                                    Perubahan pada tanda vital: takhipnea, takhikardia
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <label class="col-md-12">Setelah diberikan tindakan keperawatan selama</label>
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.RncanaKprwtNyri.Tujuan_SetelahDiberikanTindakanKeperawatan, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtNyri.Tujuan_SetelahDiberikanTindakanKeperawatan, "", new { @class = "text-danger" })
                                            </div>
                                            <label class="col-md-12">X 24 jam diharapkan pasien dapat mempertahankan prilaku adaptasi terhadap nyeri (nyeri terkontrol) dengan kriteria :</label>
                                            <div class="col-md-12">
                                                <ol>
                                                    <li>
                                                        Melaporakan secara verbal nyeri berkurang atau hilang
                                                    </li>
                                                    <li>
                                                        Skala nyeri 0-3 (Pada NPRS dan WBPS)
                                                    </li>
                                                    <li>
                                                        Wajah tampak rileks/ tenang
                                                    </li>
                                                    <li>
                                                        Tidak gelisah, pucat, berkeringat akibat menahan nyeri
                                                    </li>
                                                    <li>
                                                        Tidak berhati-hati dan menghindari daerah yang nyeri
                                                    </li>
                                                    <li>
                                                        Tanda-tanda vital (nadi dan pernafasan) dalam batas normal
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <label class="col-md-12">Mandiri :</label>
                                            <div class="col-md-12">
                                                <ol>
                                                    <li>
                                                        Istirahatkan pasien pada posisi yang nyaman dalam batas yang ditoleransi oleh pasien
                                                    </li>
                                                    <li>
                                                        Berikan informasi tentang nyeri meliputi penyebab, lamanya nyeri berlangsung, faktor yang dapat memperburuk atau meredakan nyeri
                                                    </li>
                                                    <li>
                                                        Bantu pasien mengidentifikasi tindakan memenuhi kebutuhan rasa nyaman yang telah berhadil dilakukan oleh pasien
                                                    </li>
                                                    <li>
                                                        Observasi tanda-tanda vital
                                                    </li>
                                                    <li>
                                                        Ajarkan teknik nonfarmakologis seperti:
                                                        <ul>
                                                            <li>Relaksasi nafas dalam/ otot progresif</li>
                                                            <li>Distraksi</li>
                                                            <li>Kompres hangat/ dingin</li>
                                                            <li>Terapi music</li>
                                                            <li>Terapi bermain</li>
                                                            <li>Massage punggung</li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        Kaji kembali keluhan nyeri yang dirasakan pasien meliputi lokasi, karakteristik, frekuensi, durasi, kualitas dan intensitas/ skala nyeri
                                                    </li>
                                                    <li>
                                                        Atur posisi ETT, tubing dan sensitivitas
                                                    </li>
                                                </ol>
                                            </div>
                                            <div class="col-md-12">
                                                <ol>
                                                    <li>Pemberian analgetik/ sedasi jika diperlukan</li>
                                                    <li>Ajarkan tentang metode penggunaan analgetik untuk mengurangi nyeri</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.RncanaKprwtNyri.Paraf, Model.RncanaKprwtNyri.Paraf == null ? new List<SelectListItem>() :
                                        new List<SelectListItem>() { new SelectListItem() { Value = Model.RncanaKprwtNyri.Paraf.ToString(), Text = Model.RncanaKprwtNyri.ParafNama } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtNyri.Paraf, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.RncanaKprwtNyri.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFRencanaKeperawatanNyeri", new { noreg = Model.RncanaKprwtNyri.NoReg, Model.RncanaKprwtNyri.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.RncanaKprwtNyri.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var ahligizi = $('#@formName #RncanaKprwtNyri_Paraf');

    ahligizi.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });


</script>










