﻿@using EMRRSBK.Models
@model EWSScorePemantauanViewModel

@{
    var controllerName = "PemantauanPEWSScore";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_pews = $"frm_table_detailPEWS";
    int d_idx_pews = 0;
    var d_trg_pews = $"input_target_detailPEWS";
    if (Model != null)
    {
        if (Model.PEWS_List != null)
        {
            d_idx_pews = Model.PEWS_List.Count();
        }
    }
    #endregion

}

@*   CSS Table 1    *@
<style>

        #d_tbl_pews thead tr th {
            vertical-align: middle;
            text-align: center;
        }

        #d_tbl_pews thead th:nth-child(1),
        #d_tbl_pews tbody td:nth-child(1){
            text-align:center;
            width: 100px;
            display:none;
        }

        #d_tbl_pews thead th:nth-child(2),
        #d_tbl_pews tbody td:nth-child(2){
            width: 40px;
            text-align:center;
        }

        #d_tbl_pews thead th:nth-child(3),
        #d_tbl_pews tbody td:nth-child(3){
            display:none;
        }

        #d_tbl_pews thead th:nth-child(4),
        #d_tbl_pews tbody td:nth-child(4){
            width: 80px;
            display: none;
        }

        #d_tbl_pews thead th:nth-child(5),
        #d_tbl_pews tbody td:nth-child(5){
            width: 160px;
        }

        #d_tbl_pews thead th:nth-child(6),
        #d_tbl_pews tbody td:nth-child(6){
            width: 105px;
        }

        #d_tbl_pews thead th:nth-child(7),
        #d_tbl_pews tbody td:nth-child(7){
            width: 100px;
        }

        #d_tbl_pews thead th:nth-child(8),
        #d_tbl_pews tbody td:nth-child(8){
            width: 100px;
        }

        #d_tbl_pews thead th:nth-child(9),
        #d_tbl_pews tbody td:nth-child(9){
            width: 140px;
        }

        #d_tbl_pews thead th:nth-child(10),
        #d_tbl_pews tbody td:nth-child(10){
            width: 140px;
        }

        #d_tbl_pews thead th:nth-child(11),
        #d_tbl_pews tbody td:nth-child(11){
            width: 100px;
        }

        #d_tbl_pews thead th:nth-child(12),
        #d_tbl_pews tbody td:nth-child(12){
            width: 100px;
        }

        #d_tbl_pews thead th:nth-child(13),
        #d_tbl_pews tbody td:nth-child(13){
            width: 120px;
        }

         #d_tbl_pews thead th:nth-child(14),
        #d_tbl_pews tbody td:nth-child(14){
            width: 400px;
        }

        #d_tbl_pews thead th:nth-child(15),
        #d_tbl_pews tbody td:nth-child(15){
            width: 100px;
        }

        #d_tbl_pews thead th:nth-child(16),
        #d_tbl_pews tbody td:nth-child(16){
            width: 200px;
        }

        #d_tbl_pews thead th:nth-child(17),
        #d_tbl_pews tbody td:nth-child(17){
            width: 100px;
        }

        #d_tbl_pews thead th:nth-child(18),
        #d_tbl_pews tbody td:nth-child(18){
            width: 100px;
        }

         #d_tbl_pews thead th:nth-child(19),
        #d_tbl_pews tbody td:nth-child(19){
            width: 100px;
        }

        #d_tbl_pews thead th:nth-child(20),
        #d_tbl_pews tbody td:nth-child(20){
            width: 100px;
        }

        #d_tbl_pews thead th:nth-child(21),
        #d_tbl_pews tbody td:nth-child(21){
            width: 300px;
        }

        .table {
            table-layout: fixed;
            max-width: 100%;
        }

</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("PEWSScore", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatepews (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.NRM)
        @Html.HiddenFor(model => model.SectionID)
        @Html.HiddenFor(model => model.Tanggal_View)
        if (Model.PEWS_List != null)
        {
            for (var i = 0; i < Model.PEWS_List.Count(); i++)
            {
                @Html.HiddenFor(Model => Model.PEWS_List[i].Model.TandaTanganDokter)
            }
        }

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="row">

                        <div class="form-group">
                            <label class="control-label col-md-12 text-center text-bold">
                                PEMANTAUAN PEDIATRIC EARLY WARNING SCORE (PEWS)
                            </label>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="panel_detaiPEWS" class="panel-body detail collapse in"
                                     data-index-detail="@d_idx_pews">
                                    <div class="table-responsive">
                                        <table id="d_tbl_pews" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" onclick="checkall(this)" />
                                                    </th>
                                                    <th class="text-center" rowspan="2">
                                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_pews')">
                                                            <i class="icon-plus2"></i>
                                                        </a>
                                                    </th>
                                                    <th></th>
                                                    <th rowspan="2">No</th>
                                                    <th rowspan="2">Tanggal</th>
                                                    <th rowspan="2">Jam</th>
                                                    <th rowspan="2">PERNAPASAN (Respiration Frekuensi Pernafasan)</th>
                                                    <th rowspan="2">JUMLAH OKSIGEN YANG DIGUNAKAN (lt/mnt)</th>
                                                    <th rowspan="2">USAHA NAFAS</th>
                                                    <th rowspan="2">PEW SCORE PERNAFASAN (RESPIRATION/R)</th>
                                                    <th rowspan="2">SIRKULASI (Circulation Nadi Tekanan Darah)</th>
                                                    <th rowspan="2">Capillary Reffil Time (CRT)</th>
                                                    <th rowspan="2">PEW SCORE SIRKULASI (CIRCULATION/C)</th>
                                                    <th colspan="4">BEHEVIOUR</th>
                                                    <th rowspan="2">SUHU</th>
                                                    <th rowspan="2">PEW SCORE BEHAVIOR (B)</th>
                                                    <th rowspan="2">TOTAL PEW SCORE (R+C+B)</th>
                                                    <th rowspan="2">SKALA NYERI</th>
                                                    <th rowspan="2">BAB</th>
                                                    <th rowspan="2">BAK</th>
                                                    <th rowspan="2">Nama</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="4"></th>
                                                    <th>ALERT</th>
                                                    <th>VERBAL</th>
                                                    <th>VERBAL</th>
                                                    <th>VERBAL</th>
                                                    <th>PAIN</th>
                                                    <th>UNRESPON</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.PEWS_List != null)
                                                    {
                                                        for (var i = 0; i < Model.PEWS_List.Count(); i++)
                                                        {
                                                            <tr>
                                                                <!-- Check -->
                                                                <td>
                                                                    <input type="checkbox" />
                                                                </td>

                                                                <!-- Delete button -->
                                                                <td>
                                                                    <a class="text-danger-600"
                                                                       onclick="removetr(this)">
                                                                        <i class="icon-trash"></i>
                                                                    </a>
                                                                </td>

                                                                <!-- Remove Status -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Remove,
                                                               new { htmlAttributes = new { @class = "disable-reset" } })
                                                                </td>

                                                                <!-- No -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.No, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"
                                                                   }
                                                               })
                                                                </td>

                                                                <!-- 5 -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.Tanggal, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.PEWS_List[i].Model.Tanggal != null ? Model.PEWS_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                <!-- 6 -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.Jam, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.PEWS_List[i].Model.Jam != null ? Model.PEWS_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                @{
                                                                    var m_1 = StaticModel.ListPEWS_Pernafasan;
                                                                    var item_1 = Model.PEWS_List[i].Model.Pernafasan;
                                                                    if (item_1 != null)
                                                                    {
                                                                        m_1.FirstOrDefault(x => x.Value == Model.PEWS_List[i].Model.Pernafasan).Selected = true;

                                                                    }
                                                                }

                                                                <td>
                                                                    @Html.DropDownListFor(model => model.PEWS_List[i].Model.Pernafasan,
                                                                    m_1, new { @class = "form-control input-sm" })
                                                                </td>

                                                                <!-- 7 -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.JumlahOksigen, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>
                                                                <!-- 8 -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.UsahaNafas, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.PEWScorePernafasan, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>

                                                                @{
                                                                    var m_3 = StaticModel.ListPEWS_Sirkulasi;
                                                                    var item_3 = Model.PEWS_List[i].Model.Sirkulasi;
                                                                    if (item_3 != null)
                                                                    {
                                                                        m_3.FirstOrDefault(x => x.Value == Model.PEWS_List[i].Model.Sirkulasi).Selected = true;

                                                                    }
                                                                }

                                                                <!-- 9 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.PEWS_List[i].Model.Sirkulasi,
                                                                    m_3, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.Crt, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>
                                                                <!-- 8 -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.PEWScoreSirkulasi, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.Suhu, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.Beheviour_Alert, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.Beheviour_Verbal, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.Beheviour_Pain, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.Beheviour_Unrespon, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.PEWScoreBehaviour, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.TotalPEWScore, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.SkalaNyeri, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.BAB, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.PEWS_List[i].Model.BAK, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>

                                                                <!-- 15 -->
                                                                @{
                                                                    var _lstnama = new List<SelectListItem>();
                                                                    if (Model.PEWS_List[i].Model != null)
                                                                    {
                                                                        if (Model.PEWS_List[i].Model.Nama != null)
                                                                        {
                                                                            _lstnama.Add(new SelectListItem()
                                                                            {
                                                                                Value = Model.PEWS_List[i].Model.Nama,
                                                                                Text = Model.PEWS_List[i].Model.NamaNama
                                                                            });
                                                                        }
                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-10">
                                                                        @Html.DropDownListFor(model => model.PEWS_List[i].Model.Nama, _lstnama, new { @class = "form-control input-sm" })
                                                                    </div>
                                                                    @if (Model.PEWS_List[i].Model.SudahRegDkt == 0)
                                                                    {
                                                                        <div class="col-md-2">
                                                                            <a id="btn_dtlpews" class="btn btn-primary disabled" onclick="user_verif_pews({ id : '@Model.PEWS_List[i].Model.Nama', no : '@Model.PEWS_List[i].Model.No', ini : this})" href="finspot:FingerspotVer;@Model.PEWS_List[i].Model.Viewbag"><span class="icon-checkmark2 position-center"></span></a>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="col-md-2">
                                                                            <a id="btn_dtlpews" class="btn btn-primary" onclick="user_verif_pews({ id : '@Model.PEWS_List[i].Model.Nama', no : '@Model.PEWS_List[i].Model.No', ini : this})" href="finspot:FingerspotVer;@Model.PEWS_List[i].Model.Viewbag"><span class="icon-checkmark2 position-center"></span></a>
                                                                        </div>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                                <a href="@Url.Action("ExportPDFPemantauanPEWSScore", new { noreg = Model.NoReg, section = Model.SectionID })" target="_blank"
                                   class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                                    Print PDF
                                </a>
                                <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }

</div>

<script type="text/javascript">

    @if (Model != null)
    {
         if (Model.PEWS_List != null)
        {
            for (var i = 0; i < Model.PEWS_List.Count; i++)
            {

                    @:customdetailPEWS_Detail(@i, { target: $('#d_tbl_pews thead a i')[0] }, '@d_trg_pews', false);
            }

        }
    }

    function customdetailPEWS_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strnama = '#panel_detaiPEWS #PEWS_List_' + index_detail + '__Model_Nama';

        $(_strnama).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

</script>


@{
    if (Model != null)
    {
        Model.PEWS_List = null;
    }
}

<div id="@d_trg_pews" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.TimeOfDay.ToString("hh':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.PEWS_List[-1].Model.Pernafasan,
      StaticModel.ListPEWS_Pernafasan, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.JumlahOksigen, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.UsahaNafas, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.PEWScorePernafasan, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.PEWS_List[-1].Model.Sirkulasi,
      StaticModel.ListPEWS_Sirkulasi, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.Crt, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.PEWScoreSirkulasi, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>



    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.Beheviour_Alert, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.Beheviour_Verbal, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.Beheviour_Pain, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.Beheviour_Unrespon, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.Suhu, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.PEWScoreBehaviour, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.TotalPEWScore, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.SkalaNyeri, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.BAB, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PEWS_List[-1].Model.BAK, new
       {
           htmlAttributes = new
           {
               @class = "form-control input-sm"
           }
       })
    </div>

    <div class="input-detail">

        @Html.DropDownListFor(model => model.PEWS_List[-1].Model.Nama,
        new List<SelectListItem>(), new { @class = "form-control input-sm" })

    </div>


</div>

<!--  JS Skor  -->
<script>

    function totalskorMEWS(t) {
        var tr = $($(t).closest('tr'));
        var a = tr.find('td:nth-child(7) option:selected').val() || 0;
        var b = tr.find('td:nth-child(8) option:selected').val() || 0;
        var c = tr.find('td:nth-child(9) option:selected').val() || 0;
        var d = tr.find('td:nth-child(10) option:selected').val() || 0;
        var e = tr.find('td:nth-child(11) option:selected').val() || 0;
        var f = tr.find('td:nth-child(12) option:selected').val() || 0;
        var g = tr.find('td:nth-child(13) option:selected').val() || 0;
        var respirasi = 0;
        var tdsistolik = 0;
        var nadi = 0;
        var temper = 0;
        var spo = 0;
        var kesadaran = 0;
        var skorurine = 0;



        if (a == '35') {
            var respirasi = 3;
        } else if (a == '30') {
            var respirasi = 3;
        } else if (a == '25') {
            var respirasi = 2;
        } else if (a == '20') {
            var respirasi = 1;
        } else if (a == '15') {
            var respirasi = 0;
        } else if (a == '10') {
            var respirasi = 1;
        } else if (a == '5') {
            var respirasi = 2;
        }

        if (b == '210') {
            var tdsistolik = 3;
        } else if (b == '200') {
            var tdsistolik = 3;
        } else if (b == '190') {
            var tdsistolik = 2;
        } else if (b == '180') {
            var tdsistolik = 2;
        } else if (b == '170') {
            var tdsistolik = 2;
        } else if (b == '160') {
            var tdsistolik = 2;
        } else if (b == '150') {
            var tdsistolik = 2;
        } else if (b == '140') {
            var tdsistolik = 1;
        } else if (b == '130') {
            var tdsistolik = 0;
        } else if (b == '120') {
            var tdsistolik = 0;
        } else if (b == '110') {
            var tdsistolik = 0;
        } else if (b == '100') {
            var tdsistolik = 0;
        } else if (b == '90') {
            var tdsistolik = 0;
        } else if (b == '80') {
            var tdsistolik = 1;
        } else if (b == '70') {
            var tdsistolik = 3;
        } else if (b == '60') {
            var tdsistolik = 3;
        } else if (b == '50') {
            var tdsistolik = 3;
        } else if (b == '40') {
            var tdsistolik = 3;
        } else if (b == '30') {
            var tdsistolik = 3;
        }

        if (c == '130') {
            var nadi = 3;
        } else if (c == '120') {
            var nadi = 2;
        } else if (c == '110') {
            var nadi = 2;
        } else if (c == '105') {
            var nadi = 1;
        } else if (c == '100') {
            var nadi = 0;
        } else if (c == '90') {
            var nadi = 0;
        } else if (c == '80') {
            var nadi = 0;
        } else if (c == '75') {
            var nadi = 0;
        } else if (c == '70') {
            var nadi = 1;
        } else if (c == '60') {
            var nadi = 1;
        } else if (c == '50') {
            var nadi = 2;
        } else if (c == '40') {
            var nadi = 2;
        }

        if (d == '39,5') {
            var temper = 3;
        } else if (d == '39') {
            var temper = 3;
        } else if (d == '38,5') {
            var temper = 3;
        } else if (d == '38') {
            var temper = 1;
        } else if (d == '37,5') {
            var temper = 0;
        } else if (d == '37') {
            var temper = 0;
        } else if (d == '36') {
            var temper = 0;
        } else if (d == '35') {
            var temper = 1;
        }

        if (e == '>= 95') {
            var spo = 0;
        } else if (e == '90-94') {
            var spo = 1;
        } else if (e == '88-89') {
            var spo = 2;
        } else if (e == '< 88') {
            var spo = 3;
        }

        if (f == 'Alert') {
            var kesadaran = 0;
        } else if (f == 'Voice') {
            var kesadaran = 1;
        } else if (f == '(Confuses/Agitated)') {
            var kesadaran = 2;
        } else if (f == '(Unconsious/Pain)') {
            var kesadaran = 3;
        }

        if (g == '>= 30 cc/jam') {
            var skorurine = 0;
        } else if (g == '<= 50 ml/2 jam') {
            var skorurine = 1;
        } else if (g == '<= 100 ml/4 jam') {
            var skorurine = 2;
        } else if (g == '<= 10 ml/jam') {
            var skorurine = 3;
        }

        var total = respirasi + tdsistolik + nadi + temper + spo + kesadaran + skorurine;
        var hasil = total.toString();
        tr.find('td:nth-child(14) input').val(hasil);
    }


    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }

            }
            _this.value = result + 1;

        }
        $(_this).removeAttr('onblur');

    }

</script>


<script>
     function user_verif_pews(param) {
         var reStatsDtlObses = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = param.id;
        const user_no = param.no;
        var x_this = param.ini;
        var noreg = $('#NoReg').val();
        var section = $('#PEWS_List_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifpews(noreg, section, user_id, user_no);
            if (ct >= limit || reStatsDtlObses == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDtlObses == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDtlObses == 1) {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_dtlpews').addClass('disabled', true);
                    $('#pews').click();
                    alertpopup("Verification Berhasil", "success");
                }
            }
            ct++;
        });

        function user_checkverifpews(noreg, section, user_id, user_no) {
            myajax({
                url: '@Url.Action("CheckBerhasilPEWS", "PemantauanPEWSScore")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id,
                    no: user_no,
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsDtlObses = 1;
                        }
                    }
                    else {
                        reStatsDtlObses = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreatepews(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
            alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#pews').click();
    }

</script>


