﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "CatatanPemberianObat";
    ViewBag.Title = controllerName;
    var formName = $"frm_CatatanPemberianObat_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Detail
    var d_tbl_Pemberian = $"frm_table_detailPemberian";
    int d_idx_Pemberian = 0;
    var d_trg_Pemberian = $"input_target_detailPemberian";
    if (Model != null)
    {
        if (Model.CttPmbrianObt != null)
        {
            if (Model.CttPmbrianObt.Pmberian_List != null)
            {
                d_idx_Pemberian = Model.CttPmbrianObt.Pmberian_List.Count();
            }
        }
    }
    #endregion
}

<!--   CSS Table -->
<style>
    #d_tbl_Pemberian thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_Pemberian thead th:nth-child(1),
    #d_tbl_Pemberian tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_Pemberian thead th:nth-child(2),
    #d_tbl_Pemberian tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #d_tbl_Pemberian thead th:nth-child(3),
    #d_tbl_Pemberian tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_Pemberian thead th:nth-child(4),
    #d_tbl_Pemberian tbody td:nth-child(4) {
        width: 80px;
    }

    #d_tbl_Pemberian thead th:nth-child(5),
    #d_tbl_Pemberian tbody td:nth-child(5) {
        width: 150px;
    }

    #d_tbl_Pemberian thead th:nth-child(6),
    #d_tbl_Pemberian tbody td:nth-child(6) {
        width: 100px;
    }

    #d_tbl_Pemberian thead th:nth-child(7),
    #d_tbl_Pemberian tbody td:nth-child(7) {
        width: 180px;
    }

    #d_tbl_Pemberian thead th:nth-child(8),
    #d_tbl_Pemberian tbody td:nth-child(8) {
        width: 180px;
    }

    #d_tbl_Pemberian thead th:nth-child(9),
    #d_tbl_Pemberian tbody td:nth-child(9) {
        width: 180px;
    }

    #d_tbl_Pemberian thead th:nth-child(10),
    #d_tbl_Pemberian tbody td:nth-child(10) {
        width: 80px;
        text-align: center;
    }

    #d_tbl_Pemberian thead th:nth-child(11),
    #d_tbl_Pemberian tbody td:nth-child(11) {
        width: 80px;
        text-align: center;
    }

    #d_tbl_Pemberian thead th:nth-child(12),
    #d_tbl_Pemberian tbody td:nth-child(12) {
        width: 80px;
        text-align: center;
    }

    #d_tbl_Pemberian thead th:nth-child(13),
    #d_tbl_Pemberian tbody td:nth-child(13) {
        width: 80px;
        text-align: center;
    }

    #d_tbl_Pemberian thead th:nth-child(14),
    #d_tbl_Pemberian tbody td:nth-child(14) {
        width: 80px;
        text-align: center;
    }

    #d_tbl_Pemberian thead th:nth-child(15),
    #d_tbl_Pemberian tbody td:nth-child(15) {
        width: 180px;
    }

    #d_tbl_Pemberian thead th:nth-child(16),
    #d_tbl_Pemberian tbody td:nth-child(16) {
        width: 180px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.CttPmbrianObt.NoReg)
        @Html.HiddenFor(Model => Model.CttPmbrianObt.SectionID)
        @Html.HiddenFor(Model => Model.CttPmbrianObt.Nomor)
        @Html.HiddenFor(Model => Model.CttPmbrianObt.NRM)



        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">CATATAN PEMBERIAN OBAT</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.CttPmbrianObt.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.CttPmbrianObt.Tanggal != null ? (Model.CttPmbrianObt.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.CttPmbrianObt.Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Ruangan :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.CttPmbrianObt.Ruangan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CttPmbrianObt.Ruangan, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">
                            KAMAR :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.CttPmbrianObt.Kamar, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CttPmbrianObt.Kamar, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Lembar Ke :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.CttPmbrianObt.Lembarke, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CttPmbrianObt.Lembarke, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center">Pemberian</label>
                    </div>
                    <div class="form-group">
                        <div id="panel_detailCttPmbrianObtObat" class="detail collapse in"
                             data-index-detail="@d_idx_Pemberian">
                            <div class="table-responsive">
                                <table id="d_tbl_Pemberian" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" onclick="checkall(this)" />
                                            </th>
                                            <th class="text-center" rowspan="2">
                                                <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Pemberian')">
                                                    <i class="icon-plus2"></i>
                                                </a>
                                            </th>
                                            <th></th>
                                            <th>No</th>
                                            <th>Tanggal</th>
                                            <th>Jam</th>
                                            <th>Nama Obat</th>
                                            <th>Dosis</th>
                                            <th>Cara Pemberian</th>
                                            <th>Benar Pasien</th>
                                            <th>Benar Obat</th>
                                            <th>Benar Dosis</th>
                                            <th>Benar Waktu Pemakaian</th>
                                            <th>Benar Cara Pemakaian</th>
                                            <th>Paraf</th>
                                            <th>Keterangan</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.CttPmbrianObt.Pmberian_List != null)
                                            {
                                                for (var i = 0; i < Model.CttPmbrianObt.Pmberian_List.Count(); i++)
                                                {
                                        <tr>
                                            <!-- Check -->
                                            <td>
                                                <input type="checkbox" />
                                            </td>

                                            <!-- Delete button -->
                                            <td>
                                                <a class="text-danger-600"
                                                   onclick="removetr(this)">
                                                    <i class="icon-trash"></i>
                                                </a>
                                            </td>

                                            <!-- Remove Status -->
                                            <td>
                                                @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[i].Remove,
                                           new { htmlAttributes = new { @class = "disable-reset" } })
                                            </td>

                                            <!-- No -->
                                            <td>
                                                @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.No, new
                                           {
                                               htmlAttributes = new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = "readonly"
                                               }
                                           })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.Tanggal, new
                                           {
                                               htmlAttributes = new
                                               {
                                                   @class = "form-control input-sm",
                                                   Value = (Model != null ? (Model.CttPmbrianObt.Pmberian_List[i].Model.Tanggal != null ? Model.CttPmbrianObt.Pmberian_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                               }
                                           })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.Jam, new
                                           {
                                               htmlAttributes = new
                                               {
                                                   @class = "form-control input-sm",
                                                   Value = (Model != null ? (Model.CttPmbrianObt.Pmberian_List[i].Model.Jam != null ? Model.CttPmbrianObt.Pmberian_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                               }
                                           })
                                            </td>

                                            @{
                                                var _lstobat = new List<SelectListItem>();
                                                if (Model.CttPmbrianObt.Pmberian_List[i].Model != null)
                                                {
                                                    if (Model.CttPmbrianObt.Pmberian_List[i].Model.Obat != null)
                                                    {
                                                        _lstobat.Add(new SelectListItem()
                                                        {
                                                            Value = Model.CttPmbrianObt.Pmberian_List[i].Model.Obat,
                                                            Text = Model.CttPmbrianObt.Pmberian_List[i].Model.ObatNama
                                                        });
                                                    }
                                                }
                                            }
                                            <td>
                                                @Html.DropDownListFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.Obat, _lstobat, new { @class = "form-control input-sm" })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.Dosis, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.Dosis, "", new { @class = "text-danger" })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.CaraPemakaian, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.CaraPemakaian, "", new { @class = "text-danger" })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.BenarPasien, new { @class = "form-control input-sm" })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.BenarObat, new { @class = "form-control input-sm" })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.BenarDosis, new { @class = "form-control input-sm" })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.BenarWaktuPemakian, new { @class = "form-control input-sm" })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.BenarCaraPemakaian, new { @class = "form-control input-sm" })
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.Keterangan, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.Keterangan, "", new { @class = "text-danger" })
                                            </td>

                                            @{
                                                var _lstparaf = new List<SelectListItem>();
                                                if (Model.CttPmbrianObt.Pmberian_List[i].Model != null)
                                                {
                                                    if (Model.CttPmbrianObt.Pmberian_List[i].Model.Paraf != null)
                                                    {
                                                        _lstparaf.Add(new SelectListItem()
                                                        {
                                                            Value = Model.CttPmbrianObt.Pmberian_List[i].Model.Paraf,
                                                            Text = Model.CttPmbrianObt.Pmberian_List[i].Model.ParafNama
                                                        });
                                                    }
                                                }
                                            }
                                            <td>
                                                @Html.DropDownListFor(model => model.CttPmbrianObt.Pmberian_List[i].Model.Paraf, _lstparaf, new { @class = "form-control input-sm" })
                                            </td>

                                        </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.CttPmbrianObt.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFCatatanPemberianObat", new { noreg = Model.CttPmbrianObt.NoReg })" target="_blank"
                           class="btn btn-success" @(Model.CttPmbrianObt.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--Select obat-->
<script type="text/javascript">

    @if (Model != null)
    {
        if (Model.CttPmbrianObt.Pmberian_List != null)
        {
            for (var i = 0; i < Model.CttPmbrianObt.Pmberian_List.Count; i++)
            {

                    @:customdetailCatatanObat_Detail(@i, { target: $('#d_tbl_Pemberian thead a i')[0] }, '@d_trg_Pemberian', false);
                    @:customdetailCatatanParaf_Detail(@i, { target: $('#d_tbl_Pemberian thead a i')[0] }, '@d_trg_Pemberian', false);
            }

        }
    }

    function customdetailCatatanObat_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobatsaraf = '#panel_detailCttPmbrianObtObat #CttPmbrianObt_Pmberian_List_' + index_detail + '__Model_Obat';

        $(_strobatsaraf).select2({
            ajax: {
                url: "@Url.Action("ListObat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama_Barang',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Barang, text: value.Nama_Barang } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailCatatanParaf_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strparaf = '#panel_detailCttPmbrianObtObat #CttPmbrianObt_Pmberian_List_' + index_detail + '__Model_Paraf';

        $(_strparaf).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

</script>

<!--INPUT DETAIL TABLE-->
@{
    if (Model != null)
    {
        Model.CttPmbrianObt.Pmberian_List = null;
    }
}

<div id="@d_trg_Pemberian" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[-1].Remove,
        new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detailsaraf(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("HH':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.CttPmbrianObt.Pmberian_List[-1].Model.Obat,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[-1].Model.Dosis, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[-1].Model.CaraPemakaian, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[-1].Model.BenarPasien, new
   {

   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[-1].Model.BenarObat, new
   {

   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[-1].Model.BenarDosis, new
   {

   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[-1].Model.BenarWaktuPemakian, new
   {

   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[-1].Model.BenarCaraPemakaian, new
   {

   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.CttPmbrianObt.Pmberian_List[-1].Model.Paraf,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CttPmbrianObt.Pmberian_List[-1].Model.Keterangan, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

</div>

<!--Auto Detail-->
<script type="text/javascript">

    function autoid_detailsaraf(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }


</script>