﻿@using EMRRSBK.Models
@model VerifikasiTTDViewModel

@{
    ViewBag.Title = "Change Password Verifikasi TTD";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Profile", Value = Url.Action("Index", "Manage") },
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

@using (Html.BeginForm("ChangePasswordTTD", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="panel">
                <div class="panel-body">
                    <div class="text-center">
                        <h5 class="content-group">@ViewBag.Title</h5>
                    </div>
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.DokterID_ChangePassword, Model.DokterID_ChangePassword == null ? new List<SelectListItem>() : 
                            new List<SelectListItem>() { new SelectListItem() { Value = Model.DokterID_ChangePassword.ToString(), Text = Model.NamaDokter_ChangePassword } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DokterID_ChangePassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "User Name" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.PasswordLama, new { @class = "form-control", placeholder = "Old Password" })
                        @Html.ValidationMessageFor(model => model.PasswordLama, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.PasswordBaru, new { @class = "form-control", placeholder = "New Password" })
                        @Html.ValidationMessageFor(model => model.PasswordBaru, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="text-right">
                        <a href="@Url.Action("Index", "Manage")" class="btn btn-link"><i class="icon-arrow-left13 position-left"></i> Back to Profile</a>
                        <button type="submit" class="btn bg-teal-400 btn-labeled-right ml-10">Change password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>

    $('#DokterID_ChangePassword').select2({
        ajax: {
            url: "@Url.Action("List", "Dokter")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

</script>

