﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "CatatanVisiteDokter";
    ViewBag.Title = controllerName;
    var formName = $"frm_CatatanVisiteDokter_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Detail

    var d_tbl_Visiteitem = $"frm_table_detailVisiteitem";
    int d_idx_Visiteitem = 0;
    var d_trg_Visiteitem = $"input_target_detailVisiteitem";
    if (Model != null)
    {
        if (Model.CttVstDkter != null)
        {
            if (Model.CttVstDkter.VstDetail_List != null)
            {
                d_idx_Visiteitem = Model.CttVstDkter.VstDetail_List.Count();
            }
        }
    }
    #endregion
}


<!--   CSS Table 3 -->
<style>
    #d_tbl_Visiteitem thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_Visiteitem thead th:nth-child(1),
    #d_tbl_Visiteitem tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_Visiteitem thead th:nth-child(2),
    #d_tbl_Visiteitem tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #d_tbl_Visiteitem thead th:nth-child(3),
    #d_tbl_Visiteitem tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_Visiteitem thead th:nth-child(4),
    #d_tbl_Visiteitem tbody td:nth-child(4) {
        width: 80px;
    }

    #d_tbl_Visiteitem thead th:nth-child(5),
    #d_tbl_Visiteitem tbody td:nth-child(5) {
        width: 130px;
    }

    #d_tbl_Visiteitem thead th:nth-child(6),
    #d_tbl_Visiteitem tbody td:nth-child(6) {
        width: 200px;
    }

    #d_tbl_Visiteitem thead th:nth-child(7),
    #d_tbl_Visiteitem tbody td:nth-child(7) {
        width: 150px;
    }

    #d_tbl_Visiteitem thead th:nth-child(8),
    #d_tbl_Visiteitem tbody td:nth-child(8) {
        width: 200px;
    }

    #d_tbl_Visiteitem thead th:nth-child(9),
    #d_tbl_Visiteitem tbody td:nth-child(9) {
        width: 150px;
    }

    #d_tbl_Visiteitem thead th:nth-child(10),
    #d_tbl_Visiteitem tbody td:nth-child(10) {
        width: 250px;
    }

    #d_tbl_Visiteitem thead th:nth-child(11),
    #d_tbl_Visiteitem tbody td:nth-child(11) {
        width: 150px;
    }

    #d_tbl_Visiteitem thead th:nth-child(12),
    #d_tbl_Visiteitem tbody td:nth-child(12) {
        width: 150px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.CttVstDkter.NoReg)
        @Html.HiddenFor(Model => Model.CttVstDkter.SectionID)
        @Html.HiddenFor(Model => Model.CttVstDkter.NRM)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">CATATAN VISITE DOKTER</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            Tanggal :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.CttVstDkter.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.CttVstDkter.Tanggal != null ? (Model.CttVstDkter.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.CttVstDkter.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1 col-md-offset-1">
                            Jam :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.CttVstDkter.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.CttVstDkter.Jam != null ? Model.CttVstDkter.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.CttVstDkter.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Nama :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.CttVstDkter.NamaPasien, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.CttVstDkter.NamaPasien != null ? (Model.CttVstDkter.NamaPasien) : "") } })
                            @Html.ValidationMessageFor(model => model.CttVstDkter.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 col-md-offset-1 control-label">
                            Tgl Lahir :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.CttVstDkter.TglLahir, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.CttVstDkter.TglLahir != null ? (Model.CttVstDkter.TglLahir.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.CttVstDkter.TglLahir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1">NRM :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.CttVstDkter.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.CttVstDkter.NRM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-center text-bold">Tindakan Kedokteran, Keperawatan dan Pemeriksaan Lainnya</label>
                    </div>
                    <div class="form-group">
                        <div id="panel_detailVisiteitem" class="detail collapse in"
                             data-index-detail="@d_idx_Visiteitem">
                            <div class="table-responsive">
                                <table id="d_tbl_Visiteitem" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" onclick="checkall(this)" />
                                            </th>
                                            <th class="text-center" rowspan="2">
                                                <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Visiteitem')">
                                                    <i class="icon-plus2"></i>
                                                </a>
                                            </th>
                                            <th></th>
                                            <th>No</th>
                                            <th>Tgl</th>
                                            <th>Kelas</th>
                                            <th>Konsul/Visite</th>
                                            <th>Paraf</th>
                                            <th>Verifikator</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.CttVstDkter.VstDetail_List != null)
                                            {
                                                for (var i = 0; i < Model.CttVstDkter.VstDetail_List.Count(); i++)
                                                {
                                                    <tr>
                                                        <!-- Check -->
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>

                                                        <!-- Delete button -->
                                                        <td>
                                                            <a class="text-danger-600"
                                                               onclick="removetr(this)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>

                                                        <!-- Remove Status -->
                                                        <td>
                                                            @Html.EditorFor(model => model.CttVstDkter.VstDetail_List[i].Remove,
                                                       new { htmlAttributes = new { @class = "disable-reset" } })
                                                        </td>

                                                        <!-- No -->
                                                        <td>
                                                            @Html.EditorFor(model => model.CttVstDkter.VstDetail_List[i].Model.No, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly"
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.CttVstDkter.VstDetail_List[i].Model.TglKonsul, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               Value = (Model != null ? (Model.CttVstDkter.VstDetail_List[i].Model.TglKonsul != null ? Model.CttVstDkter.VstDetail_List[i].Model.TglKonsul.Value.ToString("yyyy-MM-dd") : "") : "")
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.CttVstDkter.VstDetail_List[i].Model.Kamar, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.CttVstDkter.VstDetail_List[i].Model.Kamar, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.CttVstDkter.VstDetail_List[i].Model.Konsul, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.CttVstDkter.VstDetail_List[i].Model.Konsul, "", new { @class = "text-danger" })
                                                        </td>

                                                        @{
                                                            var _lstverif3 = new List<SelectListItem>();
                                                            if (Model.CttVstDkter.VstDetail_List[i].Model != null)
                                                            {
                                                                if (Model.CttVstDkter.VstDetail_List[i].Model.Paraf != null)
                                                                {
                                                                    _lstverif3.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.CttVstDkter.VstDetail_List[i].Model.Paraf,
                                                                        Text = Model.CttVstDkter.VstDetail_List[i].Model.ParafNama
                                                                    });
                                                                }
                                                            }
                                                        }
                                                        <td>
                                                            @Html.DropDownListFor(model => model.CttVstDkter.VstDetail_List[i].Model.Paraf, _lstverif3, new { @class = "form-control input-sm" })
                                                        </td>
                                                        @{
                                                            var _lstverif4 = new List<SelectListItem>();
                                                            if (Model.CttVstDkter.VstDetail_List[i].Model != null)
                                                            {
                                                                if (Model.CttVstDkter.VstDetail_List[i].Model.Verifikator != null)
                                                                {
                                                                    _lstverif4.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.CttVstDkter.VstDetail_List[i].Model.Verifikator,
                                                                        Text = Model.CttVstDkter.VstDetail_List[i].Model.VerifikatorNama
                                                                    });
                                                                }
                                                            }
                                                        }
                                                        <td>
                                                            @Html.DropDownListFor(model => model.CttVstDkter.VstDetail_List[i].Model.Verifikator, _lstverif4, new { @class = "form-control input-sm" })
                                                        </td>

                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.CttVstDkter.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFCatatanVisiteDokter", new { noreg = Model.CttVstDkter.NoReg, Model.CttVstDkter.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.CttVstDkter.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--Select obat-->
<script type="text/javascript">

    @if (Model != null)
    {
        if (Model.CttVstDkter.VstDetail_List != null)
        {
            for (var i = 0; i < Model.CttVstDkter.VstDetail_List.Count; i++)
            {

                    @:customdetailVisite_Detail(@i, { target: $('#d_tbl_Visiteitem thead a i')[0] }, '@d_trg_Visiteitem', false);
            }
        }
    }

    function customdetailVisite_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strnama2 = '#panel_detailVisiteitem #CttVstDkter_VstDetail_List_' + index_detail + '__Model_Paraf';
        var _strnama3 = '#panel_detailVisiteitem #CttVstDkter_VstDetail_List_' + index_detail + '__Model_Verifikator';

         $(_strnama2).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
         });

        $(_strnama3).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

</script>

<!--INPUT DETAIL TABLE 1-->
@{
    if (Model != null)
    {
        Model.CttVstDkter.VstDetail_List = null;
    }
}

<div id="@d_trg_Visiteitem" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.CttVstDkter.VstDetail_List[-1].Remove,
        new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.CttVstDkter.VstDetail_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detailsaraf(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CttVstDkter.VstDetail_List[-1].Model.TglKonsul, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CttVstDkter.VstDetail_List[-1].Model.Kamar, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CttVstDkter.VstDetail_List[-1].Model.Konsul, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.CttVstDkter.VstDetail_List[-1].Model.Paraf,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.CttVstDkter.VstDetail_List[-1].Model.Verifikator,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

</div>

<!--Auto Detail-->
<script type="text/javascript">

    function autoid_detailsaraf(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }


</script>










