﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "RencanaKeperawatanCemasRI";
    ViewBag.Title = controllerName;
    var formName = $"frm_RencanaKeperawatanCemasRI_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<style>
    #table_rencana thead th:nth-child(1) {
        width: 180px;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.RncanaKprwtCems.NoReg)
        @Html.HiddenFor(Model => Model.RncanaKprwtCems.SectionID)
        @Html.HiddenFor(Model => Model.RncanaKprwtCems.NRM)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">RENCANA KEPERAWATAN CEMAS</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            Tanggal :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RncanaKprwtCems.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.RncanaKprwtCems.Tanggal != null ? (Model.RncanaKprwtCems.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.RncanaKprwtCems.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1 col-md-offset-1">
                            Jam :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RncanaKprwtCems.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.RncanaKprwtCems.Jam != null ? Model.RncanaKprwtCems.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.RncanaKprwtCems.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <table id="table_rencana" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tgl</th>
                                    <th>Diagnosa Keperawatan</th>
                                    <th>Tujuan</th>
                                    <th>Rencana TIndakan</th>
                                    <th>Paraf/ Nama Terang</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.RncanaKprwtCems.Tgl_DiagnosaKeperawatan, new { htmlAttributes = new { @class = "form-control", Value = (Model.RncanaKprwtCems.Tgl_DiagnosaKeperawatan != null ? (Model.RncanaKprwtCems.Tgl_DiagnosaKeperawatan.Value.ToString("yyyy-MM-dd")) : "") } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtCems.Tgl_DiagnosaKeperawatan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                <b>Cemas</b>
                                            </label>
                                            <label class="col-md-12">
                                                sehubungan dengan
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtCems.PenyakitKritis, new { htmlAttributes = new { } })
                                                    Penyakit Kritis
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtCems.TakutTerhadapKematian, new { htmlAttributes = new { } })
                                                    Takut Terhadap Kematian
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtCems.ProsedurInvasif, new { htmlAttributes = new { } })
                                                    Prosedur Invasif
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtCems.PemasanganVentilator, new { htmlAttributes = new { } })
                                                    Pemasangan Ventilator
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <label class="checkbox checkbox-inline input-addon">
                                                        @Html.EditorFor(model => model.RncanaKprwtCems.Cbox_KetCemasLainnya, new { htmlAttributes = new { } })
                                                        @Html.EditorFor(model => model.RncanaKprwtCems.KetCemasLainnya, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.RncanaKprwtCems.KetCemasLainnya, "", new { @class = "text-danger" })
                                                    </label>
                                                </div>
                                            </div>
                                            <label class="col-md-12">
                                                DS :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtCems.Insomnia, new { htmlAttributes = new { } })
                                                    Insomnia
                                                </label>
                                            </div>
                                            <label class="col-md-12">
                                                DO :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtCems.Gelisah, new { htmlAttributes = new { } })
                                                    Gelisah
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtCems.Ketakutan, new { htmlAttributes = new { } })
                                                    Ketakutan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtCems.Sedih, new { htmlAttributes = new { } })
                                                    Sedih
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtCems.TTV_Abnormal, new { htmlAttributes = new { } })
                                                    TTV Abnormal
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <label class="input-group-addon">
                                                        RR
                                                    </label>
                                                    @Html.EditorFor(model => model.RncanaKprwtCems.RR, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtCems.RR, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <label class="input-group-addon">
                                                        N
                                                    </label>
                                                    @Html.EditorFor(model => model.RncanaKprwtCems.N, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtCems.N, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtCems.NafasTidakSinkron, new { htmlAttributes = new { } })
                                                    Nafas tidak sinkrin dengan ventilator
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <label class="col-md-12">Setelah dilakukan tindakan keperawatan selama</label>
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.RncanaKprwtCems.SetelahDilakukanTindakan, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtCems.SetelahDilakukanTindakan, "", new { @class = "text-danger" })
                                            </div>
                                            <label class="col-md-12">Diharapkan cemas berkurang atau hilang</label>
                                            <label class="col-md-12">Kriteria hasil :</label>
                                            <label class="col-md-12">1. Mampu mengekspresikan kecemasan, tidak gelisah, kooperatif</label>
                                            <label class="col-md-12">2. TTV dalam batas normal</label>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <label class="col-md-12">Mandiri :</label>
                                            <label class="col-md-2">1.</label>
                                            <label class="col-md-12">Lakukan komunikasi terapiutik</label>
                                            <label class="col-md-2">2.</label>
                                            <label class="col-md-12">Dorong pasien agar mampu mengekspresikan perasaannya</label>
                                            <label class="col-md-2">3.</label>
                                            <label class="col-md-12">Berikan support mental</label>
                                            <label class="col-md-2">4.</label>
                                            <label class="col-md-12">Berikan kesempatan pada keluarga dan orangorang yang dekat dengan klien untuk mengunjungi pada saat saat tertentu.</label>
                                            <label class="col-md-2">5.</label>
                                            <label class="col-md-12">Berikan informasi realistis pada tingkat pemahaman klien</label>
                                            <label class="col-md-12">Kolaborasi :</label>
                                            <label class="col-md-12">1. Pemberian obat penenang/ sedasi ringan bila diperlukan</label>
                                            <label class="col-md-2">2.</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.RncanaKprwtCems.KolaborasiLanjutan, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtCems.KolaborasiLanjutan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.RncanaKprwtCems.Paraf, Model.RncanaKprwtCems.Paraf == null ? new List<SelectListItem>() :
                                        new List<SelectListItem>() { new SelectListItem() { Value = Model.RncanaKprwtCems.Paraf.ToString(), Text = Model.RncanaKprwtCems.ParafNama } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtCems.Paraf, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.RncanaKprwtCems.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFRencanaKeperawatanCemas", new { noreg = Model.RncanaKprwtCems.NoReg, Model.RncanaKprwtCems.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.RncanaKprwtCems.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var ahligizi = $('#@formName #RncanaKprwtCems_Paraf');

    ahligizi.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });


</script>

<!--JS Lainnya-->
<script>
    function skorstrongkidsRI() {


        var a = 0;
        var b = 0;
        var c = 0;
        var d = 0;

        if ($("#RncanaKprwtCems_OperasaiMayor option:selected").val() == 'Ya') {
            a = 2;
        } else if ($("#RncanaKprwtCems_OperasaiMayor option:selected").val() == 'Tidak') {
            a = 0;
        }

        if ($("#RncanaKprwtCems_KekuranganGizi option:selected").val() == 'Ya') {
            b = 1;
        } else if ($("#RncanaKprwtCems_KekuranganGizi option:selected").val() == 'Tidak') {
            b = 0;
        }

        if ($("#RncanaKprwtCems_SalahSatuKondisi option:selected").val() == 'Ya') {
            c = 1;
        } else if ($("#RncanaKprwtCems_SalahSatuKondisi option:selected").val() == 'Tidak') {
            c = 0;
        }

        if ($("#RncanaKprwtCems_PenurunanBB option:selected").val() == 'Ya') {
            d = 1;
        } else if ($("#RncanaKprwtCems_PenurunanBB option:selected").val() == 'Tidak') {
            d = 0;
        }


        const e = a + b + c + d;
        $("#RncanaKprwtCems_TotalSkor").val(e);

        if (e == 0) {
            $("#RncanaKprwtCems_TotalSkorKet").val('Risiko Ringan');
        } else if (e >= 1 && e <= 3) {
            $("#RncanaKprwtCems_TotalSkorKet").val('Risiko Sedang');
        } else if (e >= 4) {
            $("#RncanaKprwtCems_TotalSkorKet").val('Risiko Tinggi');
        }





    }

    $(document).ready(function () {
        skorstrongkidsRI();
    });

</script>







