﻿@using EMRRSBK.Models
@model EWSScorePemantauanViewModel

@{
    var controllerName = "PemantauanAEWSScore";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_aews = $"frm_table_detailAEWS";
    int d_idx_aewsanak = 0;
    var d_trg_aews = $"input_target_detailAEWS";
    if (Model != null)
    {
        if (Model.AEWS_List != null)
        {
            d_idx_aewsanak = Model.AEWS_List.Count();
        }
    }
    #endregion

}

@*CSS Table 1*@
<style>

    #d_tbl_aews thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_aews thead th:nth-child(1),
    #d_tbl_aews tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_aews thead th:nth-child(2),
    #d_tbl_aews tbody td:nth-child(2) {
        width: 40px;
        text-align: center;
    }

    #d_tbl_aews thead th:nth-child(3),
    #d_tbl_aews tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_aews thead th:nth-child(4),
    #d_tbl_aews tbody td:nth-child(4) {
        width: 80px;
        display: none;
    }

    #d_tbl_aews thead th:nth-child(5),
    #d_tbl_aews tbody td:nth-child(5) {
        width: 160px;
    }

    #d_tbl_aews thead th:nth-child(6),
    #d_tbl_aews tbody td:nth-child(6) {
        width: 105px;
    }

    #d_tbl_aews thead th:nth-child(7),
    #d_tbl_aews tbody td:nth-child(7) {
        width: 100px;
    }

    #d_tbl_aews thead th:nth-child(8),
    #d_tbl_aews tbody td:nth-child(8) {
        width: 100px;
    }

    #d_tbl_aews thead th:nth-child(9),
    #d_tbl_aews tbody td:nth-child(9) {
        width: 140px;
    }

    #d_tbl_aews thead th:nth-child(10),
    #d_tbl_aews tbody td:nth-child(10) {
        width: 140px;
    }

    #d_tbl_aews thead th:nth-child(11),
    #d_tbl_aews tbody td:nth-child(11) {
        width: 100px;
    }

    #d_tbl_aews thead th:nth-child(12),
    #d_tbl_aews tbody td:nth-child(12) {
        width: 100px;
    }

    #d_tbl_aews thead th:nth-child(13),
    #d_tbl_aews tbody td:nth-child(13) {
        width: 100px;
    }

    #d_tbl_aews thead th:nth-child(14),
    #d_tbl_aews tbody td:nth-child(14) {
        width: 100px;
    }

    #d_tbl_aews thead th:nth-child(15),
    #d_tbl_aews tbody td:nth-child(15) {
        width: 100px;
    }

    #d_tbl_aews thead th:nth-child(16),
    #d_tbl_aews tbody td:nth-child(16) {
        width: 300px;
    }

    #d_tbl_aews thead th:nth-child(17),
    #d_tbl_aews tbody td:nth-child(17) {
        width: 100px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div id="modalaews" class="wall" ng-controller="form">

    @using (Ajax.BeginForm("AEWSScore", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateaews (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.NRM)
        @Html.HiddenFor(model => model.SectionID)
        @Html.HiddenFor(model => model.Tanggal_View)
        if (Model.AEWS_List != null)
        {
            for (var i = 0; i < Model.AEWS_List.Count(); i++)
            {
                @Html.HiddenFor(Model => Model.AEWS_List[i].Model.TTDDokter)
            }
        }
        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="row">

                        <div class="form-group">
                            <label class="control-label col-md-12 text-center text-bold">
                                PEMANTAUAN ADULT EARLY WARNING SCORE (AEWS)
                            </label>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="panel_detaiAEWS" class="panel-body detail collapse in"
                                     data-index-detail="@d_idx_aewsanak">
                                    <div class="table-responsive">
                                        <table id="d_tbl_aews" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" onclick="checkall(this)" />
                                                    </th>
                                                    <th class="text-center" rowspan="2">
                                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_aews')">
                                                            <i class="icon-plus2"></i>
                                                        </a>
                                                    </th>
                                                    <th></th>
                                                    <th>No</th>
                                                    <th>Tanggal</th>
                                                    <th>Jam</th>
                                                    <th>RESPIRASI</th>
                                                    <th>SpO<sub>2</sub> (%) SKALA 1</th>
                                                    <th>SpO<sub>2</sub> (%) SKALA 2 (Dipandu klinisi ahli)</th>
                                                    <th>Udara (O<sub>2</sub>)</th>
                                                    <th>TD SISTOLIK (mmHg)</th>
                                                    <th>NADI/HR (Denyut/Menit)</th>
                                                    <th>KESADARAN</th>
                                                    <th>TEMPERATUR (<sup>o</sup>c)</th>
                                                    <th>TOTAL EWS</th>
                                                    <th>Nama</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.AEWS_List != null)
                                                    {
                                                        for (var i = 0; i < Model.AEWS_List.Count(); i++)
                                                        {
                                                            <tr>
                                                                <!-- Check -->
                                                                <td>
                                                                    <input type="checkbox" />
                                                                </td>

                                                                <!-- Delete button -->
                                                                <td>
                                                                    <a class="text-danger-600"
                                                                       onclick="removetr(this)">
                                                                        <i class="icon-trash"></i>
                                                                    </a>
                                                                </td>

                                                                <!-- Remove Status -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.AEWS_List[i].Remove,
                                                               new { htmlAttributes = new { @class = "disable-reset" } })
                                                                </td>

                                                                <!-- No -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.AEWS_List[i].Model.No, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"
                                                                   }
                                                               })
                                                                </td>

                                                                <!-- 5 -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.AEWS_List[i].Model.Tanggal, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.AEWS_List[i].Model.Tanggal != null ? Model.AEWS_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                <!-- 6 -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.AEWS_List[i].Model.Jam, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.AEWS_List[i].Model.Jam != null ? Model.AEWS_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                @{
                                                                    var m_1 = StaticModel.ListAEWS_Respirasi;
                                                                    var item_1 = Model.AEWS_List[i].Model.Respirasi;
                                                                    if (item_1 != null)
                                                                    {
                                                                        m_1.FirstOrDefault(x => x.Value == Model.AEWS_List[i].Model.Respirasi).Selected = true;

                                                                    }
                                                                }

                                                                <!-- 7 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.AEWS_List[i].Model.Respirasi,
                                                                    m_1, new { @class = "form-control input-sm" })
                                                                </td>

                                                                @{
                                                                    var m_2 = StaticModel.ListAEWS_Skala1;
                                                                    var item_2 = Model.AEWS_List[i].Model.Skala1;
                                                                    if (item_2 != null)
                                                                    {
                                                                        m_2.FirstOrDefault(x => x.Value == Model.AEWS_List[i].Model.Skala1).Selected = true;

                                                                    }
                                                                }


                                                                <!-- 8 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.AEWS_List[i].Model.Skala1,
                                                                    m_2, new { @class = "form-control input-sm" })
                                                                </td>

                                                                @{
                                                                    var m_3 = StaticModel.ListAEWS_Skala2;
                                                                    var item_3 = Model.AEWS_List[i].Model.Skala2;
                                                                    if (item_3 != null)
                                                                    {
                                                                        m_3.FirstOrDefault(x => x.Value == Model.AEWS_List[i].Model.Skala2).Selected = true;

                                                                    }
                                                                }

                                                                <!-- 9 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.AEWS_List[i].Model.Skala2,
                                                                    m_3, new { @class = "form-control input-sm" })
                                                                </td>

                                                                @{
                                                                    var m_4 = StaticModel.ListAEWS_Udara;
                                                                    var item_4 = Model.AEWS_List[i].Model.Udara;
                                                                    if (item_4 != null)
                                                                    {
                                                                        m_4.FirstOrDefault(x => x.Value == Model.AEWS_List[i].Model.Udara).Selected = true;

                                                                    }
                                                                }

                                                                <!-- 10 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.AEWS_List[i].Model.Udara,
                                                                    m_4, new { @class = "form-control input-sm" })
                                                                </td>

                                                                @{
                                                                    var m_5 = StaticModel.ListAEWS_TDSistolik;
                                                                    var item_5 = Model.AEWS_List[i].Model.TD_Sistolik;
                                                                    if (item_5 != null)
                                                                    {
                                                                        m_5.FirstOrDefault(x => x.Value == Model.AEWS_List[i].Model.TD_Sistolik).Selected = true;

                                                                    }
                                                                }

                                                                <!-- 11 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.AEWS_List[i].Model.TD_Sistolik,
                                                                    m_5, new { @class = "form-control input-sm" })
                                                                </td>


                                                                @{
                                                                    var m_6 = StaticModel.ListAEWS_Nadi;
                                                                    var item_6 = Model.AEWS_List[i].Model.Nadi;
                                                                    if (item_6 != null)
                                                                    {
                                                                        m_6.FirstOrDefault(x => x.Value == Model.AEWS_List[i].Model.Nadi).Selected = true;

                                                                    }
                                                                }

                                                                <!-- 12 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.AEWS_List[i].Model.Nadi,
                                                                    m_6, new { @class = "form-control input-sm", onchange = "totalskorEWSAnak(this)" })
                                                                </td>

                                                                @{
                                                                    var m_7 = StaticModel.ListAEWS_Kesadaran;
                                                                    var item_7 = Model.AEWS_List[i].Model.Kesadaran;
                                                                    if (item_7 != null)
                                                                    {
                                                                        m_7.FirstOrDefault(x => x.Value == Model.AEWS_List[i].Model.Kesadaran).Selected = true;

                                                                    }
                                                                }

                                                                <!-- 13 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.AEWS_List[i].Model.Kesadaran,
                                                                    m_7, new { @class = "form-control input-sm", onchange = "totalskorEWSAnak(this)" })
                                                                </td>

                                                                @{
                                                                    var m_8 = StaticModel.ListAEWS_Temperatur;
                                                                    var item_8 = Model.AEWS_List[i].Model.Temperatur;
                                                                    if (item_8 != null)
                                                                    {
                                                                        m_8.FirstOrDefault(x => x.Value == Model.AEWS_List[i].Model.Temperatur).Selected = true;

                                                                    }
                                                                }

                                                                <!-- 14 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.AEWS_List[i].Model.Temperatur,
                                                                    m_8, new { @class = "form-control input-sm", onchange = "totalskorEWSAnak(this)" })
                                                                </td>

                                                                <!-- 15 -->
                                                                <td>

                                                                    @Html.EditorFor(model => model.AEWS_List[i].Model.TotalAEWS, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"

                                                                   }
                                                               })
                                                                    <!-- 16 -->
                                                                </td>
                                                                @{
                                                                    var _lstnama = new List<SelectListItem>();
                                                                    if (Model.AEWS_List[i].Model != null)
                                                                    {
                                                                        if (Model.AEWS_List[i].Model.Nama != null)
                                                                        {
                                                                            _lstnama.Add(new SelectListItem()
                                                                            {
                                                                                Value = Model.AEWS_List[i].Model.Nama,
                                                                                Text = Model.AEWS_List[i].Model.NamaNama
                                                                            });
                                                                        }
                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-10">
                                                                        @Html.DropDownListFor(model => model.AEWS_List[i].Model.Nama, _lstnama, new { @class = "form-control input-sm" })
                                                                    </div>
                                                                    @if (Model.AEWS_List[i].Model.SudahRegDkt == 0)
                                                                    {
                                                                        <div class="col-md-2">
                                                                            <a id="btn_dtlaews" class="btn btn-primary disabled" onclick="user_verif_aews({ id : '@Model.AEWS_List[i].Model.Nama', no : '@Model.AEWS_List[i].Model.No', ini : this})" href="finspot:FingerspotVer;@Model.AEWS_List[i].Model.Viewbag"><span class="icon-checkmark2 position-center"></span></a>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="col-md-2">
                                                                            <a id="btn_dtlaews" class="btn btn-primary" onclick="user_verif_aews({ id : '@Model.AEWS_List[i].Model.Nama', no : '@Model.AEWS_List[i].Model.No', ini : this})" href="finspot:FingerspotVer;@Model.AEWS_List[i].Model.Viewbag"><span class="icon-checkmark2 position-center"></span></a>
                                                                        </div>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                                <a href="@Url.Action("ExportPDFPemantauanAEWSScore", new { noreg = Model.NoReg, section = Model.SectionID })" target="_blank"
                                   class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                                    Print PDF
                                </a>
                                <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }

</div>

<script type="text/javascript">

    @if (Model != null)
    {
         if (Model.AEWS_List != null)
        {
            for (var i = 0; i < Model.AEWS_List.Count; i++)
            {

                    @:customdetailAEWS_Detail(@i, { target: $('#d_tbl_aews thead a i')[0] }, '@d_trg_aews', false);
            }

        }
    }

    function customdetailAEWS_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strnama = '#panel_detaiAEWS #AEWS_List_' + index_detail + '__Model_Nama';

        $(_strnama).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

</script>


@{
    if (Model != null)
    {
        Model.AEWS_List = null;
    }
}

<div id="@d_trg_aews" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.AEWS_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.AEWS_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.AEWS_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.AEWS_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.TimeOfDay.ToString("hh':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.AEWS_List[-1].Model.Respirasi,
      StaticModel.ListAEWS_Respirasi, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.AEWS_List[-1].Model.Skala1,
      StaticModel.ListAEWS_Skala1, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.AEWS_List[-1].Model.Skala2,
      StaticModel.ListAEWS_Skala2, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.AEWS_List[-1].Model.Udara,
      StaticModel.ListAEWS_Udara, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.AEWS_List[-1].Model.TD_Sistolik,
      StaticModel.ListAEWS_TDSistolik, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.AEWS_List[-1].Model.Nadi,
      StaticModel.ListAEWS_Nadi, new { @class = "form-control input-sm", onchange = "totalskorEWSAnak(this)" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.AEWS_List[-1].Model.Kesadaran,
      StaticModel.ListAEWS_Kesadaran, new { @class = "form-control input-sm", onchange = "totalskorEWSAnak(this)" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.AEWS_List[-1].Model.Temperatur,
      StaticModel.ListAEWS_Temperatur, new { @class = "form-control input-sm", onchange = "totalskorEWSAnak(this)" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.AEWS_List[-1].Model.TotalAEWS, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">

        @Html.DropDownListFor(model => model.AEWS_List[-1].Model.Nama,
        new List<SelectListItem>(), new { @class = "form-control input-sm" })

    </div>


</div>

<!--  JS Skor  -->
<script>

    function totalskorEWSAnak(t) {
        var tr = $($(t).closest('tr'));
        var b = tr.find('td:nth-child(12) option:selected').val() || 0;
        var c = tr.find('td:nth-child(13) option:selected').val() || 0;
        var d = tr.find('td:nth-child(14) option:selected').val() || 0;
        var nadi = 0;
        var Kesadaran = 0;
        var temper = 0;



        if (b == '131') {
            var nadi = 0;
        } else if (b == '121') {
            var nadi = 0;
        } else if (b == '111') {
            var nadi = 0;
        } else if (b == '101') {
            var nadi = 0;
        } else if (b == '91') {
            var nadi = 0;
        } else if (b == '81') {
            var nadi = 0;
        } else if (b == '71') {
            var nadi = 0;
        } else if (b == '61') {
            var nadi = 0;
        } else if (b == '51') {
            var nadi = 0;
        } else if (b == '41') {
            var nadi = 1;
        } else if (b == '31') {
            var nadi = 3;
        } else if (b == '30') {
            var nadi = 3;
        }

        if (c == 'A') {
            var Kesadaran = 0;
        } else if (c == 'C') {
            var Kesadaran = 3;
        } else if (c == 'V') {
            var Kesadaran = 3;
        } else if (c == 'P') {
            var Kesadaran = 3;
        } else if (c == 'U') {
            var Kesadaran = 3;
        }

        if (d == '39,1') {
            var temper = 2;
        } else if (d == '38,1') {
            var temper = 1;
        } else if (d == '37,1') {
            var temper = 0;
        } else if (d == '36,1') {
            var temper = 0;
        } else if (d == '35,1') {
            var temper = 1;
        }

        var total = nadi + Kesadaran + temper;
        var hasil = total.toString();
        tr.find('td:nth-child(15) input').val(hasil);
    }


    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }

            }
            _this.value = result + 1;

        }
        $(_this).removeAttr('onblur');

    }

</script>


<script>
    function user_verif_aews(param) {
         var reStatsDtlObses = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = param.id;
        const user_no = param.no;
        var x_this = param.ini;
        var noreg = $('#NoReg').val();
        var section = $('#AEWS_List_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifaews(noreg, section, user_id, user_no);
            if (ct >= limit || reStatsDtlObses == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDtlObses == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDtlObses == 1) {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_dtlaews').addClass('disabled', true);
                    $('#aews').click();
                    alertpopup("Verification Berhasil", "success");
                }
            }
            ct++;
        });

        function user_checkverifaews(noreg, section, user_id, user_no) {
            myajax({
                url: '@Url.Action("CheckBerhasilAEWS", "PemantauanAEWSScore")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id,
                    no: user_no,
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsDtlObses = 1;
                        }
                    }
                    else {
                        reStatsDtlObses = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreateaews(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
            alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#profilringkasan').click();
    }

</script>
