﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "RencanaKeperawatanIntoleransiAktivitasRI";
    ViewBag.Title = controllerName;
    var formName = $"frm_RencanaKeperawatanIntoleransiAktivitasRI_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<style>
    #table_rencana thead th:nth-child(1) {
        width: 180px;
    }
</style>



<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.RncanaKprwtIntolrnsi.NoReg)
        @Html.HiddenFor(Model => Model.RncanaKprwtIntolrnsi.SectionID)
        @Html.HiddenFor(Model => Model.RncanaKprwtIntolrnsi.NRM)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">RENCANA KEPERAWATAN INTOLERANSI AKTIVITAS / RISIKO</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1 col-md-offset-1">
                            Jam :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.RncanaKprwtIntolrnsi.Jam != null ? Model.RncanaKprwtIntolrnsi.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.RncanaKprwtIntolrnsi.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <table id="table_rencana" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tgl</th>
                                    <th>Diagnosa Keperawatan</th>
                                    <th>Tujuan</th>
                                    <th>Rencana TIndakan</th>
                                    <th>Paraf/ Nama Terang</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.RncanaKprwtIntolrnsi.Tanggal != null ? (Model.RncanaKprwtIntolrnsi.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtIntolrnsi.Tanggal, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                <b>Intoleransi aktivitas / risiko</b> berhubungan dengan :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.Ketidakseimbangan, new { htmlAttributes = new { } })
                                                    Ketidakseimbangan antara suplai dan kebutuhan oksigen
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.NyreiKronis, new { htmlAttributes = new { } })
                                                    Nyeri kronis
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.TirahBaring, new { htmlAttributes = new { } })
                                                    Tirah Baring/ immobilitas
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.KelemahanUmum, new { htmlAttributes = new { } })
                                                    Kelemahan umum
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.StatusNutrisi, new { htmlAttributes = new { } })
                                                    Status nutrisi yang tidak adekuat
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.Anemia, new { htmlAttributes = new { } })
                                                    Anemia
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.ProsesPenyakit, new { htmlAttributes = new { } })
                                                    Proses penyakit
                                                </label>
                                            </div>
                                            <label class="col-md-12">
                                                DS :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.DS_Pernyataan, new { htmlAttributes = new { } })
                                                    Pernyataan verbal tentang keletihan dan kelemahan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.DS_Ketidaknyamanan, new { htmlAttributes = new { } })
                                                    Ketidaknyamanan pada saat latihan, pusing
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.DS_Riwayat, new { htmlAttributes = new { } })
                                                    Riwayat Intoleransi sebelumnya
                                                </label>
                                            </div>
                                            <label class="col-md-12">
                                                DO :
                                            </label>
                                            <label class="col-md-12">
                                                Pada saat latihan :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.DO_Dispnea, new { htmlAttributes = new { } })
                                                    Dispnea / takipnea
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.DO_VitalSign, new { htmlAttributes = new { } })
                                                    Vital sign: Nadi abnormal, Tensi Abnormal
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.DO_Aritmia, new { htmlAttributes = new { } })
                                                    Aritmia, takikardia
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.DO_KondisiMenurun, new { htmlAttributes = new { } })
                                                    Kondisi menurun
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.DO_Ketidakmampuan, new { htmlAttributes = new { } })
                                                    Ketidakmampuan beraktifitas ringan
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <label class="col-md-12">Setelah diberikan tindakan keperawatan</label>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.TindakanKeperawatan1, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtIntolrnsi.TindakanKeperawatan1, "", new { @class = "text-danger" })
                                                    <label class="input-group-addon">x</label>
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.TindakanKeperawatan2, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtIntolrnsi.TindakanKeperawatan2, "", new { @class = "text-danger" })
                                                    <label class="input-group-addon">jam</label>
                                                </div>
                                            </div>
                                            <label class="col-md-12">Pasien menunjukan toleransi terhadap aktifitas yang biasa dilakukan dengan daya tahan, penghematan energy, dan perawatan diri</label>
                                            <label class="col-md-12">Kriteria hasil :</label>
                                            <label class="col-md-2">1.</label>
                                            <label class="col-md-10">Mengidentifikasi faktor-faktor yang menurunkan intoleransi aktifitas</label>
                                            <label class="col-md-2">2.</label>
                                            <label class="col-md-10">Menunjukkan penghematan energy(menyadari keterbatasan energy, menyeimbangkan aktifitas dan istirahat)</label>
                                            <label class="col-md-2">3.</label>
                                            <label class="col-md-10">Melaporkan penurunan gejala-gejala intoleransi aktifitas</label>
                                            <label class="col-md-2">4.</label>
                                            <label class="col-md-10">Memperlihatkan penurunan tanda-tanda hipoksida pada peningkatan aktivitas(nadi, tekanan darah, respirasi dalam batas normal)</label>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">Mandiri :</div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.Mandiri_1, new { htmlAttributes = new { } })
                                                    1. Tentukan penyebab keletihan(karena perawatan, pengobatan, nyeri)
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.Mandiri_2, new { htmlAttributes = new { } })
                                                    2. Gunakan teknik relaksasi distraksi, selama aktivitas
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.Mandiri_3, new { htmlAttributes = new { } })
                                                    3. Pantau respon kardiorespiratori terhadap aktivitas(takipnea, dispnea,takikardi, pucat, berkeringat)
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.Mandiri_4, new { htmlAttributes = new { } })
                                                    4. Kaji respon emosi, sosial dan spiritual terhadap aktivitas
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.Mandiri_5, new { htmlAttributes = new { } })
                                                    5. Evaluasi motivasi dan keinginan pasien untuk meningkatkan aktivitas
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.Mandiri_6, new { htmlAttributes = new { } })
                                                    6. Ajarkan kepada pasien dan keluarga : tekhnik perawatan diri yang meminimalkan konsumsi oksigen, penggunaan peralatan oksigen selama aktivitas
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.Mandiri_7, new { htmlAttributes = new { } })
                                                    7. Ajarkan pengaturan waktu aktivitas dan istirahat
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.Mandiri_8, new { htmlAttributes = new { } })
                                                    8. Monitor tanda tanda vital dan status nutrisi
                                                </label>
                                            </div>
                                            <label class="col-md-12">Kolaborasi :</label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.Kolaborasi_1, new { htmlAttributes = new { } })
                                                    1. Berikan pengobatan nyeri sesuai program dokter sebelum aktivitas
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtIntolrnsi.Kolaborasi_2, new { htmlAttributes = new { } })
                                                    2. Rujuk ke ahli fisioterapi sebagai sumber perencanaan aktivitas pasien
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.RncanaKprwtIntolrnsi.KodeDokter, Model.RncanaKprwtIntolrnsi.KodeDokter == null ? new List<SelectListItem>() :
                                        new List<SelectListItem>() { new SelectListItem() { Value = Model.RncanaKprwtIntolrnsi.KodeDokter.ToString(), Text = Model.RncanaKprwtIntolrnsi.KodeDokterNama } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtIntolrnsi.KodeDokter, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.RncanaKprwtIntolrnsi.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFRencanaKeperawatanIntoleransiAktivitas", new { noreg = Model.RncanaKprwtIntolrnsi.NoReg, Model.RncanaKprwtIntolrnsi.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.RncanaKprwtIntolrnsi.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var ahligizi = $('#@formName #RncanaKprwtIntolrnsi_KodeDokter');

    ahligizi.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });


</script>