﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MonitorTranfusiDarah";
    ViewBag.Title = controllerName;
    var formName = $"frm_MonitorTranfusiDarah_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}


<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.MntrTrnfsiDrh.NoReg)
        @Html.HiddenFor(Model => Model.MntrTrnfsiDrh.SectionID)
        @Html.HiddenFor(Model => Model.MntrTrnfsiDrh.NRM)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">MONITOR TRANSFUSI DARAH/ PRODUKSI DARAH (UNTUK SATU UNIT DARAH/ PRODUK DARAH)</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Jenis Komponen Darah:</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.MntrTrnfsiDrh.JenisKomponenDarah, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.JenisKomponenDarah, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Nomor Kantong Darah:</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.MntrTrnfsiDrh.NomorKantongDarah, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.NomorKantongDarah, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Volume Transfusi:</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.MntrTrnfsiDrh.VolumeTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.VolumeTransfusi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Golongan Darah:</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.MntrTrnfsiDrh.GolonganDarah, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.GolonganDarah, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.MntrTrnfsiDrh.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.MntrTrnfsiDrh.Tanggal != null ? (Model.MntrTrnfsiDrh.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-bold">Pengirim/ Pemberi Darah</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Waktu :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.MntrTrnfsiDrh.Waktu_Pengirim, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.MntrTrnfsiDrh.Waktu_Pengirim != null ? Model.MntrTrnfsiDrh.Waktu_Pengirim.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Waktu_Pengirim, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Nama :
                        </label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.MntrTrnfsiDrh.Nama_Pengirim, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Nama_Pengirim, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-bold">Pengirim/ Pemberi Darah</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Waktu :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.MntrTrnfsiDrh.Waktu_Penerima, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.MntrTrnfsiDrh.Waktu_Penerima != null ? Model.MntrTrnfsiDrh.Waktu_Penerima.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Waktu_Penerima, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Nama :
                        </label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.MntrTrnfsiDrh.Nama_Penerima, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Nama_Penerima, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Kondisi</th>
                                    <th>
                                        <label class="col-md-12">Sebelum Transfusi Dimulai</label>
                                        <div class="col-md-5">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.Waktu_SebelumTransfusi, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.MntrTrnfsiDrh.Waktu_SebelumTransfusi != null ? Model.MntrTrnfsiDrh.Waktu_SebelumTransfusi.Value.ToString("HH':'mm") : "") : "") } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Waktu_SebelumTransfusi, "", new { @class = "text-danger" })
                                                <label class="input-group-addon">Wita</label>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <label class="col-md-12">15 Menit Setelah Transfusi Dimulai</label>
                                        <div class="col-md-5">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.Waktu_SetelahTransfusi, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.MntrTrnfsiDrh.Waktu_SetelahTransfusi != null ? Model.MntrTrnfsiDrh.Waktu_SetelahTransfusi.Value.ToString("HH':'mm") : "") : "") } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Waktu_SetelahTransfusi, "", new { @class = "text-danger" })
                                                <label class="input-group-addon">Wita</label>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <label class="col-md-12">Saat Transfusi Berakhir</label>
                                        <div class="col-md-5">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.Waktu_TransfusiBerakhir, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.MntrTrnfsiDrh.Waktu_TransfusiBerakhir != null ? Model.MntrTrnfsiDrh.Waktu_TransfusiBerakhir.Value.ToString("HH':'mm") : "") : "") } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Waktu_TransfusiBerakhir, "", new { @class = "text-danger" })
                                                <label class="input-group-addon">Wita</label>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <label class="col-md-12">Bila Ada Keluhan</label>
                                        <div class="col-md-5">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.Waktu_Keluhan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.MntrTrnfsiDrh.Waktu_Keluhan != null ? Model.MntrTrnfsiDrh.Waktu_Keluhan.Value.ToString("HH':'mm") : "") : "") } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Waktu_Keluhan, "", new { @class = "text-danger" })
                                                <label class="input-group-addon">Wita</label>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                Keadaan Umum
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.KeadaanUmum_SebelumTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.KeadaanUmum_SebelumTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.KeadaanUmum_SetelahTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.KeadaanUmum_SetelahTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.KeadaanUmum_TransfusiBerakhir, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.KeadaanUmum_TransfusiBerakhir, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.KeadaanUmum_Keluhan, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.KeadaanUmum_Keluhan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                Suhu
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.Suhu_SebelumTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Suhu_SebelumTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.Suhu_SetelahTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Suhu_SetelahTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.Suhu_TransfusiBerakhir, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Suhu_TransfusiBerakhir, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.Suhu_Keluhan, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Suhu_Keluhan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                Nadi
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.Nadi_SebelumTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Nadi_SebelumTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.Nadi_SetelahTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Nadi_SetelahTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.Nadi_TransfusiBerakhir, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Nadi_TransfusiBerakhir, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.Nadi_Keluhan, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.Nadi_Keluhan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                Tekanan Darah
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.TekananDarah_SebelumTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.TekananDarah_SebelumTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.TekananDarah_SetelahTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.TekananDarah_SetelahTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.TekananDarah_TransfusiBerakhir, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.TekananDarah_TransfusiBerakhir, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.TekananDarah_Keluhan, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.TekananDarah_Keluhan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                <i>Respiratory rate</i>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.RespiratoryRate_SebelumTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.RespiratoryRate_SebelumTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.RespiratoryRate_SetelahTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.RespiratoryRate_SetelahTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.RespiratoryRate_TransfusiBerakhir, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.RespiratoryRate_TransfusiBerakhir, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.RespiratoryRate_Keluhan, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.RespiratoryRate_Keluhan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                Produksi reaksi & Warna
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.ProduksiUrineWarna_SebelumTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.ProduksiUrineWarna_SebelumTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.ProduksiUrineWarna_SetelahTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.ProduksiUrineWarna_SetelahTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.ProduksiUrineWarna_TransfusiBerakhir, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.ProduksiUrineWarna_TransfusiBerakhir, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.ProduksiUrineWarna_Keluhan, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.ProduksiUrineWarna_Keluhan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                Tanda Reaksi & Transfusi
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.TandaReaksiTransfusi_SebelumTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.TandaReaksiTransfusi_SebelumTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.TandaReaksiTransfusi_SetelahTransfusi, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.TandaReaksiTransfusi_SetelahTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.TandaReaksiTransfusi_TransfusiBerakhir, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.TandaReaksiTransfusi_TransfusiBerakhir, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MntrTrnfsiDrh.TandaReaksiTransfusi_Keluhan, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.TandaReaksiTransfusi_Keluhan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                Double Check Perawat / Dokter
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_SebelumTransfusi, Model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_SebelumTransfusi == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_SebelumTransfusi.ToString(), Text = Model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_SebelumTransfusiNama } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_SebelumTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_SetelahTransfusi, Model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_SetelahTransfusi == null ? new List<SelectListItem>() :
                     new List<SelectListItem>() { new SelectListItem() { Value = Model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_SetelahTransfusi.ToString(), Text = Model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_SetelahTransfusiNama } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_SetelahTransfusi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_TransfusiBerakhir, Model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_TransfusiBerakhir == null ? new List<SelectListItem>() :
                      new List<SelectListItem>() { new SelectListItem() { Value = Model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_TransfusiBerakhir.ToString(), Text = Model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_TransfusiBerakhirNama } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_TransfusiBerakhir, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_Keluhan, Model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_Keluhan == null ? new List<SelectListItem>() :
                       new List<SelectListItem>() { new SelectListItem() { Value = Model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_Keluhan.ToString(), Text = Model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_KeluhanNama } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.MntrTrnfsiDrh.DoubleCheckPerawatDokter_Keluhan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Tanda tanda reaksi transfusi (ditulis nomor saja) :
                        </label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.StrngKds.OperasaiMayor, StaticModel.ListTandaTandaTransfusi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StrngKds.OperasaiMayor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.MntrTrnfsiDrh.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFFormPerhitunganIntraoperatif", new { noreg = Model.MntrTrnfsiDrh.NoReg, Model.MntrTrnfsiDrh.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.MntrTrnfsiDrh.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokterperawat1 = $('#@formName #MntrTrnfsiDrh_DoubleCheckPerawatDokter_SebelumTransfusi');
    var dokterperawat2 = $('#@formName #MntrTrnfsiDrh_DoubleCheckPerawatDokter_SetelahTransfusi');
    var dokterperawat3 = $('#@formName #MntrTrnfsiDrh_DoubleCheckPerawatDokter_TransfusiBerakhir');
    var dokterperawat4 = $('#@formName #MntrTrnfsiDrh_DoubleCheckPerawatDokter_Keluhan');

    dokterperawat1.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    dokterperawat2.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    dokterperawat3.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    dokterperawat4.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>









