﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecordNew";
    ViewBag.Title = controllerName;
    var formName = $"frm_AssesmentAwalMedis_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Rencana Kerja
    var d_tbl_RencanaKerja = $"frm_table_detailRencanaKerjaPoliAnak";
    int d_idx_RencanaKerja = 0;
    var d_trg_RencanaKerja = $"input_target_detailRencanaKerjaPoliAnak";
    if (Model != null)
    { 
        if (Model.AssAwalMedisNew != null)
    {
        if (Model.AssAwalMedisNew.RencanaKerja_List != null)
        {
            d_idx_RencanaKerja = Model.AssAwalMedisNew.RencanaKerja_List.Count();
        }
    }
    }
    #endregion

}

<style>
    #@d_tbl_RencanaKerja thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(1),
    #@d_tbl_RencanaKerja tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(2),
    #@d_tbl_RencanaKerja tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(3),
    #@d_tbl_RencanaKerja tbody td:nth-child(3) {
        display: none;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(4),
    #@d_tbl_RencanaKerja tbody td:nth-child(4) {
        display: none;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(5),
    #@d_tbl_RencanaKerja tbody td:nth-child(5) {
        width: 170px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(6),
    #@d_tbl_RencanaKerja tbody td:nth-child(6) {
        width: 130px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(7),
    #@d_tbl_RencanaKerja tbody td:nth-child(7) {
        text-align: center;
        width: 200px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(8),
    #@d_tbl_RencanaKerja tbody td:nth-child(8) {
        text-align: center;
        width: 200px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(9),
    #@d_tbl_RencanaKerja tbody td:nth-child(9) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(10),
    #@d_tbl_RencanaKerja tbody td:nth-child(10) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(11),
    #@d_tbl_RencanaKerja tbody td:nth-child(11) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(12),
    #@d_tbl_RencanaKerja tbody td:nth-child(12) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(13),
    #@d_tbl_RencanaKerja tbody td:nth-child(13) {
        text-align: center;
        width: 100px;
    }

    #@d_tbl_RencanaKerja thead th:nth-child(14),
    #@d_tbl_RencanaKerja tbody td:nth-child(14) {
        text-align: center;
        width: 100px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<style>
    #table_masalahdiagnosa tbody tr td:nth-child(1) {
        vertical-align: middle;
        text-align: center;
    }

    #table_masalahdiagnosa tbody tr td:nth-child(3) {
        vertical-align: middle;
        text-align: center;
    }
</style>


<div class="wall" ng-controller="form">

    @using (Html.BeginForm("AssesmentAwalMedis", controllerName, FormMethod.Post, new { id = formName, onsubmit = "SubmitForm_AssesmenAwalMedis(event)" }))
    {
        @Html.HiddenFor(Model => Model.NRM)
        @*@Html.HiddenFor(Model => Model.AssAwalMedisNew.Gambar2)*@
        @Html.HiddenFor(Model => Model.AssAwalMedisNew.NoReg)
        @Html.HiddenFor(Model => Model.AssAwalMedisNew.SectionID)
        @Html.HiddenFor(Model => Model.AssAwalMedisNew.Nomor)
        @Html.HiddenFor(Model => Model.AssAwalMedisNew.NRM)
        @Html.HiddenFor(Model => Model.AssAwalMedisNew.DokumenID)
        @Html.HiddenFor(Model => Model.AssAwalMedisNew.TTDDokter)

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Template
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssAwalMedisNew.Template, new List<SelectListItem>() {
                                new SelectListItem(){ Text = ViewBag.Template, Value = ViewBag.Template, Selected = true }
                            }, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                            <button type="button" onclick="loadTemplateAssAwalMedis()" class="btn btn-block btn-info"> LOAD</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Tanggal
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssAwalMedisNew.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssAwalMedisNew.Tanggal != null ? (Model.AssAwalMedisNew.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">
                            Jam Kedatangan
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssAwalMedisNew.JamKedatangan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssAwalMedisNew.JamKedatangan != null ? Model.AssAwalMedisNew.JamKedatangan.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.JamKedatangan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Rujukan
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssAwalMedisNew.Rujukan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Rujukan, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">
                            Waktu Pengkajian
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssAwalMedisNew.WaktuPengkajian, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssAwalMedisNew.WaktuPengkajian != null ? Model.AssAwalMedisNew.WaktuPengkajian.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.WaktuPengkajian, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalMedisNew.IRJ, new { htmlAttributes = new { } })
                                IRJ
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalMedisNew.IGD, new { htmlAttributes = new { } })
                                IGD
                            </label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline control-label input-group-addon">
                                    @Html.EditorFor(model => model.AssAwalMedisNew.LuarRS, new { htmlAttributes = new { } })
                                    Luar RS (Telp)
                                </label>
                                @Html.EditorFor(model => model.AssAwalMedisNew.LuarRS_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.LuarRS_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Poliklinik
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssAwalMedisNew.Poliklinik, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Poliklinik, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                @Html.EditorFor(model => model.AssAwalMedisNew.RsPengirim, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.RsPengirim, "", new { @class = "text-danger" })
                                <label class="input-group-addon">(RS Pengirim)</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Keluhan Utama
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.KeluhanUtama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.KeluhanUtama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Penyakit
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.RiwayatPenyakit, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.RiwayatPenyakit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Pengobatan
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.RiwayatPengobatan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.RiwayatPengobatan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Alergi
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.RiwayatAlergi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.RiwayatAlergi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Penyakit Keluarga
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.RiwayatKeluarga, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.RiwayatKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            GCS
                        </label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    E
                                </label>
                                @Html.EditorFor(model => model.AssAwalMedisNew.E, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.E, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    V
                                </label>
                                @Html.EditorFor(model => model.AssAwalMedisNew.V, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.V, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    M
                                </label>
                                @Html.EditorFor(model => model.AssAwalMedisNew.M, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.M, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    TB
                                </label>
                                @Html.EditorFor(model => model.AssAwalMedisNew.TB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.TB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    BB
                                </label>
                                @Html.EditorFor(model => model.AssAwalMedisNew.BB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.BB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">Tanda Tanda Vital</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Tekanan Darah
                                </label>
                                @Html.EditorFor(model => model.AssAwalMedisNew.TekananDarah, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.TekananDarah, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Nadi
                                </label>
                                @Html.EditorFor(model => model.AssAwalMedisNew.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Nadi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Pernafasan
                                </label>
                                @Html.EditorFor(model => model.AssAwalMedisNew.Pernafasan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Pernafasan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Suhu
                                </label>
                                @Html.EditorFor(model => model.AssAwalMedisNew.Suhu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Suhu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Saturasi
                                </label>
                                @Html.EditorFor(model => model.AssAwalMedisNew.Saturasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Saturasi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Pemeriksaan Fisik
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.PemeriksaanFisik, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.PemeriksaanFisik, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Kepala
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.Kepala, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Kepala, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Mata
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.Mata, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Mata, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            THT
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.THT, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.THT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Leher
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.Leher, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Leher, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Dada
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.Dada, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Dada, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Abdomen
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.Abdomen, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Abdomen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Punggung
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.Punggung, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Punggung, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Genetalia
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.Genetalia, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Genetalia, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Ekstremitas
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.Ekstremitas, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Ekstremitas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Hasil Pemeriksaan Penunjang
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.HasilPenunjang, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.HasilPenunjang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Diagnosa Medis (ICD X)
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.DiagnosaMedis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.DiagnosaMedis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-bold text-center">Rencana Kerja Medis</label>
                    </div>
                    <div class="form-group">
                        <div id="panel_@formName" class="detail collapse in"
                             data-index-detail="@d_idx_RencanaKerja">
                            <div class="table-responsive">
                                <table id="@d_tbl_RencanaKerja" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" onclick="checkall(this)" />
                                            </th>
                                            <th class="text-center" rowspan="2">
                                                <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_RencanaKerja')">
                                                    <i class="icon-plus2"></i>
                                                </a>
                                            </th>
                                            <th></th>
                                            <th>No</th>
                                            <th>Daftar Masalah</th>
                                            <th>Rencana Intervensi</th>
                                            <th>Target(Kondisi yang diharapkan)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        { 
                                            if (Model.AssAwalMedisNew != null)
                                            {
                                                if (Model.AssAwalMedisNew.RencanaKerja_List != null)
                                                {
                                                    for (var i = 0; i < Model.AssAwalMedisNew.RencanaKerja_List.Count(); i++)
                                                    {
                                                        <tr>
                                                            <!-- Check -->
                                                            <td>
                                                                <input type="checkbox" />
                                                            </td>

                                                            <!-- Delete button -->
                                                            <td>
                                                                <a class="text-danger-600"
                                                                   onclick="removetr(this)">
                                                                    <i class="icon-trash"></i>
                                                                </a>
                                                            </td>

                                                            <!-- Remove Status -->
                                                            <td>
                                                                @Html.EditorFor(model => model.AssAwalMedisNew.RencanaKerja_List[i].Remove, new { htmlAttributes = new { @class = "disable-reset" } })
                                                            </td>

                                                            <!-- No -->
                                                            <td>
                                                                @Html.EditorFor(model => model.AssAwalMedisNew.RencanaKerja_List[i].Model.No, new
                                                           {
                                                               htmlAttributes = new
                                                               {
                                                                   @class = "form-control input-sm",
                                                                   @readonly = "readonly"
                                                               }
                                                           })
                                                            </td>

                                                            <td>
                                                                @Html.TextAreaFor(model => model.AssAwalMedisNew.RencanaKerja_List[i].Model.DaftarMasalah, new { @class = "form-control input-sm" })
                                                            </td>

                                                            <td>
                                                                @Html.TextAreaFor(model => model.AssAwalMedisNew.RencanaKerja_List[i].Model.RencanaIntervensi, new { @class = "form-control input-sm" })
                                                            </td>

                                                            <td>
                                                                @Html.TextAreaFor(model => model.AssAwalMedisNew.RencanaKerja_List[i].Model.Target, new { @class = "form-control input-sm" })
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        }
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Intruksi
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.Intruksi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.Intruksi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Kesimpulan Hasil Skrining
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.KesimpulanHasil, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.KesimpulanHasil, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Kondisi Saat Pulang
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.KondisiDipulangkan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.KondisiDipulangkan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-center text-bold">INTRUKSI LAYANAN TINDAK LANJUT</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            INTRUKSI
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.IntruksiLayanan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.IntruksiLayanan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">DIPULANGKAN</label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalMedisNew.KIE, new { htmlAttributes = new { } })
                                KIE
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalMedisNew.ObatPulang, new { htmlAttributes = new { } })
                                Obat Pulang
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalMedisNew.FotoRontgen, new { htmlAttributes = new { } })
                                Foto Rontgen
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalMedisNew.Laboratorium, new { htmlAttributes = new { } })
                                Laboratorium
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalMedisNew.KontrolPoli, new { htmlAttributes = new { } })
                                Kontrol Poliklinik
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            DIKONSULTASIKAN
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalMedisNew.DiKonsultasikan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.DiKonsultasikan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            MENINGGAL
                        </label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Dinyatakan meninggal pukul
                                </label>
                                @Html.EditorFor(model => model.AssAwalMedisNew.MeninggalPukul, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssAwalMedisNew.MeninggalPukul != null ? Model.AssAwalMedisNew.MeninggalPukul.Value.ToString("HH':'mm") : "") : "") } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.MeninggalPukul, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            MINGGAT
                        </label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Dinyatakan minggat pukul
                                </label>
                                @Html.EditorFor(model => model.AssAwalMedisNew.MinggatPukul, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssAwalMedisNew.MinggatPukul != null ? Model.AssAwalMedisNew.MinggatPukul.Value.ToString("HH':'mm") : "") : "") } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.MinggatPukul, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalMedisNew.LaporMOD, new { htmlAttributes = new { } })
                                Lapor MOD
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalMedisNew.LaporPiket, new { htmlAttributes = new { } })
                                Lapor Piket Markas
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Dokter
                        </label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.AssAwalMedisNew.NamaDokter, Model.AssAwalMedisNew.NamaDokter == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.AssAwalMedisNew.NamaDokter.ToString(), Text = Model.AssAwalMedisNew.NamaDokterNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalMedisNew.NamaDokter, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 text-right">
                            <a class="btn btn-success btn-sm @(Model.AssAwalMedisNew.TTDDokter != null ? "btn-flash" : "")" onclick="clickgambar1_assmedis1()"><i class="icon-quill4"></i></a>
                            <a class="btn btn-danger btn-sm" onclick="ulanggambar1_assmedis1()"><i class="icon-eraser"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_AssAwalMedisNew_TTDDokter" name="IMG_AssAwalMedisNew_TTDDokter" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssAwalMedisNew.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                @Html.EditorFor(model => model.AssAwalMedisNew.nama_template, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalMedisNew.nama_template, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.AssAwalMedisNew.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFAssAwalMedis", new { noreg = Model.AssAwalMedisNew.NoReg, sectionid = Model.AssAwalMedisNew.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.AssAwalMedisNew.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>


<!--   Detail Table   -->
@{
    if (Model != null)
    {
        if (Model.AssAwalMedisNew != null)
        {
            Model.AssAwalMedisNew.RencanaKerja_List = null;
        }
    }
}

<div id="@d_trg_RencanaKerja" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.AssAwalMedisNew.RencanaKerja_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.AssAwalMedisNew.RencanaKerja_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm text-center",
           onblur = "autoid_detailassawalmedis(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.AssAwalMedisNew.RencanaKerja_List[-1].Model.DaftarMasalah, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.AssAwalMedisNew.RencanaKerja_List[-1].Model.RencanaIntervensi, new
   {
           @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.AssAwalMedisNew.RencanaKerja_List[-1].Model.Target, new
   {
           @class = "form-control input-sm"
   })
    </div>
</div>

<script>
    function autoid_detailassawalmedis(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    generalDokter('#@formName #AssAwalMedisNew_NamaDokter');

    $('#AssAwalMedisNew_Template').select2({
        ajax: {
            url: "@Url.Action("ListTamplet", "TemplatePoliDalam")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaTemplate',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', ''],
                    dokumenid: $('#AssAwalMedisNew_DokumenID').val(),
                    dokter: $('#AssAwalMedisNew_NamaDokter').val()
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.NamaTemplate, text: value.NamaTemplate } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    function loadTemplateAssAwalMedis() {
        var id = $('#AssAwalMedisNew_NoReg').val();
        var nama = $('#AssAwalMedisNew_Template').val();
        $.ajax({
            dataType: 'JSON',
            method: "GET",
            url: '@Url.Action("GetTemplatAssAwalMedis", "TemplatePoliDalam")',
            data: {
                id: id,
                nama: nama
            },
            success: function (data) {
                $('#AssAwalMedisNew_IRJ').prop('checked', data.Data.IRJ == 1 ? true : false);
                $('#AssAwalMedisNew_IGD').prop('checked', data.Data.IGD == 1 ? true : false);
                $('#AssAwalMedisNew_LuarRS').prop('checked', data.Data.LuarRS == 1 ? true : false);
                $('#AssAwalMedisNew_LuarRS_Ket').val(data.Data.LuarRS_Ket);
                $('#AssAwalMedisNew_Poliklinik').val(data.Data.Poliklinik);
                $('#AssAwalMedisNew_RsPengirim').val(data.Data.RsPengirim);
                $('#AssAwalMedisNew_KeluhanUtama').val(data.Data.KeluhanUtama);
                $('#AssAwalMedisNew_RiwayatPenyakit').val(data.Data.RiwayatPenyakit);
                $('#AssAwalMedisNew_RiwayatPengobatan').val(data.Data.RiwayatPengobatan);
                $('#AssAwalMedisNew_RiwayatAlergi').val(data.Data.RiwayatAlergi);
                $('#AssAwalMedisNew_RiwayatKeluarga').val(data.Data.RiwayatKeluarga);
                $('#AssAwalMedisNew_E').val(data.Data.E);
                $('#AssAwalMedisNew_V').val(data.Data.V);
                $('#AssAwalMedisNew_M').val(data.Data.M);
                $('#AssAwalMedisNew_TB').val(data.Data.TB);
                $('#AssAwalMedisNew_BB').val(data.Data.BB);
                $('#AssAwalMedisNew_TandaVital').val(data.Data.TandaVital);
                $('#AssAwalMedisNew_TekananDarah').val(data.Data.TekananDarah);
                $('#AssAwalMedisNew_Nadi').val(data.Data.Nadi);
                $('#AssAwalMedisNew_Pernafasan').val(data.Data.Pernafasan);
                $('#AssAwalMedisNew_Suhu').val(data.Data.Suhu);
                $('#AssAwalMedisNew_Saturasi').val(data.Data.Saturasi);
                $('#AssAwalMedisNew_PemeriksaanFisik').val(data.Data.PemeriksaanFisik);
                $('#AssAwalMedisNew_Kepala').val(data.Data.Kepala);
                $('#AssAwalMedisNew_Mata').val(data.Data.Mata);
                $('#AssAwalMedisNew_THT').val(data.Data.THT);
                $('#AssAwalMedisNew_Leher').val(data.Data.Leher);
                $('#AssAwalMedisNew_Dada').val(data.Data.Dada);
                $('#AssAwalMedisNew_Abdomen').val(data.Data.Abdomen);
                $('#AssAwalMedisNew_Punggung').val(data.Data.Punggung);
                $('#AssAwalMedisNew_Genetalia').val(data.Data.Genetalia);
                $('#AssAwalMedisNew_Ekstremitas').val(data.Data.Ekstremitas);
                $('#AssAwalMedisNew_HasilPenunjang').val(data.Data.HasilPenunjang);
                $('#AssAwalMedisNew_DiagnosaMedis').val(data.Data.DiagnosaMedis);
                $('#AssAwalMedisNew_Intruksi').val(data.Data.Intruksi);
                $('#AssAwalMedisNew_KesimpulanHasil').val(data.Data.KesimpulanHasil);
                $('#AssAwalMedisNew_KondisiDipulangkan').val(data.Data.KondisiDipulangkan);
                $('#AssAwalMedisNew_IntruksiLayanan').val(data.Data.IntruksiLayanan);
                $('#AssAwalMedisNew_KIE').prop('checked', data.Data.KIE == 1 ? true : false);
                $('#AssAwalMedisNew_ObatPulang').prop('checked', data.Data.ObatPulang == 1 ? true : false);
                $('#AssAwalMedisNew_FotoRontgen').prop('checked', data.Data.FotoRontgen == 1 ? true : false);
                $('#AssAwalMedisNew_Laboratorium').prop('checked', data.Data.Laboratorium == 1 ? true : false);
                $('#AssAwalMedisNew_KontrolPoli').prop('checked', data.Data.KontrolPoli == 1 ? true : false);
                $('#AssAwalMedisNew_DiKonsultasikan').val(data.Data.DiKonsultasikan);
                $('#AssAwalMedisNew_LaporMOD').prop('checked', data.Data.LaporMOD == 1 ? true : false);
                $('#AssAwalMedisNew_LaporPiket').prop('checked', data.Data.LaporPiket == 1 ? true : false);
            }
        });
    }

    function clickgambar1_assmedis1() {
        $('#@formName #IMG_AssAwalMedisNew_TTDDokter').click()
    }

    function ulanggambar1_assmedis1() {
        $('#@formName #IMG_AssAwalMedisNew_TTDDokter').attr('src', '/Theme/images/TandaTangan.png');
        $('#@formName #IMG_AssAwalMedisNew_TTDDokter').click()
    }


    var iGambar1assMedis;
    var ximg_Gambar1assMedis = $('#@formName #IMG_AssAwalMedisNew_TTDDokter');

    @if (Model != null)
    {
        if (Model.AssAwalMedisNew.TTDDokter != null)
        {
            @:ximg_Gambar1assMedis.attr('src', 'data:image/jpeg;base64,@(Model.AssAwalMedisNew.TTDDokter)');
        }
    }

    function SubmitForm_AssesmenAwalMedis(e) {
        try {
            iGambar1assMedis.convert_V2('AssAwalMedisNew_TTDDokter');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    $(document).ready(function () {

        iGambar1assMedis = new iPainter_V2(false, ximg_Gambar1assMedis);

    });
</script>
