﻿@using EMRRSBK.Models
@model EWSScorePemantauanViewModel

@{
    var controllerName = "PemantauanNEWSScore";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_news = $"frm_table_detailNEWS";
    int d_idx_news = 0;
    var d_trg_news = $"input_target_detailNEWS";
    if (Model != null)
    {
        if (Model.NEWS_List != null)
        {
            d_idx_news = Model.NEWS_List.Count();
        }
    }
    #endregion

}

@*   CSS Table 1    *@
<style>

        #@d_tbl_news thead tr th {
            vertical-align: middle;
            text-align: center;
        }

        #@d_tbl_news thead th:nth-child(1),
        #@d_tbl_news tbody td:nth-child(1){
            text-align:center;
            width: 100px;
            display:none;
        }

        #@d_tbl_news thead th:nth-child(2),
        #@d_tbl_news tbody td:nth-child(2){
            width: 40px;
            text-align:center;
        }

        #@d_tbl_news thead th:nth-child(3),
        #@d_tbl_news tbody td:nth-child(3){
            display:none;
        }

        #@d_tbl_news thead th:nth-child(4),
        #@d_tbl_news tbody td:nth-child(4){
            width: 80px;
            display: none;
        }

        #@d_tbl_news thead th:nth-child(5),
        #@d_tbl_news tbody td:nth-child(5){
            width: 160px;
        }

        #@d_tbl_news thead th:nth-child(6),
        #@d_tbl_news tbody td:nth-child(6){
            width: 105px;
        }

        #@d_tbl_news thead th:nth-child(7),
        #@d_tbl_news tbody td:nth-child(7){
            width: 100px;
        }

        #@d_tbl_news thead th:nth-child(8),
        #@d_tbl_news tbody td:nth-child(8){
            width: 100px;
        }

        #@d_tbl_news thead th:nth-child(9),
        #@d_tbl_news tbody td:nth-child(9){
            width: 140px;
        }

        #@d_tbl_news thead th:nth-child(10),
        #@d_tbl_news tbody td:nth-child(10){
            width: 140px;
        }

        #@d_tbl_news thead th:nth-child(11),
        #@d_tbl_news tbody td:nth-child(11){
            width: 100px;
        }

        #@d_tbl_news thead th:nth-child(12),
        #@d_tbl_news tbody td:nth-child(12){
            width: 100px;
        }

        #@d_tbl_news thead th:nth-child(13),
        #@d_tbl_news tbody td:nth-child(13){
            width: 100px;
        }

         #@d_tbl_news thead th:nth-child(14),
        #@d_tbl_news tbody td:nth-child(14){
            width: 300px;
        }

         #@d_tbl_news thead th:nth-child(15),
        #@d_tbl_news tbody td:nth-child(15){
            width: 100px;
        }

        #@d_tbl_news thead th:nth-child(16),
        #@d_tbl_news tbody td:nth-child(16){
            width: 200px;
        }

        #@d_tbl_news thead th:nth-child(17),
        #@d_tbl_news tbody td:nth-child(17){
            width: 100px;
        }

        .table {
            table-layout: fixed;
            max-width: 100%;
        }

</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("NEWSScore", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatenews (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.NRM)
        @Html.HiddenFor(model => model.SectionID)
        @Html.HiddenFor(model => model.Tanggal_View)
        if (Model.NEWS_List != null)
        {
            for (var i = 0; i < Model.NEWS_List.Count(); i++)
            {
                @Html.HiddenFor(Model => Model.NEWS_List[i].Model.TandaTanganDokter)
            }
        }

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="row">

                        <div class="form-group">
                            <label class="control-label col-md-12 text-center text-bold">
                                PEMANTAUAN NEONATUS EARLY WARNING SCORE (NEWS)
                            </label>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="panel_detaiNEWS" class="panel-body detail collapse in"
                                     data-index-detail="@d_idx_news">
                                    <div class="table-responsive">
                                        <table id="@d_tbl_news" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" onclick="checkall(this)" />
                                                    </th>
                                                    <th class="text-center" rowspan="2">
                                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_news')">
                                                            <i class="icon-plus2"></i>
                                                        </a>
                                                    </th>
                                                    <th></th>
                                                    <th>No</th>
                                                    <th>Tanggal</th>
                                                    <th>Jam</th>
                                                    <th>RESPIRASI (x/menit)</th>
                                                    <th>MERINTIH</th>
                                                    <th>WARNA (SP<sup>o</sup>2)</th>
                                                    <th>NADI/HR (Denyut/Menit)</th>
                                                    <th>NEURO</th>
                                                    <th>TEMPERATUR (<sup>o</sup>C)</th>
                                                    <th>SKOR</th>
                                                    <th>Nama</th>
                                                    <th>Rentang Skor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.NEWS_List != null)
                                                    {
                                                        for (var i = 0; i < Model.NEWS_List.Count(); i++)
                                                        {
                                                            <tr>
                                                                <!-- Check -->
                                                                <td>
                                                                    <input type="checkbox" />
                                                                </td>

                                                                <!-- Delete button -->
                                                                <td>
                                                                    <a class="text-danger-600"
                                                                       onclick="removetr(this)">
                                                                        <i class="icon-trash"></i>
                                                                    </a>
                                                                </td>

                                                                <!-- Remove Status -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.NEWS_List[i].Remove,
                                                               new { htmlAttributes = new { @class = "disable-reset" } })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.NEWS_List[i].Model.No, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"
                                                                   }
                                                               })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.NEWS_List[i].Model.Tanggal, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.NEWS_List[i].Model.Tanggal != null ? Model.NEWS_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.NEWS_List[i].Model.Jam, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.NEWS_List[i].Model.Jam != null ? Model.NEWS_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                @{
                                                                    var m_1 = StaticModel.ListNEWS_Respirasi;
                                                                    var item_1 = Model.NEWS_List[i].Model.Respirasi;
                                                                    if (item_1 != null)
                                                                    {
                                                                        m_1.FirstOrDefault(x => x.Value == Model.NEWS_List[i].Model.Respirasi).Selected = true;

                                                                    }
                                                                }

                                                                <td>
                                                                    @Html.DropDownListFor(model => model.NEWS_List[i].Model.Respirasi,
                                                                    m_1, new { @class = "form-control input-sm" })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.NEWS_List[i].Model.Merintih, new { htmlAttributes = new { @class = "form-control" } })
                                                                </td>

                                                                @{
                                                                    var m_3 = StaticModel.ListNEWS_Warna;
                                                                    var item_3 = Model.NEWS_List[i].Model.Warna;
                                                                    if (item_3 != null)
                                                                    {
                                                                        m_3.FirstOrDefault(x => x.Value == Model.NEWS_List[i].Model.Warna).Selected = true;

                                                                    }
                                                                }

                                                                <td>
                                                                    @Html.DropDownListFor(model => model.NEWS_List[i].Model.Warna,
                                                                    m_3, new { @class = "form-control input-sm" })
                                                                </td>

                                                                @{
                                                                    var m_4 = StaticModel.ListNEWS_Nadi;
                                                                    var item_4 = Model.NEWS_List[i].Model.Nadi;
                                                                    if (item_4 != null)
                                                                    {
                                                                        m_4.FirstOrDefault(x => x.Value == Model.NEWS_List[i].Model.Nadi).Selected = true;

                                                                    }
                                                                }

                                                                <td>
                                                                    @Html.DropDownListFor(model => model.NEWS_List[i].Model.Nadi,
                                                                    m_4, new { @class = "form-control input-sm" })
                                                                </td>

                                                                @{
                                                                    var m_5 = StaticModel.ListNEWS_Neuro;
                                                                    var item_5 = Model.NEWS_List[i].Model.Neuro;
                                                                    if (item_5 != null)
                                                                    {
                                                                        m_5.FirstOrDefault(x => x.Value == Model.NEWS_List[i].Model.Neuro).Selected = true;

                                                                    }
                                                                }

                                                                <td>
                                                                    @Html.DropDownListFor(model => model.NEWS_List[i].Model.Neuro,
                                                                    m_5, new { @class = "form-control input-sm" })
                                                                </td>


                                                                @{
                                                                    var m_6 = StaticModel.ListNEWS_Temperatur;
                                                                    var item_6 = Model.NEWS_List[i].Model.Tenperatur;
                                                                    if (item_6 != null)
                                                                    {
                                                                        m_6.FirstOrDefault(x => x.Value == Model.NEWS_List[i].Model.Tenperatur).Selected = true;

                                                                    }
                                                                }

                                                                <td>
                                                                    @Html.DropDownListFor(model => model.NEWS_List[i].Model.Tenperatur,
                                                                    m_6, new { @class = "form-control input-sm" })
                                                                </td>

                                                                @{
                                                                    var m_7 = StaticModel.ListNEWS_Skor;
                                                                    var item_7 = Model.NEWS_List[i].Model.Skor;
                                                                    if (item_7 != null)
                                                                    {
                                                                        m_7.FirstOrDefault(x => x.Value == Model.NEWS_List[i].Model.Skor).Selected = true;

                                                                    }
                                                                }

                                                                <td>
                                                                    @Html.DropDownListFor(model => model.NEWS_List[i].Model.Skor,
                                                                    m_7, new { @class = "form-control input-sm" })
                                                                </td>

                                                                @{
                                                                    var _lstnama = new List<SelectListItem>();
                                                                    if (Model.NEWS_List[i].Model != null)
                                                                    {
                                                                        if (Model.NEWS_List[i].Model.Nama != null)
                                                                        {
                                                                            _lstnama.Add(new SelectListItem()
                                                                            {
                                                                                Value = Model.NEWS_List[i].Model.Nama,
                                                                                Text = Model.NEWS_List[i].Model.NamaNama
                                                                            });
                                                                        }
                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-10">
                                                                        @Html.DropDownListFor(model => model.NEWS_List[i].Model.Nama, _lstnama, new { @class = "form-control input-sm" })
                                                                    </div>
                                                                    @if (Model.NEWS_List[i].Model.SudahRegDkt == 0)
                                                                    {
                                                                        <div class="col-md-2">
                                                                            <a id="btn_dtlnews" class="btn btn-primary disabled" onclick="user_verif_news({ id : '@Model.NEWS_List[i].Model.Nama', no : '@Model.NEWS_List[i].Model.No', ini : this})" href="finspot:FingerspotVer;@Model.NEWS_List[i].Model.ViewBag"><span class="icon-checkmark2 position-center"></span></a>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="col-md-2">
                                                                            <a id="btn_dtlnews" class="btn btn-primary" onclick="user_verif_news({ id : '@Model.NEWS_List[i].Model.Nama', no : '@Model.NEWS_List[i].Model.No', ini : this})" href="finspot:FingerspotVer;@Model.NEWS_List[i].Model.ViewBag"><span class="icon-checkmark2 position-center"></span></a>
                                                                        </div>
                                                                    }
                                                                </td>
                                                                <td>

                                                                    @Html.EditorFor(model => model.NEWS_List[i].Model.RentangSkor, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"

                                                                   }
                                                               })
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                                <a href="@Url.Action("ExportPDFPemantauanNEWSScore", new { noreg = Model.NRM, section = Model.SectionID })" target="_blank"
                                   class="btn btn-default" @(Model.NRM == null ? "disabled" : "")>
                                    Print PDF
                                </a>
                                <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }

</div>

<script type="text/javascript">

    @if (Model != null)
    {
         if (Model.NEWS_List != null)
        {
            for (var i = 0; i < Model.NEWS_List.Count; i++)
            {

                    @:customdetailNEWS_Detail(@i, { target: $('#@d_tbl_news thead a i')[0] }, '@d_trg_news', false);
            }

        }
    }

    function customdetailNEWS_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strnama = '#panel_detaiNEWS #NEWS_List_' + index_detail + '__Model_Nama';

        $(_strnama).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

</script>


@{
    if (Model != null)
    {
        Model.NEWS_List = null;
    }
}

<div id="@d_trg_news" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.NEWS_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.NEWS_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.NEWS_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.NEWS_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.TimeOfDay.ToString("hh':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.NEWS_List[-1].Model.Respirasi,
      StaticModel.ListNEWS_Respirasi, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.NEWS_List[-1].Model.Merintih, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.NEWS_List[-1].Model.Warna,
      StaticModel.ListNEWS_Warna, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.NEWS_List[-1].Model.Nadi,
      StaticModel.ListNEWS_Nadi, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.NEWS_List[-1].Model.Neuro,
      StaticModel.ListNEWS_Neuro, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.NEWS_List[-1].Model.Tenperatur,
      StaticModel.ListNEWS_Temperatur, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.NEWS_List[-1].Model.Skor,
     StaticModel.ListNEWS_Skor, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">

        @Html.DropDownListFor(model => model.NEWS_List[-1].Model.Nama,
        new List<SelectListItem>(), new { @class = "form-control input-sm" })

    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.NEWS_List[-1].Model.RentangSkor, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

</div>

<script>
     function user_verif_news(param) {
         var reStatsDtlObses = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = param.id;
        const user_no = param.no;
        var x_this = param.ini;
        var noreg = $('#NoReg').val();
        var section = $('#NEWS_List_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifnews(noreg, section, user_id, user_no);
            if (ct >= limit || reStatsDtlObses == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDtlObses == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDtlObses == 1) {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_dtlnews').addClass('disabled', true);
                    $('#news').click();
                    alertpopup("Verification Berhasil", "success");
                }
            }
            ct++;
        });

        function user_checkverifnews(noreg, section, user_id, user_no) {
            myajax({
                url: '@Url.Action("CheckBerhasilNEWS", "PemantauanNEWSScore")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id,
                    no: user_no,
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsDtlObses = 1;
                        }
                    }
                    else {
                        reStatsDtlObses = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreatenews(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#news').click();
    }

</script>



