﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "RencanaKeperawatanBersihanJalanNafasTidakEfektiRI";
    ViewBag.Title = controllerName;
    var formName = $"frm_RencanaKeperawatanBersihanJalanNafasTidakEfektiRI_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<style>
    #table_rencana thead th:nth-child(1) {
        width: 180px;
    }
</style>



<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.RncanaKprwtBrshJlnNfs.NoReg)
        @Html.HiddenFor(Model => Model.RncanaKprwtBrshJlnNfs.SectionID)
        @Html.HiddenFor(Model => Model.RncanaKprwtBrshJlnNfs.NRM)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">RENCANA KEPERAWATAN BERSIHAN JALAN NAFAS TIDAK EFEKTIF</label>
                    </div>
                    <div class="form-group">
                        <table id="table_rencana" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tgl</th>
                                    <th>Diagnosa Keperawatan</th>
                                    <th>Tujuan</th>
                                    <th>Rencana TIndakan</th>
                                    <th>Paraf/ Nama Terang</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.RncanaKprwtBrshJlnNfs.Tanggal != null ? (Model.RncanaKprwtBrshJlnNfs.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtBrshJlnNfs.Tanggal, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                <b>Bersihan Jalan Nafas Tidak Efektif</b>
                                            </label>
                                            <label class="col-md-12">
                                                berhubungan dengan :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.DisfungsiNeuromusuler, new { htmlAttributes = new { } })
                                                    Disfungsi neuromusuler
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Alergi, new { htmlAttributes = new { } })
                                                    Alergi Jalan Nafas
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Spasme, new { htmlAttributes = new { } })
                                                    Spasme
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.SekresiTertahan, new { htmlAttributes = new { } })
                                                    Adanya eksudat di jalan nafas /sekresi tertahan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.BendaAsing, new { htmlAttributes = new { } })
                                                    Adanya Benda Asing
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Intubasi, new { htmlAttributes = new { } })
                                                    Intubasi/ jalan nafas buatan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Ventilasi, new { htmlAttributes = new { } })
                                                    Ventilasi mekanik
                                                </label>
                                            </div>
                                            <label class="col-md-12">
                                                DS :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.SulitBernafas, new { htmlAttributes = new { } })
                                                    Pasien mengatakan sulit bernafas/ sesak
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.MengeluhBatuk, new { htmlAttributes = new { } })
                                                    Pasien mengeluh batuk
                                                </label>
                                            </div>
                                            <label class="col-md-12">
                                                DO :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.BatukBerdahak, new { htmlAttributes = new { } })
                                                    Batuk Berdahak, batuk tidak efektif
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Dispnea, new { htmlAttributes = new { } })
                                                    Dispnea, penurunan suara nafas, Orthopnea
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.PerubahanFrekuensi, new { htmlAttributes = new { } })
                                                    Perubahan frekuensi dan irama nafas
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <label class="input-group-addon">
                                                        RR
                                                    </label>
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.RR, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtBrshJlnNfs.RR, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Ronchi, new { htmlAttributes = new { } })
                                                    Ronchi
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Sianosis, new { htmlAttributes = new { } })
                                                    Sianosis
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Lainnya, new { htmlAttributes = new { } })
                                                </label>
                                                @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Lainnya_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtBrshJlnNfs.Lainnya_Ket, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <label class="col-md-12">Setelah dilakukan tindakan keperawatan selama</label>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.PerawatanSelama, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtBrshJlnNfs.PerawatanSelama, "", new { @class = "text-danger" })
                                                    <label class="input-group-addon">menit/jam</label>
                                                </div>
                                            </div>
                                            <label class="col-md-12">pasien mampu meningkatkan dan mempertahankan keefktifan jalan nafas</label>
                                            <label class="col-md-12">Kriteria hasil :</label>
                                            <label class="col-md-2">1.</label>
                                            <label class="col-md-10">Tidak mengeluh sesak</label>
                                            <label class="col-md-2">2.</label>
                                            <label class="col-md-10">Pernafasan tertur RR :</label>
                                            <label class="col-md-12">Anak 20-30x/menit</label>
                                            <label class="col-md-12">Dewasa 12-20 x/menit</label>
                                            <label class="col-md-2">3.</label>
                                            <label class="col-md-10">Mampu mengeluarkan sputum/batuk efektif atau sputum mudah dikeluarkan dengan suctioning</label>
                                            <label class="col-md-2">4.</label>
                                            <label class="col-md-10">EET bebas sumbatan</label>
                                            <label class="col-md-2">5.</label>
                                            <label class="col-md-10">Suara paru bersih, vesikuler, tidak ada suara nafas abnormal</label>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">Mandiri :</div>
                                            <div class="col-md-12">
                                                <ol>
                                                    <li>Monitor frekuensi nafas pasien/status oksigen pasien</li>
                                                    <li>Posisikan pasien untuk memaksimalkan ventilasi(head up/semifowler)</li>
                                                    <li>Latih teknik batuk efektif</li>
                                                    <li>Lakukan chest fisiotherapi sesuai indikasi/ bila perlu</li>
                                                    <li>Pasang mayo/ gudel bila perlu</li>
                                                    <li>Auskultasi suara nafas tiap 2-4 jam dan kalau diperlukan</li>
                                                    <li>Lakukan pengeisapan(suction) secara berkala</li>
                                                    <li>Kaji suara nafas sebelum dan sesudah melakukan tindakan pengisapan</li>
                                                    <li>Pertahankan suhu humidifer tetap hangat (>37<sup>o</sup>C)</li>
                                                    <li>
                                                        @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Mandiri_Lain, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.RncanaKprwtBrshJlnNfs.Mandiri_Lain, "", new { @class = "text-danger" })
                                                    </li>
                                                </ol>
                                                @*<label class="checkbox checkbox-inline control-label">
                                                        @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Mandiri_1, new { htmlAttributes = new { } })
                                                        1. Tentukan penyebab keletihan(karena perawatan, pengobatan, nyeri)
                                                    </label>*@
                                            </div>
                                            @*<div class="col-md-12">
                                                    <label class="checkbox checkbox-inline control-label">
                                                        @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Mandiri_2, new { htmlAttributes = new { } })
                                                        2. Gunakan teknik relaksasi distraksi, selama aktivitas
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="checkbox checkbox-inline control-label">
                                                        @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Mandiri_3, new { htmlAttributes = new { } })
                                                        3. Pantau respon kardiorespiratori terhadap aktivitas(takipnea, dispnea,takikardi, pucat, berkeringat)
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="checkbox checkbox-inline control-label">
                                                        @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Mandiri_4, new { htmlAttributes = new { } })
                                                        4. Kaji respon emosi, sosial dan spiritual terhadap aktivitas
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="checkbox checkbox-inline control-label">
                                                        @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Mandiri_5, new { htmlAttributes = new { } })
                                                        5. Evaluasi motivasi dan keinginan pasien untuk meningkatkan aktivitas
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="checkbox checkbox-inline control-label">
                                                        @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Mandiri_6, new { htmlAttributes = new { } })
                                                        6. Ajarkan kepada pasien dan keluarga : tekhnik perawatan diri yang meminimalkan konsumsi oksigen, penggunaan peralatan oksigen selama aktivitas
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="checkbox checkbox-inline control-label">
                                                        @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Mandiri_7, new { htmlAttributes = new { } })
                                                        7. Ajarkan pengaturan waktu aktivitas dan istirahat
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="checkbox checkbox-inline control-label">
                                                        @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Mandiri_8, new { htmlAttributes = new { } })
                                                        8. Monitor tanda tanda vital dan status nutrisi
                                                    </label>
                                                </div>*@
                                            <label class="col-md-12">Kolaborasi :</label>
                                            <div class="col-md-12">
                                                <ol>
                                                    <li>Pemerian mukolitik, bronkodilator bila perlu</li>
                                                    <li>Pindakan trakeostomy pada pemakaianan centilator dalam waktu lama</li>
                                                    <li>
                                                        @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Kolaborasi_Lain, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.RncanaKprwtBrshJlnNfs.Kolaborasi_Lain, "", new { @class = "text-danger" })
                                                    </li>
                                                </ol>
                                                @*<label class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Kolaborasi_1, new { htmlAttributes = new { } })
                                                        1. Berikan pengobatan nyeri sesuai program dokter sebelum aktivitas
                                                    </label>*@
                                            </div>
                                            @*<div class="col-md-12">
                                                    <label class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.Kolaborasi_2, new { htmlAttributes = new { } })
                                                        2. Rujuk ke ahli fisioterapi sebagai sumber perencanaan aktivitas pasien
                                                    </label>
                                                </div>*@
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.RncanaKprwtBrshJlnNfs.NamaPasien, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtBrshJlnNfs.NamaPasien, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.RncanaKprwtBrshJlnNfs.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFRencanaKeperawatanBersihJalanNafasTidakEfektif", new { noreg = Model.RncanaKprwtBrshJlnNfs.NoReg, Model.RncanaKprwtBrshJlnNfs.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.RncanaKprwtBrshJlnNfs.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>



