﻿@using EMRRSBK.Models
@using System.Linq
@using EMRRSBK.Entities
@model GeneralPoliMataViewModel

@{
    var controllerName = "KunjunganPoliklinik";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_kjgpoli = $"frm_table_detailKunjunganPoliklinik";
    int d_idx_kjgpoli = 0;
    var d_trg_kjgpoli = $"input_target_detailKunjunganPoliklinik";
    if (Model != null)
    {
        if (Model.KnjngPoli_List != null)
        {
            d_idx_kjgpoli = Model.KnjngPoli_List.Count();
        }
    }
    #endregion

}

@*CSS Table 1*@
<style>
    textarea.input-sm, select[multiple].input-sm {
        height: 100px;
    }

    tr:first-child > td, .table > thead:first-child > tr:first-child > td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        /* border-top: 0;
        border-bottom-style: solid;
        border-bottom-color: #a5a59e;*/
    }
    /*
    .table {
        border-collapse: collapse;
        width: 100%;
          table-layout: fixed;
        background-image: linear-gradient(#63cdf55c, #f1f1f1);
        max-width: 100%;
        border: double;
        border-color: #a5a59e;
    }*/

    #d_tbl_kjgpoli thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_kjgpoli thead th:nth-child(1),
    #d_tbl_kjgpoli tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_kjgpoli thead th:nth-child(2),
    #d_tbl_kjgpoli tbody td:nth-child(2) {
        width: 40px;
        text-align: center;
    }

    #d_tbl_kjgpoli thead th:nth-child(3),
    #d_tbl_kjgpoli tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_kjgpoli thead th:nth-child(4),
    #d_tbl_kjgpoli tbody td:nth-child(4) {
        width: 80px;
        display: none;
    }

    #d_tbl_kjgpoli thead th:nth-child(5),
    #d_tbl_kjgpoli tbody td:nth-child(5) {
        width: 120px;
    }

    #d_tbl_kjgpoli thead th:nth-child(6),
    #d_tbl_kjgpoli tbody td:nth-child(6) {
        width: 100px;
    }

    #d_tbl_kjgpoli thead th:nth-child(7),
    #d_tbl_kjgpoli tbody td:nth-child(7) {
        width: 150px;
    }

    #d_tbl_kjgpoli thead th:nth-child(8),
    #d_tbl_kjgpoli tbody td:nth-child(8) {
        width: 250px;
    }

    #d_tbl_kjgpoli thead th:nth-child(9),
    #d_tbl_kjgpoli tbody td:nth-child(9) {
        width: 250px;
    }

    #d_tbl_kjgpoli thead th:nth-child(10),
    #d_tbl_kjgpoli tbody td:nth-child(10) {
        width: 400px;
    }

    #d_tbl_kjgpoli thead th:nth-child(11),
    #d_tbl_kjgpoli tbody td:nth-child(11) {
        width: 250px;
    }



    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("KunjunganPoliklinik", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatekunjunganpoliklinik(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.NRM)
        @Html.HiddenFor(model => model.SectionID)
        @Html.HiddenFor(model => model.Tanggal_View)
        @Html.HiddenFor(model => model.Dokter)
        @Html.HiddenFor(model => model.DokterNama)
        if (Model.KnjngPoli_List != null)
        {
            for (var i = 0; i < Model.KnjngPoli_List.Count(); i++)
            {
                @Html.HiddenFor(Model => Model.KnjngPoli_List[i].Model.TandaTanganDokter)
            }
        }

        <div class="panel-body collapse in panelresep">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="panel_Knjgpoli" class="panel detail collapse in table-responsive"
                                     data-index-detail="@d_idx_kjgpoli">
                                    <div class="">
                                        <table id="d_tbl_kjgpoli" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" onclick="checkall(this)" />
                                                    </th>
                                                    <th class="text-center" rowspan="2">
                                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_kjgpoli')">
                                                            <i class="icon-plus2"></i>
                                                        </a>
                                                    </th>
                                                    <th></th>
                                                    <th>No</th>
                                                    <th>Tanggal</th>
                                                    <th>Jam</th>
                                                    <th>Nama Poliklinik</th>
                                                    <th>Catatan S-O-A-P</th>
                                                    <th>Diagnosa</th>
                                                    <th>Intruksi Therapi</th>
                                                    <th>Nama/ Paraf Doktor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.KnjngPoli_List != null)
                                                    {
                                                        for (var i = 0; i < Model.KnjngPoli_List.Count(); i++)
                                                        {
                                                            <tr>
                                                                <!-- Check -->
                                                                <td>
                                                                    <input type="checkbox" />
                                                                </td>

                                                                <!-- Delete button -->
                                                                <td>
                                                                    <a class="text-danger-600"
                                                                       onclick="removetr(this)">
                                                                        <i class="icon-trash"></i>
                                                                    </a>
                                                                </td>

                                                                <!-- Remove Status -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.KnjngPoli_List[i].Remove,
                                                                    new { htmlAttributes = new { @class = "disable-reset" } })
                                                                </td>

                                                                <!-- No -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.KnjngPoli_List[i].Model.No, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"
                                                                   }
                                                               })
                                                                </td>

                                                                <!-- 1 -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.KnjngPoli_List[i].Model.Tanggal, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.KnjngPoli_List[i].Model.Tanggal != null ? Model.KnjngPoli_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.KnjngPoli_List[i].Model.Jam, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.KnjngPoli_List[i].Model.Jam != null ? Model.KnjngPoli_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.KnjngPoli_List[i].Model.Tempat, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @Value = Request.Cookies["SectionNamaPelayanan"].Value,
                                                                       @readonly = "readonly"
                                                                   }
                                                               })
                                                                </td>

                                                                <!-- 2 -->

                                                                @if (Request.Cookies["SectionIDPelayanan"].Value == "SEC020" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0013")
                                                                {
                                                                    @:
                                                                    var msoap_1 = StaticModel.ListSoap;
                                                                    var item_1 = Model.KnjngPoli_List[i].Model.SOAPSelect;
                                                                    if (item_1 != null)
                                                                    {
                                                                        msoap_1.FirstOrDefault(x => x.Value == Model.KnjngPoli_List[i].Model.SOAPSelect).Selected = true;

                                                                    }


                                                                    <td>
                                                                        <div class="form-group">
                                                                            @Html.DropDownListFor(model => model.KnjngPoli_List[i].Model.SOAPSelect,
                                                                            msoap_1, new { @class = "form-control input-sm", onchange = "pilihsoap(this)" })
                                                                        </div>

                                                                        <div class="form-group">
                                                                            @Html.TextAreaFor(model => model.KnjngPoli_List[i].Model.SOAP, new { @class = "form-control input-sm textareacustom" })
                                                                        </div>
                                                                    </td>
                                                                }
                                                                else if (Request.Cookies["SectionIDPelayanan"].Value == "SEC009")
                                                                {
                                                                    @:
                                                                    var msoap_1 = StaticModel.ListSoapIlmuDalam;
                                                                    var item_1 = Model.KnjngPoli_List[i].Model.SOAPSelect;
                                                                    if (item_1 != null)
                                                                    {
                                                                        msoap_1.FirstOrDefault(x => x.Value == Model.KnjngPoli_List[i].Model.SOAPSelect).Selected = true;

                                                                    }


                                                                    <td>
                                                                        <div class="form-group">
                                                                            @Html.DropDownListFor(model => model.KnjngPoli_List[i].Model.SOAPSelect,
                                                                            msoap_1, new { @class = "form-control input-sm", onchange = "pilihsoapilmudalam(this)" })
                                                                        </div>

                                                                        <div class="form-group">
                                                                            @Html.TextAreaFor(model => model.KnjngPoli_List[i].Model.SOAP, new { @class = "form-control input-sm textareacustom" })
                                                                        </div>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>

                                                                        @Html.TextAreaFor(model => model.KnjngPoli_List[i].Model.SOAP, new
                                                                   {

                                                                       @class = "form-control input-sm"

                                                                   })
                                                                    </td>
                                                                }

                                                                <!-- 3 -->
                                                                @if (Request.Cookies["SectionIDPelayanan"].Value == "SEC020" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0013")
                                                                {
                                                                    @:
                                                                    var msoap_2 = StaticModel.ListDiagnosa;
                                                                    var item_2 = Model.KnjngPoli_List[i].Model.DiagnosaSelect;
                                                                    if (item_2 != null)
                                                                    {
                                                                        msoap_2.FirstOrDefault(x => x.Value == Model.KnjngPoli_List[i].Model.DiagnosaSelect).Selected = true;

                                                                    }


                                                                    <td>
                                                                        <div class="form-group">
                                                                            @Html.DropDownListFor(model => model.KnjngPoli_List[i].Model.DiagnosaSelect,
                                                                      msoap_2, new { @class = "form-control input-sm", onchange = "pilihdiagnosa(this)" })
                                                                        </div>

                                                                        <div class="form-group">
                                                                            @Html.TextAreaFor(model => model.KnjngPoli_List[i].Model.Diagnosa, new { @class = "form-control input-sm textareacustom" })
                                                                        </div>
                                                                    </td>
                                                                }
                                                                else if (Request.Cookies["SectionIDPelayanan"].Value == "SEC016")
                                                                {
                                                                    @:
                                                                    var msoap_2 = StaticModel.ListDiagnosaPoliUmum;
                                                                    var item_2 = Model.KnjngPoli_List[i].Model.DiagnosaSelect;
                                                                    if (item_2 != null)
                                                                    {
                                                                        msoap_2.FirstOrDefault(x => x.Value == Model.KnjngPoli_List[i].Model.DiagnosaSelect).Selected = true;

                                                                    }


                                                                    <td>
                                                                        <div class="form-group">
                                                                            @Html.DropDownListFor(model => model.KnjngPoli_List[i].Model.DiagnosaSelect,
                                                                      msoap_2, new { @class = "form-control input-sm", onchange = "pilihpoliumum(this)" })
                                                                        </div>

                                                                        <div class="form-group">
                                                                            @Html.TextAreaFor(model => model.KnjngPoli_List[i].Model.Diagnosa, new { @class = "form-control input-sm textareacustom" })
                                                                        </div>
                                                                    </td>
                                                                }
                                                                else if (Request.Cookies["SectionIDPelayanan"].Value == "SEC129")
                                                                {
                                                                    @:
                                                                    var msoap_2 = StaticModel.ListSoapVaksinCenter;
                                                                    var item_2 = Model.KnjngPoli_List[i].Model.DiagnosaSelect;
                                                                    if (item_2 != null)
                                                                    {
                                                                        msoap_2.FirstOrDefault(x => x.Value == Model.KnjngPoli_List[i].Model.DiagnosaSelect).Selected = true;

                                                                    }


                                                                    <td>
                                                                        <div class="form-group">
                                                                            @Html.DropDownListFor(model => model.KnjngPoli_List[i].Model.DiagnosaSelect,
                                                                      msoap_2, new { @class = "form-control input-sm", onchange = "pilihsoapvaksincenter(this)" })
                                                                        </div>

                                                                        <div class="form-group">
                                                                            @Html.TextAreaFor(model => model.KnjngPoli_List[i].Model.Diagnosa, new { @class = "form-control input-sm textareacustom" })
                                                                        </div>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>

                                                                        @Html.TextAreaFor(model => model.KnjngPoli_List[i].Model.Diagnosa, new
                                                                        {

                                                                            @class = "form-control input-sm"

                                                                        })
                                                                    </td>
                                                                }

                                                                <!-- 4 -->
                                                                @if (Request.Cookies["SectionIDPelayanan"].Value == "SEC020" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0013")
                                                                {
                                                                    @:
                                                                    var msoap_3 = StaticModel.ListIntruksiterapi;
                                                                    var item_3 = Model.KnjngPoli_List[i].Model.IntruksiSelect;
                                                                    if (item_3 != null)
                                                                    {
                                                                        msoap_3.FirstOrDefault(x => x.Value == Model.KnjngPoli_List[i].Model.IntruksiSelect).Selected = true;

                                                                    }


                                                                    <td>
                                                                        <div class="form-group">
                                                                            @Html.DropDownListFor(model => model.KnjngPoli_List[i].Model.IntruksiSelect,
                                                                            msoap_3, new { @class = "form-control input-sm", onchange = "pilihintruksi(this)" })
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <div class="col-md-8">
                                                                                @Html.TextAreaFor(model => model.KnjngPoli_List[i].Model.Intruksi, new { @class = "form-control input-sm textareacustom" })
                                                                                @Html.HiddenFor(model => model.KnjngPoli_List[i].Model.PrintEResepID, new { @class = "hidden" })
                                                                                @Html.HiddenFor(model => model.KnjngPoli_List[i].Model.PrintEResepFarmasi, new { @class = "hidden" })
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <button type="button" ng-click="$parent.ajaxmodal({
                                                                                        url: '@Url.Action("Create", "Resep", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor, nrm = Model.NRM, poliklinik = "1", thiss = i })',
                                                                                        header: 'Resep Obat',
                                                                                        target_auto_refresh : 'table_resep'
                                                                                    })"
                                                                                        class="btn btn-primary btn-sm">
                                                                                    Resep Obat
                                                                                    <i class="icon-plus2 position-right"></i>
                                                                                </button>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <button class="btn btn-warning" onclick="cetakulang_eresep('@Model.KnjngPoli_List[i].Model.PrintEResepID','@Model.KnjngPoli_List[i].Model.PrintEResepFarmasi')">
                                                                                    Print Ulang
                                                                                    <i class="icon-printer2 position-right"></i>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        <div class="form-group">
                                                                            <div class="col-md-8">

                                                                                @Html.TextAreaFor(model => model.KnjngPoli_List[i].Model.Intruksi, new { @class = "form-control input-sm" })
                                                                                @Html.HiddenFor(model => model.KnjngPoli_List[i].Model.PrintEResepID, new { @class = "hidden" })
                                                                                @Html.HiddenFor(model => model.KnjngPoli_List[i].Model.PrintEResepFarmasi, new { @class = "hidden" })
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="col-md-12">
                                                                                    <button type="button" ng-click="$parent.ajaxmodal({
                                                                                        url: '@Url.Action("Create", "Resep", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor, nrm = Model.NRM, poliklinik = "1", thiss = i })',
                                                                                        header: 'Resep Obat',
                                                                                        target_auto_refresh : 'table_resep',
                                                                                    })"
                                                                                            class="btn btn-primary btn-sm ">
                                                                                        Resep Obat
                                                                                        <i class="icon-plus2 position-right "></i>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <a class="btn " onclick="cetakulang_eresep('@i')">
                                                                                        Print Ulang
                                                                                        <i class="icon-printer2 position-right"></i>
                                                                                    </a>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </td>
                                                                }

                                                                <!-- 5 -->
                                                                @{
                                                                    var _lstnama = new List<SelectListItem>();
                                                                    if (Model.KnjngPoli_List[i].Model != null)
                                                                    {
                                                                        if (Model.KnjngPoli_List[i].Model.Paraf != null)
                                                                        {
                                                                            _lstnama.Add(new SelectListItem()
                                                                            {
                                                                                Value = Model.KnjngPoli_List[i].Model.Paraf,
                                                                                Text = Model.KnjngPoli_List[i].Model.ParafNama
                                                                            });
                                                                        }
                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-9">
                                                                        @Html.DropDownListFor(model => model.KnjngPoli_List[i].Model.Paraf, _lstnama, new { @class = "form-control input-sm" })
                                                                    </div>
                                                                    @if (Model.KnjngPoli_List[i].Model.SudahRegDokter == 0)
                                                                    {
                                                                        <div class="col-md-2">
                                                                            <a id="btn_dtlkunjunganpoliklinik" class="btn btn-primary disabled" onclick="user_verif_kunjunganpoliklinik({ id: '@Model.KnjngPoli_List[i].Model.Paraf', no: '@Model.KnjngPoli_List[i].Model.No', ini: this })" href="finspot:FingerspotVer;@Model.KnjngPoli_List[i].Model.ViewBag"><span class="icon-checkmark2 position-center"></span></a>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="col-md-2">
                                                                            <a id="btn_dtlkunjunganpoliklinik" class="btn btn-primary" onclick="user_verif_kunjunganpoliklinik({ id : '@Model.KnjngPoli_List[i].Model.Paraf', no : '@Model.KnjngPoli_List[i].Model.No', ini : this})" href="finspot:FingerspotVer;@Model.KnjngPoli_List[i].Model.ViewBag"><span class="icon-checkmark2 position-center"></span></a>
                                                                        </div>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 ">
                                <div class="text-right">
                                    @*<button type="button" ng-click="$parent.ajaxmodal({
                                                    url: '@Url.Action("Create", "Resep", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor, nrm = Model.NRM, poliklinik = "1" })',
                                                    header: 'Resep Obat',
                                                    target_auto_refresh : 'table_resep'
                                                })"
                                                class="btn btn-primary btn-sm">
                                            Resep Obat
                                            <i class="icon-plus2 position-right"></i>
                                        </button>*@
                                    <a class="btn btn-primary" onclick="bukamodalhistorypoliklinik()">
                                        <i class="icon-book position-left"></i>
                                        History
                                    </a>
                                    @*<a class="btn btn-primary" data-toggle="modal" href="#modalViewKunjunganPoliklinik"><i class="icon icon-book"></i> History</a>*@
                                    <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                                    <a href="@Url.Action("ExportPDFKunjunganPoliklinik", new { noreg = Model.NoReg, sectionid = Model.SectionID})" target="_blank"
                                       class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                                        Print PDF
                                    </a>
                                    @*<a href="@Url.Action("Create", "Resep", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor, nrm = Model.NRM })" target="_blank"
                                           class="btn btn-primary" @(Model.NoReg == null ? "disabled" : "")>
                                            Resep
                                        </a>*@
                                    <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }

</div>

<div id="modalViewKunjunganPoliklinik" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <!-- Modal content-->
        @Html.Partial("~/Views/KunjunganPoliklinik/ListHistoryKunjunganPoliklinik.cshtml")
    </div>
</div>

<div class="modal fade" id="modalprint_eresepA">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">APAKAH INGIN PRINT REPORT ?</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="noresep" />
                <input type="hidden" id="sectionfarmasi" />
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 text-right">
                    <a onclick="cetakresep_eresep()" id="btnprintresep"
                       class="btn btn-success position-right">
                        <span class="icon icon-printer"></span> Cetak PDF
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //$('.modal').on('hidden.bs.modal', function () {
    //        $('body').addClass('modal-open');
    //});
    $('.modal').on('hidden.bs.modal', function () {
        if ($('.modal.in').length > 0) $('body').addClass('modal-open');
    })

    function cetakulang_eresep(i) {

        var a = $('#KnjngPoli_List_' + i + '__Model_PrintEResepID').val();
        var b = $('#KnjngPoli_List_' + i + '__Model_PrintEResepFarmasi').val();
        if (a == "" && b == "") {
            alertpopup('aa')
            alertpopup('Buat resep Terlebih Dahulu');
        } else {
            $('#modalprint_eresepA #noresep').val(a);
            $('#modalprint_eresepA #sectionfarmasi').val(b);
            $('#modalprint_eresepA').modal();
        }

    }

    function cetakresep_eresep() {
        myajax({
            url: '@Url.Action("ExportPDF_EResep", "Resep")',
            data: { id: $('#noresep').val(), sectionfarmasi: $('#sectionfarmasi').val() },
                success: function (data) {
                    if (data.IsSuccess) {
                        alertpopup("Resep berhasil di cetak", 'success')
                        $('#modalprint_eresepA').modal('hide');
                    } else {
                        alertpopup(data.Message, 'danger');
                    }
                }
            });
    }

    function user_verif_kunjunganpoliklinik(param) {
         var reStatsDtlObses = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = param.id;
        const user_no = param.no;
        var x_this = param.ini;
        var noreg = $('#NoReg').val();
        var section = $('#KnjngPoli_List_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifkunjunganpoliklinik(noreg, section, user_id, user_no);
            if (ct >= limit || reStatsDtlObses == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDtlObses == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDtlObses == 1) {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_dtlkunjunganpoliklinik').addClass('disabled', true);
                    $('#kunjunganpoliklinik').click();
                    alertpopup("Verification Berhasil", "success");
                }
            }
            ct++;
        });

        function user_checkverifkunjunganpoliklinik(noreg, section, user_id, user_no) {
            myajax({
                url: '@Url.Action("CheckBerhasilKunjunganPoliklinik", "KunjunganPoliklinik")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id,
                    no: user_no,
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsDtlObses = 1;
                        }
                    }
                    else {
                        reStatsDtlObses = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreatekunjunganpoliklinik(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            var sectionid = '@Request.Cookies["SectionIDPelayanan"].Value';
            if (sectionid == 'SEC010') {
                window.location = '@Url.Action("Index", "RegistrasiPasienRJ", new { })';
            } else {
                $('#kunjunganpoliklinik').click();
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }

    }

    function bukamodalhistorypoliklinik() {
        $('#modalViewKunjunganPoliklinik').modal();
        $('#refreshhsitorypoliklinik').click();
    }

</script>

<script type="text/javascript">

    @if (Model != null)
    {
         if (Model.KnjngPoli_List != null)
        {
            for (var i = 0; i < Model.KnjngPoli_List.Count; i++)
            {

                    @:customdetailkjgpoli_Detail(@i, { target: $('#d_tbl_kjgpoli thead a i')[0] }, '@d_trg_kjgpoli', false);
            }

        }
    }

    function customdetailkjgpoli_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strnama = '#panel_Knjgpoli #KnjngPoli_List_' + index_detail + '__Model_Paraf';

        $(_strnama).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });
    }

    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }

            }
            _this.value = result + 1;

        }
        $(_this).removeAttr('onblur');

    }

    function pilihsoap(_this) {
        var valselect = $(_this).val();
        var tr = $($(_this).closest('tr'));
        tr.find('td:nth-child(8) textarea').val(valselect);
    }

    function pilihdiagnosa(_this) {
        var valselect = $(_this).val();
        var tr = $($(_this).closest('tr'));
        tr.find('td:nth-child(9) textarea').val(valselect);
    }

    function pilihintruksi(_this) {
        var valselect = $(_this).val();
        var tr = $($(_this).closest('tr'));
        tr.find('td:nth-child(10) textarea').val(valselect);
    }

    function pilihpoliumum(_this) {
        var valselect = $(_this).val();
        if (valselect == "Sehat Tidak Buta Warna") {
            var tr = $($(_this).closest('tr'));
            tr.find('td:nth-child(8) textarea').val('S:  Pasien mencari surat keterangan sehat dan tidak buta warna,\nO : TB :	cm, BB:	     kg, Gol. darah:     ,  Butawarna:  Negatif (-), Tekanan Darah:          mmHg, \nA : Sehat, \nP : tetap jaga Kesehatan');
            tr.find('td:nth-child(9) textarea').val(valselect);
            tr.find('td:nth-child(10) textarea').val('terbitkan surat keterangan sehat tidak buta warna');
        } else if (valselect == "Sehat tidak berpenyakit menular ( hepatitis)") {
            var tr = $($(_this).closest('tr'));
            tr.find('td:nth-child(8) textarea').val('S:  Pasien mencari surat keterangan sehat  bebas hepatitis, \nO : TB :	cm, BB:	     kg, Gol. darah:     ,  Butawarna:  Negatif (-), Tekanan Darah:          mmHg,		Hbsag : Non reaktif, \nA : Sehat, \nP : tetap jaga Kesehatan');
            tr.find('td:nth-child(9) textarea').val(valselect);
            tr.find('td:nth-child(10) textarea').val('terbitkan surat keterangan sehat tidak buta warna');
        } else if (valselect == "Sehat Tidak Berpenyakit Menular ( HIV)") {
            var tr = $($(_this).closest('tr'));
            tr.find('td:nth-child(8) textarea').val('S:  Pasien mencari surat keterangan sehat  tidak berpenyakit HIV, \nO : TB :	cm, BB:	     kg, Gol. darah:     ,  Butawarna:  Negatif (-), Tekanan Darah:          mmHg, Anti HIV:  Nonreaktif , \nA : Sehat, \nP : tetap jaga Kesehatan');
            tr.find('td:nth-child(9) textarea').val(valselect);
            tr.find('td:nth-child(10) textarea').val('terbitkan surat keterangan tidak berpenyakit menular (HIV)');
        } else if (valselect == "Surat Sehat tidak bertindik dan bertatto") {
            var tr = $($(_this).closest('tr'));
            tr.find('td:nth-child(8) textarea').val('S:  Pasien mencari surat keterangan sehat  tidak bertindik dan bertato , \nO : TB :	cm, BB:	     kg, Gol. darah:     ,  Butawarna:  Negatif (-), Tekanan Darah:          mmHg,   Bertindik : Tidak ada, Bertatto : Tidak ada , \nA : Sehat, \nP : tetap jaga Kesehatan');
            tr.find('td:nth-child(9) textarea').val(valselect);
            tr.find('td:nth-child(10) textarea').val('terbitkan surat keterangan tidak bertindik dan bertatto ');
        }
    }

    function pilihsoapilmudalam(_this)
    {
        var valselect = $(_this).val();
        if (valselect == "S: Kontrol," + "\n" + "O : Tekanan Darah: 120/80  mmHg, BSN :   mg/dl, GDP :    mg/dl, GD 2 jam PP :   mg/dl" + "\n" + "A : DM TYPE 2" + "\n" + "P : " + "\n" + "konsumsi obat teratur sesuai instruksi dokter" + "\n" + "Diet DM dan olahraga teratur" + "\n" + "Kontrol 1 bulan lagi atau sewaktu-waktu bila ada keluhan") {
            var tr = $($(_this).closest('tr'));
            tr.find('td:nth-child(8) textarea').val(valselect);
            tr.find('td:nth-child(9) textarea').val('DM TYPE 2');
        }
        else if (valselect == "S: Kontrol," + "\n" + "O : Tekanan Darah:       mmHg" + "\n" + "A : HHD" + "\n" + "P : " + "\n" + "konsumsi obat teratur sesuai instruksi dokter" + "\n" + "Diet rendah garam dan olahraga teratur" + "\n" + "Kontrol 1 bulan lagi atau sewaktu-waktu bila ada keluhan") {
            var tr = $($(_this).closest('tr'));
            tr.find('td:nth-child(8) textarea').val(valselect);
            tr.find('td:nth-child(9) textarea').val('HHD');
        }
        else if (valselect == "S: Kontrol," + "\n" + "O : Tekanan Darah:       mmHg" + "\n" + "A : HT" + "\n" + "P : " + "\n" + "konsumsi obat teratur sesuai instruksi dokter" + "\n" + "Diet rendah garam dan olahraga teratur" + "\n" + "Kontrol 1 bulan lagi atau sewaktu-waktu bila ada keluhan") {
            var tr = $($(_this).closest('tr'));
            tr.find('td:nth-child(8) textarea').val(valselect);
            tr.find('td:nth-child(9) textarea').val('HT');
        }
        else if (valselect == "S: Kontrol," + "\n" + "O : Tekanan Darah:       mmHg" + "\n" + "A : HIPERTIROID" + "\n" + "P : " + "\n" + "konsumsi obat teratur sesuai instruksi dokter" + "\n" + "Kontrol 1 bulan lagi atau sewaktu-waktu bila ada keluhan" + "\n") {
            var tr = $($(_this).closest('tr'));
            tr.find('td:nth-child(8) textarea').val(valselect);
            tr.find('td:nth-child(9) textarea').val('HIPERTIROID');
        }
        else if (valselect == "S: Kontrol," + "\n" + "O : Tekanan Darah:       mmHg" + "\n" + "A : CKD" + "\n" + "P : " + "\n" + "konsumsi obat teratur sesuai instruksi dokter" + "\n" + "Hemodialisis rutin" + "\n" + "Kontrol 1 bulan lagi atau sewaktu-waktu bila ada keluhan") {
            var tr = $($(_this).closest('tr'));
            tr.find('td:nth-child(8) textarea').val(valselect);
            tr.find('td:nth-child(9) textarea').val('CKD');
        }
        else if (valselect == "S: nyeri perut sejak    hari," + "\n" + "O : Tekanan Darah:       mmHg" + "\n" + "A : Abdominal Pain" + "\n" + "P : " + "\n" + "konsumsi obat teratur sesuai instruksi dokter" + "\n" + "Diet rendah garam dan olahraga teratur" + "\n" + "Kontrol 1 bulan lagi atau sewaktu-waktu bila ada keluhan") {
            var tr = $($(_this).closest('tr'));
            tr.find('td:nth-child(8) textarea').val(valselect);
            tr.find('td:nth-child(9) textarea').val('Abdominal Pain');
        }
        else if (valselect == "S: mual () muntah () nyeri ulu hati ()" + "\n" + "O : Tekanan Darah:       mmHg" + "\n" + "A : Dyspepsia" + "\n" + "P : " + "\n" + "konsumsi obat teratur sesuai instruksi dokter" + "\n" + "Diet rendah garam dan olahraga teratur" + "\n" + "Kontrol 1 bulan lagi atau sewaktu-waktu bila ada keluhan") {
            var tr = $($(_this).closest('tr'));
            tr.find('td:nth-child(8) textarea').val(valselect);
            tr.find('td:nth-child(9) textarea').val('Dyspepsia');
        } else if (valselect == "") {
            tr.find('td:nth-child(8) textarea').val();
            tr.find('td:nth-child(9) textarea').val('');
        }
    }

    function pilihsoapvaksincenter(_this) {
        var valselect = $(_this).val();
        if (valselect == "Pasien datang untuk melakukan vaksinasi meningitis" + "\n" + "Keluhan saat ini: tidak ada" + "\n" + "Riwayat penyakit: (-)" + "\n" + "Riwayat alergi: (-)" + "\n" + "Hamil: (-)" + "\n" + "TD: 120/80 mmHg" + "\n" + "N: 76 x/menit" + "\n" + "T: 36,5 C" + "\n" + "Pemeriksaan fisik: dbn" + "\n" + "\n" + "Ceklist vaksinasi: dalam batas normal") {
            var tr = $($(_this).closest('tr'));
            tr.find('td:nth-child(8) textarea').val(valselect);
            tr.find('td:nth-child(9) textarea').val('Layak Vaksin');
        }else if (valselect == "") {
            tr.find('td:nth-child(8) textarea').val();
            tr.find('td:nth-child(9) textarea').val('');
        }
    }
</script>


@{
    if (Model != null)
    {
        Model.KnjngPoli_List = null;
    }
}

<div id="@d_trg_kjgpoli" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.KnjngPoli_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.KnjngPoli_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.KnjngPoli_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.KnjngPoli_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("HH':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.KnjngPoli_List[-1].Model.Tempat, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @Value = Request.Cookies["SectionNamaPelayanan"].Value,
           @readonly = "readonly"
       }
   })
    </div>


    @if (Request.Cookies["SectionIDPelayanan"].Value == "SEC020" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0013")
    {
        <div class="input-detail">
            <div class="form-group">
                @Html.DropDownListFor(model => model.KnjngPoli_List[-1].Model.SOAPSelect,
                      StaticModel.ListSoap, new { @class = "form-control input-sm", onchange = "pilihsoap(this)" })
            </div>
            <div class="form-group">
                @Html.TextAreaFor(model => model.KnjngPoli_List[-1].Model.SOAP, new
                { @class = "form-control input-sm textareacustom" })
            </div>
        </div>
    }
    else if (Request.Cookies["SectionIDPelayanan"].Value == "SEC009")
    {
        <div class="input-detail">
            <div class="form-group">
                @Html.DropDownListFor(model => model.KnjngPoli_List[-1].Model.SOAPSelect,
                      StaticModel.ListSoapIlmuDalam, new { @class = "form-control input-sm", onchange = "pilihsoapilmudalam(this)" })
            </div>
            <div class="form-group">
                @Html.TextAreaFor(model => model.KnjngPoli_List[-1].Model.SOAP, new
                { @class = "form-control input-sm textareacustom" })
            </div>
        </div>
    }
    else if (Request.Cookies["SectionIDPelayanan"].Value == "SEC129")
    {
        <div class="input-detail">
            <div class="form-group">
                @Html.DropDownListFor(model => model.KnjngPoli_List[-1].Model.SOAPSelect,
                      StaticModel.ListSoapVaksinCenter, new { @class = "form-control input-sm", onchange = "pilihsoapvaksincenter(this)" })
            </div>
            <div class="form-group">
                @Html.TextAreaFor(model => model.KnjngPoli_List[-1].Model.SOAP, new
                { @class = "form-control input-sm textareacustom" })
            </div>
        </div>
    }
    else
    {
        <div class="input-detail">
            @Html.TextAreaFor(model => model.KnjngPoli_List[-1].Model.SOAP, new
       {
           @class = "form-control input-sm "
       })
        </div>
    }

    @if (Request.Cookies["SectionIDPelayanan"].Value == "SEC020" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0013")
    {
        <div class="input-detail">
            <div class="form-group">
                @Html.DropDownListFor(model => model.KnjngPoli_List[-1].Model.DiagnosaSelect,
                      StaticModel.ListDiagnosa, new { @class = "form-control input-sm", onchange = "pilihdiagnosa(this)" })
            </div>
            <div class="form-group">
                @Html.TextAreaFor(model => model.KnjngPoli_List[-1].Model.Diagnosa, new
                { @class = "form-control input-sm textareacustom" })
            </div>
        </div>
    }
    else if (Request.Cookies["SectionIDPelayanan"].Value == "SEC016")
    {
        <div class="input-detail">
            <div class="form-group">
                @Html.DropDownListFor(model => model.KnjngPoli_List[-1].Model.DiagnosaSelect,
                      StaticModel.ListDiagnosaPoliUmum, new { @class = "form-control input-sm", onchange = "pilihpoliumum(this)" })
            </div>
            <div class="form-group">
                @Html.TextAreaFor(model => model.KnjngPoli_List[-1].Model.Diagnosa, new
                { @class = "form-control input-sm textareacustom" })
            </div>
        </div>
    }
    else
    {
        <div class="input-detail">
            @Html.TextAreaFor(model => model.KnjngPoli_List[-1].Model.Diagnosa, new
        {
               @class = "form-control input-sm"
        })
        </div>
    }

    @if (Request.Cookies["SectionIDPelayanan"].Value == "SEC020" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0013")
    {
        <div class="input-detail">
            <div class="form-group">
                @Html.DropDownListFor(model => model.KnjngPoli_List[-1].Model.IntruksiSelect,
                      StaticModel.ListIntruksiterapi, new { @class = "form-control input-sm", onchange = "pilihintruksi(this)" })
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.KnjngPoli_List[-1].Model.Intruksi, new
                    { @class = "form-control input-sm textareacustom" })
                    @Html.HiddenFor(model => model.KnjngPoli_List[-1].Model.PrintEResepID, new
                    { @class = "printid" })
                    @Html.HiddenFor(model => model.KnjngPoli_List[-1].Model.PrintEResepFarmasi, new
                    { @class = "printid" })
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-sm" onclick="resepobat(this)" type="button">
                        Resep Obat
                        <i class="icon-plus2 position-right"></i>
                    </button>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="input-detail">
            <div class="form-group">
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.KnjngPoli_List[-1].Model.Intruksi, new
                     {
                            @class = "form-control input-sm"
                     })
                    @Html.HiddenFor(model => model.KnjngPoli_List[-1].Model.PrintEResepID, new
                   { @class = "form-control input-sm" })
                    @Html.HiddenFor(model => model.KnjngPoli_List[-1].Model.PrintEResepFarmasi, new
                    { @class = "form-control input-sm" })
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-sm" onclick="resepobat(this)" type="button">
                        Resep Obat
                        <i class="icon-plus2 position-right"></i>
                    </button>
                </div>
                <div class="col-md-12">
                    <a class="btn " onclick="cetakulang_eresep1(this)">
                        Print Ulang
                        <i class="icon-printer2 position-right"></i>
                    </a>
                </div>
            </div>
        </div>

    }


    <div class="input-detail">
        @Html.DropDownListFor(model => model.KnjngPoli_List[-1].Model.Paraf, new List<SelectListItem>
       {
            new SelectListItem { Text = Model.DokterNama, Value = Model.Dokter }
       })
    </div>
</div>

<script>
    function resepobat(t) {
        var tr = $($(t).closest('tr'));
        let row = tr.find('td:nth-child(9) textarea').attr('id');
        let replace = row.replace('KnjngPoli_List_', '');
        let replace2 = replace.replace('__Model_Diagnosa', '');
        angular.element('.panelresep').scope().ajaxmodal({
            url: '@Url.Action("Create", "Resep", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor, nrm = Model.NRM, poliklinik = "1", thiss = "replace2" })',
            header: 'Resep Obat',
            target_auto_refresh: 'table_resep',
                param: { id: '@Model.NoReg', section: '@Model.SectionID', nrm: '@Model.NRM', poliklinik: '1', thiss: replace2},
            });
    }

    function cetakulang_eresep1(t) {
        var tr = $($(t).closest('tr'));
        let row = tr.find('td:nth-child(9) textarea').attr('id');
        let replace = row.replace('KnjngPoli_List_', '');
        let replace2 = replace.replace('__Model_Diagnosa', '');
        cetakulang_eresep(replace2);
    }
</script>


