﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_AssesmentPoliUmum_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">

    @using (Html.BeginForm("AsesmenPoliUmum", controllerName, FormMethod.Post, new { id = formName, onsubmit = "loadingform(this)" }))
    {
        @Html.HiddenFor(Model => Model.AssPUmum.NoReg)
        @Html.HiddenFor(Model => Model.AssPUmum.SectionID)
        @Html.HiddenFor(Model => Model.AssPUmum.Nomor)
        @Html.HiddenFor(Model => Model.AssPUmum.NRM)
        @Html.HiddenFor(Model => Model.AssPUmum.TandaTanganNamaDokter)
        @Html.HiddenFor(Model => Model.AssPUmum.DokumenID)

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">ASSESMENT POLI UMUM</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssPUmum.TglKunjungan, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssPUmum.TglKunjungan != null ? (Model.AssPUmum.TglKunjungan.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.TglKunjungan, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssPUmum.JamKunjungan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssPUmum.JamKunjungan != null ? Model.AssPUmum.JamKunjungan.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.JamKunjungan, "", new { @class = "text-danger" })
                        </div>
                        <div class="control-label col-md-1">
                            Template
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssPUmum.Template, new List<SelectListItem>() {
                                new SelectListItem(){ Text = ViewBag.Template, Value = ViewBag.Template, Selected = true }
                            }, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                            <button type="button" onclick="loadTemplatetrauma()" class="btn btn-block btn-info"> LOAD</button>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Rujukan:
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssPUmum.Rujukan, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "rujukanpoliumum()" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.Rujukan, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Dokter :</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssPUmum.DokterRujukan, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.DokterRujukan, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">RS :</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssPUmum.RumahSakitRujukan, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.RumahSakitRujukan, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Lainnya :</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssPUmum.LainRujukan, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.LainRujukan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">TANDA VITAL</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Tekanan Darah :
                        </label>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.EditorFor(model => model.AssPUmum.TV_TekDarah, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPUmum.TV_TekDarah, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    mm/Hg
                                </label>
                            </div>
                        </div>
                        <label class="col-md-1 control-label">
                            Suhu :
                        </label>
                        <div class="col-md-2">
                            <div class="input-group">
                                @Html.EditorFor(model => model.AssPUmum.TV_Suhu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPUmum.TV_Suhu, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    <sub>o</sub>C
                                </label>
                            </div>
                        </div>
                        <label class="col-md-2 control-label">
                            Frekuensi Nafas :
                        </label>
                        <div class="col-md-2">
                            <div class="input-group">
                                @Html.EditorFor(model => model.AssPUmum.TV_FreNapas, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPUmum.TV_FreNapas, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    x/menit
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Frekuensi Nadi :
                        </label>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.EditorFor(model => model.AssPUmum.TV_FreNadi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPUmum.TV_FreNadi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    x/menit
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">FUNGSIONAL</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Alat Bantu</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssPUmum.FSL_AlatBantu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.FSL_AlatBantu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Cacat Tubuh</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssPUmum.FSL_CacatTbh, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.FSL_CacatTbh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">ADL</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.AssPUmum.FSL_ADL, StaticModel.ListADL, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.FSL_ADL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">SOSIAL - EKONOMI - SPIRITUAL</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Status Emosional :</label>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PES_StaNormal, new { htmlAttributes = new { } })
                                Normal
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PES_StaTidakSemangat, new { htmlAttributes = new { } })
                                Tidak Semangat
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PES_StaTertekan, new { htmlAttributes = new { } })
                                Tertekan
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PES_StaDepresi, new { htmlAttributes = new { } })
                                Depresi
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PES_StaCemas, new { htmlAttributes = new { } })
                                Cemas
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PES_StaSulitTidur, new { htmlAttributes = new { } })
                                Sulit Tidur
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Status Perkawinan :</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssPUmum.PES_StaKawin, StaticModel.ListStatusPerkawinan, new { @class = "form-control", onchange = "statuskawinpoliumum()" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PES_StaKawin, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssPUmum.PES_UsiaKawin, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PES_UsiaKawin, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">Bulan/ Tahun</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Jumlah Perkawinan :</label>
                        <label class="col-md-1 control-label">Istri:</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssPUmum.PES_JumIstri, StaticModel.ListJumlahNikah, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PES_JumIstri, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Suami:</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssPUmum.PES_JumSuami, StaticModel.ListJumlahNikah, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PES_JumSuami, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Tinggal Dengan :</label>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PES_TDOrangTua, new { htmlAttributes = new { } })
                                Orangtua
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PES_TDSuami, new { htmlAttributes = new { } })
                                Suami
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PES_TDAnak, new { htmlAttributes = new { } })
                                Anak
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PES_TDSendiri, new { htmlAttributes = new { } })
                                Sendiri
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PES_TDLain, new { htmlAttributes = new { onclick = "tinggaldenganpoliumum()" } })
                                Lainnya
                            </label>
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssPUmum.PES_KetTingglDengan, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PES_KetTingglDengan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Pekerjaan :</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssPUmum.PES_Pekerjaan, StaticModel.ListPekerjaanPoliUmum, new { @class = "form-control", onchange = "pekerjaanpoliumum()" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PES_Pekerjaan, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AssPUmum.PES_KetPekerjaan, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PES_KetPekerjaan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Cara Pembayaran :</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssPUmum.PES_CaraBayar, StaticModel.ListCaraPembayaran, new { @class = "form-control", onchange = "carabayarpoliumum()" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PES_CaraBayar, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AssPUmum.PES_KetCaraBayar, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PES_KetCaraBayar, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Agama :</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssPUmum.PES_Agama, StaticModel.ListAgamaPoliUmum, new { @class = "form-control", onchange = "agamapoliumum()" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PES_Agama, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AssPUmum.PES_KetAgama, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PES_KetAgama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">Budaya dalam keluarga yang mempengaruhi pola kesehatan keluarga :</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssPUmum.PES_BudayaPola, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "bdypolapoliumum()" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PES_BudayaPola, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Jelaskan :</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AssPUmum.PES_KetBudayaPola, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PES_KetBudayaPola, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">PENILAIAN NYERI</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Adakah Keluhan Nyeri:</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssPUmum.PNyeri_Nyeri, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "nyeripoliumum()" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PNyeri_Nyeri, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Lanjutkan :</label>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.AssPUmum.PNyeri_NyeriKet, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PNyeri_NyeriKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Penyebab/ Provoke:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssPUmum.PNyeri_PenyebabNyeri, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PNyeri_PenyebabNyeri, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Kualitas/ Quality :</label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PNyeri_KQMenekan, new { htmlAttributes = new { } })
                                Menekan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PNyeri_KQMenusuk, new { htmlAttributes = new { } })
                                Menusuk
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PNyeri_KQBerdenyut, new { htmlAttributes = new { } })
                                Berdenyut
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PNyeri_KQMenyebar, new { htmlAttributes = new { } })
                                Menyebar
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PNyeri_KQMenyengat, new { htmlAttributes = new { } })
                                Menyengat
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PNyeri_KQPedih, new { htmlAttributes = new { } })
                                Pedih
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Lokasi/ Radius :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssPUmum.PNyeri_Lokasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PNyeri_Lokasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Intensitas/ Scala :</label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PNyeri_IntenWBFP, new { htmlAttributes = new { } })
                                Menekan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PNyeri_IntenNRS, new { htmlAttributes = new { } })
                                Menusuk
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.PNyeri_IntenFLACC, new { htmlAttributes = new { onclick = "flaccpoliumum()" } })
                                Berdenyut
                            </label>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssPUmum.PNyeri_Score, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PNyeri_Score, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Kategori Nyeri:</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssPUmum.PNyeri_KategoriNyeri, StaticModel.ListKategoriNyeri, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PNyeri_KategoriNyeri, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Durasi/ Time</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Mulai kapan
                                </label>
                                @Html.EditorFor(model => model.AssPUmum.PNyeri_MulaiKpn, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPUmum.PNyeri_MulaiKpn, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Berapa Lama
                                </label>
                                @Html.EditorFor(model => model.AssPUmum.PNyeri_BrpLama, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPUmum.PNyeri_BrpLama, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-5">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Frekuensi
                                </label>
                                @Html.EditorFor(model => model.AssPUmum.PNyeri_FrekDurasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPUmum.PNyeri_FrekDurasi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Nyeri Hilang Jika
                                </label>
                                @Html.EditorFor(model => model.AssPUmum.PNyeri_HilangJika, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPUmum.PNyeri_HilangJika, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            PENILAIAN NUTRISI
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">BB</label>
                                @Html.EditorFor(model => model.AssPUmum.PN_BB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPUmum.PN_BB, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Kg</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">TB</label>
                                @Html.EditorFor(model => model.AssPUmum.PN_TB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPUmum.PN_TB, "", new { @class = "text-danger" })
                                <label class="input-group-addon">cm</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">LILA</label>
                                @Html.EditorFor(model => model.AssPUmum.PN_LILA, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPUmum.PN_LILA, "", new { @class = "text-danger" })
                                <label class="input-group-addon">cm</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">IMT</label>
                                @Html.EditorFor(model => model.AssPUmum.PN_IMT, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPUmum.PN_IMT, "", new { @class = "text-danger" })
                                <label class="input-group-addon">kg/cm<sup>2</sup></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">
                            <b>Malnutrision screening tool (Mst)</b> untuk pasien dewasa
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">1. Apakah ada Penurunan berat badan yang tidak di inginkan selama 6 bulan terakhir ?</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">(Tanda: Ukuran baju atau celana menjadi lebih longgar)</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssPUmum.PN_BrtBadan, StaticModel.ListMstYaTidak, new { @class = "form-control", onchange = "skormstpoliumum()" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PN_BrtBadan, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssPUmum.PN_BrtBadanYa, StaticModel.ListMstYaSkor, new { @class = "form-control", disabled = true, onchange = "skormstpoliumum()" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PN_AsupMakan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">Apakah Asupan makan menurun dikarenakan adanya penurunan nafsu makan atau kesulitab menerima makan?</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssPUmum.PN_AsupMakan, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "skormstpoliumum()" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PN_AsupMakan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label text-bold">Total Skor :</label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.AssPUmum.PN_TotalSkor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PN_TotalSkor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label text-bold">Keterangan :</label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.AssPUmum.PN_TotalSkorKet, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.PN_TotalSkorKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label text-bold">PENILAIAN RESIKO JATUH</label>
                    </div>
                    <div class="form-group">
                        <div class="table-responsive">

                            <table class="table table-hover table-bordered">
                                <tr>
                                    <th>Anak -  Anak/ < 18 Thn</th>
                                    <th>Skor</th>
                                    <th>Dewasa / 18-59 Thn</th>
                                    <th>Skor</th>
                                    <th>Lansia/ > 60 Thn</th>
                                    <th>Skor</th>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DropDownListFor(model => model.AssPUmum.PRJ_Anak, StaticModel.ListMstYaSkor, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AssPUmum.PRJ_Anak, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.AssPUmum.PRJ_ScrAnak, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AssPUmum.PRJ_ScrAnak, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.AssPUmum.PRJ_Dewasa, StaticModel.ListMstYaSkor, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AssPUmum.PRJ_Dewasa, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.AssPUmum.PRJ_ScrDewasa, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AssPUmum.PRJ_ScrDewasa, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.AssPUmum.PRJ_Lansia, StaticModel.ListMstYaSkor, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AssPUmum.PRJ_Lansia, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.AssPUmum.PRJ_ScrLansia, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AssPUmum.PRJ_ScrLansia, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label text-bold">RIWAYAT KESEHATAN</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Riwayat Alergi :</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssPUmum.RK_RiwayatAlergi, StaticModel.ListRiwayatAlergi, new { @class = "form-control", onclick = "riwayatalergipoliumu()" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.RK_RiwayatAlergi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssPUmum.RK_JenisAlergi, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.RK_JenisAlergi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Reaksi</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssPUmum.RK_Reaksi, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.RK_Reaksi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control label">Riwayat Penyakit Dahulu:</label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.RK_RPD_TidakAda, new { htmlAttributes = new { } })
                                Tidak Ada
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.RK_RPD_Hipertensi, new { htmlAttributes = new { } })
                                Hipertensi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.RK_RPD_TbParu, new { htmlAttributes = new { } })
                                Paru
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssPUmum.RK_RPD_Lain, new { htmlAttributes = new { onclick = "rpdlainpoliumum()" } })
                                Lainnya
                            </label>
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssPUmum.RK_RPD_LainKet, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssPUmum.RK_RPD_LainKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">PEMERIKSA FISIKI, HASIL PEMERIKSAAN PENUJANG (O):</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssPUmum.KetPemeriksaanFisik, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.KetPemeriksaanFisik, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">DIAGNOSA(A):</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssPUmum.KetDiagnosa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.KetDiagnosa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">RENCANA TERAPI/ TINDAKAN DAN EDUKASI(P):</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssPUmum.KetRencanaTerapi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.KetRencanaTerapi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Dokter
                        </label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.AssPUmum.NamaDokter, Model.AssPUmum.NamaDokter == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.AssPUmum.NamaDokter.ToString(), Text = Model.AssPUmum.NamaDokterNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssPUmum.NamaDokter, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.AssPUmum.SudahRegNamaDokter == 0)
                            {
                                <a id="btn_assumumdokter" class="btn btn-primary btn-sm disabled" onclick="user_verif_assumumdokter()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssPUmumNamaDokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_assumumdokter" class="btn btn-primary btn-sm" onclick="user_verif_assumumdokter()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssPUmumNamaDokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssPUmum.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                @Html.EditorFor(model => model.AssPUmum.nama_template, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssPUmum.nama_template, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.AssPUmum.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFAssesmentPoliUmum", new { noreg = Model.AssPUmum.NoReg, sectionid = Model.AssPUmum.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.AssPUmum.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokterpengajian = $('#@formName #AssPUmum_NamaDokter');

    dokterpengajian.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    $('#AssPUmum_Template').select2({
        ajax: {
            url: "@Url.Action("ListTamplet", "TemplatePoliDalam")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaTemplate',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', ''],
                    dokumenid: $('#AssPUmum_DokumenID').val(),
                    dokter: $('#AssPUmum_NamaDokter').val()
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.NamaTemplate, text: value.NamaTemplate } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });
</script>


<script src="~/scripts/jquery.timer.js"></script>
<!--JS Lainnya-->
<script>
    function user_verif_assumumdokter() {
        var reStatsAssUmumDOkter= 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#AssPUmum_NamaDokter').val();
        var noreg = $('#AssPUmum_NoReg').val();
        var section = $('#AssPUmum_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifassumumdokter(noreg, section, user_id);
            if (ct >= limit || reStatsAssUmumDOkter== 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsAssUmumDOkter== 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsAssUmumDOkter== 1) {
                    alertpopup("Verification success!", "success");
                    location.reload();
                }
            }
            ct++;
        });

        function user_checkverifassumumdokter(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilAssUmum", "VerifAssUmum")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsAssUmumDOkter= 1;
                        }
                    }
                    else {
                        reStatsAssUmumDOkter= 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function loadTemplatetrauma() {
        var id = $('#AssPUmum_DokumenID').val();
        var nama = $('#AssPUmum_Template').val();
        $.ajax({
            dataType: 'JSON',
            method: "GET",
            url: '@Url.Action("GetTemplatPoliUmum", "TemplatePoliDalam")',
            data: {
                id: id,
                nama: nama
            },
            success: function (data) {
                $('#AssPUmum_Rujukan').val(data.Data.Rujukan);
                $('#AssPUmum_DokterRujukan').val(data.Data.DokterRujukan);
                $('#AssPUmum_DxRujukan').val(data.Data.DxRujukan);
                $('#AssPUmum_RumahSakitRujukan').val(data.Data.RumahSakitRujukan);
                $('#AssPUmum_LainRujukan').val(data.Data.LainRujukan);
                $('#AssPUmum_DiagRujukan').val(data.Data.DiagRujukan);
                $('#AssPUmum_TV_TekDarah').val(data.Data.TV_TekDarah);
                $('#AssPUmum_TV_FreNapas').val(data.Data.TV_FreNapas);
                $('#AssPUmum_TV_Suhu').val(data.Data.TV_Suhu);
                $('#AssPUmum_TV_FreNadi').val(data.Data.TV_FreNadi);
                $('#AssPUmum_FSL_AlatBantu').val(data.Data.FSL_AlatBantu);
                $('#AssPUmum_FSL_CacatTbh').val(data.Data.FSL_CacatTbh);
                $('#AssPUmum_FSL_ADL').val(data.Data.FSL_ADL);
                $('#AssPUmum_PES_StatusEmosional_Normal').prop('checked', data.Data.PES_StatusEmosional_Normal == 1 ? true : false);
                $('#AssPUmum_PES_StatusEmosional_TidakSemangat').prop('checked', data.Data.PES_StatusEmosional_TidakSemangat == 1 ? true : false);
                $('#AssPUmum_PES_StatusEmosional_Tertekan').prop('checked', data.Data.PES_StatusEmosional_Tertekan == 1 ? true : false);
                $('#AssPUmum_PES_StatusEmosional_Depresi').prop('checked', data.Data.PES_StatusEmosional_Depresi == 1 ? true : false);
                $('#AssPUmum_PES_StatusEmosional_Cemas').prop('checked', data.Data.PES_StatusEmosional_Cemas == 1 ? true : false);
                $('#AssPUmum_PES_StatusEmosional_SulitTidur').prop('checked', data.Data.AssPUmum_PES_StatusEmosional_SulitTidur == 1 ? true : false);
                $('#AssPUmum_PES_StaKawin').val(data.Data.PES_StaKawin);
                $('#AssPUmum_PES_JumIstri').val(data.Data.PES_JumIstri);
                $('#AssPUmum_PES_JumSuami').val(data.Data.PES_JumSuami);
                $('#AssPUmum_PES_Pekerjaan').val(data.Data.PES_Pekerjaan);
                $('#AssPUmum_PES_CaraBayar').val(data.Data._PES_CaraBayar);
                $('#AssPUmum_PES_Agama').val(data.Data.PES_Agama);
                $('#AssPUmum_PES_UsiaKawin').val(data.Data.PES_UsiaKawin);
                $('#AssPUmum_PES_KetTingglDengan').val(data.Data.PES_KetTingglDengan);
                $('#AssPUmum_PES_KetPekerjaan').val(data.Data.PES_KetPekerjaan);
                $('#AssPUmum_PES_KetCaraBayar').val(data.Data.PES_KetCaraBayar);
                $('#AssPUmum_PES_KetAgama').val(data.Data.PES_KetAgama);
                $('#AssPUmum_PES_StaNormal').prop('checked', data.Data.PES_StaNormal == 1 ? true : false);
                $('#AssPUmum_PES_StaTidakSemangat').prop('checked', data.Data.PES_StaTidakSemangat == 1 ? true : false);
                $('#AssPUmum_PES_StaTertekan').prop('checked', data.Data.PES_StaTertekan == 1 ? true : false);
                $('#AssPUmum_PES_StaDepresi').prop('checked', data.Data.PES_StaDepresi == 1 ? true : false);
                $('#AssPUmum_PES_StaCemas').prop('checked', data.Data.PES_StaCemas == 1 ? true : false);
                $('#AssPUmum_PES_StaSulitTidur').prop('checked', data.Data.PES_StaSulitTidur == 1 ? true : false);
                $('#AssPUmum_PES_TDOrangTua').prop('checked', data.Data.PES_TDOrangTua == 1 ? true : false);
                $('#AssPUmum_PES_TDSuami').prop('checked', data.Data.PES_TDSuami == 1 ? true : false);
                $('#AssPUmum_PES_TDAnak').prop('checked', data.Data.PES_TDAnak == 1 ? true : false);
                $('#AssPUmum_PES_TDSendiri').prop('checked', data.Data.PES_TDSendiri == 1 ? true : false);
                $('#AssPUmum_PES_TDLain').prop('checked', data.Data.PES_TDLain == 1 ? true : false);
                $('#AssPUmum_PES_BudayaPola').val(data.Data.PES_BudayaPola);
                $('#AssPUmum_PES_KetBudayaPola').val(data.Data.PES_KetBudayaPola);
                $('#AssPUmum_PNyeri_Nyeri').val(data.Data.PNyeri_Nyeri);
                $('#AssPUmum_PNyeri_NyeriKet').val(data.Data.PNyeri_NyeriKet);
                $('#AssPUmum_PNyeri_PenyebabNyeri').val(data.Data.PNyeri_PenyebabNyeri);
                $('#AssPUmum_PNyeri_KQMenekan').prop('checked', data.Data.PNyeri_KQMenekan == 1 ? true : false);
                $('#AssPUmum_PNyeri_KQMenusuk').prop('checked', data.Data.PNyeri_KQMenusuk == 1 ? true : false);
                $('#AssPUmum_PNyeri_KQBerdenyut').prop('checked', data.Data.PNyeri_KQBerdenyut == 1 ? true : false);
                $('#AssPUmum_PNyeri_KQMenyebar').prop('checked', data.Data.PNyeri_KQMenyebar == 1 ? true : false);
                $('#AssPUmum_PNyeri_KQMenyengat').prop('checked', data.Data.PNyeri_KQMenyengat == 1 ? true : false);
                $('#AssPUmum_PNyeri_KQPedih').prop('checked', data.Data.PNyeri_KQPedih == 1 ? true : false);
                $('#AssPUmum_PNyeri_Lokasi').val(data.Data.PNyeri_Lokasi);
                $('#AssPUmum_PNyeri_IntenWBFP').prop('checked', data.Data.PNyeri_IntenWBFP == 1 ? true : false);
                $('#AssPUmum_PNyeri_IntenNRS').prop('checked', data.Data.PNyeri_IntenNRS == 1 ? true : false);
                $('#AssPUmum_PNyeri_IntenFLACC').prop('checked', data.Data.PNyeri_IntenFLACC == 1 ? true : false);
                $('#AssPUmum_PNyeri_Score').val(data.Data.PNyeri_Score);
                $('#AssPUmum_PNyeri_KategoriNyeri').val(data.Data.PNyeri_KategoriNyeri);
                $('#AssPUmum_PNyeri_MulaiKpn').val(data.Data.PNyeri_MulaiKpn);
                $('#AssPUmum_PNyeri_BrpLama').val(data.Data.PNyeri_BrpLama);
                $('#AssPUmum_PNyeri_FrekDurasi').val(data.Data.PNyeri_FrekDurasi);
                $('#AssPUmum_PNyeri_HilangJika').val(data.Data.PNyeri_HilangJika);
                $('#AssPUmum_PN_BB').val(data.Data.PN_BB);
                $('#AssPUmum_PN_TB').val(data.Data.PN_TB);
                $('#AssPUmum_PN_LILA').val(data.Data.PN_LILA);
                $('#AssPUmum_PN_IMT').val(data.Data.PN_IMT);
                $('#AssPUmum_NamaJudul').val(data.Data.NamaJudul);
                $('#AssPUmum_NamaPasien').val(data.Data.NamaPasien);
                $('#AssPUmum_TglLahir').val(data.Data.TglLahir);
                $('#AssPUmum_PN_BrtBadan').val(data.Data.PN_BrtBadan);
                $('#AssPUmum_PN_BrtBadanYa').val(data.Data.PN_BrtBadanYa);
                $('#AssPUmum_PN_AsupMakan').val(data.Data.PN_AsupMakan);
                $('#AssPUmum_PN_TotalSkor').val(data.Data.PN_TotalSkor);
                $('#AssPUmum_PN_TotalSkorKet').val(data.Data.PN_TotalSkorKet);
                $('#AssPUmum_PRJ_Usia').val(data.Data.PRJ_Usia);
                $('#AssPUmum_PRJ_Anak').val(data.Data.PRJ_Anak);
                $('#AssPUmum_PRJ_Dewasa').val(data.Data.PRJ_Dewasa);
                $('#AssPUmum_PRJ_Lansia').val(data.Data.PRJ_Lansia);
                $('#AssPUmum_PRJ_ScrAnak').val(data.Data.PRJ_ScrAnak);
                $('#AssPUmum_PRJ_ScrDewasa').val(data.Data.PRJ_ScrDewasa);
                $('#AssPUmum_PRJ_ScrLansia').val(data.Data.PRJ_ScrLansia);
                $('#AssPUmum_RK_RiwayatAlergi').val(data.Data.RK_RiwayatAlergi);
                $('#AssPUmum_RK_RPD_TidakAda').prop('checked', data.Data.RK_RPD_TidakAda == 1 ? true : false);
                $('#AssPUmum_RK_RPD_Hipertensi').prop('checked', data.Data.RK_RPD_Hipertensi == 1 ? true : false);
                $('#AssPUmum_RK_RPD_TbParu').prop('checked', data.Data.RK_RPD_TbParu == 1 ? true : false);
                $('#AssPUmum_RK_RPD_Lain').prop('checked', data.Data.RK_RPD_Lain == 1 ? true : false);
                $('#AssPUmum_RK_RPD_LainKet').val(data.Data.RK_RPD_LainKet);
                $('#AssPUmum_RK_RPK_TidakAda').prop('checked', data.Data.RK_RPK_TidakAda == 1 ? true : false);
                $('#AssPUmum_RK_RPK_Hipertensi').prop('checked', data.Data.RK_RPK_Hipertensi == 1 ? true : false);
                $('#AssPUmum_RK_RPK_TbParu').prop('checked', data.Data.RK_RPK_TbParu == 1 ? true : false);
                $('#AssPUmum_RK_RPK_Lain').prop('checked', data.Data.RK_RPK_Lain == 1 ? true : false);
                $('#AssPUmum_RK_RPK_LainKet').val(data.Data.RK_RPK_LainKet);
                $('#AssPUmum_RK_JenisAlergi').val(data.Data.RK_JenisAlergi);
                $('#AssPUmum_RK_Reaksi').val(data.Data.RK_Reaksi);
                $('#AssPUmum_RK_KetRPD').val(data.Data.RK_KetRPD);
                $('#AssPUmum_RK_KetRPK').val(data.Data.RK_KetRPK);
                $('#AssPUmum_RK_KetRKS').val(data.Data.RK_KetRKS);
                $('#AssPUmum_KetPemeriksaanFisik').val(data.Data.KetPemeriksaanFisik);
                $('#AssPUmum_KetDiagnosa').val(data.Data.KetDiagnosa);
                $('#AssPUmum_KetRencanaTerapi').val(data.Data.KetRencanaTerapi);
                $('#AssPUmum_NamaDokter').val(data.Data.NamaDokter);
            }
        });
    }

    function skormstpoliumum() {
        var a = 0;
        var b = 0;
        var c = 0;


        if ($("#AssPUmum_PN_BrtBadan option:selected").val() == 'Ya') {
            $('#AssPUmum_PN_BrtBadanYa').prop('disabled', false);
            a = 0;
        } else if ($("#AssPUmum_PN_BrtBadan option:selected").val() == 'Tidak Yakin') {
            $('#AssPUmum_PN_BrtBadanYa').prop('disabled', true);
            $('#AssPUmum_PN_BrtBadanYa').val('');
            a = 1;
        } else if ($("#AssPUmum_PN_BrtBadan option:selected").val() == 'Tidak') {
            $('#AssPUmum_PN_BrtBadanYa').prop('disabled', true);
            $('#AssPUmum_PN_BrtBadanYa').val('');
            a = 0;
        }

        if ($("#AssPUmum_PN_BrtBadanYa option:selected").val() == '1-5 kg') {
            b = 1;
        } else if ($("#AssPUmum_PN_BrtBadanYa option:selected").val() == '6-10 kg') {
            b = 2;
        } else if ($("#AssPUmum_PN_BrtBadanYa option:selected").val() == '10-15 kg') {
            b = 3;
        } else if ($("#AssPUmum_PN_BrtBadanYa option:selected").val() == '<=15 kg') {
            b = 4;
        }

        if ($("#AssPUmum_PN_AsupMakan option:selected").val() == 'Ya') {
            c = 1;
        } else if ($("#AssPUmum_PN_AsupMakan option:selected").val() == 'Tidak') {
            c = 0;
        }

        const d = a + b + c;
        $("#AssPUmum_PN_TotalSkor").val(d);

        if (d == 0 && d <= 1) {
            $("#AssPUmum_PN_TotalSkorKet").val('Tidak Beresiko');
        } else if (d >= 2 && d <= 4) {
            $("#AssPUmum_PN_TotalSkorKet").val('Beresiko -> memerlukan asesmengizi');
        } else if (d >= 4) {
            $("#AssPUmum_PN_TotalSkorKet").val('Malnutrisi');
        }





    }

    function rpdlainpoliumum() {
        if ($("#AssPUmum_RK_RPD_Lain").is(':checked')) {
            $('#AssPUmum_RK_RPD_LainKet').prop('disabled', false);
        } else {
            $('#AssPUmum_RK_RPD_LainKet').prop('disabled', true);
            $('#AssPUmum_RK_RPD_LainKet').val('');
        }
    }

    function rpklainpoliumum() {
        if ($("#AssPUmum_RK_RPK_Lain").is(':checked')) {
            $('#AssPUmum.RK_RPK_LainKet').prop('disabled', false);
        } else {
            $('#AssPUmum.RK_RPK_LainKet').prop('disabled', true);
            $('#AssPUmum.RK_RPK_LainKet').val('');
        }
    }

    function tinggaldenganpoliumum() {
        if ($("#AssPUmum_PES_TDLain").is(':checked')) {
            $('#AssPUmum_PES_KetTingglDengan').prop('disabled', false);
        } else {
            $('#AssPUmum_PES_KetTingglDengan').prop('disabled', true);
            $('#AssPUmum_PES_KetTingglDengan').val('');
        }
    }

    function flaccpoliumum() {
        if ($("#AssPUmum_PNyeri_IntenFLACC").is(':checked')) {
            $('#AssPUmum_PNyeri_Score').prop('disabled', false);
        } else {
            $('#AssPUmum_PNyeri_Score').prop('disabled', true);
            $('#AssPUmum_PNyeri_Score').val('');
        }
    }

    function rujukanpoliumum() {
        if ($("#AssPUmum_Rujukan option:selected").val() == 'Ya') {
            $('#AssPUmum_DokterRujukan').prop('disabled', false);
            $('#AssPUmum_RumahSakitRujukan').prop('disabled', false);
            $('#AssPUmum_LainRujukan').prop('disabled', false);
        } else {
            $('#AssPUmum_DokterRujukan').prop('disabled', true);
            $('#AssPUmum_DokterRujukan').val('');
            $('#AssPUmum_RumahSakitRujukan').prop('disabled', true);
            $('#AssPUmum_RumahSakitRujukan').val('');
            $('#AssPUmum_LainRujukan').prop('disabled', true);
            $('#AssPUmum_LainRujukan').val('');
        }
    }

    function statuskawinpoliumum() {
        if ($("#AssPUmum_PES_StaKawin option:selected").val() == 'Janda') {
            $('#AssPUmum_PES_UsiaKawin').prop('disabled', false);
        } else {
            $('#AssPUmum_PES_UsiaKawin').prop('disabled', true);
            $('#AssPUmum_PES_UsiaKawin').val('');
        }
    }

    function pekerjaanpoliumum() {
        if ($("#AssPUmum_PES_Pekerjaan option:selected").val() == 'Lainnya') {
            $('#AssPUmum_PES_KetPekerjaan').prop('disabled', false);
        } else {
            $('#AssPUmum_PES_KetPekerjaan').prop('disabled', true);
            $('#AssPUmum_PES_KetPekerjaan').val('');
        }
    }

    function riwayatalergipoliumu() {
        if ($("#AssPUmum_RK_RiwayatAlergi option:selected").val() == 'Alergi Jenis') {
            $('#AssPUmum_RK_JenisAlergi').prop('disabled', false);
            $('#AssPUmum_RK_Reaksi').prop('disabled', false);
        } else {
            $('#AssPUmum_RK_JenisAlergi').prop('disabled', true);
            $('#AssPUmum_RK_JenisAlergi').val('');
            $('#AssPUmum_RK_Reaksi').prop('disabled', true);
            $('#AssPUmum_RK_Reaksi').val('');
        }
    }

    function carabayarpoliumum() {
        if ($("#AssPUmum_PES_CaraBayar option:selected").val() == 'Lainnya') {
            $('#AssPUmum_PES_KetCaraBayar').prop('disabled', false);
        } else {
            $('#AssPUmum_PES_KetCaraBayar').prop('disabled', true);
            $('#AssPUmum_PES_KetCaraBayar').val('');
        }
    }

    function agamapoliumum() {
        if ($("#AssPUmum_PES_Agama option:selected").val() == 'Lainnya') {
            $('#AssPUmum_PES_KetAgama').prop('disabled', false);
        } else {
            $('#AssPUmum_PES_KetAgama').prop('disabled', true);
            $('#AssPUmum_PES_KetAgama').val('');
        }
    }

    function bdypolapoliumum() {
        if ($("#AssPUmum_PES_BudayaPola option:selected").val() == 'Ya') {
            $('#AssPUmum_PES_KetBudayaPola').prop('disabled', false);
        } else {
            $('#AssPUmum_PES_KetBudayaPola').prop('disabled', true);
            $('#AssPUmum_PES_KetBudayaPola').val('');
        }
    }

    function nyeripoliumum() {
        if ($("#AssPUmum_PNyeri_Nyeri option:selected").val() == 'Ya') {
            $('#AssPUmum_PNyeri_NyeriKet').prop('disabled', false);
        } else {
            $('#AssPUmum_PNyeri_NyeriKet').prop('disabled', true);
            $('#AssPUmum_PNyeri_NyeriKet').val('');
        }
    }

    $(document).ready(function () {
        rujukanpoliumum();
        statuskawinpoliumum();
        tinggaldenganpoliumum();
        pekerjaanpoliumum();
        carabayarpoliumum();
        agamapoliumum();
        bdypolapoliumum();
        nyeripoliumum();
        flaccpoliumum();
        riwayatalergipoliumu();
        rpdlainpoliumum();
        rpklainpoliumum();
    });

</script>