﻿
@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_IlmuPenyakitBedahNonTrauma_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">

    @using (Html.BeginForm("IlmuPenyakitBedahNonTrauma", controllerName, FormMethod.Post, new { id = formName, onsubmit = "loadingform(this)" }))
    {
        @Html.HiddenFor(Model => Model.AssBdhNonTraum.NoReg)
        @Html.HiddenFor(Model => Model.AssBdhNonTraum.SectionID)
        @Html.HiddenFor(Model => Model.AssBdhNonTraum.Nomor)
        @Html.HiddenFor(Model => Model.AssBdhNonTraum.NRM)
        @Html.HiddenFor(Model => Model.AssBdhNonTraum.TandaTanganDPJP)
        @Html.HiddenFor(Model => Model.AssBdhNonTraum.DokumenID)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">ILMU PENYAKIT BEDAH NON TRAUMA</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssBdhNonTraum.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssBdhNonTraum.Tanggal != null ? (Model.AssBdhNonTraum.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssBdhNonTraum.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssBdhNonTraum.Jam != null ? Model.AssBdhNonTraum.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Jam, "", new { @class = "text-danger" })
                        </div>
                        <div class="control-label col-md-1">
                            Template
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.Template, new List<SelectListItem>() {
                                new SelectListItem(){ Text = ViewBag.Template, Value = ViewBag.Template, Selected = true }
                            }, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                            <button type="button" onclick="loadTemplatenontrauma()" class="btn btn-block btn-info"> LOAD</button>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Rujukan :
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssBdhNonTraum.Rujukan_Ya, new { htmlAttributes = new { onclick = "rujukannonbdh()" } })
                                Ya, Dari
                            </label>
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AssBdhNonTraum.Rujukan_Ya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Rujukan_Ya_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Dx Rujukan :
                        </label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AssBdhNonTraum.DxRujukan, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.DxRujukan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssBdhNonTraum.Rujuan_Tidak, new { htmlAttributes = new { } })
                                Tidak
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-md-2">
                                Nama Keluarga :
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.AssBdhNonTraum.NamaKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AssBdhNonTraum.NamaKeluarga != null ? (Model.AssBdhNonTraum.NamaKeluarga) : "") } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.NamaKeluarga, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-md-2 control-label">
                                No. HP/ Telp :
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.AssBdhNonTraum.TeleponKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AssBdhNonTraum.TeleponKeluarga != null ? (Model.AssBdhNonTraum.TeleponKeluarga) : "") } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.TeleponKeluarga, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Alamat
                            </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AssBdhNonTraum.AlamatKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AssBdhNonTraum.AlamatKeluarga != null ? (Model.AssBdhNonTraum.AlamatKeluarga) : "") } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.AlamatKeluarga, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Transportasi Datang :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.Transportasi, StaticModel.ListTransportasi, new { @class = "form-control", onchange = "transportnonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Transportasi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.Transportasi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Transportasi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            RIWAYAT ALEGRI :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.RiwayatAlergi, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "riwayatalerginonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.RiwayatAlergi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatAlergi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.RiwayatAlergi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-3 control-label">KELUHAN UTAMA :</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.AssBdhNonTraum.KeluhanUtama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.KeluhanUtama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-3 control-label">RIWAYAT PENYAKIT SEKARANG :</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.AssBdhNonTraum.RiwayatPenyakitSekarang, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.RiwayatPenyakitSekarang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-3 control-label">RIWAYAT PENGOBATAN :</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.AssBdhNonTraum.RiwayatPengobatan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.RiwayatPengobatan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            PENILAIAN NYERI
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Nyeri :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.Nyeri, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "nyerinonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Nyeri, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Lokasi :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssBdhNonTraum.Lokasi, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Lokasi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Intensitas:
                        </label>
                        <div class="col-md-1">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.Intensitas, StaticModel.ListIntensitas, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Intensitas, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/Sekor.JPG" style="display:block; width:100%;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Jenis :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.Jenis, StaticModel.List_Jenis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Jenis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-4 text-bold">
                            Riwayat Penyakit  :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_Hipertensi, new { htmlAttributes = new { } })
                                Hipertensi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_Diabetes, new { htmlAttributes = new { } })
                                Diabetes
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_Jantung, new { htmlAttributes = new { } })
                                Jantung
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_Stroke, new { htmlAttributes = new { } })
                                Stroke
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_Dialysis, new { htmlAttributes = new { } })
                                Dialysis
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_Asma, new { htmlAttributes = new { } })
                                Asma
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_Kejang, new { htmlAttributes = new { } })
                                Kejang
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_Liver, new { htmlAttributes = new { } })
                                Liver
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_Cancer, new { htmlAttributes = new { } })
                                Cancer
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_TBC, new { htmlAttributes = new { } })
                                TBC
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_Glaukoma, new { htmlAttributes = new { } })
                                Gluakoma
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_STD, new { htmlAttributes = new { } })
                                STD
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_Perdarahan, new { htmlAttributes = new { } })
                                Pendarahan
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_Lainnya, new { htmlAttributes = new { onclick = "lainnyariwayatpernahnonbedah()" } })
                                Lainnya
                            </label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatPenyakit_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.RiwayatPenyakit_Lainnya_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Operasi :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.RiwayatOperasi, StaticModel.ListYaTidak, new { @class = "form-control", onclick = "riwayatoperasinonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.RiwayatOperasi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Jenis & Kapan :
                                </label>
                                @Html.EditorFor(model => model.AssBdhNonTraum.RiwayatOperasi_JenisKapan, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.RiwayatOperasi_JenisKapan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Tranfusi :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.RiwayatTransfusi, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.RiwayatTransfusi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Transfusi :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.ReaksiTransfusi, StaticModel.ListYaTidak, new { @class = "form-control", onclick = "riwayattransfusinonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.ReaksiTransfusi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Reaksi Timbul :
                                </label>
                                @Html.EditorFor(model => model.AssBdhNonTraum.ReaksiYangTimbul, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.ReaksiYangTimbul, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Sosial :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssBdhNonTraum.RiwayatPenyakitKeluarga, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.RiwayatPenyakitKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            TANDA - TANDA VITAL
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Kesadaran Umum:
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.KeadaanUmum, StaticModel.ListKeadaanUmum, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.KeadaanUmum, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Gizi :
                        </label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.Gizi, StaticModel.ListGizi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Gizi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    GCS : E
                                </label>
                                @Html.EditorFor(model => model.AssBdhNonTraum.GCS_E, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.GCS_E, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    V
                                </label>
                                @Html.EditorFor(model => model.AssBdhNonTraum.GCS_V, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.GCS_V, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    M
                                </label>
                                @Html.EditorFor(model => model.AssBdhNonTraum.GCS_M, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.GCS_M, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class=" input-group-addon">
                                    Tindakan Resusitasi
                                </label>
                                @Html.DropDownListFor(model => model.AssBdhNonTraum.TindakanResusitasi, StaticModel.ListYaTidak, new { @class = "form-control", onclick = "tindakanresusitasinonbedah()" })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.TindakanResusitasi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssBdhNonTraum.TindakanResusitasi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.TindakanResusitasi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Respirasi
                                </label>
                                @Html.EditorFor(model => model.AssBdhNonTraum.Respirasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Respirasi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    x/mnt
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Saturasi O<sub>2</sub>
                                </label>
                                @Html.EditorFor(model => model.AssBdhNonTraum.Saturasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Saturasi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    %
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Pada :
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.Saturasi_SuhuRuangan, new { htmlAttributes = new { } })
                                Suhu Ruangan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.Saturasi_NasalCanule, new { htmlAttributes = new { } })
                                Nasal Canule
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.Saturasi_NRB, new { htmlAttributes = new { } })
                                NRB
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.Saturasi_Lainnya, new { htmlAttributes = new { onclick = "lainsaturasinonbedah()" } })
                                Lainnya
                            </label>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssBdhNonTraum.Saturasi_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Saturasi_Lainnya_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Berat Badan:
                                </label>
                                @Html.EditorFor(model => model.AssBdhNonTraum.BeratBadan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.BeratBadan, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    kg
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Suhu Axila
                                </label>
                                @Html.EditorFor(model => model.AssBdhNonTraum.SuhuAxilla, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.SuhuAxilla, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    &#8451;
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Suhu Rectal
                                </label>
                                @Html.EditorFor(model => model.AssBdhNonTraum.SuhuRectal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.SuhuRectal, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    &#8451;
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Kepala :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Kepala, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaankepalanonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Kepala, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Kepala_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Kepala_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Mata :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Mata, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanmatanonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Mata, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Mata_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Mata_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            THT :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_THT, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanthtnonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_THT, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_THT_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_THT_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Leher :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Leher, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanlehernonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Leher, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Leher_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Leher_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Dada :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Dada, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaandadanonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Dada, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Dada_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Dada_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-1 control-label">
                            - Jantung:
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Jantung, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanjantungnonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Jantung, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Jantung_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Jantung_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-1 control-label">
                            - Paru:
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Paru, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanparunonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Paru, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Paru_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Paru_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Perut :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Perut, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanperutnonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Perut, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Perut_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Perut_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-1 control-label">
                            - Hepar :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Heper, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanheparnonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Heper, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Heper_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Heper_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-1 control-label">
                            - Lien :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Lien, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanliennonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Lien, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Lien_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Lien_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Punggung :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Punggung, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanpunggungnonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Punggung, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Punggung_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Punggung_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Genital :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Genital, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaangenitalnonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Genital, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Genital_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Genital_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Anus :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Anus, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaananusnonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Anus, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Anus_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Anus_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Ekstremitas :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Ekstremitas, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanekstremitasnonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Ekstremitas, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Ekstremitas_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_Ekstremitas_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Rectal Toucher :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.PemeriksaanFisik_RectalToucher, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanrectalnonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_RectalToucher, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.AssBdhNonTraum.PemeriksaanFisik_RectalToucher_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.PemeriksaanFisik_RectalToucher_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            DIAGNOSA KERJA :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssBdhNonTraum.Diagnosa_Kerja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Diagnosa_Kerja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2">
                            RENCANA KERJA :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssBdhNonTraum.RencanaKerja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.RencanaKerja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            HASIL PEMERIKSAAAN :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssBdhNonTraum.HasilPemeriksaanPenunjang, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.HasilPemeriksaanPenunjang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            DIAGNOSA :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssBdhNonTraum.DiagnosaKerja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.DiagnosaKerja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            TERAPI :
                        </label>
                        <div class="col-md-10 text-right">
                            <a class="btn btn-xs btn-success" style="margin-right:2px; padding: 1px 3px;" ng-click="$parent.ajaxmodal({
                                                                                    url: '@Url.Action("Create", "Resep", new { noreg = Model.NoReg, section = Model.SectionID, nrm = Model.NRM, Poliklinik = "1", Thiss = "AssBdhNonTraum_Terapi" })',
                                                                                    header: 'Resep Obat'
                                                                                })">
                                <i class="icon-plus3"></i>
                            </a>
                            <a class="btn btn-xs btn-primary" style="padding: 1px 3px;" onclick="reloadObat('#AssBdhNonTraum_Terapi');"><i class="icon-sync"></i></a>
                        </div>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssBdhNonTraum.Terapi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Terapi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            REKOMENDASI :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssBdhNonTraum.Rekomendasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Rekomendasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            CATATAN PENTING :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssBdhNonTraum.CatatanPenting, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.CatatanPenting, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            DISPOSISI :
                        </label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssBdhNonTraum.Disposisi_BolehPulang, new { htmlAttributes = new { onclick = "bolehpulangnonbedah()" } })
                                    Boleh Pulang Jam Keluar
                                </label>
                                @Html.EditorFor(model => model.AssBdhNonTraum.Disposisi_BolehPulang_Jam, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model != null ? (Model.AssBdhNonTraum.Disposisi_BolehPulang_Jam != null ? Model.AssBdhNonTraum.Disposisi_BolehPulang_Jam.Value.ToString("HH':'mm") : "") : "") } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Disposisi_BolehPulang_Jam, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Wita
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Tanggal
                                </label>
                                @Html.EditorFor(model => model.AssBdhNonTraum.Disposisi_BolehPulang_Tanggal, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AssBdhNonTraum.Disposisi_BolehPulang_Tanggal != null ? (Model.AssBdhNonTraum.Disposisi_BolehPulang_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Disposisi_BolehPulang_Tanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Kontrol :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.Disposisi_KontrolPoliklinik_Ya_Tidak, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "kontrolnonbedah()" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Disposisi_KontrolPoliklinik_Ya_Tidak, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssBdhNonTraum.Disposisi_KontrolPoliklinik_Ya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Disposisi_KontrolPoliklinik_Ya_Ket, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssBdhNonTraum.Disposisi_KontrolPoliklinik_Tanggal, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AssBdhNonTraum.Disposisi_KontrolPoliklinik_Tanggal != null ? (Model.AssBdhNonTraum.Disposisi_KontrolPoliklinik_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Disposisi_KontrolPoliklinik_Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.Disposisi_Dirawat, new { htmlAttributes = new { onclick = "dirawatnonbedah()" } })
                                Dirawat di Ruang
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.Disposisi_Dirawat_Intensif, new { htmlAttributes = new { } })
                                Intensif
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssBdhNonTraum.Disposisi_Dirawat_Ruang, new { htmlAttributes = new { onclick = "ruanglainnonbedah()" } })
                                Ruang Lain
                            </label>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssBdhNonTraum.Disposisi_Dirawat_Lain, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.Disposisi_Dirawat_Lain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            DPJP
                        </label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.AssBdhNonTraum.DPJP, Model.AssBdhNonTraum.DPJP == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.AssBdhNonTraum.DPJP.ToString(), Text = Model.AssBdhNonTraum.DPJPNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssBdhNonTraum.DPJP, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.AssBdhNonTraum.SudahRegDPJP == 0)
                            {
                                <a id="btn_asskulit" class="btn btn-primary disabled" onclick="user_verif_bdhnontrauma()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssBdhNonTraumDPJP"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_asskulit" class="btn btn-primary" onclick="user_verif_bdhnontrauma()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssBdhNonTraumDPJP"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssBdhNonTraum.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                @Html.EditorFor(model => model.AssBdhNonTraum.nama_template, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssBdhNonTraum.nama_template, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.AssBdhNonTraum.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFIlmuPenyakitBedahNonTrauma", new { noreg = Model.AssBdhNonTraum.NoReg, sectionid = Model.AssBdhNonTraum.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.AssBdhNonTraum.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokterpengajian = $('#@formName #AssBdhNonTraum_DPJP');

    dokterpengajian.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    $('#AssBdhNonTraum_Template').select2({
        ajax: {
            url: "@Url.Action("ListTamplet", "TemplatePoliDalam")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaTemplate',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', ''],
                    dokumenid: $('#AssBdhNonTraum_DokumenID').val(),
                    dokter: $('#AssBdhNonTraum_DPJP').val()
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.NamaTemplate, text: value.NamaTemplate } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });
</script>

<script src="~/scripts/jquery.timer.js"></script>
<!--JS LAINNYA-->
<script>
    function loadTemplatenontrauma() {
        var id = $('#AssBdhNonTraum_DokumenID').val();
        var nama = $('#AssBdhNonTraum_Template').val();
        $.ajax({
            dataType: 'JSON',
            method: "GET",
            url: '@Url.Action("GetTemplatBedahNonTrauma", "TemplatePoliDalam")',
            data: {
                id: id,
                nama: nama
            },
            success: function (data) {
                $('#AssBdhNonTraum_Rujukan_Ya').prop('checked', data.Data.Rujukan_Ya == 1 ? true : false);
                $('#AssBdhNonTraum_Rujukan_Ya_Ket').val(data.Data.Rujukan_Ya_Ket);
                $('#AssBdhNonTraum_DxRujukan').val(data.Data.DxRujukan);
                $('#AssBdhNonTraum_Rujuan_Tidak').prop('checked', data.Data.Rujuan_Tidak == 1 ? true : false);
                $('#AssBdhNonTraum_Transportasi').val(data.Data.Transportasi);
                $('#AssBdhNonTraum_Transportasi_Ket').val(data.Data.Transportasi_Ket);
                $('#AssBdhNonTraum_RiwayatAlergi').val(data.Data.RiwayatAlergi);
                $('#AssBdhNonTraum_RiwayatAlergi_Ket').val(data.Data.RiwayatAlergi_Ket);
                $('#AssBdhNonTraum_KeluhanUtama').val(data.Data.KeluhanUtama);
                $('#AssBdhNonTraum_RiwayatPenyakitSekarang').val(data.Data.RiwayatPenyakitSekarang);
                $('#AssBdhNonTraum_RiwayatPengobatan').val(data.Data.RiwayatPengobatan);
                $('#AssBdhNonTraum_Nyeri').val(data.Data.Nyeri);
                $('#AssBdhNonTraum_Lokasi').val(data.Data.Lokasi);
                $('#AssBdhNonTraum_Intensitas').val(data.Data.Intensitas);
                $('#AssBdhNonTraum_Jenis').val(data.Data.Jenis);
                $('#AssBdhNonTraum_RiwayatPenyakit_Hipertensi').prop('checked', data.Data.RiwayatPenyakit_Hipertensi == 1 ? true : false);
                $('#AssBdhNonTraum_RiwayatPenyakit_Diabetes').prop('checked', data.Data.RiwayatPenyakit_Diabetes == 1 ? true : false);
                $('#AssBdhNonTraum_RiwayatPenyakit_Jantung').prop('checked', data.Data.RiwayatPenyakit_Jantung == 1 ? true : false);
                $('#AssBdhNonTraum_RiwayatPenyakit_Stroke').prop('checked', data.Data.RiwayatPenyakit_Stroke == 1 ? true : false);
                $('#AssBdhNonTraum_RiwayatPenyakit_Dialysis').prop('checked', data.Data.RiwayatPenyakit_Dialysis == 1 ? true : false);
                $('#AssBdhNonTraum_RiwayatPenyakit_Asma').prop('checked', data.Data.RiwayatPenyakit_Asma == 1 ? true : false);
                $('#AssBdhNonTraum_RiwayatPenyakit_Kejang').prop('checked', data.Data.RiwayatPenyakit_Kejang == 1 ? true : false);
                $('#AssBdhNonTraum_RiwayatPenyakit_Liver').prop('checked', data.Data.RiwayatPenyakit_Liver == 1 ? true : false);
                $('#AssBdhNonTraum_RiwayatPenyakit_Cancer').prop('checked', data.Data.RiwayatPenyakit_Cancer == 1 ? true : false);
                $('#AssBdhNonTraum_RiwayatPenyakit_TBC').prop('checked', data.Data.RiwayatPenyakit_TBC == 1 ? true : false);
                $('#AssBdhNonTraum_RiwayatPenyakit_Glaukoma').prop('checked', data.Data.RiwayatPenyakit_Glaukoma == 1 ? true : false);
                $('#AssBdhNonTraum_RiwayatPenyakit_STD').prop('checked', data.Data.RiwayatPenyakit_STD == 1 ? true : false);
                $('#AssBdhNonTraum_RiwayatPenyakit_Perdarahan').prop('checked', data.Data.RiwayatPenyakit_Perdarahan == 1 ? true : false);
                $('#AssBdhNonTraum_RiwayatPenyakit_Lainnya').prop('checked', data.Data.RiwayatPenyakit_Lainnya == 1 ? true : false);
                $('#AssBdhNonTraum_RiwayatPenyakit_Lainnya_Ket').val(data.Data.RiwayatPenyakit_Lainnya_Ket);
                $('#AssBdhNonTraum_RiwayatOperasi').val(data.Data.RiwayatOperasi);
                $('#AssBdhNonTraum_RiwayatOperasi_JenisKapan').val(data.Data.RiwayatOperasi_JenisKapan);
                $('#AssBdhNonTraum_RiwayatTransfusi').val(data.Data.RiwayatTransfusi);
                $('#AssBdhNonTraum_ReaksiTransfusi').val(data.Data.ReaksiTransfusi);
                $('#AssBdhNonTraum_ReaksiYangTimbul').val(data.Data.ReaksiYangTimbul);
                $('#AssBdhNonTraum_RiwayatPenyakitKeluarga').val(data.Data.RiwayatPenyakitKeluarga);
                $('#AssBdhNonTraum_KeadaanUmum').val(data.Data.KeadaanUmum);
                $('#AssBdhNonTraum_Gizi').val(data.Data.Gizi);
                $('#AssBdhNonTraum_GCS_E').val(data.Data.GCS_E);
                $('#AssBdhNonTraum_GCS_V').val(data.Data.GCS_V);
                $('#AssBdhNonTraum_GCS_M').val(data.Data.GCS_M);
                $('#AssBdhNonTraum_TindakanResusitasi').val(data.Data.TindakanResusitasi);
                $('#AssBdhNonTraum_TindakanResusitasi_Ket').val(data.Data.TindakanResusitasi_Ket);
                $('#AssBdhNonTraum_Respirasi').val(data.Data.Respirasi);
                $('#AssBdhNonTraum_Saturasi').val(data.Data.Saturasi);
                $('#AssBdhNonTraum_Saturasi_SuhuRuangan').prop('checked', data.Data.Saturasi_SuhuRuangan == 1 ? true : false);
                $('#AssBdhNonTraum_Saturasi_NasalCanule').prop('checked', data.Data.Saturasi_NasalCanule == 1 ? true : false);
                $('#AssBdhNonTraum_Saturasi_NRB').prop('checked', data.Data.Saturasi_NRB == 1 ? true : false);
                $('#AssBdhNonTraum_Saturasi_Lainnya').prop('checked', data.Data.Saturasi_Lainnya == 1 ? true : false);
                $('#AssBdhNonTraum_Saturasi_Lainnya_Ket').val(data.Data.Saturasi_Lainnya_Ket);
                $('#AssBdhNonTraum_SuhuAxilla').val(data.Data.SuhuAxilla);
                $('#AssBdhNonTraum_SuhuRectal').val(data.Data.SuhuRectal);
                $('#AssBdhNonTraum_BeratBadan').val(data.Data.BeratBadan);
                $('#AssBdhNonTraum_PemeriksaanFisik_Kepala').val(data.Data.PemeriksaanFisik_Kepala);
                $('#AssBdhNonTraum_PemeriksaanFisik_Kepala_Ket').val(data.Data.PemeriksaanFisik_Kepala_Ket);
                $('#AssBdhNonTraum_PemeriksaanFisik_Mata').val(data.Data.PemeriksaanFisik_Mata);
                $('#AssBdhNonTraum_PemeriksaanFisik_Mata_Ket').val(data.Data.PemeriksaanFisik_Mata_Ket);
                $('#AssBdhNonTraum_PemeriksaanFisik_THT').val(data.Data.PemeriksaanFisik_THT);
                $('#AssBdhNonTraum_PemeriksaanFisik_THT_Ket').val(data.Data.PemeriksaanFisik_THT_Ket);
                $('#AssBdhNonTraum_PemeriksaanFisik_Leher').val(data.Data.PemeriksaanFisik_Leher);
                $('#AssBdhNonTraum_PemeriksaanFisik_Leher_Ket').val(data.Data.PemeriksaanFisik_Leher_Ket);
                $('#AssBdhNonTraum_PemeriksaanFisik_Dada').val(data.Data.PemeriksaanFisik_Dada);
                $('#AssBdhNonTraum_PemeriksaanFisik_Dada_Ket').val(data.Data.PemeriksaanFisik_Dada_Ket);
                $('#AssBdhNonTraum_PemeriksaanFisik_Jantung').val(data.Data.PemeriksaanFisik_Jantung);
                $('#AssBdhNonTraum_PemeriksaanFisik_Jantung_Ket').val(data.Data.PemeriksaanFisik_Jantung_Ket);
                $('#AssBdhNonTraum_PemeriksaanFisik_Paru').val(data.Data.PemeriksaanFisik_Paru);
                $('#AssBdhNonTraum_PemeriksaanFisik_Paru_Ket').val(data.Data.PemeriksaanFisik_Paru_Ket);
                $('#AssBdhNonTraum_PemeriksaanFisik_Perut').val(data.Data.PemeriksaanFisik_Perut);
                $('#AssBdhNonTraum_PemeriksaanFisik_Perut_Ket').val(data.Data.PemeriksaanFisik_Perut_Ket);
                $('#AssBdhNonTraum_PemeriksaanFisik_Heper').val(data.Data.PemeriksaanFisik_Heper);
                $('#AssBdhNonTraum_PemeriksaanFisik_Heper_Ket').val(data.Data.PemeriksaanFisik_Heper_Ket);
                $('#AssBdhNonTraum_PemeriksaanFisik_Lien').val(data.Data.PemeriksaanFisik_Lien);
                $('#AssBdhNonTraum_PemeriksaanFisik_Lien_Ket').val(data.Data.PemeriksaanFisik_Lien_Ket);
                $('#AssBdhNonTraum_PemeriksaanFisik_Punggung').val(data.Data.PemeriksaanFisik_Punggung);
                $('#AssBdhNonTraum_PemeriksaanFisik_Punggung_Ket').val(data.Data.PemeriksaanFisik_Punggung_Ket);
                $('#AssBdhNonTraum_PemeriksaanFisik_Genital').val(data.Data.PemeriksaanFisik_Genital);
                $('#AssBdhNonTraum_PemeriksaanFisik_Genital_Ket').val(data.Data.PemeriksaanFisik_Genital_Ket);
                $('#AssBdhNonTraum_PemeriksaanFisik_Anus').val(data.Data.PemeriksaanFisik_Anus);
                $('#AssBdhNonTraum_PemeriksaanFisik_Anus_Ket').val(data.Data.PemeriksaanFisik_Anus_Ket);
                $('#AssBdhNonTraum_PemeriksaanFisik_Ekstremitas').val(data.Data.PemeriksaanFisik_Ekstremitas);
                $('#AssBdhNonTraum_PemeriksaanFisik_Ekstremitas_Ket').val(data.Data.PemeriksaanFisik_Ekstremitas_Ket);
                $('#AssBdhNonTraum_PemeriksaanFisik_RectalToucher').val(data.Data.PemeriksaanFisik_RectalToucher);
                $('#AssBdhNonTraum_PemeriksaanFisik_RectalToucher_Ket').val(data.Data.PemeriksaanFisik_RectalToucher_Ket);
                $('#AssBdhNonTraum_RencanaKerja').val(data.Data.RencanaKerja);
                $('#AssBdhNonTraum_HasilPemeriksaanPenunjang').val(data.Data.HasilPemeriksaanPenunjang);
                $('#AssBdhNonTraum_DiagnosaKerja').val(data.Data.DiagnosaKerja);
                $('#AssBdhNonTraum_Diagnosa_Kerja').val(data.Data.Diagnosa_Kerja);
                $('#AssBdhNonTraum_Terapi').val(data.Data.Terapi);
                $('#AssBdhNonTraum_Rekomendasi').val(data.Data.Rekomendasi);
                $('#AssBdhNonTraum_CatatanPenting').val(data.Data.CatatanPenting);
                $('#AssBdhNonTraum_Disposisi_BolehPulang').prop('checked', data.Data.Disposisi_BolehPulang == 1 ? true : false);
                $('#AssBdhNonTraum_Disposisi_KontrolPoliklinik_Ya_Tidak').val(data.Data.Disposisi_KontrolPoliklinik_Ya_Tidak);
                $('#AssBdhNonTraum_Disposisi_KontrolPoliklinik_Ya_Ket').val(data.Data.Disposisi_KontrolPoliklinik_Ya_Ket);
                $('#AssBdhNonTraum_Disposisi_Dirawat').prop('checked', data.Data.Disposisi_Dirawat == 1 ? true : false);
                $('#AssBdhNonTraum_Disposisi_Dirawat_Intensif').prop('checked', data.Data.Disposisi_Dirawat_Intensif == 1 ? true : false);
                $('#AssBdhNonTraum_Disposisi_Dirawat_Ruang').prop('checked', data.Data.Disposisi_Dirawat_Ruang == 1 ? true : false);
                $('#AssBdhNonTraum_Disposisi_Dirawat_Lain').val(data.Data.Disposisi_Dirawat_Lain);
                $('#AssBdhNonTraum_DPJP').val(data.Data.DPJP);
            }
        });
    }

    function user_verif_bdhnontrauma() {
        var reStatsAssBdhNonTraum = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#AssBdhNonTraum_DPJP').val();
        var noreg = $('#AssBdhNonTraum_NoReg').val();
        var section = $('#AssBdhNonTraum_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifbdhnontrauma(noreg, section, user_id);
            if (ct >= limit || reStatsAssBdhNonTraum == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsAssBdhNonTraum == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsAssBdhNonTraum == 1) {
                    alertpopup("Verification success!", "success");
                    location.reload();
                }
            }
            ct++;
        });

        function user_checkverifbdhnontrauma(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilBdhNonTrauma", "VerifBdhNonTrauma")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.DokterPengkaji == "1") {
                            reStatsAssBdhNonTraum = 1;
                        }
                    }
                    else {
                        reStatsAssBdhNonTraum = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function rujukannonbdh() {
        if ($('#AssBdhNonTraum_Rujukan_Ya').is(':checked')) {
            $('#AssBdhNonTraum_Rujukan_Ya_Ket').prop('disabled', false);
            $('#AssBdhNonTraum_DxRujukan').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_Rujukan_Ya_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_Rujukan_Ya_Ket').val('');
            $('#AssBdhNonTraum_DxRujukan').prop('disabled', true);
            $('#AssBdhNonTraum_DxRujukan').val('');
        }
    }

    function transportnonbedah() {
        if ($("#AssBdhNonTraum_Transportasi option:selected").val() == 'Lainnya') {
            $('#AssBdhNonTraum_Transportasi_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_Transportasi_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_Transportasi_Ket').val('');
        }
    }

    function riwayatalerginonbedah() {
        if ($("#AssBdhNonTraum_RiwayatAlergi option:selected").val() == 'Ya') {
            $('#AssBdhNonTraum_RiwayatAlergi_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_RiwayatAlergi_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_RiwayatAlergi_Ket').val('');
        }
    }

    function nyerinonbedah() {
        if ($("#AssBdhNonTraum_Nyeri option:selected").val() == 'Ya') {
            $('#AssBdhNonTraum_Lokasi').prop('disabled', false);
            $('#AssBdhNonTraum_Intensitas').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_Lokasi').prop('disabled', true);
            $('#AssBdhNonTraum_Lokasi').val('');
            $('#AssBdhNonTraum_Intensitas').prop('disabled', true);
            $('#AssBdhNonTraum_Intensitas').val('');
        }
    }

    function riwayatoperasinonbedah() {
        if ($("#AssBdhNonTraum_RiwayatOperasi option:selected").val() == 'Ya') {
            $('#AssBdhNonTraum_RiwayatOperasi_JenisKapan').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_RiwayatOperasi_JenisKapan').prop('disabled', true);
            $('#AssBdhNonTraum_RiwayatOperasi_JenisKapan').val('');
        }
    }

    function riwayattransfusinonbedah() {
        if ($("#AssBdhNonTraum_ReaksiTransfusi option:selected").val() == 'Ya') {
            $('#AssBdhNonTraum_ReaksiYangTimbul').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_ReaksiYangTimbul').prop('disabled', true);
            $('#AssBdhNonTraum_ReaksiYangTimbul').val('');
        }
    }

    function pemeriksaankepalanonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_Kepala option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_Kepala_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_Kepala_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_Kepala_Ket').val('');
        }
    }

    function pemeriksaanmatanonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_Mata option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_Mata_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_Mata_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_Mata_Ket').val('');
        }
    }

    function pemeriksaanthtnonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_THT option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_THT_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_THT_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_THT_Ket').val('');
        }
    }

    function pemeriksaanlehernonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_Leher option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_Leher_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_Leher_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_Leher_Ket').val('');
        }
    }

    function pemeriksaandadanonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_Dada option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_Dada_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_Dada_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_Dada_Ket').val('');
        }
    }

    function pemeriksaanjantungnonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_Jantung option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_Jantung_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_Jantung_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_Jantung_Ket').val('');
        }
    }

    function pemeriksaanparunonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_Paru option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_Paru_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_Paru_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_Paru_Ket').val('');
        }
    }

    function pemeriksaanperutnonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_Perut option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_Perut_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_Perut_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_Perut_Ket').val('');
        }
    }

    function pemeriksaanheparnonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_Heper option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_Heper_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_Heper_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_Heper_Ket').val('');
        }
    }

    function pemeriksaanliennonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_Lien option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_Lien_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_Lien_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_Lien_Ket').val('');
        }
    }

    function pemeriksaanpunggungnonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_Punggung option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_Punggung_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_Punggung_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_Punggung_Ket').val('');
        }
    }

    function pemeriksaangenitalnonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_Genital option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_Genital_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_Genital_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_Genital_Ket').val('');
        }
    }

    function pemeriksaananusnonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_Anus option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_Anus_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_Anus_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_Anus_Ket').val('');
        }
    }

    function pemeriksaanekstremitasnonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_Ekstremitas option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_Ekstremitas_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_Ekstremitas_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_Ekstremitas_Ket').val('');
        }
    }

    function pemeriksaanrectalnonbedah() {
        if ($("#AssBdhNonTraum_PemeriksaanFisik_RectalToucher option:selected").val() == 'Abnormal') {
            $('#AssBdhNonTraum_PemeriksaanFisik_RectalToucher_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_PemeriksaanFisik_RectalToucher_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_PemeriksaanFisik_RectalToucher_Ket').val('');
        }
    }

    function tindakanresusitasinonbedah() {
        if ($("#AssBdhNonTraum_TindakanResusitasi option:selected").val() == 'Ya') {
            $('#AssBdhNonTraum_TindakanResusitasi_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_TindakanResusitasi_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_TindakanResusitasi_Ket').val('');
        }
    }

    function lainsaturasinonbedah() {
        if ($('#AssBdhNonTraum_Saturasi_Lainnya').is(':checked')) {
            $('#AssBdhNonTraum_Saturasi_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_Saturasi_Lainnya_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_Saturasi_Lainnya_Ket').val('');
        }
    }

    function lainnyariwayatpernahnonbedah() {
        if ($('#AssBdhNonTraum_RiwayatPenyakit_Lainnya').is(':checked')) {
            $('#AssBdhNonTraum_RiwayatPenyakit_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_RiwayatPenyakit_Lainnya_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_RiwayatPenyakit_Lainnya_Ket').val('');
        }
    }

    function bolehpulangnonbedah() {
        if ($('#AssBdhNonTraum_Disposisi_BolehPulang').is(':checked')) {
            $('#AssBdhNonTraum_Disposisi_BolehPulang_Jam').prop('disabled', false);
            $('#AssBdhNonTraum_Disposisi_BolehPulang_Tanggal').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_Disposisi_BolehPulang_Jam').prop('disabled', true);
            $('#AssBdhNonTraum_Disposisi_BolehPulang_Jam').val('');
            $('#AssBdhNonTraum_Disposisi_BolehPulang_Tanggal').prop('disabled', true);
            $('#AssBdhNonTraum_Disposisi_BolehPulang_Tanggal').val('');
        }
    }

    function kontrolnonbedah() {
        if ($("#AssBdhNonTraum_Disposisi_KontrolPoliklinik_Ya_Tidak option:selected").val() == 'Ya') {
            $('#AssBdhNonTraum_Disposisi_KontrolPoliklinik_Ya_Ket').prop('disabled', false);
            $('#AssBdhNonTraum_Disposisi_KontrolPoliklinik_Tanggal').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_Disposisi_KontrolPoliklinik_Ya_Ket').prop('disabled', true);
            $('#AssBdhNonTraum_Disposisi_KontrolPoliklinik_Ya_Ket').val('');
            $('#AssBdhNonTraum_Disposisi_KontrolPoliklinik_Tanggal').prop('disabled', true);
            $('#AssBdhNonTraum_Disposisi_KontrolPoliklinik_Tanggal').val('');
        }
    }

    function dirawatnonbedah() {
        if ($('#AssBdhNonTraum_Disposisi_Dirawat').is(':checked')) {
            $('#AssBdhNonTraum_Disposisi_Dirawat_Intensif').prop('disabled', false);
            $('#AssBdhNonTraum_Disposisi_Dirawat_Ruang').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_Disposisi_Dirawat_Intensif').prop('checked', false);
            $('#AssBdhNonTraum_Disposisi_Dirawat_Intensif').prop('disabled', true);
            $('#AssBdhNonTraum_Disposisi_Dirawat_Ruang').prop('checked', false);
            $('#AssBdhNonTraum_Disposisi_Dirawat_Ruang').prop('disabled', true);
            $('#AssBdhNonTraum_Disposisi_Dirawat_Lain').prop('disabled', true);
            $('#AssBdhNonTraum_Disposisi_Dirawat_Lain').val('');
        }
    }


    function ruanglainnonbedah() {
        if ($('#AssBdhNonTraum_Disposisi_Dirawat_Ruang').is(':checked')) {
            $('#AssBdhNonTraum_Disposisi_Dirawat_Lain').prop('disabled', false);
        } else {
            $('#AssBdhNonTraum_Disposisi_Dirawat_Lain').prop('disabled', true);
            $('#AssBdhNonTraum_Disposisi_Dirawat_Lain').val('');
        }
    }

    function reloadObat(target) {
        myajax({
            url: '@Url.Action("getListObat", "Resep")',
            data: {
                noreg: '@Model.NoReg',
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    $(target).val(dt.Data);
                }
            }
        });
    }


    $(document).ready(function () {
        rujukannonbdh();
        transportnonbedah();
        riwayatalerginonbedah();
        nyerinonbedah();
        riwayatoperasinonbedah();
        riwayattransfusinonbedah();
        tindakanresusitasinonbedah();
        lainsaturasinonbedah();
        lainnyariwayatpernahnonbedah();
        pemeriksaankepalanonbedah();
        pemeriksaanmatanonbedah();
        pemeriksaanthtnonbedah();
        pemeriksaanlehernonbedah();
        pemeriksaandadanonbedah();
        pemeriksaanjantungnonbedah();
        pemeriksaanparunonbedah();
        pemeriksaanperutnonbedah();
        pemeriksaanheparnonbedah();
        pemeriksaanliennonbedah();
        pemeriksaanpunggungnonbedah();
        pemeriksaangenitalnonbedah();
        pemeriksaananusnonbedah();
        pemeriksaanekstremitasnonbedah();
        ruanglainnonbedah();
        bolehpulangnonbedah();
        kontrolnonbedah();
        dirawatnonbedah();
        pemeriksaanrectalnonbedah();
    });
</script>
