﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_KesimpulanHasilPemeriksaanKesehatan_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">

    @using (Html.BeginForm("KesimpulanHasilPemeriksaanKesehatan", controllerName, FormMethod.Post, new { id = formName, onsubmit = "SubmitForm_KesimpulanHasilPemeriksaan(event)" }))
    {
        @Html.HiddenFor(Model => Model.KsmplHslPmrksaanKshtn.NoReg)
        @Html.HiddenFor(Model => Model.KsmplHslPmrksaanKshtn.SectionID)
        @Html.HiddenFor(Model => Model.KsmplHslPmrksaanKshtn.Nomor)
        @Html.HiddenFor(Model => Model.KsmplHslPmrksaanKshtn.NRM)
        @Html.HiddenFor(Model => Model.KsmplHslPmrksaanKshtn.GIGI)
        @Html.HiddenFor(Model => Model.KsmplHslPmrksaanKshtn.Tanggal)
        @Html.HiddenFor(Model => Model.KsmplHslPmrksaanKshtn.TandaTanganDokter)
        @Html.HiddenFor(Model => Model.KsmplHslPmrksaanKshtn.Dokter)
        @Html.HiddenFor(Model => Model.KsmplHslPmrksaanKshtn.DokumenID)

        <img id="Gambar" src="@Url.Content("~/Images/polimcu.jpeg")" class="hidden" />

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">

                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">KESIMPULAN HASIL PEMERIKSAAN KESEHATAN</label>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-1">
                            Template
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.KsmplHslPmrksaanKshtn.Template, new List<SelectListItem>() {
                                new SelectListItem(){ Text = ViewBag.Template, Value = ViewBag.Template, Selected = true }
                            }, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                            <button type="button" onclick="loadTemplatekesimpulan()" class="btn btn-block btn-info"> LOAD</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Nama:
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.KsmplHslPmrksaanKshtn.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-md-2 control-label">
                            Tanggal Lahir:
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.KsmplHslPmrksaanKshtn.TglLahir, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.TglLahir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Pemeriksaan Untuk :</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.KsmplHslPmrksaanKshtn.PemeriksaanUntuk, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.PemeriksaanUntuk, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">Anamnesa / Keluhan :</label>
                        <label class="col-md-offset-1 col-md-1 control-label">Tinggi Badan :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.KsmplHslPmrksaanKshtn.TinggiBadan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.TinggiBadan, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-offset-1 col-md-1 control-label">Berat Badan :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.KsmplHslPmrksaanKshtn.BeratBadan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.BeratBadan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-offset-1 col-md-1 control-label">Tensi :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.KsmplHslPmrksaanKshtn.Tensi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.Tensi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-offset-1 col-md-1 control-label">Nadi :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.KsmplHslPmrksaanKshtn.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.Nadi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-12 text-center control-label">HASIL PEMERIKSAAN LABORATORIUM, RONTGEN, MMPI DAN EKG TERLAMPIR</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-italic text-bold">KELAINAN YANG DITEMUKAN</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">FISIK :</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.KsmplHslPmrksaanKshtn.Fisik, new { @class = "form-control", @rows = "10" })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.Fisik, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">MATA :</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.KsmplHslPmrksaanKshtn.Mata, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.Mata, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">THT :</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.KsmplHslPmrksaanKshtn.THT, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.THT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">GIGI :</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.KsmplHslPmrksaanKshtn.GIGIKet, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.GIGIKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group hide">
                        <label class="col-md-2 col-md-offset-1">GIGI :</label>
                        <div class="col-md-9">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12" style="position:inherit">
                                    <div class="form-group" style="position:inherit">
                                        <div class="col-md-12" style="position:inherit">
                                            <div class="panel panel-default" style="position:inherit">
                                                <div class="panel-body" style="position:inherit">
                                                    <div class="form-group text-center" style="position:inherit">
                                                        <canvas id="Canvas_Gambar" class="border-1 center-block"></canvas>
                                                        <hr />
                                                        <div class="row">
                                                            <div class="form-inline">
                                                                <div class="form-group">
                                                                    <select class="form-group input-xs" id="size_Gambar" onchange="idGambar.text('text_Gambar', this.value, this)">
                                                                        <option value="normal 10px sans-serif" data-line="1">extra small</option>
                                                                        <option value="normal 20px sans-serif" data-line="3" selected>small</option>
                                                                        <option value="normal 40px sans-serif" data-line="10">normal</option>
                                                                        <option value="normal 70px sans-serif" data-line="20">large</option>
                                                                        <option value="normal 100px sans-serif" data-line="30">extra large</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control input-xs text-right" id="text_Gambar" placeholder="Text" onblur="idGambar.text('text_Gambar', document.getElementById('size_Gambar').value)" />
                                                                        <div class="input-group-addon"> <a class="fa fa-font" onclick="document.getElementById('text_Gambar').value = ''"></a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                        <div class="row">
                                                            <div class="form-inline">
                                                                <div class="form-group">
                                                                    <button type="button" onclick="idGambar.changecolor('red')" class="btn btn-xs"><i class="fa fa-tint" style="color:red"></i></button>
                                                                    <button type="button" onclick="idGambar.changecolor('black')" class="btn btn-xs"><i class="fa fa-tint" style="color:black"></i></button>
                                                                    <button type="button" onclick="idGambar.changecolor('yellow')" class="btn btn-xs"><i class="fa fa-tint" style="color:yellow"></i></button>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="button" onclick="idGambar.clear()" class="btn btn-xs"><i class="fa fa-trash"></i></button>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="button" onclick="Undo()" class="btn btn-xs"><i class="icon icon-undo"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="file" name="Image[0]" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">LABORATORIUM :</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.KsmplHslPmrksaanKshtn.LAB, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.LAB, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">RONTGEN :</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.KsmplHslPmrksaanKshtn.Rontgen, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.Rontgen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">EKG :</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.KsmplHslPmrksaanKshtn.EKG, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.EKG, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">JIWA :</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.KsmplHslPmrksaanKshtn.JIWA, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.JIWA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">NILAI KUALITATIF :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.KsmplHslPmrksaanKshtn.Nilai, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.Nilai, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">NILAI KUANTITATIF :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.KsmplHslPmrksaanKshtn.NilaiKuantitatif, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.NilaiKuantitatif, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 text-bold">NASEHAT MEDIS :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.KsmplHslPmrksaanKshtn.NasehatMedis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.NasehatMedis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.KsmplHslPmrksaanKshtn.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                @Html.EditorFor(model => model.KsmplHslPmrksaanKshtn.nama_template, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.KsmplHslPmrksaanKshtn.nama_template, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.KsmplHslPmrksaanKshtn.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFKesimpulanHasilPemeriksaanPoliMCU", new { noreg = Model.KsmplHslPmrksaanKshtn.NoReg, sectionid = Model.KsmplHslPmrksaanKshtn.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.KsmplHslPmrksaanKshtn.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $('#KsmplHslPmrksaanKshtn_Template').select2({
        ajax: {
            url: "@Url.Action("ListTamplet", "TemplatePoliDalam")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaTemplate',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', ''],
                    dokumenid: $('#AssTHT_DokumenID').val(),
                    dokter: $('#AssTHT_DPJP').val()
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.NamaTemplate, text: value.NamaTemplate } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    function loadTemplatekesimpulan() {
        var id = $('#KsmplHslPmrksaanKshtn_DokumenID').val();
        var nama = $('#KsmplHslPmrksaanKshtn_Template').val();
        $.ajax({
            dataType: 'JSON',
            method: "GET",
            url: '@Url.Action("GetTemplatKesimpulanHasil", "TemplatePoliDalam")',
            data: {
                id: id,
                nama: nama
            },
            success: function (data) {
                $('#KsmplHslPmrksaanKshtn_PemeriksaanUntuk').val(data.Data.PemeriksaanUntuk);
                $('#KsmplHslPmrksaanKshtn_TinggiBadan').val(data.Data.TinggiBadan);
                $('#KsmplHslPmrksaanKshtn_BeratBadan').val(data.Data.BeratBadan);
                $('#KsmplHslPmrksaanKshtn_Tensi').val(data.Data.Tensi);
                $('#KsmplHslPmrksaanKshtn_Nadi').val(data.Data.Nadi);
                $('#KsmplHslPmrksaanKshtn_Fisik').val(data.Data.Fisik);
                $('#KsmplHslPmrksaanKshtn_Mata').val(data.Data.Mata);
                $('#KsmplHslPmrksaanKshtn_THT').val(data.Data.THT);
                $('#KsmplHslPmrksaanKshtn_GIGI').val(data.Data.GIGI);
                $('#KsmplHslPmrksaanKshtn_LAB').val(data.Data.LAB);
                $('#KsmplHslPmrksaanKshtn_Rontgen').val(data.Data.Rontgen);
                $('#KsmplHslPmrksaanKshtn_EKG').val(data.Data.EKG);
                $('#KsmplHslPmrksaanKshtn_JIWA').val(data.Data.JIWA);
                $('#KsmplHslPmrksaanKshtn_Nilai').val(data.Data.Nilai);
                $('#KsmplHslPmrksaanKshtn_NasehatMedis').val(data.Data.NasehatMedis);
                $('#KsmplHslPmrksaanKshtn_NIP').val(data.Data.NIP);
                $('#KsmplHslPmrksaanKshtn_Dokter').val(data.Data.Dokter);
                
            }
        });
    }

    var xGambar;
    @if (Model != null)
    {
        if (Model.KsmplHslPmrksaanKshtn.GIGI != null)
        {
            @:xGambar= new Image();
            @:xGambar.src = 'data:image/png;base64,@(Model.KsmplHslPmrksaanKshtn.GIGI)';
        }
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        //loading();
        idGambar = new iPainter('Canvas_Gambar', 'Gambar', xGambar, null, null, 700, 150);


        @if (!string.IsNullOrEmpty(ViewBag.Status))
        {
           @:alertpopup('@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.Message))','@ViewBag.Status');
        }
    });


    function SubmitForm_KesimpulanHasilPemeriksaan(e) {
        try {
            idGambar.convert('KsmplHslPmrksaanKshtn_GIGI');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    function gridBox_valueChanged(e) {
        var $dataGrid;
        if (e.element.hasClass('dx-texteditor'))
            $dataGrid = $(e.element.parent()).find('#embedded-datagrid');

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
    }

    function gridBox_displayExpr(item) {
        return item && "[" + item.DokterID + "] " + item.NamaDOkter;
    }

    function stopRKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
    }

    document.onkeypress = stopRKey;

    const canvas1 = document.getElementById('Canvas_Gambar');
    const ctx1 = canvas1.getContext('2d');
    canvas1.width = 700;
    canvas1.height = 150;
    ctx1.lineJoin = 'round';
    ctx1.lineCap = 'round';
    ctx1.lineWidth = 3;
    ctx1.color = 'df4b26';
    var color = 'df4b26';
    var line = 3;
    let drawing1 = false;
    let pathsry1 = [];
    let points1 = [];

    var mouse = { x: 0, y: 0 };
    var previous = { x: 0, y: 0 };

    canvas1.addEventListener('mousedown', function (e) {
        drawing1 = true;
        previous = { x: mouse.x, y: mouse.y };
        points1 = [];
        mouse = oMousePos(canvas1, e);
        points1.push({ x: mouse.x, y: mouse.y, color: canvas1.getContext('2d').strokeStyle, line: $('#size_Gambar option:selected').data('line'), text: $('#text_Gambar').val() });

    });

    canvas1.addEventListener('mousemove', function (e) {
        if (drawing1) {
            previous = { x: mouse.x, y: mouse.y };
            mouse = oMousePos(canvas1, e);
            points1.push({ x: mouse.x, y: mouse.y, color: canvas1.getContext('2d').strokeStyle, line: $('#size_Gambar option:selected').data('line'), text: $('#text_Gambar').val() });
            ctx1.beginPath();
            ctx1.moveTo(previous.x, previous.y);
            ctx1.lineTo(mouse.x, mouse.y);
            ctx1.strokeStyle = canvas1.getContext('2d').strokeStyle;
            ctx1.lineWidth = $('#size_Gambar option:selected').data('line');
            ctx1.stroke();
        }
    }, false);


    canvas1.addEventListener('mouseup', function () {
        drawing1 = false;
        pathsry1.push(points1);
    }, false);


    function drawPaths() {
        // delete everything
        ctx1.clearRect(0, 0, canvas.width, canvas.height);
        // draw all the paths in the paths array
        idGambar = new iPainter('Canvas_Gambar', 'Gambar', xGambar, canvas.getContext('2d').strokeStyle, $('#size_Gambar option:selected').data('line'), 700, 150);

        pathsry1.forEach(path => {
            ctx1.beginPath();
            ctx1.moveTo(path[0].x, path[0].y);
            for (let i = 1; i < path.length; i++) {
                ctx1.lineTo(path[i].x, path[i].y);
                ctx1.strokeStyle = path[i].color;
                ctx1.lineWidth = path[i].line;
                ctx1.lineJoin = "round";
                ctx1.stroke();
            }
        })

    }

    function Undo() {
        // remove the last path from the paths array
        pathsry1.splice(-1, 1);
        // draw all the paths in the paths array
        drawPaths();
    }


    // a function to detect the mouse position
    function oMousePos(canvas, evt) {
        var ClientRect = canvas.getBoundingClientRect();
        return { //objeto
            x: Math.round(evt.clientX - ClientRect.left),
            y: Math.round(evt.clientY - ClientRect.top)
        }
    }

</script>