﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_LembarPoliGigi_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Detail
    var d_tbl_Programfisio = $"frm_table_detailProgramfisio";
    int d_idx_Programfisio = 0;
    var d_trg_Programfisio = $"input_target_detailProgramfisio";
    if (Model != null)
    {
        if (Model.LmbrFormFisio != null)
        {
            if (Model.LmbrFormFisio.Program_List != null)
            {
                d_idx_Programfisio = Model.LmbrFormFisio.Program_List.Count();
            }
        }
    }
    #endregion
}
<!--   CSS Table -->
<style>
    #d_tbl_Programfisio thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_Programfisio thead th:nth-child(1),
    #d_tbl_Programfisio tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_Programfisio thead th:nth-child(2),
    #d_tbl_Programfisio tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #d_tbl_Programfisio thead th:nth-child(3),
    #d_tbl_Programfisio tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_Programfisio thead th:nth-child(4),
    #d_tbl_Programfisio tbody td:nth-child(4) {
        width: 80px;
    }

    #d_tbl_Programfisio thead th:nth-child(5),
    #d_tbl_Programfisio tbody td:nth-child(5) {
        width: 250px;
    }

    #d_tbl_Programfisio thead th:nth-child(6),
    #d_tbl_Programfisio tbody td:nth-child(6) {
        width: 150px;
    }

    #d_tbl_Programfisio thead th:nth-child(7),
    #d_tbl_Programfisio tbody td:nth-child(7) {
        width: 300px;
    }

    #d_tbl_Programfisio thead th:nth-child(8),
    #d_tbl_Programfisio tbody td:nth-child(8) {
        width: 300px;
    }

    #d_tbl_Programfisio thead th:nth-child(9),
    #d_tbl_Programfisio tbody td:nth-child(9) {
        width: 300px;
    }


    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Html.BeginForm("LembarFormulirPoliFisiotherapi", controllerName, FormMethod.Post, new { id = formName, onsubmit = "loadingform(this)" }))
    {
        @Html.HiddenFor(Model => Model.LmbrFormFisio.NoReg)
        @Html.HiddenFor(Model => Model.LmbrFormFisio.SectionID)
        @Html.HiddenFor(Model => Model.LmbrFormFisio.Nomor)
        @Html.HiddenFor(Model => Model.LmbrFormFisio.NRM)
        @Html.HiddenFor(Model => Model.LmbrFormFisio.TandaTangan)
        @Html.HiddenFor(Model => Model.LmbrFormFisio.TandaTanganNama_Dokter)
        @Html.HiddenFor(Model => Model.LmbrFormFisio.DokumenID)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="control-label col-md-1">
                            Template
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.LmbrFormFisio.Template, new List<SelectListItem>() {
                                new SelectListItem(){ Text = ViewBag.Template, Value = ViewBag.Template, Selected = true }
                            }, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                            <button type="button" onclick="loadTemplateformfisio()" class="btn btn-block btn-info"> LOAD</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">LEMBAR FORMULIR FISIOTHERAPI</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Diisi Oleh Pasien :</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Nama :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.LmbrFormFisio.NamaPasien, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.LmbrFormFisio.NamaPasien != null ? (Model.LmbrFormFisio.NamaPasien) : "") } })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">
                            Tanggal Lahir :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.LmbrFormFisio.TglLahir, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.LmbrFormFisio.TglLahir != null ? (Model.LmbrFormFisio.TglLahir.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.TglLahir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1">NRM :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.LmbrFormFisio.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.NRM, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Telp :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.LmbrFormFisio.Phone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.LmbrFormFisio.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.LmbrFormFisio.Tanggal != null ? (Model.LmbrFormFisio.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">Diisi Dokter Sp. KFR :</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Anamnesa :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.LmbrFormFisio.Anamnesa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.Anamnesa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Pemeriksaan Fisik dan Uji Fungsi :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.LmbrFormFisio.PeriksaFisik_UjiFungsi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.PeriksaFisik_UjiFungsi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Diagnosa Medis (ICD-10) :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.LmbrFormFisio.Diag_Medis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.Diag_Medis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Diagnosa Fungsi (ICD-10) :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.LmbrFormFisio.Diag_Fungsi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.Diag_Fungsi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Pemeriksaan Penunjang :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.LmbrFormFisio.PeriksaPenunjang, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.PeriksaPenunjang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Tata Laksana KFR (ICD 9 CM) :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.LmbrFormFisio.Tata_Laksana, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.Tata_Laksana, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Anjuran :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.LmbrFormFisio.Anjuran, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.Anjuran, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Evaluasi :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.LmbrFormFisio.Evaluasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.Evaluasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Suspek Penyakit Akibat Kerja :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.LmbrFormFisio.Suspek_Penyakit, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.Suspek_Penyakit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Diagnosis :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.LmbrFormFisio.Diagnosis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.Diagnosis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Permintaan terapi :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.LmbrFormFisio.Permintaan_Terapi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.Permintaan_Terapi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Permintaan terapi :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.LmbrFormFisio.Permintaan_Terapi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.Permintaan_Terapi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="panel_detailLmbrFormFisioObat" class="detail collapse in"
                             data-index-detail="@d_idx_Programfisio">
                            <div class="table-responsive">
                                <table id="d_tbl_Programfisio" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" onclick="checkall(this)" />
                                            </th>
                                            <th class="text-center" rowspan="2">
                                                <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Programfisio')">
                                                    <i class="icon-plus2"></i>
                                                </a>
                                            </th>
                                            <th></th>
                                            <th>No</th>
                                            <th>Program</th>
                                            <th>Tanggal</th>
                                            <th>Pasien</th>
                                            <th>Dokter</th>
                                            <th>Terapis</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.LmbrFormFisio.Program_List != null)
                                            {
                                                for (var i = 0; i < Model.LmbrFormFisio.Program_List.Count(); i++)
                                                {
                                                    <tr>
                                                        <!-- Check -->
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>

                                                        <!-- Delete button -->
                                                        <td>
                                                            <a class="text-danger-600"
                                                               onclick="removetr(this)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>

                                                        <!-- Remove Status -->
                                                        <td>
                                                            @Html.EditorFor(model => model.LmbrFormFisio.Program_List[i].Remove,
                                                       new { htmlAttributes = new { @class = "disable-reset" } })
                                                        </td>

                                                        <!-- No -->
                                                        <td>
                                                            @Html.EditorFor(model => model.LmbrFormFisio.Program_List[i].Model.No, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly"
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.LmbrFormFisio.Program_List[i].Model.Program, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.Program_List[i].Model.Program, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.LmbrFormFisio.Program_List[i].Model.Tanggal_Program, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               Value = (Model != null ? (Model.LmbrFormFisio.Program_List[i].Model.Tanggal_Program != null ? Model.LmbrFormFisio.Program_List[i].Model.Tanggal_Program.Value.ToString("yyyy-MM-dd") : "") : "")
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            <div class="col-md-10">
                                                                @Html.EditorFor(model => model.LmbrFormFisio.Program_List[i].Model.TTD_Pasien, new { htmlAttributes = new { @class = "form-control", Value = (Model.LmbrFormFisio.NamaPasien != null ? (Model.LmbrFormFisio.NamaPasien) : "") } })
                                                                @Html.ValidationMessageFor(model => model.LmbrFormFisio.Program_List[i].Model.TTD_Pasien, "", new { @class = "text-danger" })
                                                            </div>
                                                            @if (Model.LmbrFormFisio.Program_List[i].Model.SudahRegPasien == 0)
                                                            {
                                                                <div class="col-md-2">
                                                                    <a id="btn_dtldiagnosa" class="btn btn-primary disabled" onclick="user_verif_pasienfisio({ id: '@Model.LmbrFormFisio.Program_List[i].Model.NRM', no: '@Model.LmbrFormFisio.Program_List[i].Model.No' })" href="finspot:FingerspotVer;@Model.LmbrFormFisio.Program_List[i].Model.ViewBagPasien"><span class="icon-checkmark2 position-center"></span></a>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="col-md-2">
                                                                    <a id="btn_dtldiagnosa" class="btn btn-primary" onclick="user_verif_pasienfisio({ id : '@Model.LmbrFormFisio.Program_List[i].Model.NRM', no : '@Model.LmbrFormFisio.Program_List[i].Model.No'})" href="finspot:FingerspotVer;@Model.LmbrFormFisio.Program_List[i].Model.ViewBagPasien"><span class="icon-checkmark2 position-center"></span></a>
                                                                </div>
                                                            }
                                                        </td>

                                                        @{
                                                            var _lstdokter = new List<SelectListItem>();
                                                            if (Model.LmbrFormFisio.Program_List[i].Model != null)
                                                            {
                                                                if (Model.LmbrFormFisio.Program_List[i].Model.TTD_Dokter != null)
                                                                {
                                                                    _lstdokter.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.LmbrFormFisio.Program_List[i].Model.TTD_Dokter,
                                                                        Text = Model.LmbrFormFisio.Program_List[i].Model.TTD_DokterNama
                                                                    });
                                                                }
                                                            }
                                                        }
                                                        <td>
                                                            <div class="col-md-10">
                                                                @Html.DropDownListFor(model => model.LmbrFormFisio.Program_List[i].Model.TTD_Dokter, _lstdokter, new { @class = "form-control input-sm" })
                                                            </div>
                                                            @if (Model.LmbrFormFisio.Program_List[i].Model.SudahRegDokter == 0)
                                                            {
                                                                <div class="col-md-2">
                                                                    <a id="btn_dtldiagnosa" class="btn btn-primary disabled" onclick="user_verif_dokterfisio({ id : '@Model.LmbrFormFisio.Program_List[i].Model.TTD_Dokter', no : '@Model.LmbrFormFisio.Program_List[i].Model.No' })" href="finspot:FingerspotVer;@Model.LmbrFormFisio.Program_List[i].Model.ViewBagDokter"><span class="icon-checkmark2 position-center"></span></a>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="col-md-2">
                                                                    <a id="btn_dtldiagnosa" class="btn btn-primary" onclick="user_verif_dokterfisio({ id : '@Model.LmbrFormFisio.Program_List[i].Model.TTD_Dokter', no : '@Model.LmbrFormFisio.Program_List[i].Model.No'})" href="finspot:FingerspotVer;@Model.LmbrFormFisio.Program_List[i].Model.ViewBagDokter"><span class="icon-checkmark2 position-center"></span></a>
                                                                </div>
                                                            }
                                                        </td>

                                                        @{
                                                            var _lstterapis = new List<SelectListItem>();
                                                            if (Model.LmbrFormFisio.Program_List[i].Model != null)
                                                            {
                                                                if (Model.LmbrFormFisio.Program_List[i].Model.TTD_Terapis != null)
                                                                {
                                                                    _lstterapis.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.LmbrFormFisio.Program_List[i].Model.TTD_Terapis,
                                                                        Text = Model.LmbrFormFisio.Program_List[i].Model.TTD_TerapisNama
                                                                    });
                                                                }
                                                            }
                                                        }
                                                        <td>
                                                            <div class="col-md-10">
                                                                @Html.DropDownListFor(model => model.LmbrFormFisio.Program_List[i].Model.TTD_Terapis, _lstterapis, new { @class = "form-control input-sm" })
                                                            </div>
                                                            @if (Model.LmbrFormFisio.Program_List[i].Model.SudahRegTerapis == 0)
                                                            {
                                                                <div class="col-md-2">
                                                                    <a id="btn_dtldiagnosa" class="btn btn-primary disabled" onclick="user_verif_terapisfisio({ id : '@Model.LmbrFormFisio.Program_List[i].Model.TTD_Terapis', no : '@Model.LmbrFormFisio.Program_List[i].Model.No' })" href="finspot:FingerspotVer;@Model.LmbrFormFisio.Program_List[i].Model.ViewBagTerapis"><span class="icon-checkmark2 position-center"></span></a>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="col-md-2">
                                                                    <a id="btn_dtldiagnosa" class="btn btn-primary" onclick="user_verif_terapisfisio({ id : '@Model.LmbrFormFisio.Program_List[i].Model.TTD_Terapis', no : '@Model.LmbrFormFisio.Program_List[i].Model.No'})" href="finspot:FingerspotVer;@Model.LmbrFormFisio.Program_List[i].Model.ViewBagTerapis"><span class="icon-checkmark2 position-center"></span></a>
                                                                </div>
                                                            }
                                                        </td>

                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Diperiksa Oleh :
                        </label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.LmbrFormFisio.Nama_Dokter, Model.LmbrFormFisio.Nama_Dokter == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.LmbrFormFisio.Nama_Dokter.ToString(), Text = Model.LmbrFormFisio.Nama_DokterNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.Nama_Dokter, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.LmbrFormFisio.SudahRegNama_Dokter == 0)
                            {
                                <a id="btn_assfisiodokter" class="btn btn-primary disabled" onclick="user_verif_assfisiodokter()" href="finspot:FingerspotVer;@ViewBag.UrlFingerLprnPmksaanMCUNama_Dokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_assfisiodokter" class="btn btn-primary" onclick="user_verif_assfisiodokter()" href="finspot:FingerspotVer;@ViewBag.UrlFingerLprnPmksaanMCUNama_Dokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Pasien</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.LmbrFormFisio.NamaPasien, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.LmbrFormFisio.NamaPasien != null ? (Model.LmbrFormFisio.NamaPasien) : "") } })
                            @Html.ValidationMessageFor(model => model.LmbrFormFisio.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.LmbrFormFisio.SudahRegPasien == 0)
                            {
                                <a id="btn_assfisiopasien" class="btn btn-primary disabled" onclick="user_verif_assfisiopasien()" href="finspot:FingerspotVer;@ViewBag.UrlFingerLmbrFormFisioNRM"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_assfisiopasien" class="btn btn-primary" onclick="user_verif_assfisiopasien()" href="finspot:FingerspotVer;@ViewBag.UrlFingerLmbrFormFisioNRM"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.LmbrFormFisio.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                @Html.EditorFor(model => model.LmbrFormFisio.nama_template, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LmbrFormFisio.nama_template, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.LmbrFormFisio.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFLembarFisiotherapi", new { noreg = Model.LmbrFormFisio.NoReg })" target="_blank"
                           class="btn btn-success" @(Model.LmbrFormFisio.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!-- JS SELECT -->
<script type="text/javascript">
    var dokter = $('#@formName #LmbrFormFisio_Nama_Dokter');

    dokter.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    $('#LmbrFormFisio_Template').select2({
        ajax: {
            url: "@Url.Action("ListTamplet", "TemplatePoliDalam")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaTemplate',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', ''],
                    dokumenid: $('#LmbrFormFisio_DokumenID').val(),
                    dokter: $('#LmbrFormFisio_DPJP').val()
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.NamaTemplate, text: value.NamaTemplate } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });
</script>

<!--Select dokter-->
<script type="text/javascript">

    @if (Model != null)
    {
        if (Model.LmbrFormFisio.Program_List != null)
        {
            for (var i = 0; i < Model.LmbrFormFisio.Program_List.Count; i++)
            {

                    @:customdetailFisio_Detail(@i, { target: $('#d_tbl_Programfisio thead a i')[0] }, '@d_trg_Programfisio', false);
            }

        }
    }

    function customdetailFisio_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strdokter = '#panel_detailLmbrFormFisioObat #LmbrFormFisio_Program_List_' + index_detail + '__Model_TTD_Dokter';
        var _strterapis = '#panel_detailLmbrFormFisioObat #LmbrFormFisio_Program_List_' + index_detail + '__Model_TTD_Terapis';

        $(_strdokter).select2({
             ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

        $(_strterapis).select2({
             ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

</script>

<!--INPUT DETAIL TABLE-->
@{
    if (Model != null)
    {
        Model.LmbrFormFisio.Program_List = null;
    }
}

<div id="@d_trg_Programfisio" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.LmbrFormFisio.Program_List[-1].Remove,
        new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.LmbrFormFisio.Program_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detailsaraf(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.LmbrFormFisio.Program_List[-1].Model.Program, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.LmbrFormFisio.Program_List[-1].Model.Tanggal_Program, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.LmbrFormFisio.Program_List[-1].Model.TTD_Pasien, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = (Model.LmbrFormFisio.NamaPasien != null ? (Model.LmbrFormFisio.NamaPasien) : "")
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.LmbrFormFisio.Program_List[-1].Model.TTD_Dokter,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.LmbrFormFisio.Program_List[-1].Model.TTD_Terapis,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>
</div>

<!--Auto Detail-->
<script type="text/javascript">

    function loadTemplateformfisio() {
        var id = $('#LmbrFormFisio_DokumenID').val();
        var nama = $('#LmbrFormFisio_Template').val();
        $.ajax({
            dataType: 'JSON',
            method: "GET",
            url: '@Url.Action("GetTemplatLembarFisio", "TemplatePoliDalam")',
            data: {
                id: id,
                nama: nama
            },
            success: function (data) {
                $('#LmbrFormFisio_Anamnesa').val(data.Data.Anamnesa);
                $('#LmbrFormFisio_PeriksaFisik_UjiFungsi').val(data.Data.PeriksaFisik_UjiFungsi);
                $('#LmbrFormFisio_Diag_Medis').val(data.Data.Diag_Medis);
                $('#LmbrFormFisio_Diag_Fungsi').val(data.Data.Diag_Fungsi);
                $('#LmbrFormFisio_Tata_Laksana').val(data.Data.Tata_Laksana);
                $('#LmbrFormFisio_Anjuran').val(data.Data.Anjuran);
                $('#LmbrFormFisio_Evaluasi').val(data.Data.Evaluasi);
                $('#LmbrFormFisio_Suspek_Penyakit').val(data.Data.Suspek_Penyakit);
                $('#LmbrFormFisio_Ket_Suspek_Penyakit').val(data.Data.Ket_Suspek_Penyakit);
                $('#LmbrFormFisio_Diagnosis').val(data.Data.Diagnosis);
                $('#LmbrFormFisio_Permintaan_Terapi').val(data.Data.Permintaan_Terapi);
                $('#LmbrFormFisio_Tempat').val(data.Data.Tempat);
                $('#LmbrFormFisio_Nama_Dokter').val(data.Data.Nama_Dokter);
            }
        });
    }

    function autoid_detailsaraf(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }


</script>

<script src="~/scripts/jquery.timer.js"></script>
<script>
    function user_verif_assfisiodokter() {
        var reStatsLmbrFormFisioDokter = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#LmbrFormFisio_Nama_Dokter').val();
        var noreg = $('#LmbrFormFisio_NoReg').val();
        var section = $('#LmbrFormFisio_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifassfisiodokter(noreg, section, user_id);
            if (ct >= limit || reStatsLmbrFormFisioDokter == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsLmbrFormFisioDokter == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsLmbrFormFisioDokter == 1) {
                    alertpopup("Verification success!", "success");
                    location.reload();
                }
            }
            ct++;
        });

        function user_checkverifassfisiodokter(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilFisio", "VerifFisio")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsLmbrFormFisioDokter = 1;
                        }
                    }
                    else {
                        reStatsLmbrFormFisioDokter = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_assfisiopasien() {
        var reStatsLmbrFormFisioPasien = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#LmbrFormFisio_NRM').val();
        var noreg = $('#LmbrFormFisio_NoReg').val();
        var section = $('#LmbrFormFisio_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifassfisiopasien(noreg, section, user_id);
            if (ct >= limit || reStatsLmbrFormFisioPasien == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsLmbrFormFisioPasien == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsLmbrFormFisioPasien == 1) {
                    alertpopup("Verification success!", "success");
                    location.reload();
                }
            }
            ct++;
        });

        function user_checkverifassfisiopasien(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilFisio", "VerifFisio")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Pasien == "1") {
                            reStatsLmbrFormFisioPasien = 1;
                        }
                    }
                    else {
                        reStatsLmbrFormFisioPasien = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_dokterfisio(param) {
         var reStatsDtlFisioDokter = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = param.id;
        const user_no = param.no;
        var noreg = $('#LmbrFormFisio_NoReg').val();
        var section = $('#LmbrFormFisio_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifdtlfisiodokter(noreg, section, user_id, user_no);
            if (ct >= limit || reStatsDtlFisioDokter == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDtlFisioDokter == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDtlFisioDokter == 1) {
                    alertpopup("Verification success!", "success");
                    location.reload();
                    //$('#d_id_DPJP').addClass('hidden');
                    //$('#d_text_DPJP').removeClass('hidden');
                    //$('#RegPersetujuanUmum_StatusTTDPasien').val(true);
                }
            }
            ct++;
        });

        function user_checkverifdtlfisiodokter(noreg, section, user_id, user_no) {
            myajax({
                url: '@Url.Action("CekDetailVerifFisio", "MedicalRecord")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id,
                    no: user_no,
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsDtlFisioDokter = 1;
                        }
                    }
                    else {
                        reStatsDtlFisioDokter = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_terapisfisio(param) {
         var reStatsDtlFisioTerapis = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = param.id;
        const user_no = param.no;
        var noreg = $('#LmbrFormFisio_NoReg').val();
        var section = $('#LmbrFormFisio_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifdtlfisioterapis(noreg, section, user_id, user_no);
            if (ct >= limit || reStatsDtlFisioTerapis == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDtlFisioTerapis == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDtlFisioTerapis == 1) {
                    alertpopup("Verification success!", "success");
                    location.reload();
                    //$('#d_id_DPJP').addClass('hidden');
                    //$('#d_text_DPJP').removeClass('hidden');
                    //$('#RegPersetujuanUmum_StatusTTDPasien').val(true);
                }
            }
            ct++;
        });

        function user_checkverifdtlfisioterapis(noreg, section, user_id, user_no) {
            myajax({
                url: '@Url.Action("CekDetailVerifFisio", "MedicalRecord")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id,
                    no: user_no,
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Operator == "1") {
                            reStatsDtlFisioTerapis = 1;
                        }
                    }
                    else {
                        reStatsDtlFisioTerapis = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_pasienfisio(param) {
         var reStatsDtlFisioPasien = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = param.id;
        const user_no = param.no;
        var noreg = $('#LmbrFormFisio_NoReg').val();
        var section = $('#LmbrFormFisio_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifdtlfisiopasien(noreg, section, user_id, user_no);
            if (ct >= limit || reStatsDtlFisioPasien == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDtlFisioPasien == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDtlFisioPasien == 1) {
                    alertpopup("Verification success!", "success");
                    location.reload();
                    //$('#d_id_DPJP').addClass('hidden');
                    //$('#d_text_DPJP').removeClass('hidden');
                    //$('#RegPersetujuanUmum_StatusTTDPasien').val(true);
                }
            }
            ct++;
        });

        function user_checkverifdtlfisiopasien(noreg, section, user_id, user_no) {
            myajax({
                url: '@Url.Action("CekDetailVerifFisio", "MedicalRecord")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id,
                    no: user_no,
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Pasien == "1") {
                            reStatsDtlFisioPasien = 1;
                        }
                    }
                    else {
                        reStatsDtlFisioPasien = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }
</script>