﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_IlmuPenyakitObsetri_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">

    @using (Html.BeginForm("IlmuPenyakitObsetri", controllerName, FormMethod.Post, new { id = formName, onsubmit = "loadingform(this)" }))
    {
        @Html.HiddenFor(Model => Model.Assobstri.NoReg)
        @Html.HiddenFor(Model => Model.Assobstri.SectionID)
        @Html.HiddenFor(Model => Model.Assobstri.Nomor)
        @Html.HiddenFor(Model => Model.Assobstri.NRM)
        @Html.HiddenFor(Model => Model.Assobstri.TandaTanganDPJP)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">ILMU PENYAKIT OBSETRI</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Assobstri.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Assobstri.Tanggal != null ? (Model.Assobstri.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Assobstri.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Assobstri.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Assobstri.Jam != null ? Model.Assobstri.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.Assobstri.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Rujukan :
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.Assobstri.Rujukan_Ya, new { htmlAttributes = new { onclick = "rujukanobstr()" } })
                                Ya, Dari
                            </label>
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Assobstri.Rujukan_Ya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assobstri.Rujukan_Ya_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Dx Rujukan :
                        </label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Assobstri.Rujukan_Ya_Dx, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assobstri.Rujukan_Ya_Dx, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.Assobstri.Rujukan_Tidak, new { htmlAttributes = new { } })
                                Tidak
                            </label>
                        </div>
                    </div>

                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Nama Keluarga :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Assobstri.NamaKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.Assobstri.NamaKeluarga != null ? (Model.Assobstri.NamaKeluarga) : "") } })
                            @Html.ValidationMessageFor(model => model.Assobstri.NamaKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Alamat :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Assobstri.AlamatKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.Assobstri.NamaKeluarga != null ? (Model.Assobstri.NamaKeluarga) : "") } })
                            @Html.ValidationMessageFor(model => model.Assobstri.AlamatKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Telepon :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Assobstri.TeleponKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.Assobstri.NamaKeluarga != null ? (Model.Assobstri.NamaKeluarga) : "") } })
                            @Html.ValidationMessageFor(model => model.Assobstri.TeleponKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Transportasi Datang :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Assobstri.Transportasi, StaticModel.ListTransportasi, new { @class = "form-control", onchange = "transportasiobstr()" })
                            @Html.ValidationMessageFor(model => model.Assobstri.Transportasi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Assobstri.Transportasi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assobstri.Transportasi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            RIWAYAT ALEGRI :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Assobstri.Riwayat_Alergi, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "riwayatalergiobstr()" })
                            @Html.ValidationMessageFor(model => model.Assobstri.Riwayat_Alergi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Assobstri.Riwayat_Alergi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assobstri.Riwayat_Alergi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            PENILAIAN NYERI
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Nyeri :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Assobstri.Nyeri, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "nyeriobstr()" })
                            @Html.ValidationMessageFor(model => model.Assobstri.Nyeri, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Lokasi :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Assobstri.Lokasi, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assobstri.Lokasi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Intensitas:
                        </label>
                        <div class="col-md-1">
                            @Html.DropDownListFor(model => model.Assobstri.Intensitas, StaticModel.ListIntensitas, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.Assobstri.Intensitas, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/Sekor.JPG" style="display:block; width:100%;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Jenis :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Assobstri.Jenis, StaticModel.List_Jenis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assobstri.Jenis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            ANAMNESA :
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            Keluhan Utama :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Assobstri.KeluhanUtama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assobstri.KeluhanUtama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            Komentar (Tulis nomer dan jelaskan abnormalias) :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Assobstri.Komentar, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assobstri.Komentar, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Diagnosa Kerja/ Diagnosa Banding(KODE ICD-X) :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Assobstri.Diagnosa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assobstri.Diagnosa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Terapi/Tindakan :
                        </label>
                    </div>
                    <div class="col-md-10 text-right">
                        <a class="btn btn-xs btn-success" style="margin-right:2px; padding: 1px 3px;" ng-click="$parent.ajaxmodal({
                                                                                    url: '@Url.Action("Create", "Resep", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor })',
                                                                                    header: 'Resep Obat'
                                                                                })">
                            <i class="icon-plus3"></i>
                        </a>
                        <a class="btn btn-xs btn-primary" style="padding: 1px 3px;" onclick="reloadObat('#Assobstri_Terapi');"><i class="icon-sync"></i></a>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Assobstri.Terapi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assobstri.Terapi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Rencana Kerja :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Assobstri.RencanaKerja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assobstri.RencanaKerja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            DISPOSISI :
                        </label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.Assobstri.Disposisi_BolehPulang, new { htmlAttributes = new { onclick = "bolehpulangobstr()" } })
                                    Boleh Pulang Jam Keluar
                                </label>
                                @Html.EditorFor(model => model.Assobstri.BolehPulangJam, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model != null ? (Model.Assobstri.BolehPulangJam != null ? Model.Assobstri.BolehPulangJam.Value.ToString("HH':'mm") : "") : "") } })
                                @Html.ValidationMessageFor(model => model.Assobstri.BolehPulangJam, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Wita
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Tanggal
                                </label>
                                @Html.EditorFor(model => model.Assobstri.BolehPulangTgl, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.Assobstri.BolehPulangTgl != null ? (Model.Assobstri.BolehPulangTgl.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.Assobstri.BolehPulangTgl, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Kontrol :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Assobstri.KontrolPoliklinik, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "kontrolobstr()" })
                            @Html.ValidationMessageFor(model => model.Assobstri.KontrolPoliklinik, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Assobstri.KontrolPoliklinik_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Assobstri.KontrolPoliklinik_Ket, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Assobstri.KontrolPoliklinik_Tanggal, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.Assobstri.KontrolPoliklinik_Tanggal != null ? (Model.Assobstri.KontrolPoliklinik_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Assobstri.KontrolPoliklinik_Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Assobstri.Disposisi_Dirawat, new { htmlAttributes = new { onclick = "dirawatobstr()" } })
                                Dirawat di Ruang
                            </label>
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Assobstri.Disposisi_Dirawat_Ket, StaticModel.ListDirawat, new { @class = "form-control", onchange = "dirawatketobstr()" })
                            @Html.ValidationMessageFor(model => model.Assobstri.Disposisi_Dirawat_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            DPJP
                        </label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.Assobstri.DokterBPJP, Model.Assobstri.DokterBPJP == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.Assobstri.DokterBPJP.ToString(), Text = Model.Assobstri.DokterBPJPNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Assobstri.DokterBPJP, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.Assobstri.SudahRegDokter == 0)
                            {
                                <a id="btn_assgynoco" class="btn btn-primary disabled" onclick="user_verif_assobsetri()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssobstriDPJP"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_assgynoco" class="btn btn-primary" onclick="user_verif_assobsetri()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssobstriDPJP"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.Assobstri.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFIlmuPenyakitObsetri", new { noreg = Model.Assobstri.NoReg, sectionid = Model.Assobstri.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.Assobstri.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokterpengajian = $('#@formName #Assobstri_DokterBPJP');

    dokterpengajian.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>
<script src="~/scripts/jquery.timer.js"></script>
<!--JS LAINNYA-->
<script>
    function user_verif_assobsetri() {
        var reStatsIlmuObsetri = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#Assobstri_DokterBPJP').val();
        var noreg = $('#Assobstri_NoReg').val();
        var section = $('#Assobstri_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifobsetri(noreg, section, user_id);
            if (ct >= limit || reStatsIlmuObsetri == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsIlmuObsetri == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsIlmuObsetri == 1) {
                    alertpopup("Verification success!", "success");
                    location.reload();
                }
            }
            ct++;
        });

        function user_checkverifobsetri(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilAssobsetri", "VerifAssPAKebidanan")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.DokterPengkaji == "1") {
                            reStatsIlmuObsetri = 1;
                        }
                    }
                    else {
                        reStatsIlmuObsetri = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function rujukanobstr() {
        if ($('#Assobstri_Rujukan_Ya').is(':checked')) {
            $('#Assobstri_Rujukan_Ya_Ket').prop('disabled', false);
            $('#Assobstri_Rujukan_Ya_Dx').prop('disabled', false);
        } else {
            $('#Assobstri_Rujukan_Ya_Ket').prop('disabled', true);
            $('#Assobstri_Rujukan_Ya_Ket').val('');
            $('#Assobstri_Rujukan_Ya_Dx').prop('disabled', true);
            $('#Assobstri_Rujukan_Ya_Dx').val('');
        }
    }

    function transportasiobstr() {
        if ($("#Assobstri_Transportasi option:selected").val() == 'Lainnya') {
            $('#Assobstri_Transportasi_Ket').prop('disabled', false);
        } else {
            $('#Assobstri_Transportasi_Ket').prop('disabled', true);
            $('#Assobstri_Transportasi_Ket').val('');
        }
    }

    function riwayatalergiobstr() {
        if ($("#Assobstri_Riwayat_Alergi option:selected").val() == 'Ya') {
            $('#Assobstri_Riwayat_Alergi_Ket').prop('disabled', false);
        } else {
            $('#Assobstri_Riwayat_Alergi_Ket').prop('disabled', true);
            $('#Assobstri_Riwayat_Alergi_Ket').val('');
        }
    }

    function nyeriobstr() {
        if ($("#Assobstri_Nyeri option:selected").val() == 'Ya') {
            $('#Assobstri_Lokasi').prop('disabled', false);
            $('#Assobstri_Intensitas').prop('disabled', false);
        } else {
            $('#Assobstri_Lokasi').prop('disabled', true);
            $('#Assobstri_Lokasi').val('');
            $('#Assobstri_Intensitas').prop('disabled', true);
            $('#Assobstri_Intensitas').val('');
        }
    }

    function bolehpulangobstr() {
        if ($('#Assobstri_Disposisi_BolehPulang').is(':checked')) {
            $('#Assobstri_BolehPulangJam').prop('disabled', false);
            $('#Assobstri_BolehPulangTgl').prop('disabled', false);
        } else {
            $('#Assobstri_BolehPulangJam').prop('disabled', true);
            $('#Assobstri_BolehPulangTgl').prop('disabled', true);
        }
    }

    function kontrolobstr() {
        if ($("#Assobstri_KontrolPoliklinik option:selected").val() == 'Ya') {
            $('#Assobstri_KontrolPoliklinik_Ket').prop('disabled', false);
            $('#Assobstri_KontrolPoliklinik_Tanggal').prop('disabled', false);
        } else {
            $('#Assobstri_KontrolPoliklinik_Ket').prop('disabled', true);
            $('#Assobstri_KontrolPoliklinik_Tanggal').prop('disabled', true);
        }
    }

    function dirawatobstr() {
        if ($('#Assobstri_Disposisi_Dirawat').is(':checked')) {
            $('#Assobstri_Disposisi_Dirawat_Ket').prop('disabled', false);
        } else {
            $('#Assobstri_Disposisi_Dirawat_Ket').prop('disabled', true);
            $('#Assobstri_Disposisi_Dirawat_Ket').val('');
        }
    }

    function dirawatketobstr() {
        if ($("#Assobstri_Disposisi_Dirawat_Ket option:selected").val() == 'Ruangan Lain') {
            $('#Assobstri_RuanganLain').prop('disabled', false);
        } else {
            $('#Assobstri_RuanganLain').prop('disabled', true);
            $('#Assobstri_RuanganLain').val('');
        }
    }

    function reloadObat(target) {
        myajax({
            url: '@Url.Action("getListObat", "Resep")',
            data: {
                noreg: '@Model.NoReg',
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    $(target).val(dt.Data);
                }
            }
        });
    }


    $(document).ready(function () {
        rujukanobstr();
        transportasiobstr();
        bolehpulangobstr();
        kontrolobstr();
        dirawatobstr();
        dirawatketobstr();
        riwayatalergiobstr();
        nyeriobstr();
    });
</script>

