﻿@using EMRRSBK.Models
@model GeneralPoliMataViewModel

@{
    var controllerName = "CatatanEdukasiTerintegrasiLanjutanRIRJ";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_cetlrirj = $"frm_table_detailCatatanEdukasiTerintegrasiLanjutanRIRJ";
    int d_idx_cetlrirj = 0;
    var d_trg_cetlrirj = $"input_target_detailCatatanEdukasiTerintegrasiLanjutanRIRJ";
    if (Model != null)
    {
        if (Model.CETLRIRJ_List != null)
        {
            d_idx_cetlrirj = Model.CETLRIRJ_List.Count();
        }
    }
    #endregion

}

@*CSS Table 1*@
<style>

    #d_tbl_cetlrirj thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_cetlrirj thead th:nth-child(1),
    #d_tbl_cetlrirj tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_cetlrirj thead th:nth-child(2),
    #d_tbl_cetlrirj tbody td:nth-child(2) {
        width: 40px;
        text-align: center;
    }

    #d_tbl_cetlrirj thead th:nth-child(3),
    #d_tbl_cetlrirj tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_cetlrirj thead th:nth-child(4),
    #d_tbl_cetlrirj tbody td:nth-child(4) {
        width: 80px;
        display: none;
    }

    #d_tbl_cetlrirj thead th:nth-child(5),
    #d_tbl_cetlrirj tbody td:nth-child(5) {
        width: 120px;
    }

    #d_tbl_cetlrirj thead th:nth-child(6),
    #d_tbl_cetlrirj tbody td:nth-child(6) {
        width: 150px;
    }

    #d_tbl_cetlrirj thead th:nth-child(7),
    #d_tbl_cetlrirj tbody td:nth-child(7) {
        width: 100px;
    }

    #d_tbl_cetlrirj thead th:nth-child(8),
    #d_tbl_cetlrirj tbody td:nth-child(8) {
        width: 100px;
    }

    #d_tbl_cetlrirj thead th:nth-child(9),
    #d_tbl_cetlrirj tbody td:nth-child(9) {
        width: 140px;
    }

    #d_tbl_cetlrirj thead th:nth-child(10),
    #d_tbl_cetlrirj tbody td:nth-child(10) {
        width: 140px;
    }

    #d_tbl_cetlrirj thead th:nth-child(11),
    #d_tbl_cetlrirj tbody td:nth-child(11) {
        width: 200px;
    }

    #d_tbl_cetlrirj thead th:nth-child(12),
    #d_tbl_cetlrirj tbody td:nth-child(12) {
        width: 100px;
    }

    #d_tbl_cetlrirj thead th:nth-child(13),
    #d_tbl_cetlrirj tbody td:nth-child(13) {
        width: 100px;
    }

    #d_tbl_cetlrirj thead th:nth-child(14),
    #d_tbl_cetlrirj tbody td:nth-child(14) {
        width: 100px;
    }

    #d_tbl_cetlrirj thead th:nth-child(15),
    #d_tbl_cetlrirj tbody td:nth-child(15) {
        width: 100px;
    }

    #d_tbl_cetlrirj thead th:nth-child(16),
    #d_tbl_cetlrirj tbody td:nth-child(16) {
        width: 200px;
    }

    #d_tbl_cetlrirj thead th:nth-child(17),
    #d_tbl_cetlrirj tbody td:nth-child(17) {
        width: 100px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("CatatanEdukasiTerintegrasiLanjutanRIRJ", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatecatatanlanjutanterintegrasirirj(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.NRM)
        @Html.HiddenFor(model => model.SectionID)
        @Html.HiddenFor(model => model.Tanggal_View)
        if (Model.CETLRIRJ_List != null)
        {
            for (var i = 0; i < Model.CETLRIRJ_List.Count(); i++)
            {
                @Html.HiddenFor(Model => Model.CETLRIRJ_List[i].Model.TandaTanganEdukator)
            }
        }

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="row">

                        <div class="form-group">
                            <label class=" col-md-12 text-center text-bold h5">
                                EDUKASI LANJUTAN
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="panel_CETLRIRJ" class="panel detail collapse in"
                                     data-index-detail="@d_idx_cetlrirj">
                                    <table id="d_tbl_cetlrirj" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" onclick="checkall(this)" />
                                                </th>
                                                <th class="text-center" rowspan="2">
                                                    <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_cetlrirj')">
                                                        <i class="icon-plus2"></i>
                                                    </a>
                                                </th>
                                                <th></th>
                                                <th>No</th>
                                                <th>Tanggal</th>
                                                <th>Edukasi yang diberikan</th>
                                                <th>Siapa yg diedukasi</th>
                                                <th>Tempat</th>
                                                <th>Metode Edukasi</th>
                                                <th>Respon</th>
                                                <th>Nama/ Paraf Educator</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.CETLRIRJ_List != null)
                                                {
                                                    for (var i = 0; i < Model.CETLRIRJ_List.Count(); i++)
                                                    {
                                                        <tr>
                                                            <!-- Check -->
                                                            <td>
                                                                <input type="checkbox" />
                                                            </td>

                                                            <!-- Delete button -->
                                                            <td>
                                                                <a class="text-danger-600"
                                                                   onclick="removetr(this)">
                                                                    <i class="icon-trash"></i>
                                                                </a>
                                                            </td>

                                                            <!-- Remove Status -->
                                                            <td>
                                                                @Html.EditorFor(model => model.CETLRIRJ_List[i].Remove,
                                                           new { htmlAttributes = new { @class = "disable-reset" } })
                                                            </td>

                                                            <!-- No -->
                                                            <td>
                                                                @Html.EditorFor(model => model.CETLRIRJ_List[i].Model.No, new
                                                           {
                                                               htmlAttributes = new
                                                               {
                                                                   @class = "form-control input-sm",
                                                                   @readonly = "readonly"
                                                               }
                                                           })
                                                            </td>

                                                            <!-- 1 -->
                                                            <td>
                                                                @Html.EditorFor(model => model.CETLRIRJ_List[i].Model.Tanggal, new
                                                           {
                                                               htmlAttributes = new
                                                               {
                                                                   @class = "form-control input-sm",
                                                                   Value = (Model != null ? (Model.CETLRIRJ_List[i].Model.Tanggal != null ? Model.CETLRIRJ_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                               }
                                                           })
                                                            </td>

                                                            <!-- 2 -->
                                                            <td>

                                                                @Html.EditorFor(model => model.CETLRIRJ_List[i].Model.EdukasiYangDiberikan, new
                                                           {
                                                               htmlAttributes = new
                                                               {
                                                                   @class = "form-control input-sm"

                                                               }
                                                           })
                                                            </td>

                                                            <!-- 3 -->


                                                            <td>
                                                                @{
                                                                    var m_1 = StaticModel.ListSiapayangedukasi;
                                                                    var item_1 = Model.CETLRIRJ_List[i].Model.YangDiedukasi;
                                                                    if (item_1 != null)
                                                                    {
                                                                        m_1.FirstOrDefault(x => x.Value == Model.CETLRIRJ_List[i].Model.YangDiedukasi).Selected = true;

                                                                    }
                                                                }

                                                                @Html.DropDownListFor(model => model.CETLRIRJ_List[i].Model.YangDiedukasi, m_1, new { @class = "form-control input-sm" })

                                                            </td>

                                                            <!-- 4 -->
                                                            <td>

                                                                @Html.EditorFor(model => model.CETLRIRJ_List[i].Model.Tempat, new
                                                           {
                                                               htmlAttributes = new
                                                               {
                                                                   @class = "form-control input-sm",
                                                                   @Value = Request.Cookies["SectionNamaPelayanan"].Value,
                                                                   @readonly = "readonly"
                                                               }
                                                           })
                                                            </td>

                                                            <!-- 5 -->
                                                            <td>
                                                                @{
                                                                    var m_2 = StaticModel.ListMetode;
                                                                    var item_2 = Model.CETLRIRJ_List[i].Model.MetodeEdukasi;
                                                                    if (item_2 != null)
                                                                    {
                                                                        m_2.FirstOrDefault(x => x.Value == Model.CETLRIRJ_List[i].Model.MetodeEdukasi).Selected = true;

                                                                    }
                                                                }

                                                                @Html.DropDownListFor(model => model.CETLRIRJ_List[i].Model.MetodeEdukasi, m_2, new { @class = "form-control input-sm" })

                                                            </td>

                                                            <!-- 6 -->
                                                            <td>
                                                                @{
                                                                    var m_3 = StaticModel.ListRespon;
                                                                    var item_3 = Model.CETLRIRJ_List[i].Model.Respon;
                                                                    if (item_3 != null)
                                                                    {
                                                                        m_3.FirstOrDefault(x => x.Value == Model.CETLRIRJ_List[i].Model.Respon).Selected = true;

                                                                    }
                                                                }

                                                                @Html.DropDownListFor(model => model.CETLRIRJ_List[i].Model.Respon, m_3, new { @class = "form-control input-sm" })

                                                            </td>

                                                            <!-- 6 -->
                                                            @{
                                                                var _lstnama = new List<SelectListItem>();
                                                                if (Model.CETLRIRJ_List[i].Model != null)
                                                                {
                                                                    if (Model.CETLRIRJ_List[i].Model.NamaEducator != null)
                                                                    {
                                                                        _lstnama.Add(new SelectListItem()
                                                                        {
                                                                            Value = Model.CETLRIRJ_List[i].Model.NamaEducator,
                                                                            Text = Model.CETLRIRJ_List[i].Model.NamaEducatorNama
                                                                        });
                                                                    }
                                                                }
                                                            }
                                                            <td>
                                                                <div class="col-md-9">
                                                                    @Html.DropDownListFor(model => model.CETLRIRJ_List[i].Model.NamaEducator, _lstnama, new { @class = "form-control input-sm" })
                                                                </div>
                                                                @if (Model.CETLRIRJ_List[i].Model.SudahRegEdukasi == 0)
                                                                {
                                                                    <div class="col-md-2">
                                                                        <a id="btn_dtlcatatanlanjutanintegrasirirj" class="btn btn-primary disabled" onclick="user_verif_catatanlanjutanintegrasirirj({ id : '@Model.CETLRIRJ_List[i].Model.NamaEducator', no : '@Model.CETLRIRJ_List[i].Model.No', ini : this})" href="finspot:FingerspotVer;@Model.CETLRIRJ_List[i].Model.Viewbag"><span class="icon-checkmark2 position-center"></span></a>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="col-md-2">
                                                                        <a id="btn_dtlcatatanlanjutanintegrasirirj" class="btn btn-primary" onclick="user_verif_catatanlanjutanintegrasirirj({ id : '@Model.CETLRIRJ_List[i].Model.NamaEducator', no : '@Model.CETLRIRJ_List[i].Model.No', ini : this})" href="finspot:FingerspotVer;@Model.CETLRIRJ_List[i].Model.Viewbag"><span class="icon-checkmark2 position-center"></span></a>
                                                                    </div>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 ">
                                <div class="text-right">
                                    <a class="btn btn-primary" onclick="bukamodalcttitegrasirirj()">
                                        <i class="icon-book position-left"></i>
                                        History
                                    </a>
                                    <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                                    <a href="@Url.Action("ExportPDFCatatanEdukasiTerintegrasiLanjutanRIRJ", new { noreg = Model.NoReg})" target="_blank"
                                       class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                                        Print PDF
                                    </a>
                                    <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }

</div>

<div id="modalViewCttHistory" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <!-- Modal content-->
        @Html.Partial("~/Views/CatatanEdukasiTerintegrasiLanjutanRIRJ/ListHistoryCatatanEdukasiTerintegrasiRIRJ.cshtml")
    </div>
</div>


<script type="text/javascript">

    @if (Model != null)
    {
         if (Model.CETLRIRJ_List != null)
        {
            for (var i = 0; i < Model.CETLRIRJ_List.Count; i++)
            {

                    @:customdetailCETLRIRJ_Detail(@i, { target: $('#d_tbl_cetlrirj thead a i')[0] }, '@d_trg_cetlrirj', false);
            }

        }
    }

    function customdetailCETLRIRJ_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strnama = '#panel_CETLRIRJ #CETLRIRJ_List_' + index_detail + '__Model_NamaEducator';

        $(_strnama).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }

            }
            _this.value = result + 1;

        }
        $(_this).removeAttr('onblur');

    }

</script>

<script>
    function user_verif_catatanlanjutanintegrasirirj(param) {
         var reStatsDtlObses = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = param.id;
        const user_no = param.no;
        var x_this = param.ini;
        var noreg = $('#NoReg').val();
         var section = $('#CETLRIRJ_List_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifcatatanlanjutanintegrasirirj(noreg, section, user_id, user_no);
            if (ct >= limit || reStatsDtlObses == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDtlObses == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDtlObses == 1) {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_dtlcatatanlanjutanintegrasirirj').addClass('disabled', true);
                    $('#catatanlnjtanedukasiintegrasirj').click();
                    alertpopup("Verification Berhasil", "success");
                }
            }
            ct++;
        });

        function user_checkverifcatatanlanjutanintegrasirirj(noreg, section, user_id, user_no) {
            myajax({
                url: '@Url.Action("CheckBerhasilCatatanLanjutanTerintegrasi", "CatatanEdukasiTerintegrasiLanjutanRIRJ")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id,
                    no: user_no,
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsDtlObses = 1;
                        }
                    }
                    else {
                        reStatsDtlObses = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreatecatatanlanjutanterintegrasirirj(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#catatanlnjtanedukasiintegrasirj').click();
    }

    function bukamodalcttitegrasirirj() {
        $('#modalViewCttHistory').modal();
        $('#refreshcatatanterintegrasi').click();
    }
</script>

@{
    if (Model != null)
    {
        Model.CETLRIRJ_List = null;
    }
}

<div id="@d_trg_cetlrirj" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.CETLRIRJ_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.CETLRIRJ_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CETLRIRJ_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CETLRIRJ_List[-1].Model.EdukasiYangDiberikan, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.CETLRIRJ_List[-1].Model.YangDiedukasi, new List<SelectListItem>
                                                              {
                                                                  new SelectListItem() {Text = "", Value=""},
                                                                  new SelectListItem() {Text = "Pasien", Value="Pasien"},
                                                                  new SelectListItem() {Text = "Ayah / Ibu", Value="Ayah / Ibu"},
                                                                  new SelectListItem() {Text = "Suami / Istri", Value="Suami / Istri"},
                                                                  new SelectListItem() {Text = "Anak", Value="Anak"}
                                                              }, new { @class = "form-control input-sm" })

    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CETLRIRJ_List[-1].Model.Tempat, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @Value = Request.Cookies["SectionNamaPelayanan"].Value,
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.CETLRIRJ_List[-1].Model.MetodeEdukasi, new List<SelectListItem>
                                                              {
                                                                  new SelectListItem() {Text = "", Value=""},
                                                                  new SelectListItem() {Text = "Diskusi", Value="Diskusi"},
                                                                  new SelectListItem() {Text = "Demonstrasi", Value="Demonstrasi"},
                                                                  new SelectListItem() {Text = "Leatlef", Value="Leatlef"},
                                                                  new SelectListItem() {Text = "Audio Visual", Value="Audio Visual"}
                                                              }, new { @class = "form-control input-sm" })

    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.CETLRIRJ_List[-1].Model.Respon, new List<SelectListItem>
                                                              {
                                                                  new SelectListItem() {Text = "", Value=""},
                                                                  new SelectListItem() {Text = "Tidak respon sama sekali(Tidak antusias dan keinginan belajar)", Value="Tidak respon sama sekali(Tidak antusias dan keinginan belajar)"},
                                                                  new SelectListItem() {Text = "Tidak Paham (ingin belajar tapi kesulitan mengerti)", Value="Tidak Paham (ingin belajar tapi kesulitan mengerti)"},
                                                                  new SelectListItem() {Text = "Paham hal yang diajarkan, tapi tidak bisa menjelaskan sendiri", Value="Paham hal yang diajarkan, tapi tidak bisa menjelaskan sendiri"},
                                                                  new SelectListItem() {Text = "Dapat menjelaskan apa yang telah diajarkan tapi harus dibantu educator", Value="Dapat menjelaskan apa yang telah diajarkan tapi harus dibantu educator"},
                                                                  new SelectListItem() {Text = "Dapat menjelaskan apa yang telah diajarkan tapi tanpa dibantu", Value="Dapat menjelaskan apa yang telah diajarkan tapi tanpa dibantu"}
                                                              }, new { @class = "form-control input-sm" })

    </div>


    <div class="input-detail">

        @Html.DropDownListFor(model => model.CETLRIRJ_List[-1].Model.NamaEducator,
        new List<SelectListItem>(), new { @class = "form-control input-sm" })

    </div>


</div>




