﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "JanganDilakukanResusitasi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};



}


<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatejnglklnrestusiasi(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(Model => Model.NoReg)
            @Html.HiddenFor(Model => Model.SectionID)
            @Html.HiddenFor(Model => Model.NRM)
            @Html.HiddenFor(Model => Model.JngnRisusitasi.TandaTanganDPJP)
            @Html.HiddenFor(Model => Model.JngnRisusitasi.TandaTangan)
            @Html.HiddenFor(Model => Model.JngnRisusitasi.SectionID)


            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    JANGAN DILAKUKAN RESUSITASI
                </label>
            </div>
            <div class="form-group">
                <p class="text-justify">
                    Formulir ini adalah perintah dokter penanggung jawab pelayanan kepada seluruh staf klinis rumah sakit, agar tidak dilakukan resusitasi pada pasien ini bila terjadi henti jantung (bila tidak ada denyut nadi) dan henti nafas (tak ada pernafasan spontan). Formulir ini juga memberikan perintah kepada staf medis untuk tetap melakukan intervensi atau pengobatan, atau tata laksana lainnya sebelum terjadinya henti jantung dan henti nafas.
                </p>
            </div>
            <div class="form-group">
                <label class="col-md-2">Nama :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.JngnRisusitasi.NamaPasien, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JngnRisusitasi.NamaPasien, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    Tanggal Lahir :
                </label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.JngnRisusitasi.TglLahir, new { htmlAttributes = new { @class = "form-control", Value = (Model.JngnRisusitasi.TglLahir != null ? (Model.JngnRisusitasi.TglLahir.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.JngnRisusitasi.TglLahir, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Jenis Kelamin :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.JngnRisusitasi.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.JngnRisusitasi.JenisKelamin == "F" ? "Perempuan" : Model.JngnRisusitasi.JenisKelamin == "M" ? "Laki- Laki" : "") } })
                    @Html.ValidationMessageFor(model => model.JngnRisusitasi.JenisKelamin, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <p class="text-justify">
                    <ul>
                        Perintah/pernyataan dokter penanggung jawab pelayanan. Saya dokter yang bertanda tangan dibawah ini menginstruksikan kepada seluruh staf medis dan staf klinis lainnya untuk melakukan hal-hal tertulis dibawah ini :
                        <li>Usaha komprehensif untuk mencegah henti jantung atau henti nafas tanpa melakukan intubasi. DO NOT RESUCITATE TIDAK DILAKUKAN RESUSITASI JANTUNG PARU (RJP)</li>
                        <li>Usaha suportif sebelum terjadi henti nafas atau henti jantung yang meliputi pembukaan jalan nafas dan invasive, mengontrol perdarahan, memposisikan pasien dengan nyaman, pemberian obat-obatan anti nyeri TIDAK MELAKUKAN RJP (RESUSITASI JANTUNG PARU) bila henti nafas atau henti jantung terjadi.</li>
                    </ul>
                </p>
                <p class="text-justify">
                    <ul>
                        Saya dokter yang bertanda tangan dibawah ini menyatakan bahwa keputusan DNR diatas diambil setelah pasien diberikan penjelasan dan informed consent diperoleh dari salah satu :
                        <li>Pasien</li>
                        <li>Tenaga kesehatan yang ditunjuk pasien</li>
                        <li>Wali yang sah atas pasien (termasuk yang ditunjuk oleh pengadilan)</li>
                        <li>Anggota keluarga pasien</li>
                    </ul>
                </p>
                <p class="text-justify">
                    <ul>
                        Jika yang diatas tidak memungkinkan maka dokter yang bertanda tangan dibawah ini memberikan perintah DNR berdasarkan pada :
                        <li>Instruksi pasien sebelumnya atau</li>
                        <li>Keputusan dua orang dokter yang menyatakan bahwa Resusitasi Jantung Paru (RJP) akan mendatangkan hasil yang tidak efektif.</li>
                    </ul>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    Dokter Pengkaji
                </label>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.JngnRisusitasi.DPJP, Model.JngnRisusitasi.DPJP == null ? new List<SelectListItem>() :
            new List<SelectListItem>() { new SelectListItem() { Value = Model.JngnRisusitasi.DPJP.ToString(), Text = Model.JngnRisusitasi.DPJPNama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.JngnRisusitasi.DPJP, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1">
                    @if (Model.JngnRisusitasi.SudahRegDPJP == 0)
                    {
                        <a id="btn_dpjp" class="btn btn-primary disabled" onclick="user_verif_dpjp(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerJngnRisusitasiDPJP"><span class="icon-checkmark2 position-center"></span>Verif</a>
                    }
                    else
                    {
                        <a id="btn_dpjp" class="btn btn-primary" onclick="user_verif_dpjp(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerJngnRisusitasiDPJP"><span class="icon-checkmark2 position-center"></span>Verif</a>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Nama :</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.JngnRisusitasi.NamaPasien, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JngnRisusitasi.NamaPasien, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1">
                    @if (Model.JngnRisusitasi.SudahRegDPJP == 0)
                    {
                        <a id="btn_pasien" class="btn btn-primary disabled" onclick="user_verif_pasien(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerJngnRisusitasiPasien"><span class="icon-checkmark2 position-center"></span>Verif</a>
                    }
                    else
                    {
                        <a id="btn_pasien" class="btn btn-primary" onclick="user_verif_pasien(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerJngnRisusitasiPasien"><span class="icon-checkmark2 position-center"></span>Verif</a>
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                    <a href="@Url.Action("ExportPDFJanganDilakukanResusitasi", new { noreg = Model.NoReg, sectionid = Model.SectionID })" target="_blank"
                       class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                        Print PDF
                    </a>
                    <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }

</div>
@*JS SELECT*@
<script type="text/javascript">
    var dpjp = $('#@formName #JngnRisusitasi_DPJP');

    dpjp.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });


</script>

<script>
    function user_verif_dpjp(x_this) {
        var reStatsDPJP = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#JngnRisusitasi_DPJP').val();
        var noreg = $('#NoReg').val();
        var section = $('#SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifdpjp(noreg, section, user_id);
            if (ct >= limit || reStatsDPJP == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDPJP == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDPJP == 1) {
                    alertpopup("Verification success!", "success");
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_dpjp').addClass('disabled', true);
                    $('#janganlakukanresusitasi').click();
                }
            }
            ct++;
        });

        function user_checkverifdpjp(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilJanganLakukanRisusitasi", "VerifJanganLakukanRestuisi")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.DokterPengkaji == "1") {
                            reStatsDPJP = 1;
                        }
                    }
                    else {
                        reStatsDPJP = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_pasien(x_this) {
        var reStatsPasien = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#NRM').val();
        var noreg = $('#NoReg').val();
        var section = $('#SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifpasien(noreg, section, user_id);
            if (ct >= limit || reStatsPasien == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsPasien == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsPasien == 1) {
                    alertpopup("Verification success!", "success");
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_pasien').addClass('disabled', true);
                    $('#janganlakukanresusitasi').click();
                }
            }
            ct++;
        });

        function user_checkverifpasien(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilJanganLakukanRisusitasi", "VerifJanganLakukanRestuisi")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Pasien == "1") {
                            reStatsPasien = 1;
                        }
                    }
                    else {
                        reStatsPasien = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreatejnglklnrestusiasi(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#janganlakukanresusitasi').click();
    }
</script>