﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "RencanaKeperawatanPerubahanPerfusiJaringanSerebralRI";
    ViewBag.Title = controllerName;
    var formName = $"frm_RencanaKeperawatanPerubahanPerfusiJaringanSerebralRI_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<style>
    #table_rencana thead th:nth-child(1) {
        width: 180px;
    }
</style>



<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.RncanaKprwtPerfusi.NoReg)
        @Html.HiddenFor(Model => Model.RncanaKprwtPerfusi.SectionID)
        @Html.HiddenFor(Model => Model.RncanaKprwtPerfusi.NRM)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">RENCANA KEPERAWATAN PERUBAHAN PERFUSI JARINGAN SEREBRAL</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1 col-md-offset-1">
                            Jam :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RncanaKprwtPerfusi.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.RncanaKprwtPerfusi.Jam != null ? Model.RncanaKprwtPerfusi.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.RncanaKprwtPerfusi.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <table id="table_rencana" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tgl</th>
                                    <th>Diagnosa Keperawatan</th>
                                    <th>Tujuan</th>
                                    <th>Rencana TIndakan</th>
                                    <th>Paraf/ Nama Terang</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.RncanaKprwtPerfusi.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.RncanaKprwtPerfusi.Tanggal != null ? (Model.RncanaKprwtPerfusi.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtPerfusi.Tanggal, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                <b>Perubahan perfusi jaringan serebral</b>
                                            </label>
                                            <label class="col-md-12">
                                                berhubungan dengan :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPerfusi.Diagnosa_PerdarahanIntra, new { htmlAttributes = new { } })
                                                    Perdatahan Intra
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPerfusi.Diagnosa_Serebral, new { htmlAttributes = new { } })
                                                    Serebral
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPerfusi.Diagnosa_OklusiOtak, new { htmlAttributes = new { } })
                                                    Oklusi otak
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPerfusi.Diagnosa_Vasopasme, new { htmlAttributes = new { } })
                                                    Vasospasme
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPerfusi.Diagnosa_Edema, new { htmlAttributes = new { } })
                                                    Edema serebral tarombus
                                                </label>
                                            </div>
                                            <label class="col-md-12">
                                                DS :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPerfusi.DS_Mengeluh, new { htmlAttributes = new { } })
                                                    Mengeluh nyeri kepala, pusing, kaku leher, kesemutan, mati rasa, kelumpuhan pada salah satu sisi tubuh
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPerfusi.DS_Lainnya, new { htmlAttributes = new { } })
                                                </label>
                                                @Html.EditorFor(model => model.RncanaKprwtPerfusi.DS_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtPerfusi.DS_Lainnya_Ket, "", new { @class = "text-danger" })
                                            </div>
                                            <label class="col-md-12">
                                                DO :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtPerfusi.DO_TIK, new { htmlAttributes = new { } })
                                                    TIK meningkat
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtPerfusi.DO_Penurunan, new { htmlAttributes = new { } })
                                                    Penurunan kesadaran(GCS < 13)
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtPerfusi.DO_TampakGelisah, new { htmlAttributes = new { } })
                                                    Tampak gelisah
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtPerfusi.DO_TTV, new { htmlAttributes = new { } })
                                                    TTV terutama TD meningkat
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <label class="col-md-12">Setelah diberikan asuhan keperawatan selama</label>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    @Html.EditorFor(model => model.RncanaKprwtPerfusi.Tujuan_KeperawatanSelama, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtPerfusi.Tujuan_KeperawatanSelama, "", new { @class = "text-danger" })
                                                    <label class="input-group-addon">menit/jam</label>
                                                </div>
                                            </div>
                                            <label class="col-md-12">diharapakan perfusi jaringan serebral dapat tercapai secara optimal dengan kriteria hasil :</label>
                                            <label class="col-md-12">Kriteria hasil :</label>
                                            <label class="col-md-2">1.</label>
                                            <label class="col-md-10">TIK normal</label>
                                            <label class="col-md-2">2.</label>
                                            <label class="col-md-10">Tingkat kesdaran membarik(GCS >= 13)</label>
                                            <label class="col-md-2">3.</label>
                                            <label class="col-md-10">Fungsi kognitif, memori dan motorik membaik</label>
                                            <label class="col-md-2">4.</label>
                                            <label class="col-md-10">TTv normal (TD 110/70-140/90 mmHg, Nadi 60-100x/mnt, Suhu 36-37<sup>o</sup>C, Resp 16-20x/mnt)</label>
                                            <label class="col-md-2">5.</label>
                                            <label class="col-md-10">Klien tidak gelisah</label>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">Mandiri :</div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPerfusi.Mandiri_1, new { htmlAttributes = new { } })
                                                    1. Beri posisi tidur dengan kepala ditinggikan 15-30 derajat
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                    <label class="checkbox checkbox-inline control-label">
                                                        @Html.EditorFor(model => model.RncanaKprwtPerfusi.Mandiri_2, new { htmlAttributes = new { } })
                                                        2. Monitor dan cacat status neurologis secara teratur
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="checkbox checkbox-inline control-label">
                                                        @Html.EditorFor(model => model.RncanaKprwtPerfusi.Mandiri_3, new { htmlAttributes = new { } })
                                                        3. Monitor tanda-tanda vital
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="checkbox checkbox-inline control-label">
                                                        @Html.EditorFor(model => model.RncanaKprwtPerfusi.Mandiri_4, new { htmlAttributes = new { } })
                                                        4. Tentukan fakto-faktor yang berhubungan dengan individu/penyebab koma/ penurunan perfusi serebral dan potensial PTIK
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="checkbox checkbox-inline control-label">
                                                        @Html.EditorFor(model => model.RncanaKprwtPerfusi.Mandiri_5, new { htmlAttributes = new { } })
                                                        5. Bantu meningkatkan fungsi, termasuk bicara jika pasien mengalami gangguan fungsi
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="checkbox checkbox-inline control-label">
                                                        @Html.EditorFor(model => model.RncanaKprwtPerfusi.Mandiri_6, new { htmlAttributes = new { } })
                                                        6. Pertahankan tirah baring, sediakan lingkungan yang tenang, atur kunjungan sesuao indikasi
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="checkbox checkbox-inline control-label">
                                                        @Html.EditorFor(model => model.RncanaKprwtPerfusi.Mandiri_7, new { htmlAttributes = new { } })
                                                        7. Hindari valsava maneuver seperti batuk, mengejan, dll
                                                    </label>
                                                </div>
                                            <label class="col-md-12">Kolaborasi :</label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.RncanaKprwtPerfusi.Kolaborasi_1, new { htmlAttributes = new { } })
                                                        1. Berikan suplemen oksigen sesuai indikasi
                                                    </label>
                                            </div>
                                            <div class="col-md-12">
                                                    <label class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.RncanaKprwtPerfusi.Kolaborasi_2, new { htmlAttributes = new { } })
                                                        2. Berikan medikasi sesuai indikasi : Antihipertensi, Vasidilator ferefer, steroid, phenytoin
                                                    </label>
                                                </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.RncanaKprwtPerfusi.KodeDokter, Model.RncanaKprwtPerfusi.KodeDokter == null ? new List<SelectListItem>() :
                                        new List<SelectListItem>() { new SelectListItem() { Value = Model.RncanaKprwtPerfusi.KodeDokter.ToString(), Text = Model.RncanaKprwtPerfusi.KodeDokterNama } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtPerfusi.KodeDokter, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.RncanaKprwtPerfusi.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFRencanaKeperawatanPerubahanPerfusi", new { noreg = Model.RncanaKprwtPerfusi.NoReg, Model.RncanaKprwtPerfusi.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.RncanaKprwtPerfusi.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var ahligizi = $('#@formName #RncanaKprwtPerfusi_KodeDokter');

    ahligizi.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });


</script>

