﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "ResumeMedisIGD";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};



}


<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateresumemedis(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @{
            string val = "";
            if (Request.Cookies["CookieName"] != null) {
                val = Request.Cookies["CookieName"].Value;
            }
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(Model => Model.rsmmedisIGD.NoReg)
        @Html.HiddenFor(Model => Model.rsmmedisIGD.SectionID)
        @Html.HiddenFor(Model => Model.rsmmedisIGD.NRM)
        @Html.HiddenFor(Model => Model.rsmmedisIGD.TandaTanganDokter)

        <div class="form-group">
            <label class="col-md-12 text-bold text-center">
                RESUME MEDIS
            </label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Tanggal MRS</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.rsmmedisIGD.Tanggal_MRS, new { htmlAttributes = new { @class = "form-control", Value = (Model.rsmmedisIGD.Tanggal_MRS != null ? (Model.rsmmedisIGD.Tanggal_MRS.Value.ToString("yyyy-MM-dd")) : "") } })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.Tanggal_MRS, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">Tanggal KLR</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.rsmmedisIGD.Tanggal_KLR, new { htmlAttributes = new { @class = "form-control", Value = (Model.rsmmedisIGD.Tanggal_KLR != null ? (Model.rsmmedisIGD.Tanggal_KLR.Value.ToString("yyyy-MM-dd")) : "") } })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.Tanggal_KLR, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="col-md-2">Keluhan Utama saat masuk</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.rsmmedisIGD.KeluhanUtama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.KeluhanUtama, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="col-md-2">Riwayat Alergi</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.rsmmedisIGD.RiwayatAlergi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.RiwayatAlergi, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="col-md-2 text-bold">Pemeriksaan Fisik</label>
        </div>
        <div class="form-group">
            <label class="col-md-1">Kesan Umum</label>
            <div class="col-md-11">
                @Html.EditorFor(model => model.rsmmedisIGD.KesanUmum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.KesanUmum, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="col-md-1">Tanda Vital</label>
            <div class="col-md-4">
                <div class="input-group">
                    <label class="input-group-addon">
                        TD
                    </label>
                    @Html.EditorFor(model => model.rsmmedisIGD.TandaVital_TD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.TandaVital_TD, "", new { @class = "text-danger" })
                    <label class="input-group-addon">
                        mmHg
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <label class="input-group-addon">
                        Nadi
                    </label>
                    @Html.EditorFor(model => model.rsmmedisIGD.TandaVital_Nadi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.TandaVital_Nadi, "", new { @class = "text-danger" })
                    <label class="input-group-addon">
                        x/menit
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <label class="input-group-addon">
                        RR
                    </label>
                    @Html.EditorFor(model => model.rsmmedisIGD.TandaVital_RR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.TandaVital_RR, "", new { @class = "text-danger" })
                    <label class="input-group-addon">
                        x/menit
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-1">
                <div class="input-group">
                    <label class="input-group-addon">
                        Suhu
                    </label>
                    @Html.EditorFor(model => model.rsmmedisIGD.TandaVital_Suhu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.TandaVital_Suhu, "", new { @class = "text-danger" })
                    <label class="input-group-addon">
                        <sup>o</sup>C
                    </label>
                </div>
            </div>
            <div class="col-md-7">
                <div class="input-group">
                    <label class="input-group-addon">
                        GCS :E
                    </label>
                    @Html.EditorFor(model => model.rsmmedisIGD.TandaVital_GCS_E, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.TandaVital_GCS_E, "", new { @class = "text-danger" })
                    <label class="input-group-addon">
                        V
                    </label>
                    @Html.EditorFor(model => model.rsmmedisIGD.TandaVital_GCS_V, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.TandaVital_GCS_V, "", new { @class = "text-danger" })
                    <label class="input-group-addon">
                        M
                    </label>
                    @Html.EditorFor(model => model.rsmmedisIGD.TandaVital_GCS_M, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.TandaVital_GCS_M, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="col-md-2">Investegasi / (Lab, X Ray, USG, dll)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.rsmmedisIGD.Investigasi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.Investigasi, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="col-md-12 text-bold">
                DIAGNOSIS
            </label>
        </div>
        <div class="form-group">
            <label class="col-md-1">Utama</label>
            <div class="col-md-11">
                @Html.EditorFor(model => model.rsmmedisIGD.Diagnosisi_Utama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.Diagnosisi_Utama, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1">Sekunder</label>
            <div class="col-md-11">
                @Html.EditorFor(model => model.rsmmedisIGD.Diagnosisi_Sekunder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.Diagnosisi_Sekunder, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1">Komplikasi</label>
            <div class="col-md-11">
                @Html.EditorFor(model => model.rsmmedisIGD.Diagnosisi_Komplikasi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.Diagnosisi_Komplikasi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1">Tindakan</label>
            <div class="col-md-11">
                @Html.EditorFor(model => model.rsmmedisIGD.Tindakan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.Tindakan, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="col-md-12 text-bold">
                TERAPY
            </label>
        </div>
        <div class="form-group">
            <label class="col-md-1">Saat MRS :</label>
            <div class="col-md-11">
                @Html.EditorFor(model => model.rsmmedisIGD.Terapi_MRS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.Terapi_MRS, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1">Saat ini :</label>
            <div class="col-md-11">
                @Html.EditorFor(model => model.rsmmedisIGD.Terapi_SaatIni, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.Terapi_SaatIni, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="col-md-2">
                Perkembangan Penyakit :
            </label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.rsmmedisIGD.PerkembanganPenyakit, StaticModel.ListPerkembanganPenyakit, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.PerkembanganPenyakit, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="col-md-2">
                Kondisi Saat keluar :
            </label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.rsmmedisIGD.KondisiKeluar, StaticModel.ListKondisisaatkeluar, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.KondisiKeluar, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="col-md-2">
                Prognosis :
            </label>
            <div class="col-md-10">
                <div class="input-group">
                    <label class="input-group-addon">
                        1. Vitality :
                    </label>
                    @Html.DropDownListFor(model => model.rsmmedisIGD.Prognosis_Vitality, StaticModel.Listprognosis, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.Prognosis_Vitality, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="input-group">
                    <label class="input-group-addon">
                        2. Functionally :
                    </label>
                    @Html.DropDownListFor(model => model.rsmmedisIGD.Prognosis_Functionally, StaticModel.Listprognosis, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.Prognosis_Functionally, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="input-group">
                    <label class="input-group-addon">
                        3. Recoverably :
                    </label>
                    @Html.DropDownListFor(model => model.rsmmedisIGD.Prognosis_Recoverably, StaticModel.Listprognosis, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.Prognosis_Recoverably, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="col-md-2">
                Penyebab Langsung Kematian :
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.rsmmedisIGD.PenyebabKematian, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.PenyebabKematian, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="col-md-2">
                Rekomendasi/Edukasi :
            </label>
            <div class="col-md-2">
                <label class="checkbox checkbox-inline control-label">
                    @Html.EditorFor(model => model.rsmmedisIGD.Rekomendasi_BolehPulang, new { htmlAttributes = new { } })
                    Diperbolehkan Pulang
                </label>
            </div>
            <div class="col-md-2">
                <label class="checkbox checkbox-inline control-label">
                    @Html.EditorFor(model => model.rsmmedisIGD.Rekomendasi_PulangPaksa, new { htmlAttributes = new { } })
                    Pulang Paksa
                </label>
            </div>
            <div class="col-md-2">
                <label class="checkbox checkbox-inline control-label">
                    @Html.EditorFor(model => model.rsmmedisIGD.Rekomendasi_Dirujuk, new { htmlAttributes = new { onclick = "rekomendasirujuk()" } })
                    Dirujuk kepada
                </label>
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.rsmmedisIGD.Rekomendasi_Dirujuk_Ket, new { htmlAttributes = new { @class = "form-control", disable = true } })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.Rekomendasi_Dirujuk_Ket, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-4">
                <div class="input-group">
                    <label class="checkbox checkbox-inline input-group-addon">
                        @Html.EditorFor(model => model.rsmmedisIGD.Dokter1, new { htmlAttributes = new { onclick = "dokter1()" } })
                        Dokter :
                    </label>
                    @Html.DropDownListFor(model => model.rsmmedisIGD.Dokter1_Ket, Model.rsmmedisIGD.Dokter1_Ket == null ? new List<SelectListItem>() : new List<SelectListItem>()
                { new SelectListItem() { Value = Model.rsmmedisIGD.Dokter1_Ket.ToString(), Text = Model.rsmmedisIGD.Dokter2_KetNama } }, new { @class = "form-control", disable = true })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.Dokter1_Ket, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <label class="input-group-addon ">
                        Kontrol Kembali :
                    </label>
                    @Html.EditorFor(model => model.rsmmedisIGD.Dokter1_Kontrol, new { htmlAttributes = new { @class = "form-control", disable = true, Value = (Model.rsmmedisIGD.Dokter1_Kontrol != null ? (Model.rsmmedisIGD.Dokter1_Kontrol.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.Dokter1_Kontrol, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <label class="input-group-addon ">
                        Tempat :
                    </label>
                    @Html.EditorFor(model => model.rsmmedisIGD.Dokter1_Tempat, new { htmlAttributes = new { @class = "form-control", disable = true } })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.Dokter1_Tempat, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <div class="input-group">
                    <label class="checkbox checkbox-inline input-group-addon">
                        @Html.EditorFor(model => model.rsmmedisIGD.Dokter2, new { htmlAttributes = new { onclick = "dokter2()" } })
                        Dokter :
                    </label>
                    @Html.DropDownListFor(model => model.rsmmedisIGD.Dokter2_Ket, Model.rsmmedisIGD.Dokter2_Ket == null ? new List<SelectListItem>() : new List<SelectListItem>()
                { new SelectListItem() { Value = Model.rsmmedisIGD.Dokter2_Ket.ToString(), Text = Model.rsmmedisIGD.Dokter2_KetNama } }, new { @class = "form-control", disable = true })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.Dokter2_Ket, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <label class="input-group-addon ">
                        Kontrol Kembali :
                    </label>
                    @Html.EditorFor(model => model.rsmmedisIGD.Dokter2_Kontrol, new { htmlAttributes = new { @class = "form-control", disable = true, Value = (Model.rsmmedisIGD.Dokter2_Kontrol != null ? (Model.rsmmedisIGD.Dokter2_Kontrol.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.Dokter2_Kontrol, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <label class="input-group-addon ">
                        Tempat :
                    </label>
                    @Html.EditorFor(model => model.rsmmedisIGD.Dokter2_Tempat, new { htmlAttributes = new { @class = "form-control", disable = true } })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.Dokter2_Tempat, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <label class="checkbox checkbox-inline input-group-addon">
                        @Html.EditorFor(model => model.rsmmedisIGD.Obat, new { htmlAttributes = new { onclick = "obat()" } })
                        Obat Dirumah
                    </label>
                    @Html.EditorFor(model => model.rsmmedisIGD.Obat_Ket, new { htmlAttributes = new { @class = "form-control", disable = true } })
                    @Html.ValidationMessageFor(model => model.rsmmedisIGD.Obat_Ket, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">
                DOkter Merawat :
            </label>
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.rsmmedisIGD.DokterRawat, Model.rsmmedisIGD.DokterRawat == null ? new List<SelectListItem>() : new List<SelectListItem>()
               { new SelectListItem() { Value = Model.rsmmedisIGD.DokterRawat.ToString(), Text = Model.rsmmedisIGD.DokterRawatNama } }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.rsmmedisIGD.DokterRawat, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                @if (Model.rsmmedisIGD.SudahRegDokter == 0)
                {
                    <a id="btn_resumemedisdokter" class="btn btn-primary disabled" onclick="user_verif_resumemedisdokter()" href="finspot:FingerspotVer;@ViewBag.UrlFingerPerawatRuangSerah"><span class="icon-checkmark2 position-center"></span>Verif</a>
                }
                else
                {
                    <a id="btn_resumemedisdokter" class="btn btn-primary" onclick="user_verif_resumemedisdokter()" href="finspot:FingerspotVer;@ViewBag.UrlFingerPerawatRuangSerah"><span class="icon-checkmark2 position-center"></span>Verif</a>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="text-right">
                <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                <a href="@Url.Action("ExportPDFResumeMedisGeneral", new { noreg = Model.NoReg })" target="_blank"
                   class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                    Print PDF
                </a>
                <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    }

</div>

<!--  Select 2  -->
<script type="text/javascript">

    var dokter1 = $('#rsmmedisIGD_Dokter1_Ket');
    var dokter2 = $('#rsmmedisIGD_Dokter2_Ket');
    var dokter3 = $('#rsmmedisIGD_DokterRawat');


    dokter1.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    dokter2.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    dokter3.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>

<script src="~/scripts/jquery.timer.js"></script>
<script>
    function user_verif_resumemedisdokter() {
        var reStatsDokterResume = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#rsmmedisIGD_DokterRawat').val();
        var noreg = $('#rsmmedisIGD_NoReg').val();
        var section = $('#rsmmedisIGD_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifperawatserah(noreg, section, user_id);
            if (ct >= limit || reStatsDokterResume == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDokterResume == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDokterResume == 1) {
                    alertpopup("Verification success!", "success");
                    $('#btn_resumemedisdokter').addClass('disabled', true);
                }
            }
            ct++;
        });

        function user_checkverifperawatserah(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilResumeMedis", "VerifResumeMedis")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsDokterResume = 1;
                        }
                    }
                    else {
                        reStatsDokterResume = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreateresumemedis(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#resumemedis').click();
    }

    function rekomendasirujuk() {
        if ($('#rsmmedisIGD_Rekomendasi_Dirujuk').is(':checked')) {
            $('#rsmmedisIGD_Rekomendasi_Dirujuk_Ket').prop('disabled', false);
        } else {
            $('#rsmmedisIGD_Rekomendasi_Dirujuk_Ket').prop('disabled', true);
            $('#rsmmedisIGD_Rekomendasi_Dirujuk_Ket').val('');
        }
    }

    function dokter1() {
        if ($('#rsmmedisIGD_Dokter1').is(':checked')) {
            $('#rsmmedisIGD_Dokter1_Ket').prop('disabled', false);
            $('#rsmmedisIGD_Dokter1_KetNama').prop('disabled', false);
            $('#rsmmedisIGD_Dokter1_Kontrol').prop('disabled', false);
            $('#rsmmedisIGD_Dokter1_Tempat').prop('disabled', false);
        } else {
            $('#rsmmedisIGD_Dokter1_Ket').prop('disabled', true);
            $('#rsmmedisIGD_Dokter1_Ket').val('');
            $('#rsmmedisIGD_Dokter1_KetNama').prop('disabled', true);
            $('#rsmmedisIGD_Dokter1_KetNama').val('');
            $('#rsmmedisIGD_Dokter1_Kontrol').prop('disabled', true);
            $('#rsmmedisIGD_Dokter1_Kontrol').val('');
            $('#rsmmedisIGD_Dokter1_Tempat').prop('disabled', true);
            $('#rsmmedisIGD_Dokter1_Tempat').val('');
        }
    }

    function dokter2() {
        if ($('#rsmmedisIGD_Dokter2').is(':checked')) {
            $('#rsmmedisIGD_Dokter2_Ket').prop('disabled', false);
            $('#rsmmedisIGD_Dokter2_KetNama').prop('disabled', false);
            $('#rsmmedisIGD_Dokter2_Kontrol').prop('disabled', false);
            $('#rsmmedisIGD_Dokter2_Tempat').prop('disabled', false);
        } else {
            $('#rsmmedisIGD_Dokter2_Ket').prop('disabled', true);
            $('#rsmmedisIGD_Dokter2_Ket').val('');
            $('#rsmmedisIGD_Dokter2_KetNama').prop('disabled', true);
            $('#rsmmedisIGD_Dokter2_KetNama').val('');
            $('#rsmmedisIGD_Dokter2_Kontrol').prop('disabled', true);
            $('#rsmmedisIGD_Dokter2_Kontrol').val('');
            $('#rsmmedisIGD_Dokter2_Tempat').prop('disabled', true);
            $('#rsmmedisIGD_Dokter2_Tempat').val('');
        }
    }

    function obat() {
        if ($('#rsmmedisIGD_Obat').is(':checked')) {
            $('#rsmmedisIGD_Obat_Ket').prop('disabled', false);
        } else {
            $('#rsmmedisIGD_Obat_Ket').prop('disabled', true);
            $('#rsmmedisIGD_Obat_Ket').val('');
        }
    }

    $(document).ready(function () {
        rekomendasirujuk();
        dokter1();
        dokter2();
        obat();
    });
</script>