﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "RencanaKeperawatanPolaNafasTidakEfektifRI";
    ViewBag.Title = controllerName;
    var formName = $"frm_RencanaKeperawatanPolaNafasTidakEfektifRI_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<style>
    #table_rencana thead th:nth-child(1) {
        width: 180px;
    }
</style>



<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.RncanaKprwtPolaNfsTdkEfektf.NoReg)
        @Html.HiddenFor(Model => Model.RncanaKprwtPolaNfsTdkEfektf.SectionID)
        @Html.HiddenFor(Model => Model.RncanaKprwtPolaNfsTdkEfektf.NRM)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">RENCANA KEPERAWATAN POLA NAFAS TIDAK EFEKTIF</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            Tanggal :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.RncanaKprwtPolaNfsTdkEfektf.Tanggal != null ? (Model.RncanaKprwtPolaNfsTdkEfektf.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1 col-md-offset-1">
                            Jam :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.RncanaKprwtPolaNfsTdkEfektf.Jam != null ? Model.RncanaKprwtPolaNfsTdkEfektf.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <table id="table_rencana" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tgl</th>
                                    <th>Diagnosa Keperawatan</th>
                                    <th>Tujuan</th>
                                    <th>Rencana TIndakan</th>
                                    <th>Paraf/ Nama Terang</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Tgl_DiagnosaKeperawatan, new { htmlAttributes = new { @class = "form-control", Value = (Model.RncanaKprwtPolaNfsTdkEfektf.Tgl_DiagnosaKeperawatan != null ? (Model.RncanaKprwtPolaNfsTdkEfektf.Tgl_DiagnosaKeperawatan.Value.ToString("yyyy-MM-dd")) : "") } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Tgl_DiagnosaKeperawatan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                <b>Pola nafas tidak efektif</b>
                                            </label>
                                            <label class="col-md-12">
                                                berhubungan dengan :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.DiagnosaKeperawatan_Hiperventilasi, new { htmlAttributes = new { } })
                                                    Hiperventilasi
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.DiagnosaKeperawatan_PenurunanEnergy, new { htmlAttributes = new { } })
                                                    Penurunan energy/ kelelahan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.DiagnosaKeperawatan_Perusakan, new { htmlAttributes = new { } })
                                                    Perusakan/ pelemahan musculoskeletal
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.DiagnosaKeperawatan_Nyeri, new { htmlAttributes = new { } })
                                                    Nyeri
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.DiagnosaKeperawatan_Kecemasan, new { htmlAttributes = new { } })
                                                    Kecemasan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.DiagnosaKeperawatan_DeformitasTulang, new { htmlAttributes = new { } })
                                                    Deformitas tulang
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.DiagnosaKeperawatan_KelainanDindingDada, new { htmlAttributes = new { } })
                                                    Kelainan dinding dada
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.DiagnosaKeperawatan_Obesitas, new { htmlAttributes = new { } })
                                                    Obesitas
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.DiagnosaKeperawatan_PosisiTubuh, new { htmlAttributes = new { } })
                                                    Posisi tubuh
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.DiagnosaKeperawatan_KelelahanOtot, new { htmlAttributes = new { } })
                                                    Kelelahan/ kelemahan otot pernafasan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.DiagnosaKeperawatan_DisfungsiNeuromuskuler, new { htmlAttributes = new { } })
                                                    Disfungsi neuromuskuler
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.DiagnosaKeperawatan_PengesetanVentilator, new { htmlAttributes = new { } })
                                                    Pengesetan ventilator yang tidak tepat
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.DiagnosaKeperawatan_ObstruksiSelang, new { htmlAttributes = new { } })
                                                    Obstruksi selang endotracheal (ETT)
                                                </label>
                                            </div>
                                            <label class="col-md-12">
                                                DS :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_MengeluhSesak, new { htmlAttributes = new { } })
                                                    Mengeluh sesak
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_SulitBernafas, new { htmlAttributes = new { } })
                                                    Sulit bernafas
                                                </label>
                                            </div>
                                            <label class="col-md-12">
                                                DO :
                                            </label>
                                            <label class="col-md-12">
                                                Pada saat latihan :
                                            </label>
                                            <div class="col-md-9">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_Cbx_PerubahanIramaPemafasan, new { htmlAttributes = new { } })
                                                    Perubahan irama dan frekwensi pernafasan
                                                </label>
                                            </div>
                                            <div class="col-md-3">
                                                @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_Cbx_PerubahanIramaPemafasan_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_Cbx_PerubahanIramaPemafasan_Ket, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <label class="input-group-addon">
                                                        RR
                                                    </label>
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_Rr, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_Rr, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_Cbx_PerubahanIramaNadi, new { htmlAttributes = new { } })
                                                    Perubahan irama dan frekwensi nadi
                                                </label>
                                            </div>
                                            <div class="col-md-3">
                                                @Html.DropDownListFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_Cbx_PerubahanIramaPemafasan_Ket, StaticModel.ListYaTidak, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_Cbx_PerubahanIramaPemafasan_Ket, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <label class="input-group-addon">
                                                        Nadi
                                                    </label>
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_Nadi, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_Nadi, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_PenggunaanOtot, new { htmlAttributes = new { } })
                                                    Penggunaan otot pernafasan tambahan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_PenurunanVolume, new { htmlAttributes = new { } })
                                                    Penurunan volume tidak(< 6ml/kgBB)
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_Cbx_TerdengarSuaraAlarm, new { htmlAttributes = new { } })
                                                    Terdengar suara alarm ventilator
                                                </label>
                                                @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_TerdengarSuaraAlarm, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Ds_TerdengarSuaraAlarm, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <label class="col-md-12">Setelah diberikan tindakan keperawatan selama</label>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Tujuan_SetelahDilakukanTidakanKeperawatan, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Tujuan_SetelahDilakukanTidakanKeperawatan, "", new { @class = "text-danger" })
                                                    <label class="input-group-addon">menit/jam</label>
                                                </div>
                                            </div>
                                            <label class="col-md-12">diharapakan pola nafas efektif(<i>aspiration control</i>)</label>
                                            <label class="col-md-12">Kriteria hasil :</label>
                                            <label class="col-md-2">1.</label>
                                            <label class="col-md-10">Mendemonstrasikan batuk efektif dan suara nafas bersih, tidak ada sianosis dan dyspneu(mampu mengeluarkan sputum, mampu bernafas dengan mudah)</label>
                                            <label class="col-md-2">2.</label>
                                            <label class="col-md-10">Menunjukan jalan nafas yang paten(pasien tidak merasa tercekik, irama, nafas, frekuensi pernafasan dalam rentang normal, tidak ada suara nafas abnormal dan penggunaan otot nafas tambahan)</label>
                                            <label class="col-md-2">3.</label>
                                            <label class="col-md-10">Tanda vital dalam rentang normal</label>
                                            <label class="col-md-2">4.</label>
                                            <label class="col-md-10">Kapasitas.volume tidal >6-8 ml/kgBB</label>
                                            <label class="col-md-2">5.</label>
                                            <label class="col-md-10">Tidak terdengar suara alarm ventilator</label>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">Mandiri :</div>
                                            <div class="col-md-12">
                                                <ol>
                                                    <li>Posisikan pasien untuk memamksimalkan ventilasi</li>
                                                    <li>Auskultasi suara nafas dan catat adanya penggunaan otot nafas tambahan</li>
                                                    <li>Monitor tanda- tanda vital</li>
                                                    <li>Kaji skala nyeri</li>
                                                    <li>Ajarkan dan evaluasi latihan batuk efektif</li>
                                                    <li>Lakukan pemeriksaan ventilator tiap 1-2jam, Evalusi semua alarm dan tentukan penyebabnya</li>
                                                    <li>Pertahankan alat resusitasi manual(bag & mask) pada posisi yang mudah dijangkau</li>
                                                    <li>Monitor selang/ tubing ventilator dari kemungkinan terlepas, terlipat, bocor atau tersumbat</li>
                                                    <li>Evaluasi tekanan atau kebocoran balon cuff tiap 3 jam</li>
                                                </ol>
                                                @*<label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Mandiri_1, new { htmlAttributes = new { } })
                                                    1. Tentukan penyebab keletihan(karena perawatan, pengobatan, nyeri)
                                                </label>*@
                                            </div>
                                            @*<div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Mandiri_2, new { htmlAttributes = new { } })
                                                    2. Gunakan teknik relaksasi distraksi, selama aktivitas
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Mandiri_3, new { htmlAttributes = new { } })
                                                    3. Pantau respon kardiorespiratori terhadap aktivitas(takipnea, dispnea,takikardi, pucat, berkeringat)
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Mandiri_4, new { htmlAttributes = new { } })
                                                    4. Kaji respon emosi, sosial dan spiritual terhadap aktivitas
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Mandiri_5, new { htmlAttributes = new { } })
                                                    5. Evaluasi motivasi dan keinginan pasien untuk meningkatkan aktivitas
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Mandiri_6, new { htmlAttributes = new { } })
                                                    6. Ajarkan kepada pasien dan keluarga : tekhnik perawatan diri yang meminimalkan konsumsi oksigen, penggunaan peralatan oksigen selama aktivitas
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Mandiri_7, new { htmlAttributes = new { } })
                                                    7. Ajarkan pengaturan waktu aktivitas dan istirahat
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Mandiri_8, new { htmlAttributes = new { } })
                                                    8. Monitor tanda tanda vital dan status nutrisi
                                                </label>
                                            </div>*@
                                            <label class="col-md-12">Kolaborasi :</label>
                                            <div class="col-md-12">
                                                <ol>
                                                    <li>Berikan O2 sesuai indikasi</li>
                                                    <li>Identifikasi pasien perlunya pemasangan alat jalan nafas buatan</li>
                                                    <li>Setting ventilator sesuai program</li>
                                                    <li>Kalau perlu tambahan analgetik untuk mengurangi rangsangan nyeri</li>
                                                </ol>
                                                @*<label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Kolaborasi_1, new { htmlAttributes = new { } })
                                                    1. Berikan pengobatan nyeri sesuai program dokter sebelum aktivitas
                                                </label>*@
                                            </div>
                                            @*<div class="col-md-12">
                                                <label class="checkbox checkbox-inline">
                                                    @Html.EditorFor(model => model.RncanaKprwtPolaNfsTdkEfektf.Kolaborasi_2, new { htmlAttributes = new { } })
                                                    2. Rujuk ke ahli fisioterapi sebagai sumber perencanaan aktivitas pasien
                                                </label>
                                            </div>*@
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.RncanaKprwtPolaNfsTdkEfektf.NamaTerang, Model.RncanaKprwtPolaNfsTdkEfektf.NamaTerang == null ? new List<SelectListItem>() :
                                        new List<SelectListItem>() { new SelectListItem() { Value = Model.RncanaKprwtPolaNfsTdkEfektf.NamaTerang.ToString(), Text = Model.RncanaKprwtPolaNfsTdkEfektf.NamaTerangNama } }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtPolaNfsTdkEfektf.NamaTerang, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.RncanaKprwtPolaNfsTdkEfektf.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFRencanaKeperawatanPolaNafasTidakEfektif", new { noreg = Model.RncanaKprwtPolaNfsTdkEfektf.NoReg, Model.RncanaKprwtPolaNfsTdkEfektf.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.RncanaKprwtPolaNfsTdkEfektf.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var ahligizi = $('#@formName #RncanaKprwtPolaNfsTdkEfektf_NamaTerang');

    ahligizi.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });


</script>
