﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel

@{
    var controllerName = "PengantarRI";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatepengatarri(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel-body detail collapse in">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.NoReg)
                @Html.HiddenFor(model => model.SectionID)
                @Html.HiddenFor(model => model.NRM)
                @Html.HiddenFor(model => model.PengantarRawatInap.Ruang)
                @Html.HiddenFor(model => model.PengantarRawatInap.TTDPasien)
                @Html.HiddenFor(model => model.PengantarRawatInap.TTDpetugas)
                @*KEINGINANAN PASIEN MEMILIH DPJP*@

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <label class="text-bold ">
                            PENGANTAR RAWAT INAP
                        </label>
                        <br />
                        @Html.EditorFor(model => model.PengantarRawatInap.No, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PengantarRawatInap.No, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">
                        Kepada : Yth petugas adminssion
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Dari
                    </label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.PengantarRawatInap.Dari, new List<SelectListItem>
                           {
                               new SelectListItem() {Text = "IGD", Value="IGD"},
                               new SelectListItem() {Text = "POLIKLINIK", Value="POLIKLINIK"},
                               new SelectListItem() {Text = "VK", Value="VK"},
                           }, new { @class = "form-control" })
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <label class="col-md-12">
                        Mohon registrasi rawat inap,
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Alasan dirawat
                    </label>
                    <div class="col-md-9">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PengantarRawatInap.AlasanDirawat_Diagnostik)
                            Diagnostik
                        </label>
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PengantarRawatInap.AlasanDirawat_Kuratif)
                            Kuratif
                        </label>
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PengantarRawatInap.AlasanDirawat_Paliatif)
                            Paliatif
                        </label>
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PengantarRawatInap.AlasanDirawat_Rehabilitatif)
                            Rehabilitatif
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Diagnosa
                    </label>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.PengantarRawatInap.Diagnosa, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PengantarRawatInap.Diagnosa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Rencana Tindakan
                    </label>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.PengantarRawatInap.RencanaTindakan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PengantarRawatInap.RencanaTindakan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Tanggal Tindakan
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PengantarRawatInap.TglTindakan, new { htmlAttributes = new { @class = "form-control", Value = (Model.PengantarRawatInap.TglTindakan != null ? (Model.PengantarRawatInap.TglTindakan.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.PengantarRawatInap.TglTindakan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Persiapan
                    </label>
                    <div class="col-md-9">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PengantarRawatInap.Persiapan_Puasa)
                            Puasa
                        </label>
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PengantarRawatInap.Persiapan_Diet)
                            Diet
                        </label>
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PengantarRawatInap.Persiapan_Alat)
                            Alat - Alat
                        </label>
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PengantarRawatInap.Persiapan_Tidakperlu)
                            Tidak Perlu Persiapan
                        </label>
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PengantarRawatInap.Persiapan_Lain)
                            Lain - Lain
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Tanggal MRS
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PengantarRawatInap.TglMRS, new { htmlAttributes = new { @class = "form-control", Value = (Model.PengantarRawatInap.TglMRS != null ? (Model.PengantarRawatInap.TglMRS.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.PengantarRawatInap.TglMRS, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Masuk Rawat
                    </label>
                    <div class="col-md-9">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PengantarRawatInap.Bangsal)
                            Bangsal
                        </label>
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PengantarRawatInap.IntensiveCare)
                            Intensive Care
                        </label>
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.PengantarRawatInap.Isolasi)
                            Isolasi
                        </label>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        No BPJS
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PengantarRawatInap.NoBpjs, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PengantarRawatInap.NoBpjs, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Keterangan Lainnya
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.PengantarRawatInap.KeteranganLainnya, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PengantarRawatInap.KeteranganLainnya, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Kamar Inap
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PengantarRawatInap.Ruang, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                        @Html.ValidationMessageFor(model => model.PengantarRawatInap.Ruang, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter
                    </label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.PengantarRawatInap.Perawat, Model.PengantarRawatInap.Perawat == null ? new List<SelectListItem>() : new List<SelectListItem>()
                        { new SelectListItem() {
                            Value = Model.PengantarRawatInap.Perawat.ToString(), Text = Model.PengantarRawatInap.PerawatNama }
                        }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PengantarRawatInap.Perawat, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        @if (Model.PengantarRawatInap.SudahRegPegawai == 0)
                        {
                            <a id="btn_dokterpemeriksa" class="btn btn-primary disabled" onclick="user_verif_dokterpemeriksa(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerPengantarRawatInapDokterPemeriksa"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                        else
                        {
                            <a id="btn_dokterpemeriksa" class="btn btn-primary" onclick="user_verif_dokterpemeriksa(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerPengantarRawatInapDokterPemeriksa"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Pasien/Keluarga :</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PengantarRawatInap.Pasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PengantarRawatInap.Pasien, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        @if (Model.PengantarRawatInap.SudahRegPasien == 0)
                        {
                            <a id="btn_pasien" class="btn btn-primary disabled" onclick="user_verif_pasien(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerPengantarRawatInapPasien"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                        else
                        {
                            <a id="btn_pasien" class="btn btn-primary" onclick="user_verif_pasien(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerPengantarRawatInapPasien"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                    </div>
                </div>
                <br />
                <br />

                <div class="form-group">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                        <a href="@Url.Action("ExportPDF", new { noreg = Model.NoReg, sectionid = Model.SectionID })" target="_blank"
                           class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                            Print PDF
                        </a>
                        <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }

</div>

<script type="text/javascript">
    var inputdokter1 = $('#PengantarRawatInap_Perawat');


    inputdokter1.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>


<script>
    function user_verif_dokterpemeriksa(x_this) {
        var reStatsDokterPemeriksa = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#PengantarRawatInap_Perawat').val();
        var noreg = $('#NoReg').val();
        var section = $('#PengantarRawatInap_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifdokterpemeriksa(noreg, section, user_id);
            if (ct >= limit || reStatsDokterPemeriksa == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDokterPemeriksa == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDokterPemeriksa == 1) {
                    alertpopup("Verification success!", "success");
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_dokterpemeriksa').addClass('disabled', true);
                    $('#pengatarri').click();
                }
            }
            ct++;
        });

        function user_checkverifdokterpemeriksa(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilPengatarRawatInap", "VerifPengatarRawatInap")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsDokterPemeriksa = 1;
                        }
                    }
                    else {
                        reStatsDokterPemeriksa = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_pasien(x_this) {
        var reStatsPasien = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#NRM').val();
        var noreg = $('#NoReg').val();
        var section = $('#SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifpasien(noreg, section, user_id);
            if (ct >= limit || reStatsPasien == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsPasien == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsPasien == 1) {
                    alertpopup("Verification success!", "success");
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_pasien').addClass('disabled', true);
                    $('#pengatarri').click();
                }
            }
            ct++;
        });

        function user_checkverifpasien(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilPengatarRawatInap", "VerifPengatarRawatInap")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Pasien == "1") {
                            reStatsPasien = 1;
                        }
                    }
                    else {
                        reStatsPasien = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreatepengatarri(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#pengatarri').click();
    }

</script>