﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var tableId = $"table_hasilbacalabriwayatmodal";
    var formName = $"frm_ListViewLab";
    var item = new HasilBacaLaboratoriumViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.NoSystem);
    column[1] = nameof(item.RegNo);
    column[2] = nameof(item.Tanggal);
    column[3] = nameof(item.DokterPengirim);
    column[4] = nameof(item.SectionName);
    column[5] = nameof(item.PenanggungJawab);
}
<div class="wall" ng-controller="table" id="list_hasillabmodal"
     ng-init="filterlength = @columnCount;
                    target_auto_refresh_edit = '@tableId';
                    url = '@Url.Action("ListHasilBacaLaboratoriumModal")';
                    init();
                    filter[9]='@Model.NRM'
     ">

    <div class="panel panel-flat">
        <div class="panel-heading" style="padding-top: 1px; padding-bottom: 11px">
            <div class="heading-elements hidden">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a id="refreshhasillab" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Periode</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[10]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[11]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="filter[12]" ng-change="getdatas()" onclick="disabletarget(this.checked, '.input-periode')" id="allperiode" />
                            All Periode
                        </label>
                    </div>
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                    <div class="form-group" style="width: 296px">
                        <select id="d_select_dokterfilterlistlabdoktermodal" class="form-control" onchange="getvaluedokterlistobatmodal()"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'ASC';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Dokter Pengirim</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Section</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting text-center">Penanggung Jawab</th>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="text-center">
                            <a class="text-info-600" title="Detail"
                               ng-click="detail_param({ noreg : '@Model.NoReg', id : data.@column[0] }, '@Url.Action("DetailLaboratorium")')">
                                <i class="icon-eye"></i>
                            </a>
                            &nbsp;
                            |
                            &nbsp;
                            <a href="@Url.Action("ExportPDFHasilLab", "ReportResep")?nosistem={{ data.@column[0] }}" target="_blank"
                               title="Report"
                               class="text-info-600">
                                <i class="icon-printer2"></i>
                            </a>
                        </td>

                        <!-- Table Result -->
                        <td>{{data.@(column[2])_View}}</td>
                        <td>{{data.@(column[3])_View}}</td>
                        @*<td>{{data.@column[3]}}</td>*@
                        <td>{{data.@column[4]}}</td>
                        <td>{{data.@column[5]}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>

<script>
angular.element('#@formName').ready(function () {
        var date = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
        var date2 = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
        sc.filter[10] = date;
        sc.filter[11] = date2;
        sc.getdatas();
});


</script>
<!--  Select Dokter Filter  -->
<script type="text/javascript">
    function getvaluedokterlistobatmodal() {
        var data = $('#d_select_dokterfilterlistlabdoktermodal').val();
        angular.element('#list_hasillabmodal').scope().filter[13] = data;
        angular.element('#list_hasillabmodal').scope().getdatas();
    }

    $('#d_select_dokterfilterlistlabdoktermodal').select2({
        ajax: {
            url: "@Url.Action("List", "Dokter")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'DokterID',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;
                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.NamaDOkter, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        allowClear: true,

        placeholder: "Cari Dokter ..."
    });

</script>