﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "ResumeMedisRJ";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

}


<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateresumemedisrj(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @{
                string val = "";
                if (Request.Cookies["CookieName"] != null)
                {
                    val = Request.Cookies["CookieName"].Value;
                }
            }
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(Model => Model.rsmmedisRJ.NoReg)
            @Html.HiddenFor(Model => Model.rsmmedisRJ.SectionID)
            @Html.HiddenFor(Model => Model.rsmmedisRJ.NRM)

            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    RESUME MEDIS
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-2">Poliklinik</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.rsmmedisRJ.Poliklinik, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.rsmmedisRJ.Poliklinik, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Tanggal Keluar</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.rsmmedisRJ.TglKeluar, new { htmlAttributes = new { @class = "form-control", Value = (Model.rsmmedisRJ.TglKeluar != null ? (Model.rsmmedisRJ.TglKeluar.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.rsmmedisRJ.TglKeluar, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Kewarganegaraan</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.rsmmedisRJ.Kewarganegaraan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.rsmmedisRJ.Kewarganegaraan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Alamat Indonesia</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.rsmmedisRJ.Alamat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.rsmmedisRJ.Alamat, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Keluhan Utama</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.rsmmedisRJ.KeluhanUtama, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.rsmmedisRJ.KeluhanUtama, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Riwayat Penyakit</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.rsmmedisRJ.RiwayatPenyakit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.rsmmedisRJ.RiwayatPenyakit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Alergi</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.rsmmedisRJ.Alergi, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.rsmmedisRJ.Alergi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Kesadaran</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.rsmmedisRJ.Kesadaran, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rsmmedisRJ.Kesadaran, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Tanda Vital</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <label class="input-group-addon">
                            TD
                        </label>
                        @Html.EditorFor(model => model.rsmmedisRJ.TD, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.rsmmedisRJ.TD, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            mmHg
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Suhu
                        </label>
                        @Html.EditorFor(model => model.rsmmedisRJ.Suhu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.rsmmedisRJ.Suhu, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            <sup>o</sup>C
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Nadi
                        </label>
                        @Html.EditorFor(model => model.rsmmedisRJ.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.rsmmedisRJ.Nadi, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            x/menit
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Pernafasan
                        </label>
                        @Html.EditorFor(model => model.rsmmedisRJ.Pernafasan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.rsmmedisRJ.Pernafasan, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            x/menit
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            SpO2
                        </label>
                        @Html.EditorFor(model => model.rsmmedisRJ.SpO2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.rsmmedisRJ.SpO2, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            x/menit
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Pemeriksaan Fisik</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.rsmmedisRJ.PemeriksaanFisik, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.rsmmedisRJ.PemeriksaanFisik, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Pemeriksaan Penunjang</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.rsmmedisRJ.PemeriksaanPenunjang, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.rsmmedisRJ.PemeriksaanPenunjang, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Diagnosa</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.rsmmedisRJ.Diagnosa, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.rsmmedisRJ.Diagnosa, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Pengobatan</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.rsmmedisRJ.Pengobatan, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.rsmmedisRJ.Pengobatan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Saran</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.rsmmedisRJ.Saran, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.rsmmedisRJ.Saran, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Dokter 
                </label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.rsmmedisRJ.DokterID, Model.rsmmedisRJ.DokterID == null ? new List<SelectListItem>() : new List<SelectListItem>()
                   { new SelectListItem() { Value = Model.rsmmedisRJ.DokterID.ToString(), Text = Model.rsmmedisRJ.DokterIDNama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.rsmmedisRJ.DokterID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                    <a href="@Url.Action("ExportPDFResumeMedisRJ", new { noreg = Model.NoReg })" target="_blank"
                       class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                        Print PDF
                    </a>
                    <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }

</div>

<!--  Select 2  -->
<script type="text/javascript">

    var dokter1 = $('#rsmmedisRJ_DokterID');

    dokter1.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
</script>

<script src="~/scripts/jquery.timer.js"></script>
<script>
    function user_verif_resumemedisdokter() {
        var reStatsDokterResume = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#rsmmedisRJ_DokterRawat').val();
        var noreg = $('#rsmmedisRJ_NoReg').val();
        var section = $('#rsmmedisRJ_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifperawatserah(noreg, section, user_id);
            if (ct >= limit || reStatsDokterResume == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDokterResume == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDokterResume == 1) {
                    alertpopup("Verification success!", "success");
                    $('#btn_resumemedisdokter').addClass('disabled', true);
                }
            }
            ct++;
        });

        function user_checkverifperawatserah(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilResumeMedis", "VerifResumeMedis")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsDokterResume = 1;
                        }
                    }
                    else {
                        reStatsDokterResume = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreateresumemedisrj(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#resumemedisrj').click();
    }

    $(document).ready(function () {
        //rekomendasirujuk();
        //dokter1();
        //dokter2();
        //obat();
    });
</script>
