﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel

@{
    var controllerName = "PeresapanHemodialisis";
    ViewBag.Title = controllerName;
    var formName = $"frm_PeresapanHemodialisis_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}


<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateperesepanHD (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.PeresapanHD.NoReg)
        @Html.HiddenFor(Model => Model.PeresapanHD.SectionID)

        @Html.HiddenFor(Model => Model.PeresapanHD.Jam)


        <div class="form-group">
            <label class="col-md-12 text-bold text-center">
                PERESEPAN HEMODIALISIS
            </label>
        </div>
        <div class="panel-body collapse in">
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-md-6">
                        <div class="span5">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Tanggal :
                                </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PeresapanHD.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.PeresapanHD.Tanggal != null ? (Model.PeresapanHD.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.Tanggal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Nama Pasien :
                                </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PeresapanHD.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.NamaPasien, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Umur :
                                </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PeresapanHD.Umur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.Umur, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    No CM :
                                </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PeresapanHD.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.NRM, "", new { @class = "text-danger" })
                                </div>
                            </div>
                      
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Diagnosis :
                                </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PeresapanHD.Diagnosis, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.Diagnosis, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Riwayat HD :
                                </label>
                                <div class="col-md-2">
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.PeresapanHD.RiwayatHD_Ya, new { htmlAttributes = new { } })
                                        Ya :
                                    </label>

                                </div>
                                <div class="col-md-2">
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.PeresapanHD.Ya_Reguler, new { htmlAttributes = new { } })
                                        Reguler
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.PeresapanHD.Ya_AntarWaktu, new { htmlAttributes = new { } })
                                        Antar Waktu
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-md-offset-5">
                                    HD Terakhir :
                                </label>

                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.PeresapanHD.HDTerakhir, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.HDTerakhir, "", new { @class = "text-danger" })
                                    <label class="checkbox checkbox-inline">

                                        @Html.EditorFor(model => model.PeresapanHD.Ya_TravelingDialisis, new { htmlAttributes = new { } })
                                        Traveling Dialisis
                                    </label>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-2 col-md-offset-4">
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.PeresapanHD.RiwayatHD_Tidak, new { htmlAttributes = new { } })
                                        Tidak
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Jenis Tindakan :
                                </label>
                                <div class="col-md-8">

                                    @Html.DropDownListFor(model => model.PeresapanHD.JenisTindakan, StaticModel.JenisTindakan, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.JenisTindakan, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Lama HD :
                                </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PeresapanHD.LamaHD, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.LamaHD, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Kec. Aliran darah (QB) :
                                </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PeresapanHD.AliranDarah, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.AliranDarah, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="span5">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Ultrafiltrasi :
                                </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PeresapanHD.Ultrafiltrasi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.Ultrafiltrasi, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Luas Membran :
                                </label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.PeresapanHD.LuasMembran_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.LuasMembran_Ket, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-5">

                                    @Html.DropDownListFor(model => model.PeresapanHD.LuasMembran, StaticModel.LuasMembran, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.LuasMembran, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Anticoagulan :
                                </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PeresapanHD.Anticoagulan, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.Anticoagulan, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Akses Vaskuler :
                                </label>
                                <div class="col-md-3">
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.PeresapanHD.AksesVaskuler_AVShunt, new { htmlAttributes = new { } })
                                        AV Shunt
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.PeresapanHD.AksesVaskuler_DLument, new { htmlAttributes = new { } })
                                        D. Lument
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label class="checkbox checkbox-inline">
                                        @Html.EditorFor(model => model.PeresapanHD.AksesVaskuler_VFemoralis, new { htmlAttributes = new { } })
                                        V. fermorarils
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Instruksi Khusus :
                                </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PeresapanHD.InstruksiKhusus, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.InstruksiKhusus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Dr Konsultan :
                                </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PeresapanHD.DrKonsultan, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.DrKonsultan, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Dokter yang meminta :
                                </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PeresapanHD.DokterMeminta, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PeresapanHD.DokterMeminta, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.PeresapanHD.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFSuratKeteranganDokter", new { noreg = Model.PeresapanHD.NoReg, Model.PeresapanHD.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.PeresapanHD.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokter = $('#@formName #SKDokter_Dokter');

    dokter.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
</script>

<script src="~/scripts/jquery.timer.js"></script>
<script>


    function oncompletecreateperesepanHD(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#peresepanHD').click();
    }
</script>










