﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "CatatanPemindahanPasienAntarRuangan";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_CatatanPasienPemindahanRuangan = $"frm_table_detailCatatanPemindahanPasienAntarRuangan";
    int d_idx_CatatanPasienPemindahanRuangan = 0;
    var d_trg_CatatanPasienPemindahanRuanga = $"input_target_detailCatatanPemindahanPasienAntarRuangan";
    if (Model != null)
    {
        if (Model.CPARuangan != null)
        {
            if (Model.CPARuangan.DtailPemindahan_List != null)
            {
                d_idx_CatatanPasienPemindahanRuangan = Model.CPARuangan.DtailPemindahan_List.Count();
            }
        }
    }
    #endregion

}
<!--   CSS Table   -->
<style>
         #@d_tbl_CatatanPasienPemindahanRuangan thead tr th {
            vertical-align: middle;
            text-align: center;
        }

        #@d_tbl_CatatanPasienPemindahanRuangan thead th:nth-child(1),
        #@d_tbl_CatatanPasienPemindahanRuangan tbody td:nth-child(1){
            text-align:center;
            width: 100px;
            display:none;
        }

        #@d_tbl_CatatanPasienPemindahanRuangan thead th:nth-child(2),
        #@d_tbl_CatatanPasienPemindahanRuangan tbody td:nth-child(2){
            width: 60px;
            text-align:center;
        }

        #@d_tbl_CatatanPasienPemindahanRuangan thead th:nth-child(3),
        #@d_tbl_CatatanPasienPemindahanRuangan tbody td:nth-child(3){
            display:none;
        }

        #@d_tbl_CatatanPasienPemindahanRuangan thead th:nth-child(4),
        #@d_tbl_CatatanPasienPemindahanRuangan tbody td:nth-child(4){
             width:80px;
        }

        #@d_tbl_CatatanPasienPemindahanRuangan thead th:nth-child(5),
        #@d_tbl_CatatanPasienPemindahanRuangan tbody td:nth-child(5){
            width:200px;
        }

        #@d_tbl_CatatanPasienPemindahanRuangan thead th:nth-child(6),
        #@d_tbl_CatatanPasienPemindahanRuangan tbody td:nth-child(6){
            width:200px;
        }

        #@d_tbl_CatatanPasienPemindahanRuangan thead th:nth-child(7),
        #@d_tbl_CatatanPasienPemindahanRuangan tbody td:nth-child(7){
            width:200px;
        }

        #@d_tbl_CatatanPasienPemindahanRuangan thead th:nth-child(8),
        #@d_tbl_CatatanPasienPemindahanRuangan tbody td:nth-child(8){
            width:200px;
        }

        #@d_tbl_CatatanPasienPemindahanRuangan thead th:nth-child(9),
        #@d_tbl_CatatanPasienPemindahanRuangan tbody td:nth-child(9){
            width:200px;
        }
        #@d_tbl_CatatanPasienPemindahanRuangan thead th:nth-child(10),
        #@d_tbl_CatatanPasienPemindahanRuangan tbody td:nth-child(10){
            width:200px;
        }
        #@d_tbl_CatatanPasienPemindahanRuangan thead th:nth-child(11),
        #@d_tbl_CatatanPasienPemindahanRuangan tbody td:nth-child(11){
            width:200px;
        }

        #@d_tbl_CatatanPasienPemindahanRuangan thead th:nth-child(12),
        #@d_tbl_CatatanPasienPemindahanRuangan tbody td:nth-child(12){
            width:200px;
        }

        #@d_tbl_CatatanPasienPemindahanRuangan thead th:nth-child(13),
        #@d_tbl_CatatanPasienPemindahanRuangan tbody td:nth-child(13){
            width:200px;
        }

        #@d_tbl_CatatanPasienPemindahanRuangan thead th:nth-child(14),
        #@d_tbl_CatatanPasienPemindahanRuangan tbody td:nth-child(14){
            width:200px;
        }

        .table {
            table-layout: fixed;
            max-width: 100%;
        }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatepemindahanpasien(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(Model => Model.CPARuangan.NoReg)
            @Html.HiddenFor(Model => Model.CPARuangan.SectionID)
            @Html.HiddenFor(Model => Model.CPARuangan.NRM)
            @Html.HiddenFor(Model => Model.CPARuangan.TandaTanganPerawatSerah)
            @Html.HiddenFor(Model => Model.CPARuangan.TandaTanganPerawatTerima)

            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    SITUATION
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-2">Indikasi Pindah :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CPARuangan.IndikasiPindah, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.IndikasiPindah, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">Pemindahan Pasien</label>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Tanggal:</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPARuangan.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.CPARuangan.Tanggal != null ? (Model.CPARuangan.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.Tanggal, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-1">
                    Pukul
                </label>
                <div class="col-md-1">
                    @Html.EditorFor(model => model.CPARuangan.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model.CPARuangan.Jam != null ? (Model.CPARuangan.Jam.Value.ToString("HH:mm")) : "") } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.Jam, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-1">Dari Ruang :</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPARuangan.Pemindahan_DariRuang, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.Pemindahan_DariRuang, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-1">Ke Ruang :</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPARuangan.Pemindahan_KeRuang, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.Pemindahan_KeRuang, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-12">
                    Dokter yang Merawat :
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label">Dr 1</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.CPARuangan.DokterRawat_1, Model.CPARuangan.DokterRawat_1 == null ? new List<SelectListItem>() : new List<SelectListItem>()
                    { new SelectListItem() { Value = Model.CPARuangan.DokterRawat_1.ToString(), Text = Model.CPARuangan.DokterRawat_1Nama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPARuangan.DokterRawat_1, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-1 control-label">Dr 2</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.CPARuangan.DokterRawat_2, Model.CPARuangan.DokterRawat_2 == null ? new List<SelectListItem>() : new List<SelectListItem>()
                    { new SelectListItem() { Value = Model.CPARuangan.DokterRawat_2.ToString(), Text = Model.CPARuangan.DokterRawat_2Nama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPARuangan.DokterRawat_2, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-1 control-label">Dr 3</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.CPARuangan.DokterRawat_3, Model.CPARuangan.DokterRawat_3 == null ? new List<SelectListItem>() : new List<SelectListItem>()
                    { new SelectListItem() { Value = Model.CPARuangan.DokterRawat_3.ToString(), Text = Model.CPARuangan.DokterRawat_3Nama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPARuangan.DokterRawat_3, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Diagnosa Medis :</label>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">1. </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CPARuangan.DiagnosaMedis_1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.DiagnosaMedis_1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">2. </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CPARuangan.DiagnosaMedis_2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.DiagnosaMedis_2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">3. </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CPARuangan.DiagnosaMedis_3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.DiagnosaMedis_3, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Pasien Keluarga Sudah Dijelaskan mengenai diagnosa :</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.CPARuangan.PasienDijelaskan, StaticModel.ListYaTidak, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPARuangan.PasienDijelaskan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Prosedur Pembedahan/invasif yang dilakukan :</label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.CPARuangan.ProsedurPembedahan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.ProsedurPembedahan, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-1">Tanggal :</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPARuangan.ProsedurPembedahan_Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.CPARuangan.ProsedurPembedahan_Tanggal != null ? (Model.CPARuangan.ProsedurPembedahan_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.ProsedurPembedahan_Tanggal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Masalah keperawatan utama saat ini :</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CPARuangan.MasalahKeperawatan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.MasalahKeperawatan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    BACKGROUND
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-3">Riwayat alergi / Reaksi Obat :</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.CPARuangan.RiawayatAlergi, StaticModel.ListYaTidak, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPARuangan.RiawayatAlergi, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-1 control-label">Nama Obat:</label>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.CPARuangan.NamaObat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.NamaObat, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Riwayat rekasi :</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CPARuangan.RiwayatReaksi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.RiwayatReaksi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Intervensi medik / keperawatan :</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CPARuangan.IntervensiMedik, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.IntervensiMedik, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Hasil Investigasi abnormal :</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CPARuangan.HasilInvestigasi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.HasilInvestigasi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Kewaspadaan / precaution :</label>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.CPARuangan.Kewaspadaan, StaticModel.ListKewaspadaan, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPARuangan.Kewaspadaan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    ASSEMENT
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Observasi terakhir pukul:
                </label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPARuangan.ObservasiTerakhir, new { htmlAttributes = new { @class = "form-control", Value = (Model.CPARuangan.ObservasiTerakhir != null ? (Model.CPARuangan.ObservasiTerakhir.Value.ToString("HH:mm")) : "") } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.ObservasiTerakhir, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-2">
                    Tingkat Kesadaran:
                </label>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.CPARuangan.TingkatKesadaran, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.TingkatKesadaran, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <label class="input-group-addon">
                            GCS : E
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.GCS_E, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.TingkatKesadaran, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            V
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.GCS_V, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.GCS_V, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            M
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.GCS_M, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.GCS_M, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Pupil & Reaksi cahaya : Kanan
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.Pupil_Kanan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.Pupil_Kanan, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            Kiri
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.Pupil_Kiri, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.Pupil_Kiri, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            TD
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.TD, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.TD, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            mmHg
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            N
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.N, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.N, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            x/mnt
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            RR
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.RR, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.RR, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            x/mnt
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            SUHU
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.Suhu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.Suhu, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            <sub>o</sub>C
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Skala Nyeri
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.SkalaNyeri, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.SkalaNyeri, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Diet/Nutrisi :
                </label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.Diet_Oral, new { htmlAttributes = new { } })
                        Oral
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.Diet_NGT, new { htmlAttributes = new { } })
                        NGT
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.CPARuangan.Diet_BatasanCairan, new { htmlAttributes = new { } })
                            Batasan cairan
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.Diet_BatasanCairan_Ket, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.Diet_BatasanCairan_Ket, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            cc
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.CPARuangan.Diet_DietKhusus, new { htmlAttributes = new { } })
                            Diet khusus, jelaskan
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.Diet_DietKhusus_Ket, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.Diet_DietKhusus_Ket, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    BAB :
                </label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.BAB_Normal, new { htmlAttributes = new { } })
                        Normal
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.BAB_Neustomy, new { htmlAttributes = new { } })
                        Heustomy/colostomy
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.BAB_Inkontinensia, new { htmlAttributes = new { } })
                        Inkontinensia alvi
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    BAK :
                </label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.BAK_Normal, new { htmlAttributes = new { } })
                        Normal
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.BAK_Inkontinensia, new { htmlAttributes = new { } })
                        Inkontinensia urine
                    </label>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.CPARuangan.BAK_Kateter, new { htmlAttributes = new { } })
                            Kateter, Jenis Kateter
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.BAK_Kateter_JenisKateter, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.BAK_Kateter_JenisKateter, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            No Kateter :
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.BAK_Kateter_NoKateter, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.BAK_Kateter_NoKateter, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Tgl.Pemasangan
                </label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPARuangan.TglPemasangan, new { htmlAttributes = new { @class = "form-control", Value = (Model.CPARuangan.TglPemasangan != null ? (Model.CPARuangan.TglPemasangan.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.TglPemasangan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Mobilisasi :</label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.Mobilisasi_Jalan, new { htmlAttributes = new { } })
                        Jalan
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.Mobilisasi_TirahBaring, new { htmlAttributes = new { } })
                        Tirah Baring
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.Mobilisasi_Duduk, new { htmlAttributes = new { } })
                        Duduk
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Transfer/ Mobilisasi :</label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.Transfer_Mandiri, new { htmlAttributes = new { } })
                        Mandiri
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.Transfer_DibantuSebagian, new { htmlAttributes = new { } })
                        Dibantu Sebagian
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.Transfer_DibantuPenuh, new { htmlAttributes = new { } })
                        Dibantu Penuh
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Alat Bantu :
                </label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.AlatBantu_TanpaAlat, new { htmlAttributes = new { } })
                        Tanpa Alat Bantu
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.AlatBantu_GigiPalsu, new { htmlAttributes = new { } })
                        Gigi Palsu
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.AlatBantu_KacaMata, new { htmlAttributes = new { } })
                        Kaca mata
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.AlatBantu_AlatBantuDengar, new { htmlAttributes = new { } })
                        Alat bantu dengar
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.AlatBantu_LainLain, new { htmlAttributes = new { } })
                        Lain
                    </label>
                </div>
                @*<div class="col-md-2">
                        <div class="input-group">
                            <label class="input-group-addon">
                                Lainnya
                            </label>
                            @Html.EditorFor(model => model.CPARuangan.AlatBantu_LainLain, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CPARuangan.AlatBantu_LainLain, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
            </div>
            <div class="form-group">
                <label class="col-md-2">Luka Pengobatan :</label>
                <div class="col-md-1">
                    @Html.DropDownListFor(model => model.CPARuangan.Luka, StaticModel.ListYaTidak, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPARuangan.Luka, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">Kondisi</label>
                        @Html.EditorFor(model => model.CPARuangan.Luka_Kondisi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.Luka_Kondisi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">Lokasi</label>
                        @Html.EditorFor(model => model.CPARuangan.Luka_Lokasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.Luka_Lokasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">Ukuran</label>
                        @Html.EditorFor(model => model.CPARuangan.Luka_Ukuran, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.Luka_Ukuran, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Infus :</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.CPARuangan.InfusScore, StaticModel.ListYaTidak, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPARuangan.InfusScore, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-2">Tanggal Pemasangan</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPARuangan.InfusTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.CPARuangan.InfusTanggal != null ? (Model.CPARuangan.InfusTanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.InfusTanggal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.Tindakan_ProtokolResiko, new { htmlAttributes = new { } })
                        Protokol Resiko Pasien Jatuh
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPARuangan.Tindakan_ProtokolRestrain, new { htmlAttributes = new { } })
                        Protokol Restain Perawatan Luka Hygiene
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">
                    Peralatan khusus yang diperlukan
                </label>
                <div class="col-md-9">
                    <div class="input-group">
                        <label class="input-group-addon">1.</label>
                        @Html.EditorFor(model => model.CPARuangan.PeralatanKhusus_1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.PeralatanKhusus_1, "", new { @class = "text-danger" })
                        <label class="input-group-addon">Lama Penggunaan</label>
                        @Html.EditorFor(model => model.CPARuangan.LamaPenggunaan_1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.LamaPenggunaan_1, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <div class="input-group">
                        <label class="input-group-addon">2.</label>
                        @Html.EditorFor(model => model.CPARuangan.PeralatanKhusus_2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.PeralatanKhusus_2, "", new { @class = "text-danger" })
                        <label class="input-group-addon">Lama Penggunaan</label>
                        @Html.EditorFor(model => model.CPARuangan.LamaPenggunaan_2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.LamaPenggunaan_2, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <div class="input-group">
                        <label class="input-group-addon">3.</label>
                        @Html.EditorFor(model => model.CPARuangan.PeralatanKhusus_3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.PeralatanKhusus_3, "", new { @class = "text-danger" })
                        <label class="input-group-addon">Lama Penggunaan</label>
                        @Html.EditorFor(model => model.CPARuangan.LamaPenggunaan_3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.LamaPenggunaan_3, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">Hal- Hal istimewa yang berhubungan dengan kondisi pasien :</label>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.CPARuangan.HalIstimewa, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPARuangan.HalIstimewa, "", new { @class = "text-danger" })
                </div>
            </div>
            <!--  Table Diagnosa  -->
            <div class="form-group">
                <div id="panel_detailCatatanPasienRSPemindahan" class="panel-body detail collapse in"
                     data-index-detail="@d_idx_CatatanPasienPemindahanRuangan">
                    <div class="table-responsive">
                        <table id="@d_tbl_CatatanPasienPemindahanRuangan" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" onclick="checkall(this)" />
                                    </th>
                                    <th class="text-center" rowspan="2">
                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_CatatanPasienPemindahanRuanga')">
                                            <i class="icon-plus2"></i>
                                        </a>
                                    </th>
                                    <th></th>
                                    <th>No</th>
                                    <th>Tanggal</th>
                                    <th>Jam</th>
                                    <th>Diagnosa Keperawatan</th>
                                    <th>Sudah/Belum Teratasi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.CPARuangan.DtailPemindahan_List != null)
                                    {
                                        for (var i = 0; i < Model.CPARuangan.DtailPemindahan_List.Count(); i++)
                                        {
                                            <tr>
                                                <!-- Check -->
                                                <td>
                                                    <input type="checkbox" />
                                                </td>

                                                <!-- Delete button -->
                                                <td>
                                                    <a class="text-danger-600"
                                                       onclick="removetr(this)">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                </td>

                                                <!-- Remove Status -->
                                                <td>
                                                    @Html.EditorFor(model => model.CPARuangan.DtailPemindahan_List[i].Remove,
                                               new { htmlAttributes = new { @class = "disable-reset" } })
                                                </td>

                                                <!-- No -->
                                                <td>
                                                    @Html.EditorFor(model => model.CPARuangan.DtailPemindahan_List[i].Model.No, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @readonly = "readonly"
                                                   }
                                               })
                                                </td>

                                                <td>
                                                    @Html.EditorFor(model => model.CPARuangan.DtailPemindahan_List[i].Model.Tanggal, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control input-sm",
                                                       Value = (Model != null ? (Model.CPARuangan.DtailPemindahan_List[i].Model.Tanggal != null ? Model.CPARuangan.DtailPemindahan_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                   }
                                               })
                                                </td>

                                                <!-- 6 -->
                                                <td>
                                                    @Html.EditorFor(model => model.CPARuangan.DtailPemindahan_List[i].Model.Jam, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control input-sm",
                                                       Value = (Model != null ? (Model.CPARuangan.DtailPemindahan_List[i].Model.Jam != null ? Model.CPARuangan.DtailPemindahan_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                   }
                                               })
                                                </td>

                                                <!-- Diagnosa -->
                                                <td>
                                                    @Html.EditorFor(model => model.CPARuangan.DtailPemindahan_List[i].Model.DiagnosaKeperawatan, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                </td>

                                                <!-- Diagnosaket -->
                                                @{
                                                    var m_1 = StaticModel.ListSudahBelum;
                                                    var item_1 = Model.CPARuangan.DtailPemindahan_List[i].Model.DiagnosaKeperawatan_Ket;
                                                    if (item_1 != null)
                                                    {
                                                        m_1.FirstOrDefault(x => x.Value == Model.CPARuangan.DtailPemindahan_List[i].Model.DiagnosaKeperawatan_Ket).Selected = true;

                                                    }
                                                }

                                                <!-- 14 -->
                                                <td>
                                                    @Html.DropDownListFor(model => model.CPARuangan.DtailPemindahan_List[i].Model.DiagnosaKeperawatan_Ket,
                                                    m_1, new { @class = "form-control input-sm" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    RECOMENDATIONS
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-3">
                    Konsultasi:
                </label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CPARuangan.Konsultasi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.Konsultasi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">
                    Rencana Pemeriksaan lab / ladiologi:
                </label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CPARuangan.RencanaPemeriksaan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.RencanaPemeriksaan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">
                    Therapy:
                </label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CPARuangan.Therapy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.Therapy, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">Rehabilitasi medik</label>
            </div>
            <div class="form-group">
                <label class="col-md-3">
                    Rencana tindakan lebih lanjut:
                </label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CPARuangan.RencanaTindakLanjut, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.RencanaTindakLanjut, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 text-italic">Note : Jumlah Obat, Barang dan dokumen yang disertakan</label>
            </div>
            <div class="form-group">
                <label class="col-md-12 text-italic text-bold">
                    Note : Jumlah Obat, barang dan dokumen yang disertakan
                </label>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Obat-obatan
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.Obat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.Obat, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            Sesuai kartu
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            MRI
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.MRI, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.MRI, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            ECHO
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.ECHO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.ECHO, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            MRA
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.MRA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.MRA, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Hasil lab
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.HasilLab, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.HasilLab, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Hasil USG
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.HasilUsg, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.HasilUsg, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Hasil EKG
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.HasilEKG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.HasilEKG, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Foto Rontgen
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.FotoRontgen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.FotoRontgen, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            CT Scan
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.CTScan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.CTScan, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Kacamata
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.KacaMata, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.KacaMata, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Alat Bantu Dengar
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.AlatBantuDengar, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.AlatBantuDengar, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Rekam Medis lama :</label>
                <div class="col-md-1">
                    @Html.DropDownListFor(model => model.CPARuangan.RekamMedisLama, StaticModel.ListYaTidak, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPARuangan.RekamMedisLama, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-1 control-label">Lain-lain</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CPARuangan.LainLain, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPARuangan.LainLain, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Kondisi terakhir Pasien :
                </label>
                <div class="col-md-4">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Jam
                        </label>
                        @Html.EditorFor(model => model.CPARuangan.JamSerahTerima, new { htmlAttributes = new { @class = "form-control", Value = (Model.CPARuangan.JamSerahTerima != null ? (Model.CPARuangan.JamSerahTerima.Value.ToString("HH:mm")) : "") } })
                        @Html.ValidationMessageFor(model => model.CPARuangan.JamSerahTerima, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1">
                    Diserahkan
                </label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.CPARuangan.Diserahkan_Perawat, Model.CPARuangan.Diserahkan_Perawat == null ? new List<SelectListItem>() : new List<SelectListItem>()
                    { new SelectListItem() { Value = Model.CPARuangan.Diserahkan_Perawat.ToString(), Text = Model.CPARuangan.Diserahkan_PerawatNama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPARuangan.Diserahkan_Perawat, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1">
                    @if (Model.CPARuangan.SudahRegPerawatSerah == 0)
                    {
                        <a id="btn_serahperatpemidahanr" class="btn btn-primary disabled" onclick="user_verif_serahp(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerPerawatRuangSerah"><span class="icon-checkmark2 position-center"></span>Verif</a>
                    }
                    else
                    {
                        <a id="btn_serahperatpemidahanr" class="btn btn-primary" onclick="user_verif_serahp(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerPerawatRuangSerah"><span class="icon-checkmark2 position-center"></span>Verif</a>
                    }
                </div>
                <label class="control-label col-md-1">
                    Diterima
                </label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.CPARuangan.Diterima_Perawat, Model.CPARuangan.Diterima_Perawat == null ? new List<SelectListItem>() : new List<SelectListItem>()
                    { new SelectListItem() { Value = Model.CPARuangan.Diterima_Perawat.ToString(), Text = Model.CPARuangan.Diterima_PerawatNama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPARuangan.Diterima_Perawat, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1">
                    @if (Model.CPARuangan.SudahRegPerawatTerima == 0)
                    {
                        <a id="btn_diterimaperatpemidahanr" class="btn btn-primary disabled" onclick="user_verif_terimap(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerPerawatRuangTerima"><span class="icon-checkmark2 position-center"></span>Verif</a>
                    }
                    else
                    {
                        <a id="btn_diterimaperatpemidahanr" class="btn btn-primary" onclick="user_verif_terimap(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerPerawatRuangTerima"><span class="icon-checkmark2 position-center"></span>Verif</a>
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                    <a href="@Url.Action("ExportPDFCatatanPemindahanPasienAntarRuangan", new { noreg = Model.NoReg, sectionid = Model.SectionID })" target="_blank"
                       class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                        Print PDF
                    </a>
                    <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }

</div>

<script type="text/javascript">

    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

</script>


@{
    if (Model.CPARuangan != null)
    {
        Model.CPARuangan.DtailPemindahan_List = null;
    }
}

<div id="@d_trg_CatatanPasienPemindahanRuanga" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.CPARuangan.DtailPemindahan_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.CPARuangan.DtailPemindahan_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CPARuangan.DtailPemindahan_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CPARuangan.DtailPemindahan_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.TimeOfDay.ToString("hh':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CPARuangan.DtailPemindahan_List[-1].Model.DiagnosaKeperawatan, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.CPARuangan.DtailPemindahan_List[-1].Model.DiagnosaKeperawatan_Ket,
        StaticModel.ListSudahBelum, new { @class = "form-control input-sm" })
    </div>

</div>

<!--  Select 2  -->
<script type="text/javascript">

    var dokter1 = $('#CPARuangan_DokterRawat_1');
    var dokter2 = $('#CPARuangan_DokterRawat_2');
    var dokter3 = $('#CPARuangan_DokterRawat_3');
    var serahperawat = $('#CPARuangan_Diserahkan_Perawat');
    var terimaperawat = $('#CPARuangan_Diterima_Perawat');



    dokter1.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    dokter2.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    dokter3.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    serahperawat.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    terimaperawat.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>

<script>
    function riwayatalergipemindahanruangan() {
        if ($("#CPARuangan_KondisiPasien option:selected").val() == 'Ya') {
            $('#CPARuangan_KondisiPasien_Ket').removeClass('hidden');
        } else {
            $('#CPARuangan_KondisiPasien_Ket').addClass('hidden');
            $('#CPARuangan_KondisiPasien_Ket').val('');
        }
    }

    $(document).ready(function () {
        riwayatalergipemindahanruangan();
    });
</script>

<script src="~/scripts/jquery.timer.js"></script>
<script>
    function user_verif_serahp(x_this) {
        var reStatsPerawatSerah = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#CPARuangan_Diserahkan_Perawat').val();
        var noreg = $('#CPARuangan_NoReg').val();
        var section = $('#CPARuangan_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifperawatserah(noreg, section, user_id);
            if (ct >= limit || reStatsPerawatSerah == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsPerawatSerah == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsPerawatSerah == 1) {
                    alertpopup("Verification success!", "success");
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_serahperatpemidahanr').addClass('disabled', true);
                    $('#catatanppenmindahanruangan').click();
                }
            }
            ct++;
        });

        function user_checkverifperawatserah(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilPerawat", "VerifPemindahanPasienAntarRuangan")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Perawat == "1") {
                            reStatsPerawatSerah = 1;
                        }
                    }
                    else {
                        reStatsPerawatSerah = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_terimap(x_this) {
        var reStatsPerawatTerima = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#CPARuangan_Diterima_Perawat').val();
        var noreg = $('#CPARuangan_NoReg').val();
        var section = $('#CPARuangan_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifperawatterima(noreg, section, user_id);
            if (ct >= limit || reStatsPerawatTerima == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsPerawatTerima == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsPerawatTerima == 1) {
                    alertpopup("Verification success!", "success");
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_serahperatpemidahanr').addClass('disabled', true);
                    $('#catatanppenmindahanruangan').click();
                }
            }
            ct++;
        });

        function user_checkverifperawatterima(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilPerawat", "VerifPemindahanPasienAntarRuangan")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Petugas == "1") {
                            reStatsPerawatTerima = 1;
                        }
                    }
                    else {
                        reStatsPerawatTerima = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreatepemindahanpasien(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#catatanppenmindahanruangan').click();
    }
</script>
