﻿@using EMRRSBK.Models
@model FingerViewModel
@{
    var controllerName = "Finger";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    var targetForm = formName;

    #region ==== MODAL PASIEN
    //var target_pasien = new
    //{
    //    t0 = $"#{nameof(Model.userid)}",
    //    t1 = $"#{nameof(Model.NamaPasien)}",
    //    t2 = $"#{nameof(Model.Alamat)}",
    //    t3 = $"#{nameof(Model.TglLahir)}",
    //};
    //var modalid_pasien = $"modal_{formName}_{nameof(Model.userid)}";
    //var modalName_pasien = "Pasien";
    #endregion

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "CreatePetugas", Value = "active" }
};
}

<style>
    #sig-canvas {
        border: 2px dotted #CCCCCC;
        border-radius: 5px;
        cursor: crosshair;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("CreatePetugas", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.HiddenFor(mode => Model.Gambar1);
        @Html.HiddenFor(mode => Model.id_View);
        @Html.AntiForgeryToken()

        <img src="~/Images/TTD.PNG" id="sig-image" class="hidden" />

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-12" style="position:inherit">
                <div class="row" style="position:inherit">
                    <div class="col-md-12" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-12">
                                <canvas id="sig-canvas" width="1200" height="780" style="touch-action: none;"></canvas>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.Kategori, new { htmlAttributes = new { @class = "form-control", Value = (Model.Kategori != null ? (Model.Kategori) : ""), @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Kategori, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-default" id="sig-clearBtn">Clear Signature</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                @*<a id="btnRegistercreate" class='btn btn-xs btn-primary' onclick="user_register()">Register</a>*@
                <a id="btnRegistercreate" class='btn btn-xs btn-primary' onclick="user_registerpasienuserpass()">Register</a>
            </div>
        </div>
    }
</div>

<script src="~/scripts/jquery.timer.js"></script>
<link type="image/gif" href="~/Images/Content/loading-spinner-grey.gif" rel="icon">

<script>
    $(document).ready(function () {
        getencodeurl();
    });
    var id_user;

    function getencodeurl() {
        id_user = '@Model.id_View';

        myajax({
            url: '@Url.Action("GetEncodeUrl")',
            method: 'GET',
            data: {
                id: id_user
            },
            success: function (data) {
                if (data.IsSuccess) {
                    $('#btnRegistercreate').attr("href", "finspot:FingerspotReg;" + data.Data);
                }
            },
            beforeSend: function () {
                $('#_loading').css('display', 'none');
            }
        });
    }

    function user_register() {
        var canvas = document.getElementById("sig-canvas");
        var dataUrl = canvas.toDataURL();
        $('#Gambar1').val(dataUrl.replace(/^data:image\/[a-z]+;base64,/, ""));
        var datagambar = $('#Gambar1').val();
        regStats = 0;
        regCt = -1;
        try {
            timer_register.stop();
        }
        catch (err) {
            console.log('Registration timer has been init');
        }

        var limit = 5;
        var ct = 1;
        var timeout = 10000;
        var user_id = id_user;
        timer_register = $.timer(timeout, function () {
            user_checkregister(user_id);
            if (ct >= limit || regStats == 1) {
                timer_register.stop();
                if (ct >= limit && regStats == 0) {
                    alertpopup("registration fail!", "info");
                }
                if (regStats == 1) {
                     myajax({
                        url: '@Url.Action("IsertTTD")',
                        method: 'POST',
                         data: {
                             iduser: user_id,
                             gambar: datagambar,
                             kategori: $('#Kategori').val()
                        },
                        success: function (data) {
                            if (data.IsSuccess) {
                                $('#@formName').closest('.modal').modal('hide');
                                alertpopup("registration success!", "success");
                            }
                            else {
                                alertpopup("Gambar TTD tidak tersimpan", "danger");
                            }
                        },
                        beforeSend: function () {
                            $('#_loading').css('display', 'none');
                        }
                    });
                }
            }
            ct++;
        });
    }

    function user_checkregister(user_id) {
        myajax({
            url: '@Url.Action("CheckBerhasil")',
            method: 'GET',
            data: {
                id: user_id
            },
            success: function (data) {
                if (data.IsSuccess) {
                    regStats = 1;
                    alertpopup('Data berhasil disimpan', 'success');
                    $('#pengkajianawal').click();
                }
            },
            beforeSend: function () {
                $('#_loading').css('display', 'none');
            }
        });
    }

    function user_registerpasienuserpass() {
        $('#Gambar1').val(dataUrl.replace(/^data:image\/[a-z]+;base64,/, ""));
        var datagambar = $('#Gambar1').val();
        var dokterid = @Model.id_View;
        myajax({
            url: '@Url.Action("InsertUserPassTTD", "RegisterFinger")',
            method: 'POST',
                data: {
                    id: dokterid,
                    gambar: datagambar
            },
            success: function (data) {
                if (data.IsSuccess) {
                    $('#@formName').closest('.modal').modal('hide');
                    alertpopup("Registrasi Berhasil!", "success");
                }
                else {
                    alertpopup("Tanda Tangan Gagal Disimpan", "danger");
                }
            },
            beforeSend: function () {
                $('#_loading').css('display', 'none');
            }
        });
    }

</script>

<script>
    (function () {
        // Get a regular interval for drawing to the screen
        window.requestAnimFrame = (function (callback) {
            return window.requestAnimationFrame ||
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                window.oRequestAnimationFrame ||
                window.msRequestAnimaitonFrame ||
                function (callback) {
                    window.setTimeout(callback, 1000 / 60);
                };
        })();

        // Set up the canvas
        const canvas = document.getElementById("sig-canvas");
        var ctx = canvas.getContext("2d");
        var background = new Image();
        background.src = "@Url.Content("~/Images/TTD.PNG")";
        ctx.strokeStyle = "#222222";
        ctx.lineWith = 2;
        ctx.width = window.innerWidth;
        ctx.height = window.innerHeight;
        background.onload = function () {
            ctx.drawImage(background, 0, 0);
        }

        // Set up the UI
        //var sigImage = document.getElementById("sig-image");
        var clearBtn = document.getElementById("sig-clearBtn");
        clearBtn.addEventListener("click", function (e) {
            clearCanvas();
            var backgroundnew = new Image();
            backgroundnew.src = "@Url.Content("~/Images/TTD.PNG")";
            backgroundnew.onload = function () {
                ctx.drawImage(backgroundnew, 0, 0);
            }
            //sigImage.setAttribuModele("src", "");
        }, false);

        // Set up mouse events for drawing
        var drawing = false;
        var mousePos = { x: 0, y: 0 };
        var lastPos = mousePos;
        canvas.addEventListener("mousedown", function (e) {
            drawing = true;
            lastPos = getMousePos(canvas, e);
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            drawing = false;
        }, false);
        canvas.addEventListener("mousemove", function (e) {
            mousePos = getMousePos(canvas, e);
        }, false);

        // Set up touch events for mobile, etc
        canvas.addEventListener("touchstart", function (e) {
            mousePos = getTouchPos(canvas, e);
            var touch = e.touches[0];
            var mouseEvent = new MouseEvent("mousedown", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(mouseEvent);
        }, false);
        canvas.addEventListener("touchend", function (e) {
            var mouseEvent = new MouseEvent("mouseup", {});
            canvas.dispatchEvent(mouseEvent);
        }, false);
        canvas.addEventListener("touchmove", function (e) {
            var touch = e.touches[0];
            var mouseEvent = new MouseEvent("mousemove", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(mouseEvent);
        }, false);


        // Get the position of the mouse relative to the canvas
        function getMousePos(canvasDom, mouseEvent) {
            var rect = canvasDom.getBoundingClientRect();
            return {
                x: mouseEvent.clientX - rect.left,
                y: mouseEvent.clientY - rect.top
            };
        }

        // Get the position of a touch relative to the canvas
        function getTouchPos(canvasDom, touchEvent) {
            var rect = canvasDom.getBoundingClientRect();
            return {
                x: touchEvent.touches[0].clientX - rect.left,
                y: touchEvent.touches[0].clientY - rect.top
            };
        }

        // Draw to the canvas
        function renderCanvas() {
            if (drawing) {
                ctx.moveTo(lastPos.x, lastPos.y);
                ctx.lineTo(mousePos.x, mousePos.y);
                ctx.stroke();
                lastPos = mousePos;
            }
        }

        function clearCanvas() {
            canvas.width = canvas.width;
        }


        // Allow for animation
        (function drawLoop() {
            requestAnimFrame(drawLoop);
            renderCanvas();
        })();

    })();


</script>

