﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "LaporanPemeriksaanVisumETRepertum";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};



}


<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(Model => Model.NoReg)
            @Html.HiddenFor(Model => Model.SectionID)
            @Html.HiddenFor(Model => Model.NRM)
            @Html.HiddenFor(Model => Model.LPVisumETRepertum.LokasiLukaLaki)
            @Html.HiddenFor(Model => Model.LPVisumETRepertum.LokasiLukaPerempuan)
            @Html.HiddenFor(Model => Model.LPVisumETRepertum.Visum1)
            @Html.HiddenFor(Model => Model.LPVisumETRepertum.Visum2)

            <img id="Img_Gambar1" src="@Url.Content("~/Images/GambarVisumLaki.jpg")" class="hidden" />
            <img id="Img_Gambar2" src="@Url.Content("~/Images/GambarVisumPerempuan.jpg")" class="hidden" />
            <img id="Img_Gambar3" src="@Url.Content("~/Images/Visum1.jpg")" class="hidden" />
            <img id="Img_Gambar4" src="@Url.Content("~/Images/Visum2.jpg")" class="hidden" />

            <div class="form-group">
                <label class="col-md-12 text-bold">
                    I. IDENTITAS
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-2">Nama :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LPVisumETRepertum.NamaPerempuan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.LPVisumETRepertum.NamaPerempuan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Jenis Kelamin :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LPVisumETRepertum.JKPerempuan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.LPVisumETRepertum.JKPerempuan == "F" ? "Perempuan" : Model.LPVisumETRepertum.JKPerempuan == "M" ? "Laki- Laki" : "") } })
                    @Html.ValidationMessageFor(model => model.LPVisumETRepertum.JKPerempuan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Umur :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LPVisumETRepertum.UmurPerempuan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.LPVisumETRepertum.UmurPerempuan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Pekerjaan :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LPVisumETRepertum.PekerjaanPerempuan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LPVisumETRepertum.PekerjaanPerempuan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Agama :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LPVisumETRepertum.AgamaPerempuan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LPVisumETRepertum.AgamaPerempuan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Kewarganegaraan :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LPVisumETRepertum.KewarganegaraanPerempuan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LPVisumETRepertum.KewarganegaraanPerempuan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Alamat :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LPVisumETRepertum.AlamatPerempuan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.LPVisumETRepertum.AlamatPerempuan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="position:inherit">
                <div class="col-md-12" style="position:inherit">
                    <div class="form-group" style="position:inherit">
                        <div class="col-md-12" style="position:inherit">
                            <div class="panel panel-default" style="position:inherit">
                                <div class="panel-body" style="position:inherit">
                                    <div class="form-group text-center" style="position:inherit">
                                        <canvas id="Canvas_Gambar_Cek1" class="border-1 center-block"></canvas>
                                        <hr />
                                        <div class="row">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <select class="form-group input-xs" id="size_Gambar1" onchange="idGambar1.text('text_Gambar1', this.value, this)">
                                                        <option value="normal 10px sans-serif" data-line="1">extra small</option>
                                                        <option value="normal 20px sans-serif" data-line="3" selected>small</option>
                                                        <option value="normal 40px sans-serif" data-line="10">normal</option>
                                                        <option value="normal 70px sans-serif" data-line="20">large</option>
                                                        <option value="normal 100px sans-serif" data-line="30">extra large</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control input-xs text-right" id="text_Gambar1" placeholder="Text" onblur="idGambar1.text('text_Gambar1', document.getElementById('size_Gambar1').value)" />
                                                        <div class="input-group-addon"> <a class="fa fa-font" onclick="document.getElementById('text_Gambar1').value = ''"></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <button type="button" onclick="idGambar1.changecolor('red')" class="btn btn-xs"><i class="fa fa-tint" style="color:red"></i></button>
                                                    <button type="button" onclick="idGambar1.changecolor('black')" class="btn btn-xs"><i class="fa fa-tint" style="color:black"></i></button>
                                                    <button type="button" onclick="idGambar1.changecolor('yellow')" class="btn btn-xs"><i class="fa fa-tint" style="color:yellow"></i></button>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button" onclick="idGambar1.clear()" class="btn btn-xs"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        @*<input type="file" name="Image[0]" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="col-md-12 text-bold">
                    I. IDENTITAS
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-2">Nama :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LPVisumETRepertum.NamaLaki, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.LPVisumETRepertum.NamaLaki, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Jenis Kelamin :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LPVisumETRepertum.JKLaki, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.LPVisumETRepertum.JKLaki == "F" ? "Perempuan" : Model.LPVisumETRepertum.JKLaki == "M" ? "Laki- Laki" : "") } })
                    @Html.ValidationMessageFor(model => model.LPVisumETRepertum.JKLaki, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Umur :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LPVisumETRepertum.UmurLaki, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.LPVisumETRepertum.UmurLaki, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Pekerjaan :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LPVisumETRepertum.PekerjaanLaki, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LPVisumETRepertum.PekerjaanLaki, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Agama :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LPVisumETRepertum.AgamaLaki, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LPVisumETRepertum.AgamaLaki, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Kewarganegaraan :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LPVisumETRepertum.KewarganegaraanLaki, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LPVisumETRepertum.KewarganegaraanLaki, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Alamat :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LPVisumETRepertum.AlamatLaki, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.LPVisumETRepertum.AlamatLaki, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="position:inherit">
                <div class="col-md-12" style="position:inherit">
                    <div class="form-group" style="position:inherit">
                        <div class="col-md-12" style="position:inherit">
                            <div class="panel panel-default" style="position:inherit">
                                <div class="panel-body" style="position:inherit">
                                    <div class="form-group text-center" style="position:inherit">
                                        <canvas id="Canvas_Gambar_Cek2" class="border-1 center-block"></canvas>
                                        <hr />
                                        <div class="row">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <select class="form-group input-xs" id="size_Gambar2" onchange="idGambar2.text('text_Gambar2', this.value, this)">
                                                        <option value="normal 10px sans-serif" data-line="1">extra small</option>
                                                        <option value="normal 20px sans-serif" data-line="3" selected>small</option>
                                                        <option value="normal 40px sans-serif" data-line="10">normal</option>
                                                        <option value="normal 70px sans-serif" data-line="20">large</option>
                                                        <option value="normal 100px sans-serif" data-line="30">extra large</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control input-xs text-right" id="text_Gambar2" placeholder="Text" onblur="idGambar2.text('text_Gambar2', document.getElementById('size_Gambar2').value)" />
                                                        <div class="input-group-addon"> <a class="fa fa-font" onclick="document.getElementById('text_Gambar2').value = ''"></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <button type="button" onclick="idGambar2.changecolor('red')" class="btn btn-xs"><i class="fa fa-tint" style="color:red"></i></button>
                                                    <button type="button" onclick="idGambar2.changecolor('black')" class="btn btn-xs"><i class="fa fa-tint" style="color:black"></i></button>
                                                    <button type="button" onclick="idGambar2.changecolor('yellow')" class="btn btn-xs"><i class="fa fa-tint" style="color:yellow"></i></button>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button" onclick="idGambar2.clear()" class="btn btn-xs"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        @*<input type="file" name="Image[0]" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="form-group" style="position:inherit">
                <div class="col-md-12" style="position:inherit">
                    <div class="form-group" style="position:inherit">
                        <div class="col-md-12" style="position:inherit">
                            <div class="panel panel-default" style="position:inherit">
                                <div class="panel-body" style="position:inherit">
                                    <div class="form-group text-center" style="position:inherit">
                                        <canvas id="Canvas_Gambar_Cek3" class="border-1 center-block"></canvas>
                                        <hr />
                                        <div class="row">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <select class="form-group input-xs" id="size_Gambar3" onchange="idGambar3.text('text_Gambar3', this.value, this)">
                                                        <option value="normal 10px sans-serif" data-line="1">extra small</option>
                                                        <option value="normal 20px sans-serif" data-line="3" selected>small</option>
                                                        <option value="normal 40px sans-serif" data-line="10">normal</option>
                                                        <option value="normal 70px sans-serif" data-line="20">large</option>
                                                        <option value="normal 100px sans-serif" data-line="30">extra large</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control input-xs text-right" id="text_Gambar3" placeholder="Text" onblur="idGambar3.text('text_Gambar3', document.getElementById('size_Gambar3').value)" />
                                                        <div class="input-group-addon"> <a class="fa fa-font" onclick="document.getElementById('text_Gambar3').value = ''"></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <button type="button" onclick="idGambar3.changecolor('red')" class="btn btn-xs"><i class="fa fa-tint" style="color:red"></i></button>
                                                    <button type="button" onclick="idGambar3.changecolor('black')" class="btn btn-xs"><i class="fa fa-tint" style="color:black"></i></button>
                                                    <button type="button" onclick="idGambar3.changecolor('yellow')" class="btn btn-xs"><i class="fa fa-tint" style="color:yellow"></i></button>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button" onclick="idGambar3.clear()" class="btn btn-xs"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </div>
                                        </div>-->
                                        @*<input type="file" name="Image[0]" />*@
                                    <!--</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                    <a href="@Url.Action("ExportPDF", new { noreg = Model.NoReg})" target="_blank"
                       class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                        Print PDF
                    </a>
                    <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }

</div>


<!-- JS GAMBAR   -->
<script type="text/javascript">
    var ximg_Gambar1;
    var ximg_Gambar2;
    //var ximg_Gambar3;
    //var ximg_Gambar4;
    @if (ViewBag.IsAjaxRequest) {
            if (Model.LPVisumETRepertum != null)
            {
                if (Model.LPVisumETRepertum.LokasiLukaPerempuan != null)
                {
                    @:ximg_Gambar1= new Image();
                    @:ximg_Gambar1.src = 'data:image/png;base64,@(Model.LPVisumETRepertum.LokasiLukaPerempuan)';
                }

                if (Model.LPVisumETRepertum.LokasiLukaLaki != null)
                {
                    @:ximg_Gambar2= new Image();
                    @:ximg_Gambar2.src = 'data:image/png;base64,@(Model.LPVisumETRepertum.LokasiLukaLaki)';
                }
                @*if (Model.LPVisumETRepertum.Visum1 != null)
                {
                    @:ximg_Gambar3= new Image();
                    @:ximg_Gambar3.src = 'data:image/png;base64,@(Model.LPVisumETRepertum.Visum1)';
                }
                 if (Model.LPVisumETRepertum.Visum2 != null)
                {
                    @:ximg_Gambar4= new Image();
                    @:ximg_Gambar4.src = 'data:image/png;base64,@(Model.LPVisumETRepertum.Visum2)';
                }*@

            }

     }

    $(document).ready(function() {
        idGambar1 = new iPainter('Canvas_Gambar_Cek1', 'Img_Gambar1', ximg_Gambar1, null, null, 345, 510);
        idGambar2 = new iPainter('Canvas_Gambar_Cek2', 'Img_Gambar2', ximg_Gambar2, null, null, 345, 510);
        //idGambar3 = new iPainter('Canvas_Gambar_Cek3', 'Img_Gambar3', ximg_Gambar3, null, null, 345, 510);
        //idGambar4 = new iPainter('Canvas_Gambar_Cek4', 'Img_Gambar4', ximg_Gambar4, null, null, 345, 510);


        @if (!string.IsNullOrEmpty(ViewBag.Status))
        {
           @:alertpopup('@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.Message))','@ViewBag.Status');
        }
    });


    function SubmitForm(e) {
        try {
            idGambar1.convert('LPVisumETRepertum_LokasiLukaPerempuan');
            idGambar2.convert('LPVisumETRepertum_LokasiLukaLaki');
            //idGambar3.convert('LPVisumETRepertum_Visum1');
            //idGambar4.convert('LPVisumETRepertum_Visum2');
            $('#@formName').valid();
            if ($('#@formName').valid() == true) {

                loading();
            }

        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    function gridBox_valueChanged(e) {
        var $dataGrid;
        if (e.element.hasClass('dx-texteditor'))
            $dataGrid = $(e.element.parent()).find('#embedded-datagrid');

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
    }

    function gridBox_displayExpr(item) {
        return item && "[" + item.DokterID + "] " + item.NamaDOkter;
    }

    function stopRKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
    }

    document.onkeypress = stopRKey;
</script>



