﻿


@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "FormPerhitunganIntraoperatif";
    ViewBag.Title = controllerName;
    var formName = $"frm_FormPerhitunganIntraoperatif_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Detail
    var d_tbl_Namaitem = $"frm_table_detailNamaitem";
    int d_idx_Namaitem = 0;
    var d_trg_Namaitem = $"input_target_detailNamaitem";
    if (Model != null)
    {
        if (Model.FrmPhtnganIntraoper != null)
        {
            if (Model.FrmPhtnganIntraoper.PrhtnganIntra_List != null)
            {
                d_idx_Namaitem = Model.FrmPhtnganIntraoper.PrhtnganIntra_List.Count();
            }
        }
    }
    #endregion
}

<!--   CSS Table -->
<style>
    #d_tbl_Namaitem thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_Namaitem thead th:nth-child(1),
    #d_tbl_Namaitem tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_Namaitem thead th:nth-child(2),
    #d_tbl_Namaitem tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #d_tbl_Namaitem thead th:nth-child(3),
    #d_tbl_Namaitem tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_Namaitem thead th:nth-child(4),
    #d_tbl_Namaitem tbody td:nth-child(4) {
        width: 80px;
    }

    #d_tbl_Namaitem thead th:nth-child(5),
    #d_tbl_Namaitem tbody td:nth-child(5) {
        width: 250px;
    }

    #d_tbl_Namaitem thead th:nth-child(6),
    #d_tbl_Namaitem tbody td:nth-child(6) {
        width: 150px;
    }

    #d_tbl_Namaitem thead th:nth-child(7),
    #d_tbl_Namaitem tbody td:nth-child(7) {
        width: 250px;
    }

    #d_tbl_Namaitem thead th:nth-child(8),
    #d_tbl_Namaitem tbody td:nth-child(8) {
        width: 150px;
    }

    #d_tbl_Namaitem thead th:nth-child(9),
    #d_tbl_Namaitem tbody td:nth-child(9) {
        width: 150px;
    }

    #d_tbl_Namaitem thead th:nth-child(10),
    #d_tbl_Namaitem tbody td:nth-child(10) {
        width: 250px;
    }

    #d_tbl_Namaitem thead th:nth-child(11),
    #d_tbl_Namaitem tbody td:nth-child(11) {
        width: 150px;
    }

    #d_tbl_Namaitem thead th:nth-child(12),
    #d_tbl_Namaitem tbody td:nth-child(12) {
        width: 150px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateformperhitungan (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.FrmPhtnganIntraoper.NoReg)
        @Html.HiddenFor(Model => Model.FrmPhtnganIntraoper.SectionID)
        @Html.HiddenFor(Model => Model.FrmPhtnganIntraoper.NRM)
        @Html.HiddenFor(Model => Model.FrmPhtnganIntraoper.TandaTanganInstrumen)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">FORM PENGHITUNGAN INTRAOPERATIF</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            Tanggal :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.FrmPhtnganIntraoper.Tanggal != null ? (Model.FrmPhtnganIntraoper.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1 col-md-offset-1">
                            Jam :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.FrmPhtnganIntraoper.Jam != null ? Model.FrmPhtnganIntraoper.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Nama :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.NamaPasien, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.FrmPhtnganIntraoper.NamaPasien != null ? (Model.FrmPhtnganIntraoper.NamaPasien) : "") } })
                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 col-md-offset-1 control-label">
                            Jenis Kelamin :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.FrmPhtnganIntraoper.JenisKelamin == "F" ? "Perempuan" : Model.FrmPhtnganIntraoper.JenisKelamin == "M" ? "Laki- Laki" : "") } })
                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.JenisKelamin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1">NRM :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.NRM, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 col-md-offset-1 control-label">Umur :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.Umur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.Umur, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="panel_detailFrmPhtnganIntraoperObat" class="detail collapse in"
                             data-index-detail="@d_idx_Namaitem">
                            <div class="table-responsive">
                                <table id="d_tbl_Namaitem" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" onclick="checkall(this)" />
                                            </th>
                                            <th class="text-center" rowspan="2">
                                                <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Namaitem')">
                                                    <i class="icon-plus2"></i>
                                                </a>
                                            </th>
                                            <th></th>
                                            <th>No</th>
                                            <th>Jenis/ Nama Item yang dihitung</th>
                                            <th>Perhitungan Awal</th>
                                            <th colspan="4">Penambahan Pertama</th>
                                            <th>Total Tambahan</th>
                                            <th>Perhitungan Pertama</th>
                                            <th colspan="4">Penambahan Kedua</th>
                                            <th>Total Tambahan</th>
                                            <th>Perhitungan Akhir</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.FrmPhtnganIntraoper.PrhtnganIntra_List != null)
                                            {
                                                for (var i = 0; i < Model.FrmPhtnganIntraoper.PrhtnganIntra_List.Count(); i++)
                                                {
                                                    <tr>
                                                        <!-- Check -->
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>

                                                        <!-- Delete button -->
                                                        <td>
                                                            <a class="text-danger-600"
                                                               onclick="removetr(this)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>

                                                        <!-- Remove Status -->
                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Remove,
                                                       new { htmlAttributes = new { @class = "disable-reset" } })
                                                        </td>

                                                        <!-- No -->
                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.No, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly"
                                                           }
                                                       })
                                                        </td>
                                                        @{
                                                            var _lstobat = new List<SelectListItem>();
                                                            if (Model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model != null)
                                                            {
                                                                if (Model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.NamaItem != null)
                                                                {
                                                                    _lstobat.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.NamaItem,
                                                                        Text = Model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.NamaItemNama
                                                                    });
                                                                }
                                                            }
                                                        }
                                                        <td>
                                                            @Html.DropDownListFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.NamaItem, _lstobat, new { @class = "form-control input-sm" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PerhitunganAwal, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PerhitunganAwal, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanPertama_1, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanPertama_1, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanPertama_2, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanPertama_2, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanPertama_3, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanPertama_3, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanPertama_4, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanPertama_4, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.Total_Pertama, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.Total_Pertama, "", new { @class = "text-danger" })
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PerhitunganPertama, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PerhitunganPertama, "", new { @class = "text-danger" })
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanKedua_1, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanKedua_1, "", new { @class = "text-danger" })
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanKedua_2, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanKedua_2, "", new { @class = "text-danger" })
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanKedua_3, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanKedua_3, "", new { @class = "text-danger" })
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanKedua_4, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PenambahanKedua_4, "", new { @class = "text-danger" })
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.Total_Kedua, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.Total_Kedua, "", new { @class = "text-danger" })
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PerhitunganAkhir, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[i].Model.PerhitunganAkhir, "", new { @class = "text-danger" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Bener Perhitungan :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.FrmPhtnganIntraoper.BenarPerhitungan, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.BenarPerhitungan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Instrumen :
                        </label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.FrmPhtnganIntraoper.Instrumen, Model.FrmPhtnganIntraoper.Instrumen == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.FrmPhtnganIntraoper.Instrumen.ToString(), Text = Model.FrmPhtnganIntraoper.InstrumenNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FrmPhtnganIntraoper.Instrumen, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.FrmPhtnganIntraoper.SudahRegInstrumen == 0)
                            {
                                <a id="btn_formperhitunganinstrumen" class="btn btn-primary disabled" onclick="user_verif_formperhitunganinstrumen(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerFrmPhtnganIntraoperInstrumen"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_formperhitunganinstrumen" class="btn btn-primary" onclick="user_verif_formperhitunganinstrumen(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerFrmPhtnganIntraoperInstrumen"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.FrmPhtnganIntraoper.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFFormPerhitunganIntraoperatif", new { noreg = Model.FrmPhtnganIntraoper.NoReg, Model.FrmPhtnganIntraoper.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.FrmPhtnganIntraoper.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--Select obat-->
<script type="text/javascript">

    @if (Model != null)
    {
        if (Model.FrmPhtnganIntraoper.PrhtnganIntra_List != null)
        {
            for (var i = 0; i < Model.FrmPhtnganIntraoper.PrhtnganIntra_List.Count; i++)
            {

                    @:customdetailCatatanObat_Detail(@i, { target: $('#d_tbl_Namaitem thead a i')[0] }, '@d_trg_Namaitem', false);
            }

        }
    }

    function customdetailCatatanObat_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobatsaraf = '#panel_detailFrmPhtnganIntraoperObat #FrmPhtnganIntraoper_PrhtnganIntra_List_' + index_detail + '__Model_NamaItem';

        $(_strobatsaraf).select2({
            ajax: {
                url: "@Url.Action("ListObat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama_Barang',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Barang, text: value.Nama_Barang } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

</script>

<!--INPUT DETAIL TABLE-->
@{
    if (Model != null)
    {
        Model.FrmPhtnganIntraoper.PrhtnganIntra_List = null;
    }
}

<div id="@d_trg_Namaitem" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Remove,
        new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detailsaraf(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.NamaItem,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.PerhitunganAwal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.PenambahanPertama_1, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.PenambahanPertama_2, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.PenambahanPertama_3, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.PenambahanPertama_4, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.Total_Pertama, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.PerhitunganPertama, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.PenambahanKedua_1, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.PenambahanKedua_2, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.PenambahanKedua_3, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.PenambahanKedua_4, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.Total_Kedua, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>
    <div class="input-detail">
        @Html.EditorFor(model => model.FrmPhtnganIntraoper.PrhtnganIntra_List[-1].Model.PerhitunganAkhir, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>
</div>

<!--Auto Detail-->
<script type="text/javascript">

    function autoid_detailsaraf(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }


</script>

<!--JS SELECT-->
<script type="text/javascript">
    var putugasok = $('#@formName #FrmPhtnganIntraoper_Instrumen');
    var dokterbedah = $('#@formName #FrmPhtnganIntraoper_DokterBedah');

    putugasok.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    dokterbedah.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>

<script src="~/scripts/jquery.timer.js"></script>
<script>
    function user_verif_formperhitunganinstrumen(x_this) {
        var reStatsFormPrhtunganInstrumen = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#FrmPhtnganIntraoper_Instrumen').val();
        var noreg = $('#FrmPhtnganIntraoper_NoReg').val();
        var section = $('#FrmPhtnganIntraoper_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifpetugassrhtrm(noreg, section, user_id);
            if (ct >= limit || reStatsFormPrhtunganInstrumen == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsFormPrhtunganInstrumen == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsFormPrhtunganInstrumen == 1) {
                    alertpopup("Verification success!", "success");
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_formperhitunganinstrumen').addClass('disabled', true);
                    $('#formperhitunganintra').click();
                }
            }
            ct++;
        });

        function user_checkverifpetugassrhtrm(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilFormPerhitunganIntraoperatif", "VerifFormPerhitunganIntraoperatif")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Instrumen == "1") {
                            reStatsFormPrhtunganInstrumen = 1;
                        }
                    }
                    else {
                        reStatsFormPrhtunganInstrumen = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreateformperhitungan(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#formperhitunganintra').click();
    }
</script>





