﻿@using iHos.MVC.Converter
@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = "Electronik Medical Record";
    var tableId = $"table_{controllerName}";
    var item = new DokumenAssesmenPasienViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.NoBukti);
    column[1] = nameof(item.NoReg);
    column[2] = nameof(item.CretaedBy);
    column[3] = nameof(item.UpdatedBy);
    column[4] = nameof(item.TanggalCreate);
    column[5] = nameof(item.TanggalUpdate);
    column[6] = nameof(item.DokumenID);
    column[7] = nameof(item.NamaDokumen);
    column[8] = nameof(item.SectionID);
    column[9] = nameof(item.SectionName);
    column[10] = nameof(item.Simpan);
    column[11] = nameof(item.Batal);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("ListAssesmen","MedicalRecord")';
     init();
     filter[0] = '@Model.NoReg';
     filter[6] = '@Model.Nomor';
     sort = '@column[4]';
     sorttype = 'desc';
     getdatas();
     ">

    <div class="panel panel-flat">
        <div class="panel-heading p-10">
            <ul class="icons-list">
                <li>Sort By :</li>
                <li><a ng-click="ordering($event,'@column[7]')" class="sorting"><i class="icon-sort-alpha-asc"></i></a></li>
                <li class="ml-10"><a ng-click="ordering($event,'@column[4]')" class="sorting"><i class="icon-sort-time-desc"></i></a></li>
                <li><input ng-model="filter[7]" placeholder="Cari Dokumen . . ." type="text" class="form-control input-xs" ng-change="getdatas()"></li>
            </ul>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="list-assesmen" id="@tableId">
        <div class="row {{ loading ? '' : 'hide' }}">
            <div class="col-md-12">
                <div class="loading {{ loading ? '' : 'hide' }}">
                    <div class="bubblingG center">
                        <span id="bubblingG_1"></span>
                        <span id="bubblingG_2"></span>
                        <span id="bubblingG_3"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row {{ loading ? 'hide' : '' }}">
            <div class="col-md-12" ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                <div class="panel">
                    <div class="panel-body" style="padding: 20px 20px 5px 20px;">
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="text-semibold no-margin text-primary">{{ data.@(column[7]) }}</h6>
                                <ul class="list list-unstyled">
                                    <li>Dibuat Oleh : &nbsp;{{ data.@(column[2]) }}</li>
                                    <li>Status : &nbsp; 
                                        <label ng-if="!data.@(column[11])" class="label label-success">AKTIF</label> 
                                        <label ng-if="data.@(column[11])" class="label label-danger">BATAL</label> 
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-6">
                                <h6 class="text-semibold text-right no-margin"><i class="icon-pin position-left"></i> {{ data.@(column[9]) }}</h6>
                                <ul class="list list-unstyled text-right mt-10">
                                    <li>
                                        <button onclick="printPDF(this)" data-target-id="{{data.@(column[0])}}" data-target-form="{{data.@(column[6])}}" ng-if="!data.@(column[11]) && data.@(column[10])" type="button" class="btn border-success text-success btn-flat btn-icon btn-rounded"><i class="icon-printer"></i></button>
                                        <button ng-click="$parent.ajaxmodal({
                                                            url : '@Url.Action("","EMR")' + data.@column[6] +'/Create/' +  data.@column[1],
                                                            param: { nrm : '@Model.NRM', noreg :  data.@column[1]},
                                                            header : data.@(column[7]) ,
                                                            target_auto_refresh : '@tableId' })" type="button" ng-if="!data.@(column[11])" class="btn border-primary text-primary btn-flat btn-icon btn-rounded">
                                            <i class="icon-search4"></i>
                                        </button>
                                        <button ng-click="$parent.ajaxmodal({
                                                            url : '@Url.Action("","EMR")' + data.@column[6] +'/Create/' +  data.@column[0],
                                                            param: { id : data.@column[0], view : 1 },
                                                            header : data.@(column[7]) ,
                                                            target_auto_refresh : '@tableId' })" type="button" ng-if="data.@(column[11])" class="btn border-primary text-primary btn-flat btn-icon btn-rounded">
                                            <i class="icon-eye"></i>
                                        </button>
                                        <button ng-click="delete(data.@column[0], '@Url.Action("Batal")')" ng-if="!data.@(column[11])" type="button" class="btn border-danger text-danger btn-flat btn-icon btn-rounded"><i class="icon-trash"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @*<div class="panel-footer" style="padding:10px;">
                        <div class="row">
                            <div class="col-md-6">Created : <span class="text-semibold"> {{ data.@(column[4])_View }}</span></div>
                            <div class="col-md-6 text-right">Updated : <span class="text-semibold"> {{ data.@(column[5])_View }}</span></div>
                        </div>
                    </div>*@
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-flat">
        <div class="datatable-footer" style="border:none;">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>

<script>
    function printPDF(tthis) {
        var form = $(tthis).data("target-form");
        var id = $(tthis).data("target-id");
        window.open('@(Url.Action("ExportPDF","MedicalRecord"))?target_form=' + form + '&target_id=' + id, '_blank');
    }
</script>   