﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    /**/

    var tableId = $"table_pengkajianawal";
    var item = new EMRPenggajianAwalViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.No);
    column[1] = nameof(item.SectionID);
    column[2] = nameof(item.KodeUrl);
    column[3] = nameof(item.Kode);
    column[4] = nameof(item.Nama);

}

<style>
    .nav-tabs.nav-tabs-solid33 > .active > a, .nav-tabs.nav-tabs-solid33 > .active > a:hover, .nav-tabs.nav-tabs-solid33 > .active > a:focus {
        background-color: #00968887 !important;
        border-color: #00968887 !important;
        color: #fff;
    }
</style>

<div class="row">
    <div class="col-md-12" style="position:inherit">
        @if (Request.Cookies["SectionNamaPelayanan"].Value == "IGD" || Request.Cookies["SectionNamaPelayanan"].Value == "UGD")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">PENGKAJIAN TERINTEGRASI GAWAT DARURAT I</a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2">PENGKAJIAN TERINTEGRASI GAWAT DARURAT II</a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3">FAST TRACK / SKRINING </a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">

                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/IGD/AssesmentPengkajianTerintegrasiGawatDaruratDokter.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/IGD/AssesmentPengkajianTerintegrasiGawatDaruratPerawat.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/IGD/_listPengkajianMedis.cshtml")
                </div>

            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK MATA" || Request.Cookies["SectionIDPelayanan"].Value == "SEC019")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">ASESMENT AWAL MEDIS</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AsesmentPoliMata.cshtml")
                    <br />
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK HIPERBARIK" || Request.Cookies["SectionIDPelayanan"].Value == "SEC122")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Pengkajian Awal Hiperbarik 1</a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2">Pengkajian Awal Hiperbarik 2</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentHiperbarik.cshtml")
                    <br />
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentHiperbarik2.cshtml")
                </div>

            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK KULIT DAN KELAMIN" || Request.Cookies["SectionIDPelayanan"].Value == "SEC021")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Ilmu Penyakit Kulit Dan Kelamin</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuKulitDanKelamin.cshtml")
                    <br />
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK KEBIDANAN" || Request.Cookies["SectionIDPelayanan"].Value == "SEC014")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"> Pengkajian & Asuhan Awal Terintegrasi</a></li>
                @*<li><a data-toggle="tab" href="#divPanel2" id="Panel2">Ilmu Penyakit Gynecology</a></li>*@
                @*<li><a data-toggle="tab" href="#divPanel3" id="Panel2">Ilmu Penyakit Obsetri</a></li>*@
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/PengkajianAwalKebidananDanKandung.cshtml")
                </div>
                @*<div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/PoliKebidananIlmuPenyakitGynecology.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/PoliKebidananIlmuPenyakitObsetri.cshtml")
                </div>*@
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK GIGI" || Request.Cookies["SectionIDPelayanan"].Value == "SEC008")
        {

            <ul class="nav nav-tabs nav-tabs-solid33 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">LEMBAR POLI GIGI</a></li>
                <li><a data-toggle="tab" href="#divPanel2x" id="Panel2">CHECK LIST KESELAMATAN PASIEN OPRASI</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/LembarPoliGigi.cshtml")
                </div>
                <div id="divPanel2x" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/ChecklistKeselamatanPasienOperasi.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK BEDAH" || Request.Cookies["SectionIDPelayanan"].Value == "SEC007")
        {

            <ul  class="nav nav-tabs nav-tabs-solid33 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel11" id="Panel1">ILMU PENYAKIT BEDAH NON TRAUMA</a></li>
                <li><a data-toggle="tab" href="#divPanel12" id="Panel12">ILMU PENYAKIT BEDAH TRAUMA</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel11" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/IlmuPenyakitBedahNonTrauma.cshtml")
                </div>
                <div id="divPanel12" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/IlmuPenyakitBedahTrauma.cshtml")
                </div>
            </div>

        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK ORTHOPEDI" || Request.Cookies["SectionIDPelayanan"].Value == "SEC010")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Ilmu Penyakit Bedah Non Trauma</a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2">Ilmu Penyakit Bedah Trauma</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/IlmuPenyakitBedahNonTrauma.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/IlmuPenyakitBedahTrauma.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK ANAK" || Request.Cookies["SectionIDPelayanan"].Value == "SEC018")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Ilmu Penyakit Anak</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPenyakitAnak.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK SYARAF" || Request.Cookies["SectionIDPelayanan"].Value == "SEC023")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Ilmu Penyakit Saraf</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPenyakitSaraf.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK THT" || Request.Cookies["SectionIDPelayanan"].Value == "SEC017")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Ilmu Penyakit THT</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPenyakitTHT.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK JIWA" || Request.Cookies["SectionIDPelayanan"].Value == "SEC015")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Ilmu Penyakit Jiwa</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPenyakitJiwa.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK PENYAKIT DALAM" || Request.Cookies["SectionIDPelayanan"].Value == "SEC009")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Ilmu Penyakit Dalam</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPenyakitDalam.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK JANTUNG" || Request.Cookies["SectionIDPelayanan"].Value == "SEC118")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Ilmu Penyakit Jantung</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPenyakitJantung.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK PSIKOLOGI" || Request.Cookies["SectionIDPelayanan"].Value == "SECT010")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Rekam Psikologis Pasien Anak/Remaja</a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2">Rekam Psikologis Pasien Dewasa</a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3">Lembar Persetujuan</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPsikologiAnakRemaja.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPsikologiDewasa.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/LembarPersetujuan.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK UMUM" || Request.Cookies["SectionIDPelayanan"].Value == "SEC016")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Assesmen Poli Umum</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentPoliUmum.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK MCU" || Request.Cookies["SectionIDPelayanan"].Value == "SEC065")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Laporan Pemeriksaan Kesehatan</a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2">Kesimpulan Hasil Pemeriksaan Kesehataan</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/LaporanPemeriksaanKesehatan.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/KesimpulanHasilPemeriksaan.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK PARU" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0016")
        {
            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Ilmu Penyakit Paru</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPenyakitDalam.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK FISIOTERAPI" || Request.Cookies["SectionIDPelayanan"].Value == "SEC020")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Lembar Formulir Fisiotherapi</a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2">Catatan Fisiotherapi</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/LembarFormulirPoliFisiotherapi.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/CatatanFisiotherapi.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "REHABILITASI MEDIK" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0013")
        {

            <ul class="nav nav-tabs nav-tabs-solid33 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">LEMBAR FORMULIR REHABILITASI MEDIK</a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2">CATATAN REHABILITASI MEDIK</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/LembarFormulirPoliRehabilitasiMedik.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/CatatanRehabilitasiMedik.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "RUANG OK" || Request.Cookies["SectionIDPelayanan"].Value == "SEC004")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Assesment Pra Anestesi Dan Sedasi</a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2">Ass Pra Operasi Perempuan</a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3">Ass Pra Operasi Laki Laki</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/OK/AssesmentPraAnestesiDanSedasi.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/OK/AssesmentPraOperasiPerempuan.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/OK/AssesmentPraOperasiLakiLaki.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "RUANG VK" || Request.Cookies["SectionIDPelayanan"].Value == "SEC003")
        {
            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"> <a data-toggle="tab" href="#divPanel1" id="Panel1"> Assement Pra Anestesi Dan Sedasi</a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2">Pengkajian Awal</a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3">Ilmu Penyakit Gynecology</a></li>
                <li><a data-toggle="tab" href="#divPanel4" id="Panel4">Ilmu Penyakit Obsetri</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/OK/AssesmentPraAnestesiDanSedasi.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/OK/PengkajianAwalKebidananDanKandung.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/OK/PoliKebidananIlmuPenyakitGynecology.cshtml")
                </div>
                <div id="divPanel4" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/OK/PoliKebidananIlmuPenyakitObsetri.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "RAWAT INAP BARAT/R.SUSPECK" || Request.Cookies["SectionIDPelayanan"].Value == "SEC062" ||
                 Request.Cookies["SectionNamaPelayanan"].Value == "RAWAT INAP PAVILIUN PRG" || Request.Cookies["SectionIDPelayanan"].Value == "SEC063" ||
                 Request.Cookies["SectionNamaPelayanan"].Value == "ICU" || Request.Cookies["SectionIDPelayanan"].Value == "SEC064" ||
                 Request.Cookies["SectionNamaPelayanan"].Value == "RAWAT INAP TIMUR LT 1" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0009" ||
                 Request.Cookies["SectionNamaPelayanan"].Value == "RAWAT INAP TIMUR LT 2" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0010")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Pengkajian Awal</a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2">Ilmu Penyakit Gynecology</a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3">Ilmu Penyakit Obsetri</a></li>
                <li><a data-toggle="tab" href="#divPanel4" id="Panel4">Assesmen Ulang Nyeri</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">

                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/PengkajianAwalKebidananDanKandung.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/PoliKebidananIlmuPenyakitGynecology.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/PoliKebidananIlmuPenyakitObsetri.cshtml")
                </div>
                <div id="divPanel4" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RI/Assesmenulangnyeri.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "HEMODIALISA" || Request.Cookies["SectionIDPelayanan"].Value == "SEC070")
        {

            <ul class="nav nav-tabs" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">Asuhan Keperawatan Dan Observasi</a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2">Pengkajian Dialiser</a></li>
                @*<li><a data-toggle="tab" href="#divPanel3" id="Panel3">Ilmu Penyakit Obsetri</a></li>*@
                @*<li><a data-toggle="tab" href="#divPanel4" id="Panel4">Assesmen Ulang Nyeri</a></li>*@
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/HEMODIALISA/AsuhanKeperawatanDanObservasiPasienHemodialisis.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/HEMODIALISA/PengkajianAwalPasienDialisisHemodialisis.cshtml")
                </div>
                @*<div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/PoliKebidananIlmuPenyakitObsetri.cshtml")
                </div>
                <div id="divPanel4" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RI/Assesmenulangnyeri.cshtml")
                </div>*@
            </div>
        }
    </div>
</div>

<!--  Modal Peringatan 30 hari  -->
<div class="modal fade" id="modal_notice30" aria-labelledby="myModalLabel" ng-controller="form">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="">
                        <div class="">
                            <div class="form-group">
                                <h1 class="control-label col-md-12" id="d_data_hasil" style="text-align:center;"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary col-md-2 col-md-offset-10" onclick="tutupmodalperingatan()">Close</button>
            </div>
        </div>
    </div>
</div>

<!--  Ajax Cek Pasien Kronis  -->
<script type="text/javascript">

    $(document).ready(function () {
        var tipepelayanan = '@Request.Cookies["TipePelayanan"].Value';
        var section = '@Request.Cookies["SectionIDPelayanan"].Value';
        //if (tipepelayanan == 'RJ' && section != 'SEC002') {
        //    getdata_pasienkronis();
        //}

    });

    function getdata_pasienkronis() {
        var nrm = '@Model.NRM';
        var noreg = $('#NoReg').val();
         myajax({
            url: '@Url.Action("GetDataPASIENKRONIS", "MedicalRecord")',
            data: {
                nrm: '@Model.NRM',
                sectionid: $('#SectionID').val(),
                noreg: $('#NoReg').val()
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup("Data tidak ditemukan", 'info');
                else {
                    if (dt.Data.JenisPasien == "Kronis" && dt.Data.NRM == nrm && dt.Data.NoReg != noreg) {
                        bukamodalperingatan();
                        $('#d_data_hasil').html(dt.Data.Message);
                        $('#CPPT_Tipe').attr('disabled', true);
                        $('#btnsimpansoap').addClass('hidden');
                    }
                    else if (dt.Data.JenisPasien == "Akut" && dt.Data.NRM == nrm && dt.Data.NoReg != noreg) {
                        bukamodalperingatan();
                        $('#d_data_hasil').html(dt.Data.Message);
                        $('#CPPT_Tipe').attr('disabled', true);
                        $('#btnsimpansoap').addClass('hidden');
                    } else if (dt.Data.JenisPasien == "" && dt.Data.NRM == nrm && dt.Data.NoReg != noreg) {
                        $('#divpoli').addClass('hidden');
                        $('#d_form_awalkeperawatan').addClass('hidden');
                    } else if (dt.Data.JenisPasien == "" && dt.Data.NRM != nrm && dt.Data.NoReg != noreg) {
                        $('#CPPT_Tipe').attr('disabled', true);
                        $('#btnsimpansoap').addClass('hidden');
                    } else if (dt.Data.JenisPasien == "" && dt.Data.NRM == nrm && dt.Data.NoReg == noreg) {
                        $('#CPPT_Tipe').attr('disabled', true);
                        $('#btnsimpansoap').addClass('hidden');
                    }


                }
            }
        });

    }

</script>

<!--  Ajax Get Data Jenis Pasien  -->
@*<script>
        function  {
            if ($('.JenisPasien').val() == "" || $('.JenisPasien').val() == null) {
                 myajax({
                    url: '@Url.Action("GetDataJENISPASIEN", "MedicalRecord")',
                    data: {
                        noreg: $("#NoReg").val(),
                        sectionid: $("#SectionID").val()
                    },
                    method: 'GET',
                    dataType: 'JSON',
                    success: function (dt) {
                        if (dt.IsSuccess) {
                            $('.JenisPasien').val(dt.Data.JenisPasien);
                            if (dt.Data.Informasi_Autoanamnesis == true) {
                                $('.Autoanamnesis').prop('checked', true);
                            } else {
                                $('.Autoanamnesis').prop('checked', false);
                            }
                            if (dt.Data.Informasi_Alloanamnesis == true) {
                                $('.Alloanamnesis').prop('checked', true);
                            } else {
                                $('.Alloanamnesis').prop('checked', false);
                            }
                            $('.HubunganPasien').val(dt.Data.Informasi_Alloanamnesis_HubunganPasien);
                            $('.Nama').val(dt.Data.Informasi_Alloanamnesis_Nama);
                            $('.TekananDarah').val(dt.Data.TandaVital_TekananDarah);
                            $('.Nadi').val(dt.Data.TandaVital_Nadi);
                            $('.Suhu').val(dt.Data.TandaVital_Suhu);
                            $('.Respirasi').val(dt.Data.TandaVital_Respirasi);

                        }
                        else {
                            //alertpopup("Data tidak ditemukan", 'info');
                        }
                    }
                });
            }
        }
    </script>*@


<script>

    function tutupmodalperingatan() {
        $('#modal_notice30').modal('hide');
    }

    function bukamodalperingatan() {
        $('#modal_notice30').modal();
    }

    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detailpemeriksaan') {
            customdetailpemeriksaan(index_detail, _this, inputtarget, autofocus);
        }
    }

</script>



