﻿@using iHos.MVC.Converter
@using iHos.MVC.Converter
@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = "Electronik Medical Record";
    var tableId = $"table_{controllerName}_renpra";
    var item = new Renpra_RJViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.NRM);
    column[1] = nameof(item.NoReg);
    column[3] = nameof(item.SectionID);
    column[4] = nameof(item.Jam);
    column[5] = nameof(item.Tanggal);
    column[6] = nameof(item.Diagnosa);
    column[7] = nameof(item.Tujuan);
    column[8] = nameof(item.Intervensi);
    column[9] = nameof(item.Implementasi);
    column[10] = nameof(item.Evaluasi);
    column[11] = nameof(item.Petugas);
    column[12] = nameof(item.PetugasNama);
    column[13] = nameof(item.Edit);
    column[14] = nameof(item.No);
    column[15] = nameof(item.Tanggal_View);

    var renpraRJ = new Renpra_RJViewModel();

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("ListRenpra","MedicalRecord")';
     init();
     filter[0] = '@Model.NRM';
     filter[1] = '@Model.NoReg';
     sort = '@column[5]';
     sorttype = 'desc';
     getdatas();
     ">

    <style>
        .cppt-yellow {
            background: #fbf1a7;
        }

        .cppt-blue {
            background: #a7d8fb;
        }

        .table-custom {
            width: 100%;
        }

            .table-custom tr td {
                padding: 10px 0;
            }

        .list-assesmenkunjunganpoliklinik {
            height: 502px;
            overflow-y: scroll;
        }
    </style>

    <div class="row" id="panelfullscreenfrmcppt">
        <div class="col-md-6">

            <div class="panel">

                <div class="panel-body">
                    <form id="fm_renpra_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="sumitFrmRenpraRJ(this)">

                        <input type="hidden" id="_METHOD" name="_METHOD" value="CREATE" />
                        <input type="hidden" id="@nameof(Model.NRM)" name="@nameof(Model.NRM)" value="@(Model.NRM)" />
                        <input type="hidden" id="@nameof(Model.NoReg)" name="@nameof(Model.NoReg)" value="@(Model.NoReg)" />
                        <input type="hidden" id="@nameof(Model.R_RJ.No)" name="@nameof(Model.R_RJ.No)" value="@(Model.R_RJ.No)" />
                        <input type="hidden" id="@nameof(Model.R_RJ.DokumenID)" name="@nameof(Model.R_RJ.DokumenID)" value="@(Model.R_RJ.DokumenID)" />
                        <input type="hidden" readonly id="Profesi" name="Profesi" value="" />

                        <div class="form-group">
                            <div class="col-md-7">
                                <input type="date" class="input-xs form-control" id="Tanggal" name="Tanggal" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col-md-5">
                                <input type="time" class="input-xs form-control" id="Jam" name="Jam" value="@DateTime.Now.ToString("HH:mm")" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-7">
                                <input type="hidden" readonly id="Petugas" name="Petugas" value="" />
                                @Html.DropDownListFor(model => model.R_RJ.Petugas, Model.R_RJ.Petugas == null ? new List<SelectListItem>() :
                                             new List<SelectListItem>() { new SelectListItem() { Value = Model.R_RJ.Petugas.ToString(), Text = Model.R_RJ.PetugasNama } }, new { @class = "form-control"/*, onchange = "verifikasidokter(), getid_doktersoap()"*/ })
                                @Html.ValidationMessageFor(model => model.R_RJ.Petugas, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5">
                                @Html.DropDownListFor(model => model.Template, new List<SelectListItem>() {
                               new SelectListItem(){ Text = ViewBag.Template, Value = ViewBag.Template, Selected = true }
                           }, new { @class = "form-control", onchange = "selectTemplate()" })
                            </div>
                        </div>

                        <div class="form-group hide">
                            <label class="col-md-3">
                                <label class="no-margin h5 text-primary"><strong>Poliklinik</strong></label>
                            </label>
                            <div class="col-md-9">
                                <textarea id="Poliklinik" name="Poliklinik" class="form-control" rows="2"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">
                                <label class="no-margin text-purple-300 h6 text-teal text-bold">DIAGNOSA</label>
                            </label>
                            <div class="col-md-9">
                                <textarea onclick="textAreaAdjust(this)" onkeyup="textAreaAdjust(this)" id="Diagnosa" name="Diagnosa" class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">
                                <label class="no-margin text-purple-300 h6 text-teal text-bold">TUJUAN</label>
                            </label>
                            <div class="col-md-9">
                                <textarea onclick="textAreaAdjust(this)" onkeyup="textAreaAdjust(this)" id="Tujuan" name="Tujuan" class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">
                                <label class="no-margin text-purple-300 h6 text-teal text-bold">INTERVENSI</label>
                            </label>
                            <div class="col-md-9">
                                <textarea onclick="textAreaAdjust(this)" onkeyup="textAreaAdjust(this)" id="Intervensi" name="Intervensi" class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">
                                <label class="no-margin text-purple-300 h6 text-teal text-bold">IMPLEMENTASI</label>
                            </label>
                            <div class="col-md-9">
                                <textarea onclick="textAreaAdjust(this)" onkeyup="textAreaAdjust(this)" id="Implementasi" name="Implementasi" class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">
                                <label class="no-margin text-purple-300 h6 text-teal text-bold">EVALUASI</label>
                            </label>
                            <div class="col-md-9">
                                <textarea onclick="textAreaAdjust(this)" onkeyup="textAreaAdjust(this)" id="Evaluasi" name="Evaluasi" class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-3">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="saveTemplate" value="" id="saveTemplate" onclick="readTemplateName()" /> Save Template
                                </label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="templateName" name="templateName" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="reset" class="btn btn-default">Reset </button>
                                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-flat" style="margin-bottom: 10px;">
                <div class="panel-heading" style=" padding-top: 14px; padding-bottom: 14px;">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="icons-list pull-left">
                                <li><a href="@Url.Action("ExportPDF","RenpraRJ")?nrm=@Model.NRM" target="_blank"><i class="icon-printer position-left"></i> </a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="icons-list pull-right">
                                <li><a id="reloadfrmrenprarj" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-assesmenkunjunganpoliklinik" id="@tableId">
                <div class="row {{ loading ? '' : 'hide' }}">
                    <div class="col-md-12">
                        <div class="loading {{ loading ? '' : 'hide' }}">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row {{ loading ? 'hide' : '' }}">
                    <div class="col-md-12" ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <div class="panel panel-body" ng-class="['cppt-yellow', 'cppt-blue'][$index % 2]">
                            <div class="row">
                                <div class="col-md-7">
                                    <h6 class="text-slate-700 text-semibold no-padding no-margin"><i class="icon-crown position-left"></i> {{ data.@(column[15]) }} {{ data.@(column[12]) }}</h6>
                                    <p ng-if="data.@(column[12])!=null" class="text-muted"><i class="icon-briefcase3 position-left"></i> {{ data.@(column[12]) }}</p>
                                </div>
                                <div class="col-md-5 text-right">
                                    <p class="text-muted">{{ data.@(column[6]) }} <i class="icon-pin position-right"></i></p>
                                </div>
                            </div>

                            <table class="table-custom">
                                <tr>
                                    <td style="vertical-align:top; width:20%;">
                                        <label class="no-margin text-purple-300 h7 text-teal text-bold">DIAGNOSA</label>
                                    </td>
                                    <td colspan="3" ng-bind-html="data.@(column[6])">{{ data.@(column[6]) }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:top; width:20%;">
                                        <label class="no-margin text-purple-300 h7 text-teal text-bold">TUJUAN</label>
                                    </td>
                                    <td colspan="3" ng-bind-html="data.@(column[7])">{{ data.@(column[7]) }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:top; width:20%;">
                                        <label class="no-margin text-purple-300 h7 text-teal text-bold">INTERVENSI</label>
                                    </td>
                                    <td colspan="3" ng-bind-html="data.@(column[8])">{{ data.@(column[8]) }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:top; width:20%;">
                                        <label class="no-margin text-purple-300 h7 text-teal text-bold">IMPLEMENTASI</label>
                                    </td>
                                    <td colspan="3" ng-bind-html="data.@(column[9])">{{ data.@(column[9]) }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:top; width:20%;">
                                        <label class="no-margin text-purple-300 h7 text-teal text-bold">EVALUASI</label>
                                    </td>
                                    <td colspan="3" ng-bind-html="data.@(column[10])">{{ data.@(column[10]) }}</td>
                                </tr>
                            </table>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button onclick="copyRenpraRJ(this)" data-target-no="{{data.@column[14]}}" data-target-noreg="{{data.@column[1]}}" data-target-id="{{data.@column[0]}}" type="button" class="btn-xs btn border-primary btn-flat btn-icon btn-rounded">
                                        <i class="icon-copy"></i>
                                    </button>

                                    <span>
                                        <button onclick="editRenpraRJ(this)" data-target-no="{{data.@column[14]}}" data-target-noreg="{{data.@column[1]}}" data-target-id="{{data.@column[0]}}" type="button" class="btn-xs btn border-success text-success btn-flat btn-icon btn-rounded">
                                            <i class="icon-pencil7"></i>
                                        </button>
                                        <a ng-click="delete_param({id : data.@column[14], noreg: data.@column[1]}, '@Url.Action("BatalRenpra")')" class="btn-xs btn border-danger text-danger btn-flat btn-icon btn-rounded">
                                            <i class="icon-trash"></i>
                                        </a>
                                        @*<button ng-click="delete_param({id : data.@column[14], noreg: data.@column[1]} '@Url.Action("Batal")')" type="button" class="btn-xs btn border-danger text-danger btn-flat btn-icon btn-rounded"><i class="icon-trash"></i></button>*@
                                    </span>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    textarea {
        width: 100%;
        box-sizing: border-box;
        display: block;
        max-width: 100%;
        line-height: 1.5;
        padding: 15px 15px 30px;
        border-radius: 3px;
        border: 1px solid #F7E98D;
        transition: box-shadow 0.5s ease;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        font-smoothing: subpixel-antialiased;
    }

    /* #SOAP {
        height: 220px;
    }*/
</style>

@*<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>*@
<script>
    $(document).ready(function () {

        var cekmodalprint = $('#modalprint_eresepA #noresep').val();
        if (cekmodalprint != '') {
            $('#CetakUlangEResep').removeClass('hidden');
        } else {
            $('#CetakUlangEResep').addClass('hidden');
        }
    });

    document.addEventListener('DOMContentLoaded', function () {


        var newOption = new Option('', '', true, true);
        $('#fm_renpra_create #R_RJ_Petugas').append(newOption).trigger('change');


    });

    function textAreaAdjust(o) {
        o.style.height = "1px";
        o.style.height = (25 + o.scrollHeight) + "px";
    }

    var dokter = $('#fm_renpra_create #R_RJ_Petugas');
    dokter.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    //$('#fm_renpra_create #R_RJ_Pegawai').on('select2:select', function (e) {
    //    var data = e.params.data;
    //    getProfesirenpraRJklinik(data.id);
    //});

    function readTemplateName() {
        if ($("#saveTemplate").is(":checked")) {
            $("#templateName").attr("readonly", false);
        } else {
            $("#templateName").attr("readonly", true);
        }
    }

    function getAllResep() {
        $("#refreshCPPT").find(".icon-sync").addClass("spinner");

        $.ajax({
            url: '@Url.Action("getListObat", "RenpraRJ")',
            data: {
                noreg: '@Model.NoReg',
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    $("#fm_renpra_create #CPPT_P").val(dt.Data);

                    var p = document.getElementById("CPPT_P");

                    if (p.value != '') {
                        $("#CPPT_P").height(0);
                        $("#CPPT_P").height(p.scrollHeight);
                    }

                    autofocusCPPT();

                    $("#refreshCPPT").find(".icon-sync").removeClass("spinner");
                }
            }
        });
    }

    function getProfesirenpraRJklinik(idslc2) {
        $.ajax({
            url: '@Url.Action("get_profesi", "RenpraRJ")',
            data: {
                dokter: idslc2
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup("Data tidak ditemukan", 'info');
                else {
                    $('#fm_renpra_create #Petugas').val(dt.Data);
                }
            }
        });
    }

    function copyRenpraRJ(tthis) {
        $.ajax({
            url: '@Url.Action("copyRenpra_RJ", "RenpraRJ")',
            data: {
                no: $(tthis).data('target-no'),
                id: $(tthis).data('target-id'),
                noreg: $(tthis).data('target-noreg')
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup("Data tidak ditemukan", 'info');
                else {
                    $('#fm_renpra_create #@nameof(renpraRJ.Diagnosa)').val(dt.Data.@nameof(renpraRJ.Diagnosa));
                    $('#fm_renpra_create #@nameof(renpraRJ.Tujuan)').val(dt.Data.@nameof(renpraRJ.Tujuan));
                    $('#fm_renpra_create #@nameof(renpraRJ.Intervensi)').val(dt.Data.@nameof(renpraRJ.Intervensi));
                    $('#fm_renpra_create #@nameof(renpraRJ.Implementasi)').val(dt.Data.@nameof(renpraRJ.Implementasi));
                    $('#fm_renpra_create #@nameof(renpraRJ.Evaluasi)').val(dt.Data.@nameof(renpraRJ.Evaluasi));
                    $('#fm_renpra_create #@nameof(renpraRJ.No)').val('');
                    $('#fm_renpra_create #@nameof(renpraRJ._METHOD)').val('CREATE');

                    alertpopup("Copying success", 'success');
                }
            }
        });
    }

    function selectTemplate() {
        var nama = $('#fm_renpra_create #Template').val();
        var dokumen = $('#fm_renpra_create #DokumenID').val();
        $.ajax({
            url: '@Url.Action("LoadingTampletRenpra_RJ", "RenpraRJ")',
            data: {
                namatemp: nama,
                dokumenid: dokumen
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup("Data tidak ditemukan", 'info');
                else {
                    $('#fm_renpra_create #@nameof(renpraRJ.Diagnosa)').val(dt.Data.@nameof(renpraRJ.Diagnosa));
                    $('#fm_renpra_create #@nameof(renpraRJ.Tujuan)').val(dt.Data.@nameof(renpraRJ.Tujuan));
                    $('#fm_renpra_create #@nameof(renpraRJ.Intervensi)').val(dt.Data.@nameof(renpraRJ.Intervensi));
                    $('#fm_renpra_create #@nameof(renpraRJ.Implementasi)').val(dt.Data.@nameof(renpraRJ.Implementasi));
                    $('#fm_renpra_create #@nameof(renpraRJ.Evaluasi)').val(dt.Data.@nameof(renpraRJ.Evaluasi));
                    $('#fm_renpra_create #Diagnosa').click();
                    $('#fm_renpra_create #Tujuan').click();
                    $('#fm_renpra_create #Intervensi').click();
                    $('#fm_renpra_create #Implementasi').click();
                    $('#fm_renpra_create #Evaluasi').click();
                }
            }
        });
    }

    function editRenpraRJ(tthis) {
        $.ajax({
            url: '@Url.Action("editRenpra_RJ", "RenpraRJ")',
            data: {
                no: $(tthis).data('target-no'),
                id: $(tthis).data('target-id'),
                noreg: $(tthis).data('target-noreg')
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup("Data tidak ditemukan", 'info');
                else {
                    $('#fm_renpra_create #@nameof(renpraRJ._METHOD)').val("UPDATE");
                    $('#fm_renpra_create #@nameof(renpraRJ.NRM)').val(dt.Data.@nameof(renpraRJ.NRM));
                    $('#fm_renpra_create #@nameof(renpraRJ.SectionID)').val(dt.Data.@nameof(renpraRJ.SectionID));
                    $('#fm_renpra_create #@nameof(renpraRJ.NoReg)').val(dt.Data.@nameof(renpraRJ.NoReg));
                    $('#fm_renpra_create #@nameof(renpraRJ.Jam)').val(dt.Data.@(nameof(renpraRJ.Jam))_View);
                    $('#fm_renpra_create #@nameof(renpraRJ.Tanggal)').val(dt.Data.@(nameof(renpraRJ.Tanggal))_View);
                    $('#fm_renpra_create #@nameof(renpraRJ.Diagnosa)').val(dt.Data.@nameof(renpraRJ.Diagnosa));
                    $('#fm_renpra_create #@nameof(renpraRJ.Tujuan)').val(dt.Data.@nameof(renpraRJ.Tujuan));
                    $('#fm_renpra_create #@nameof(renpraRJ.Intervensi)').val(dt.Data.@nameof(renpraRJ.Intervensi));
                    $('#fm_renpra_create #@nameof(renpraRJ.Implementasi)').val(dt.Data.@nameof(renpraRJ.Implementasi));
                    $('#fm_renpra_create #@nameof(renpraRJ.Evaluasi)').val(dt.Data.@nameof(renpraRJ.Evaluasi));
                    $('#fm_renpra_create #@nameof(renpraRJ.No)').val(dt.Data.@nameof(renpraRJ.No));
                    var data = {
                        id: dt.Data.@nameof(renpraRJ.Petugas),
                        text: dt.Data.@nameof(renpraRJ.PetugasNama)
                    };
                    var newOption = new Option(data.text, data.id, true, true);
                    $('#fm_renpra_create #R_RJ_Petugas').append(newOption).trigger('change');

                    $('#fm_renpra_create #@nameof(renpraRJ.Petugas)').css("background", "#fbf1a7");
                    $('#fm_renpra_create #@nameof(renpraRJ.Diagnosa)').css("background", "#fbf1a7");
                    $('#fm_renpra_create #@nameof(renpraRJ.Tujuan)').css("background", "#fbf1a7");
                    $('#fm_renpra_create #@nameof(renpraRJ.Intervensi)').css("background", "#fbf1a7");
                    $('#fm_renpra_create #@nameof(renpraRJ.Implementasi)').css("background", "#fbf1a7");
                    $('#fm_renpra_create #@nameof(renpraRJ.Evaluasi)').css("background", "#fbf1a7");

                    alertpopup("Form edit Kunjungan Poliklinik "+ dt.Data.@nameof(renpraRJ.NRM), 'success');
                }
            }
        });
    }

    function sumitFrmRenpraRJ(tthis) {
        $('#_loading').css('display', '');

        var dokter = $('#fm_renpra_create #R_RJ_Petugas').val();
        if (dokter == null) {
            alertpopup("Dokter tidak boleh kosong,", 'info');
            $('#_loading').css('display', 'none');
            return;
        }
        $('#fm_renpra_create #Petugas').val(dokter);


        if ($("#fm_renpra_create #saveTemplate").is(":checked")) {
            if ($("#fm_renpra_create #templateName").val() == "" || $("#fm_renpra_create #templateName").val() == null) {
                alertpopup("Nama Template tidak boleh kosong.", 'info');
                $('#_loading').css('display', 'none');
                return;
            }
        }

        var convert = $("#fm_renpra_create #saveTemplate").is(":checked");
        var section = "@Request.Cookies["SectionNamaPelayanan"].Value";

        $.ajax({
            url: '@Url.Action("SecondCreate", "RenpraRJ")',
            data:
                $(tthis).serialize() + "&img=" + convert,
            method: 'POST',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess) {
                    alertpopup("Renpra RJ gagal disimpan.", 'info');
                    resetFrmrenpraRJklinik(tthis);
                    $("#reloadfrmrenprarj").click();

                    $('#_loading').css('display', 'none');
                }else {
                    alertpopup("Renpra RJ berhasil disimpan.", 'success');
                    resetFrmrenpraRJklinik(tthis);
                    $("#reloadfrmrenprarj").click();
                    $('#_loading').css('display', 'none');
                }
                $('#fm_renpra_create #@nameof(renpraRJ.Diagnosa)').css("background", "#fff");
                $('#fm_renpra_create #@nameof(renpraRJ.Tujuan)').css("background", "#fff");
                $('#fm_renpra_create #@nameof(renpraRJ.Intervensi)').css("background", "#fff");
                $('#fm_renpra_create #@nameof(renpraRJ.Implementasi)').css("background", "#fff");
                $('#fm_renpra_create #@nameof(renpraRJ.Evaluasi)').css("background", "#fff");
                $('#fm_renpra_create #@nameof(renpraRJ.PetugasNama)').css("background", "#fff");

            }
        });
    }

    function resetFrmrenpraRJklinik(tthis) {
        $(tthis).trigger("reset");
        $(tthis).find("#Petugas").val('').trigger('change');
        $(tthis).find("#No").val('');

    }

    function cetakresep_eresep() {
        myajax({
            url: '@Url.Action("ExportPDF_EResep", "Resep")',
            data: { id: $('#noresep').val(), sectionfarmasi: $('#sectionfarmasi').val() },
                success: function (data) {
                    if (data.IsSuccess) {
                        alertpopup("Resep berhasil di cetak", 'success')
                        $('#modalprint_eresepA').modal('hide');
                    } else {
                        alertpopup(data.Message, 'danger');
                    }
                }
            });
    }

    function cetakulang_eresep() {

        var a = $('#modalprint_eresepA #noresep').val();
        var b = $('#modalprint_eresepA #sectionfarmasi').val();
        if (a == "" && b == "") {
            alertpopup('aa')
            alertpopup('Buat resep Terlebih Dahulu');
        } else {
            $('#modalprint_eresepA #noresep').val(a);
            $('#modalprint_eresepA #sectionfarmasi').val(b);
            $('#modalprint_eresepA').modal();
        }

    }

    $('#fm_renpra_create #Template').select2({
        ajax: {
            url: "@Url.Action("ListTamplet", "RenpraRJ")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaTemplate',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', ''],
                    dokumenid: $('#fm_renpra_create #DokumenID').val()
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.NamaTemplate, text: value.NamaTemplate } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });
</script>


<div class="modal fade" id="modalprint_eresepA">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">APAKAH INGIN PRINT REPORT ?</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="noresep" />
                <input type="hidden" id="sectionfarmasi" />
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 text-right">
                    <a onclick="cetakresep_eresep()" id="btnprintresep"
                       class="btn btn-success position-right">
                        <span class="icon icon-printer"></span> Cetak PDF
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
