﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    /**/

    var tableId = $"table_assesmentlanjutan";
    var item = new EMRPenggajianAwalViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.No);
    column[1] = nameof(item.SectionID);
    column[2] = nameof(item.KodeUrl);
    column[3] = nameof(item.Kode);
    column[4] = nameof(item.Nama);

}

<style>
    .nav-tabs.nav-tabs-solid2 > .active > a, .nav-tabs.nav-tabs-solid2 > .active > a:hover, .nav-tabs.nav-tabs-solid2 > .active > a:focus {
        background-color: #009688c4 !important;
        border-color: #009688c4 !important;
        color: #fff;
    }
</style>

<div class="row">
    <div class="col-md-12" style="position:inherit">
        @if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK KEBIDANAN")
        {
            <ul class="nav nav-tabs nav-tabs-solid2 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanelAssLanjutan1" id="Panel1"><strong>ASSESMENT LANJUTAN MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divAssLanjutanPanel2" id="Panel2"><strong>ASSESMENT LANJUTAN KEBIDANAN</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">

                <div id="divPanelAssLanjutan1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/ListKunjunganPoliklinik.cshtml")
                    <br />
                </div>
                <div id="divAssLanjutanPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListAssLanjutMedisKebidanan.cshtml")
                    <br />
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "REHABILITASI MEDIK")
        {
        <ul class="nav nav-tabs nav-tabs-solid2 nav-justified" style="margin-bottom:0px">
            <li class="active"><a data-toggle="tab" href="#divPanelAssLanjutan1" id="Panel1"><strong>ASSESMENT LANJUTAN MEDIS</strong></a></li>
        </ul>

        <div class="tab-content panel panel-info" style="border-top:none">

            <div id="divPanelAssLanjutan1" class="tab-pane active fade in">
                @Html.Partial("~/Views/MedicalRecord/ListKunjunganPoliklinik.cshtml")
                <br />
            </div>
        </div>
        }
        else
        {
        <ul class="nav nav-tabs nav-tabs-solid2 nav-justified" style="margin-bottom:0px">
            <li class="active"><a data-toggle="tab" href="#divPanelAssLanjutan1" id="Panel1"><strong>ASSESMENT LANJUTAN MEDIS</strong></a></li>
            <li><a data-toggle="tab" href="#divAssLanjutanPanel2" id="Panel2"><strong>ASSESMENT LANJUTAN KEPERAWATAN</strong></a></li>
        </ul>

        <div class="tab-content panel panel-info" style="border-top:none">

            <div id="divPanelAssLanjutan1" class="tab-pane active fade in">
                @Html.Partial("~/Views/MedicalRecord/ListKunjunganPoliklinik.cshtml")
                <br />
            </div>
            <div id="divAssLanjutanPanel2" class="tab-pane">
                @Html.Partial("~/Views/MedicalRecord/ListAssLanjutMedisKeperawatan.cshtml")
                <br />
            </div>
        </div>
        }

    </div>
</div>




