﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    /**/

    var tableId = $"table_assesment";
    var item = new EMRPenggajianAwalViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.No);
    column[1] = nameof(item.SectionID);
    column[2] = nameof(item.KodeUrl);
    column[3] = nameof(item.Kode);
    column[4] = nameof(item.Nama);

}

<style>
    .nav-tabs.nav-tabs-solid1 > .active > a, .nav-tabs.nav-tabs-solid1 > .active > a:hover, .nav-tabs.nav-tabs-solid1 > .active > a:focus {
        background-color: #009688c4 !important;
        border-color: #009688c4 !important;
        color: #fff;
    }
</style>

<div class="row">
    <div class="col-md-12" style="position:inherit">
        @if (Request.Cookies["SectionIDPelayanan"].Value == "SEC007")
        {
            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>ASESMENT AWAL MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>RENPRA</strong></a></li>
            </ul>
            <div class="tab-content panel panel-info" style="padding:14px;">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("ListPengkajianAwal");
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "IGD" || Request.Cookies["SectionNamaPelayanan"].Value == "UGD")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1_IGD" id="Panel1_IGD"><strong>PENGKAJIAN AWAL MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2_IGD" id="Panel2_IGD"><strong>PENGKAJIAN AWAL KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3_IGD" id="Panel3_IGD"><strong>DIAGNOSA KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel4_IGD" id="Panel4_IGD"><strong>LEMBAR OBSERVASI</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">

                <div id="divPanel1_IGD" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalMedis.cshtml")
                    <br />
                </div>
                <div id="divPanel2_IGD" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                    <br />
                </div>
                <div id="divPanel3_IGD" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/IGD/AssesmentPengkajianTerintegrasiGawatDaruratPerawat.cshtml")
                </div>
                <div id="divPanel4_IGD" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/IGD/LembarObservasi.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK MATA" || Request.Cookies["SectionIDPelayanan"].Value == "SEC019")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>ASESMENT AWAL MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel1"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel1"><strong>RENPRA</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AsesmentPoliMata.cshtml")
                    <br />
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK HIPERBARIK" || Request.Cookies["SectionIDPelayanan"].Value == "SEC122")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>ASSESMENT MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>ASSESMENT MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel3"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel4"><strong>RENPRA</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentHiperbarik.cshtml")
                    <br />
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentHiperbarik2.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel4" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK KULIT DAN KELAMIN" || Request.Cookies["SectionIDPelayanan"].Value == "SEC021")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>ASESMENT MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>RENPRA</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuKulitDanKelamin.cshtml")
                    <br />
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK KEBIDANAN" || Request.Cookies["SectionIDPelayanan"].Value == "SEC014")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel111" id="Panel1"><strong> ASESMENT MEDIS</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel111" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/PengkajianAwalKebidananDanKandung.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK GIGI" || Request.Cookies["SectionIDPelayanan"].Value == "SEC008")
        {
            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel11" id="Panel1"><strong>ASESMENT AWAL MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel22" id="Panel2"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel33" id="Panel3"><strong>RENPRA</strong></a></li>
            </ul>
            <div class="tab-content panel panel-info" style="padding:14px;">
                <div id="divPanel11" class="tab-pane active fade in">
                    @Html.Partial("ListPengkajianAwal");
                </div>
                <div id="divPanel22" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel33" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK ORTHOPEDI" || Request.Cookies["SectionIDPelayanan"].Value == "SEC010")
        {
            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1ass" id="Panel1"><strong>ASESMENT AWAL MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2ass" id="Panel2"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3ass" id="Panel3"><strong>RENPRA</strong></a></li>
            </ul>
            <div class="tab-content panel panel-info" style="padding:14px;">
                <div id="divPanel1ass" class="tab-pane active fade in">
                    @Html.Partial("ListPengkajianAwal");
                </div>
                <div id="divPanel2ass" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel3ass" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK ANAK" || Request.Cookies["SectionIDPelayanan"].Value == "SEC018")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>ASESMENT MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>RENPRA</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPenyakitAnak.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK SYARAF" || Request.Cookies["SectionIDPelayanan"].Value == "SEC023")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>ASESMENT MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>RENPRA</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPenyakitSaraf.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK THT" || Request.Cookies["SectionIDPelayanan"].Value == "SEC017")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>ASESMENT MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>RENPRA</strong></a></li>

            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPenyakitTHT.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK JIWA" || Request.Cookies["SectionIDPelayanan"].Value == "SEC015")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>ASESMENT MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>RENPRA</strong></a></li>

            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPenyakitJiwa.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK PENYAKIT DALAM" || Request.Cookies["SectionIDPelayanan"].Value == "SEC009")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>ASESMENT MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>RENPRA</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPenyakitDalam.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK JANTUNG" || Request.Cookies["SectionIDPelayanan"].Value == "SEC118")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>ASESMENT MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>RENPRA</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPenyakitJantung.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK PSIKOLOGI" || Request.Cookies["SectionIDPelayanan"].Value == "SECT010")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>Rekam Psikologis Pasien Anak/Remaja</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>Rekam Psikologis Pasien Dewasa</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>Lembar Persetujuan</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel4" id="Panel4"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel5" id="Panel5"><strong>RENPRA</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPsikologiAnakRemaja.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPsikologiDewasa.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/LembarPersetujuan.cshtml")
                </div>
                <div id="divPanel4" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel5" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK UMUM" || Request.Cookies["SectionIDPelayanan"].Value == "SEC016")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>ASESMENT MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>RENPRA</strong></a></li>

            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentPoliUmum.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK MCU" || Request.Cookies["SectionIDPelayanan"].Value == "SEC065")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>Laporan Pemeriksaan Kesehatan</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>Kesimpulan Hasil Pemeriksaan Kesehataan</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel4" id="Panel4"><strong>RENPRA</strong></a></li>

            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/LaporanPemeriksaanKesehatan.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/KesimpulanHasilPemeriksaan.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel4" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK PARU" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0016")
        {
            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>ASESMENT MEDIS</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>RENPRA</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/AssesmentIlmuPenyakitDalam.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK FISIOTERAPI" || Request.Cookies["SectionIDPelayanan"].Value == "SEC020")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>Lembar Formulir Fisiotherapi</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>Catatan Fisiotherapi</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>ASESMENT KEPERAWATAN</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel4" id="Panel4"><strong>RENPRA</strong></a></li>

            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/LembarFormulirPoliFisiotherapi.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/CatatanFisiotherapi.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/AssesmentAwalKeperawatan.cshtml")
                </div>
                <div id="divPanel5" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/ListRenpra_RJ.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "REHABILITASI MEDIK" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0013")
        {
            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1">LEMBAR FORMULIR REHABILITASI MEDIK</a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2">CATATAN REHABILITASI MEDIK</a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/LembarFormulirPoliRehabilitasiMedik.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/CatatanRehabilitasiMedik.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "RUANG OK" || Request.Cookies["SectionIDPelayanan"].Value == "SEC004")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>Assesment Pra Anestesi Dan Sedasi</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>Ass Pra Operasi Perempuan</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>Ass Pra Operasi Laki Laki</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/OK/AssesmentPraAnestesiDanSedasi.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/OK/AssesmentPraOperasiPerempuan.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/OK/AssesmentPraOperasiLakiLaki.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "RUANG VK" || Request.Cookies["SectionIDPelayanan"].Value == "SEC003")
        {
            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"> <a data-toggle="tab" href="#divPanel1" id="Panel1"><strong> Assement Pra Anestesi Dan Sedasi</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>Pengkajian Awal</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>Ilmu Penyakit Gynecology</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel4" id="Panel4"><strong>Ilmu Penyakit Obsetri</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/OK/AssesmentPraAnestesiDanSedasi.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/OK/PengkajianAwalKebidananDanKandung.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/OK/PoliKebidananIlmuPenyakitGynecology.cshtml")
                </div>
                <div id="divPanel4" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/OK/PoliKebidananIlmuPenyakitObsetri.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "RAWAT INAP BARAT/R.SUSPECK" || Request.Cookies["SectionIDPelayanan"].Value == "SEC062" ||
                 Request.Cookies["SectionNamaPelayanan"].Value == "RAWAT INAP PAVILIUN PRG" || Request.Cookies["SectionIDPelayanan"].Value == "SEC063" ||
                 Request.Cookies["SectionNamaPelayanan"].Value == "ICU" || Request.Cookies["SectionIDPelayanan"].Value == "SEC064" ||
                 Request.Cookies["SectionNamaPelayanan"].Value == "RAWAT INAP TIMUR LT 1" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0009" ||
                 Request.Cookies["SectionNamaPelayanan"].Value == "RAWAT INAP TIMUR LT 2" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0010")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>Pengkajian Awal</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>Ilmu Penyakit Gynecology</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>Ilmu Penyakit Obsetri</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel4" id="Panel4"><strong>Assesmen Ulang Nyeri</strong></a></li>
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">

                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/RJ/PengkajianAwalKebidananDanKandung.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/PoliKebidananIlmuPenyakitGynecology.cshtml")
                </div>
                <div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/PoliKebidananIlmuPenyakitObsetri.cshtml")
                </div>
                <div id="divPanel4" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RI/Assesmenulangnyeri.cshtml")
                </div>
            </div>
        }
        else if (Request.Cookies["SectionNamaPelayanan"].Value == "HEMODIALISA" || Request.Cookies["SectionIDPelayanan"].Value == "SEC070")
        {

            <ul class="nav nav-tabs nav-tabs-solid1 nav-justified" style="margin-bottom:0px">
                <li class="active"><a data-toggle="tab" href="#divPanel1" id="Panel1"><strong>Asuhan Keperawatan Dan Observasi</strong></a></li>
                <li><a data-toggle="tab" href="#divPanel2" id="Panel2"><strong>Pengkajian Dialiser</strong></a></li>
                @*<li><a data-toggle="tab" href="#divPanel3" id="Panel3"><strong>Ilmu Penyakit Obsetri</strong></a></li>*@
                @*<li><a data-toggle="tab" href="#divPanel4" id="Panel4"><strong>Assesmen Ulang Nyeri</strong></a></li>*@
            </ul>

            <div class="tab-content panel panel-info" style="border-top:none">
                <div id="divPanel1" class="tab-pane active fade in">
                    @Html.Partial("~/Views/MedicalRecord/HEMODIALISA/AsuhanKeperawatanDanObservasiPasienHemodialisis.cshtml")
                </div>
                <div id="divPanel2" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/HEMODIALISA/PengkajianAwalPasienDialisisHemodialisis.cshtml")
                </div>
                @*<div id="divPanel3" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RJ/PoliKebidananIlmuPenyakitObsetri.cshtml")
                </div>
                <div id="divPanel4" class="tab-pane">
                    @Html.Partial("~/Views/MedicalRecord/RI/Assesmenulangnyeri.cshtml")
                </div>*@
            </div>
        }
    </div>
</div>

<!--  Ajax Cek Pasien Kronis  -->
<script type="text/javascript">

    $(document).ready(function () {
        var tipepelayanan = '@Request.Cookies["TipePelayanan"].Value';
        var section = '@Request.Cookies["SectionIDPelayanan"].Value';
        //if (tipepelayanan == 'RJ' && section != 'SEC002') {
        //    getdata_pasienkronis();
        //}

    });
</script>




