﻿@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
}
<br />
<style>

    .btn-color {
        background: #00897b;
        border-color: #009688;
        color: #fff;
    }

    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }

    }
</style>
<div class="row" ng-controller="table">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-3">
                <a id="catatanedukasiintegrasirj" href="@Url.Action("Index","CatatanEdukasiTerintegrasiRJ")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanEdukasiTerintegrasiRJ")',
                                header: 'Catatan Edukasi Terintegrasi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn @(Model.CekEdukasiTerintegrasi == "0" ? "btn-flash" : "") btn-success btn-sm" onclick="event.preventDefault()">
                    CATATAN EDUKASI TERINTEGRASI
                </a>
            </div>
            <div class="col-md-3">
                <a id="catatanlnjtanedukasiintegrasirj" href="@Url.Action("Index","CatatanEdukasiTerintegrasiLanjutanRIRJ")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanEdukasiTerintegrasiLanjutanRIRJ")',
                                header: 'Catatan Edukasi Terintegrasi Lanjutan RI & RJ',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID', tt :'@Model.CekEdukasiRIRJ'}
                           })"
                   class="col-md-12 btn @(Model.CekEdukasiRIRJ == "0" ? "btn-flash" : "") btn-success a btn-sm" onclick="event.preventDefault()">
                    CATATAN EDUKASI LANJUTAN
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","SuratKeteranganMasihDalamPerawatan")"
                   ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Index","SuratKeteranganMasihDalamPerawatan")',
                                    header: 'Surat Keterangan Masih Dalam Perawatan',
                                    target_auto_refresh : '@tableId',
                                    param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                   })"
                   class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                    SK MASIH DALAM PERAWATAN
                </a>
            </div>
            <div class="col-md-3">
                <a id="resumemedisrj" href="@Url.Action("Index","ResumeMedisRJ")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","ResumeMedisRJ")',
                                header: 'Resume Medis',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                    RESUME MEDIS
                </a>
            </div>
            @*<div class="col-md-3">
                <a id="resumemedis" href="@Url.Action("Index","ResumeMedisIGD")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","ResumeMedisIGD")',
                                header: 'Resume Medis',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                    RESUME MEDIS
                </a>
            </div>*@

        </div>
    </div>
</div>
<br />
<div class="row" ng-controller="table">
    <div class="col-md-12">
        <div class="form-group">
            @*<div class="col-md-3">
            <a id="pengkajiankeperawatanok" href="@Url.Action("Index","PengkajianKeperawatan")"
               ng-click="$parent.ajaxmodal({
                            url: '@Url.Action("Index","PengkajianKeperawatan")',
                            header: 'Pengkajian Keperawatan',
                            target_auto_refresh : '@tableId',
                            param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                       })"
               class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                PENGKAJIAN KEPERAWATAN
            </a>
        </div>*@
            <div id="suratketistirhat" class="col-md-3">
                <a href="@Url.Action("Index","SuratKeteranganIstirahat")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","SuratKeteranganIstirahat")',
                                header: 'Surat Keterangan Istirahat',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                    SURAT KETERANGAN ISTIRAHAT
                </a>
            </div>
            <div class="col-md-3">
                <a id="catatanppenmindahanruangan" href="@Url.Action("Index","CatatanPemindahanPasienAntarRuangan")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanPemindahanPasienAntarRuangan")',
                                header: 'Catatan Pemindahan Ruangan',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                    CATATAN PEMINDAHAN RUANGAN
                </a>
            </div>
            <div class="col-md-3">
                <a id="suratketdokter" href="@Url.Action("Index","SuratKeteranganDokter")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","SuratKeteranganDokter")',
                                header: 'Surat Keterangan Dokter',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                    SURAT KETERANGAN DOKTER
                </a>
            </div>
            <div class="col-md-3">
                <a id="profilringkasan" href="@Url.Action("Index","ProfilRingkasanMedisRJ")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","ProfilRingkasanMedisRJ")',
                                header: 'Profil Ringkasan Medis Rawat Jalan',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    PROFIL RINGKASAN
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row" ng-controller="table">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-3">
                <a href="@Url.Action("Index","TindakanKedokteran")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","TindakanKedokteran")',
                                header: 'Informed Consent',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    INFORMED CONSENT
                </a>
            </div>
           
            @*<div class="col-md-3">
                <a id="identitaspasien" href="@Url.Action("Index","IdentitasPasien")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","IdentitasPasien")',
                                header: 'Identitas Pasien',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                   IDENTITAS PASIEN
                </a>
            </div>*@
        </div>
    </div>
</div>
@*<div class="row" ng-controller="table">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-3">
                    <a id="kunjunganpoliklinik" href="@Url.Action("Index","KunjunganPoliklinik")"
                       ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Index","KunjunganPoliklinik")',
                                    header: 'Kunjungan Poliklinik',
                                    target_auto_refresh : '@tableId',
                                    param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID' , dokter :'@Model.DokterID', dokternama: '@Model.NamaDOkter'}
                               })"
                       class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                        KUNJUNGAN POLIKLINIK
                    </a>
                </div>

            </div>
        </div>
    </div>*@
<br />


<script>

</script>