﻿@using iHos.MVC.Converter
@using EMRRSBK.Models
@model PasienViewModel
@{

    var controllerName = "DokumenRekanMedis";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var item = new PasienViewModel();
    var columnCount = 15;
    var column = new string[columnCount];
    column[0] = nameof(item.NRM);
    column[1] = nameof(item.NamaPasien);
    column[2] = nameof(item.TglLahir);
    column[3] = nameof(item.Alamat);
    column[4] = nameof(item.TanggalLahir);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>

    #@tableId thead th,
    #@tableId tbody td {
        padding: 5px 8px !important;
    }

    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1) {
        width: 100px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        width: 120px;
        text-align: center;
    }
    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        min-width: 150px;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        width: 120px;
        text-align: center;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
        width: 350px;
    }

</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-inline">
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'desc';">
                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Nama Pasien</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">Tanggal Lahir</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Alamat</th>
                    </tr>
                    <tr class="filter_list">

                        <!-- Filter -->
                        <td>
                            <input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="middle text-center">
                            <a class="btn" href="@Url.Action("ManajemenDokumen", "DokumenRekamMedis")?nrm={{data.@(column[0])}}"
                               title="Manajemen Dokumen">
                                <i class="icon-archive text-primary"></i>
                            </a>
                        </td>

                        <!-- Table Result -->
                        <td title="{{data.@(column[0])}}">{{data.@(column[0])}}</td>
                        <td title="{{data.@(column[1])}}">{{data.@(column[1])}}</td>
                        <td title="{{data.@(column[4])}}">{{data.@(column[4])}}</td>
                        <td title="{{data.@(column[3])}}">{{data.@(column[3])}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>

<!-- Modal -->
<div id="modalPrint" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Print</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="col-sm-6 col-md-offset-3">
                                <a id="printurlkwitansi" class="btn btn-primary btn-block text-center">
                                    <h4><i class="fa fa-file-text-o"></i></h4>
                                    <h4>Kwitansi</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

     angular.element(document).ready(function () {
        var date = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
        sc.filter[12] = date;
         sc.filter[13] = date;
         sc.filter[15] = "0";
         sc.filter[16] = "KASIR RAWAT JALAN";
        sc.getdatas();
    });

</script>

