﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel

@{
    var controllerName = "PenolakanRI";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatepenolakanri(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
       

        <div class="panel-body detail collapse in">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.NoReg)
                @Html.HiddenFor(model => model.SectionID )
                @Html.HiddenFor(model => model.NRM)
                @Html.HiddenFor(model => model.PenolakanRawatInap.TandaTanganDokter)

                @*KEINGINANAN PASIEN MEMILIH DPJP*@

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <label class="text-bold ">
                            PENOLAKAN RAWAT INAP
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">
                        Saya yang bertanda tangan dibawah ini :
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Nama
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PenolakanRawatInap.Nama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Umur, Jenis Kelamin
                    </label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.PenolakanRawatInap.Umur, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.Umur, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.PenolakanRawatInap.Jenis, new List<SelectListItem>
                              {
                                  new SelectListItem() {Text = "", Value=""},
                                  new SelectListItem() {Text = "Laki-Laki", Value="Laki-Laki"},
                                  new SelectListItem() {Text = "Perempuan", Value="Perempuan"},
                              }, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Alamat
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PenolakanRawatInap.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <label class="col-md-12">
                        Telah mendapat penjeleasan dokter tentang :
                    </label>
                </div>

                <div class="form-group">
                    <div class="col-lg-11 col-md-offset-1">
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PenolakanRawatInap.TujuanPasien)
                                Tujuan pasien dilakukan rawat inap.
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PenolakanRawatInap.Resiko)
                                Resiko komplikasi yang mungkin terjadi.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-11 col-md-offset-1">
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PenolakanRawatInap.Peringatan)
                                Peringatan bahaya yang mungkin terjadi.
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PenolakanRawatInap.Perkiraan)
                                Perkiraan lama dilakukan rawat inap.
                            </label>
                        </div>
                    </div>
                </div>

                <p>
                    Saya sudah mendapatkan kesempatan untuk bertannya dans aya sudah mengerti dan pus dengan penjelasan yang diberikan sehubungan dengan pertanyaan-pertanyaan saya. Dengan ini saya menyatakan dengan sesungguhnya bahwa saya MENOLAK dirawat inap seperti yang dijelaskan diatas, terhadap diri
                    
                </p>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.PenolakanRawatInap.Terhadap, new List<SelectListItem>
                               {
                                   new SelectListItem() {Text = "Saya", Value="Saya"},
                                   new SelectListItem() {Text = "Suami", Value="Suami"},
                                   new SelectListItem() {Text = "Istri", Value="Istri"},
                                   new SelectListItem() {Text = "Anak", Value="Anak"},
                                   new SelectListItem() {Text = "Ayah", Value="Ayah"},
                                   new SelectListItem() {Text = "Ibu", Value="Ibu"},
                               }, new { @class = "form-control" })
                    </div>
                    <label class="col-md-1">
                        saya
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Nama
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PenolakanRawatInap.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.NamaPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Tgl Lahir, Jenis Kelamin
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PenolakanRawatInap.TglLahir, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.PenolakanRawatInap.TglLahir != null ? (Model.PenolakanRawatInap.TglLahir.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.TglLahir, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.PenolakanRawatInap.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.PenolakanRawatInap.JenisKelamin == "F" ? "Perempuan" : Model.PenolakanRawatInap.JenisKelamin == "M" ? "Laki- Laki" : "") } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.JenisKelamin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Alamat
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PenolakanRawatInap.AlamatPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.AlamatPasien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <p>
                    Saya memahami perlunya dan manfaat rawat inap tersebut sebagaimana telah dijelaskan seperti diatas kepada saya termasuk resiko dan komplikasi yang mungkin timbul. Saya bertanggung jawab secara penuh atas segala akibat yang mungkin timbul sebagai akibat tidak dilakukannya tindakan tersebut,
                    <br />
                    Demikian persetujuan ini saya buat dengan oenuh kesadaran dan tanpa paksaan.
                </p>

                <div class="form-group">
                    <div class="col-md-3 col-md-offset-1">
                        <label class="control-label">
                            Dokter
                        </label>
                        @Html.DropDownListFor(model => model.PenolakanRawatInap.Dokter, Model.PenolakanRawatInap.Dokter == null ? new List<SelectListItem>() : new List<SelectListItem>()
                        { new SelectListItem() {
                            Value = Model.PenolakanRawatInap.Dokter.ToString(), Text = Model.PenolakanRawatInap.DokterNama }
                        }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.Dokter, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        <label class="control-label">Verifikasi
                        </label>
                        @if (Model.PenolakanRawatInap.SudahRegDokter == 0)
                        {
                            <a id="btn_dokter" class="btn btn-primary disabled" onclick="user_verif_dokter(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerPenolakanRawatInapDokterPemeriksa"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                        else
                        {
                            <a id="btn_dokter" class="btn btn-primary" onclick="user_verif_dokter(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerPenolakanRawatInapDokterPemeriksa"><span class="icon-checkmark2 position-center"></span>Verif</a>
                        }
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <label class="control-label">
                            Yang Membuat Pernyataan
                        </label>
                        @Html.EditorFor(model => model.PenolakanRawatInap.MembuatPernyataan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.MembuatPernyataan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-1">
                        <label class="control-label">
                            Saksi I
                        </label>
                        @Html.EditorFor(model => model.PenolakanRawatInap.Saksi1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.Saksi1, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <label class="control-label">
                            Saksi II
                        </label>
                        @Html.EditorFor(model => model.PenolakanRawatInap.Saksi2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.Saksi2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />
                <br />

                <div class="form-group">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                        <a href="@Url.Action("ExportPDFPenolakan", new { noreg = Model.NoReg@*, sectionid = Model.SectionID*@ })" target="_blank"
                           class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                            Print PDF
                        </a>
                        <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }

</div>

<script type="text/javascript">
    var inputdokter1 = $('#PenolakanRawatInap_Dokter');


    inputdokter1.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>

<script>
    function user_verif_dokter(x_this) {
        var reStatsDokter = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#PenolakanRawatInap_Dokter').val();
        var noreg = $('#NoReg').val();
        var section = $('#PenolakanRawatInap_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifdokter(noreg, section, user_id);
            if (ct >= limit || reStatsDokter == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDokter == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDokter == 1) {
                    alertpopup("Verification success!", "success");
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_dokter').addClass('disabled', true);
                    $('#penolakanri').click();
                }
            }
            ct++;
        });

        function user_checkverifdokter(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilPenolakanRawatInap", "VerifPenolakanRawatInap")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsDokter = 1;
                        }
                    }
                    else {
                        reStatsDokter = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreatepenolakanri(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#penolakanri').click();
    }

</script>
